{{#component "purchase-check trade-manage js-comp clearfix"}}
  <p style="display: none;">{{json this}}</p>
  <div class="float-hidden" hidden></div>
  <div class="t-breadcrumb">
    <label>预购单管理</label>
    <label> / </label>
    <a href="/buyer/purchases">预购单列表</a>
    <label> / </label>
    <label class="active">预购单审批</label>
  </div>
  <div class="purchase-check-body" data-purchaseid={{_DATA_.purchase.id}} data-orgid="{{_USER_.orgId}}" data-purchase-type="{{_DATA_.purchase.type}}">
    {{#of _DATA_.purchase.type '2,3'}}
      <!--疫苗、大宗采购单没有需求单 -->
      {{#inject "common/requisition_progress"}}
        {
        "noRequisition": 1,
        "progress": 2
        }
      {{/inject}}
    {{else}}
      {{#inject "common/requisition_progress"}}
        {
        "progress": 3
        }
      {{/inject}}
    {{/of}}
  <div class="trade-panel">
    <div class="trade-panel-top">
      <div class="trade-panel-title">预购单概览</div>
    </div>
    <div class="trade-panel-body">
      <div class="pur-detail-about">
        {{!-- <div class="pur-title pur-detail-about-title"><strong><span>采购单信息</span></strong></div> --}}
        <table class="table table-striped table-about-view">
          {{!-- <thead>
            <tr>
              <th class="left-text" colspan="3"><span>采购单概览</span></th>
            </tr>
          </thead> --}}
          <tbody>
          {{#with _DATA_.purchase}}
            <tr class="no-border">
              <td class="no-border right-text" width="13%"><label class="desc-text">预购单号：</label></td>
              <td class="no-border" width="20%">{{id}}</td>
              <td class="no-border right-text" width="13%"><label class="desc-text">采购经办人：</label></td>
              <td class="no-border" width="20%">{{purchaserName}}</td>
              <td class="no-border right-text" width="13%"><label class="desc-text">采购单位：</label></td>
              <td class="no-border left-text" width="20%">{{purchaserOrganizationName}}</td>
            </tr>
            <tr class="no-border">
              <td class="no-border right-text" width="13%"><label class="desc-text">创建时间：</label></td>
              <td class="no-border" width="20%">{{formatDate createdAt}}</td>
              <td class="no-border right-text" width="13%"><label class="desc-text">预购单状态：</label></td>
              <td class="no-border" width="20%">
                {{#equals status -1}}已删除{{/equals}}
                {{#equals status 0}}草稿{{/equals}}
                {{#equals status 1}}部门审核中{{/equals}}
                {{#equals status 2}}财务审核中{{/equals}}
                {{#equals status 3}}单位审批中{{/equals}}
                {{#equals status 4}}已驳回{{/equals}}
                {{#equals status 5}}审核通过{{/equals}}
                {{#equals status 10}}已产生订单{{/equals}}
              </td>
              <td class="no-border right-text" width="13%"><label class="desc-text">预购单金额(元)：</label></td>
              <td class="no-border left-text" width="20%"><span class="css-price currency">{{../_CURRENCY_}}{{formatPrice actuallyFee}}</span></td>
            </tr>
          {{/with}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="trade-panel">
    <div class="trade-panel-top">
      <div class="trade-panel-title">商品列表</div>
    </div>
    <div class="trade-panel-body">
      {{#inject "buyer/purchase_detail/requisition_items" purchaseStatus = _DATA_.purchase.status purchaseId = _DATA_.purchase.id}}{{/inject}}
      {{#with _DATA_.purchase}}
        备注：
        {{#if orderComment}}{{orderComment}}{{else}}--{{/if}}
      {{/with}}
    </div>
  </div>
  <div class="trade-panel">
    <div class="trade-panel-top">
      <div class="trade-panel-title">地址信息</div>
    </div>
    <div class="trade-panel-body">
        {{!-- <div><strong><span class="pur-title">预购单信息</span></strong></div> --}}
        {{!-- {{json this}} --}}
        {{!-- <div class="add-or-select-pur-addr clearfix">
          <div class="pur-addr-title pur-title"><strong><span class="">地址信息</span></strong></div>
        </div>
        <hr /> --}}
        {{!-- {{json _DATA_.deliveries}} --}}
        <div class="pur-deliveries">
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th width="80%" class="first-th">详细地址</th>
                    <th width="20%">商品详情</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each _DATA_.deliveries}}
                    {{#with delivery}}
                    <tr class="itme-tr" data-id="{{id}}">
                      <td><label class="text-align: left;">{{receiverProvinceName}}{{receiverCityName}}{{receiverDistrictName}}&nbsp;&nbsp;{{receiverAddress}}({{receiverName}} 收) &nbsp;&nbsp;&nbsp;&nbsp;{{receiverMobile}}</label></td>
                      <td><a class="js-show-receiver-item-list">查看商品({{../skuTypeCount}})</a>
                      </td>
                    </tr>
                    {{/with}}
                  {{else}}
                    <tr><td colspan="2" class="center-text">无可展示信息</td></tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>

  {{#gt (size _DATA_.invoices) 0}}
    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">发票信息</div>
      </div>
      <div class="trade-panel-body">
        {{!-- <div class="pur-title"><strong><span>发票信息</span></strong></div>
        <hr /> --}}
        {{!-- {{json _DATA_.invoices}} --}}
        <div class="pur-invoices">
          <div>
            <table class="table table-striped">
              <thead>
              <tr>
                <!--<th width="50%">发票寄送地址</th>-->
                <th width="20%">发票类型</th>
                <th width="20%">发票抬头信息</th>
                <th width="15">开户行</th>
                <th width="15">开户行账号</th>
                <th width="15">纳税人识别号<i class="icon-zcy icon-warningfill js-invoice-popover"></i></th>
                <th width="15%">商品详情</th>
              </tr>
              </thead>
              <tbody>
              {{#each _DATA_.invoices}}
                {{#with invoice}}
                  <tr class="itme-tr" data-id="{{id}}">
                    {{!--<td><label>{{receiverProvinceName}}{{receiverCityName}}{{receiverDistrictName}}&nbsp;&nbsp;{{receiverAddress}}({{receiverName}} 收) &nbsp;&nbsp;&nbsp;&nbsp;{{receiverMobile}}</label></td>--}}
                    <td>
                      {{#equals invoiceType 0}}普通发票{{/equals}}
                      {{#equals invoiceType 1}}增值税普通发票{{/equals}}
                      {{#equals invoiceType 2}}增值税专用发票{{/equals}}
                    </td>
                    <td><span class="js-mulit-inv-title">{{invoiceTitle}}</span>{{!-- <input type="text" class="js-mulit-inv-title" value="{{invoiceTitle}}" /><button class="btn btn-small js-save-mulit-inv-title">保存</button> --}}</td>
                    <td>{{#if purchaserDepositeBank}}{{purchaserDepositeBank}}{{else}}－{{/if}}</td>
                    <td>{{#if purchaserBankAccount}}{{purchaserBankAccount}}{{else}}－{{/if}}</td>
                    <td>{{#if purchaserTaxId}}{{purchaserTaxId}}{{else}}－{{/if}}</td>
                    <td><a class="js-show-inv-item-list">查看商品({{../skuTypeCount}})</a>
                    </td>
                  </tr>
                {{/with}}
              {{else}}
                <tr><td colspan="5" class="center-text">无可展示信息</td></tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {{/gt}}
    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">预算信息</div>
      </div>
      <div class="trade-panel-body">
        {{!-- <div class="add-or-select-pur-pay clearfix">
          <div class="pur-pay-title pur-title"><strong> <span class="">预算信息</span></strong></div>
        </div>
        <hr /> --}}
        {{!-- {{json _DATA_.payments}} --}}
        <div class="pur-payments">
          关联采购计划
          <input type="hidden" id="payments" value="{{json _DATA_.payments}}">
          {{!--
          <div class="receiver-mulit-payments">
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th width="20%">采购计划文号</th>
                    <th width="20%">采购类目</th>
                    <th width="15%">可用金额(元)</th>
                    <th width="10%">可用数量</th>
                    <th width="15%">本次使用金额(元)</th>
                    <th width="10%">本次使用数量</th>
                    <th width="10%">关联商品</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each _DATA_.payments}}
                    {{#with payment}}
                    {{#equals payMethod 10}}
                    <tr class="itme-tr" data-id="{{id}}">
                      <td class="js-confirmationname" data-confirmationid="{{confirmationId}}">{{confirmationName}}</td>
                      <td class="js-gpcatalogname" data-gpcatalogid="{{gpCatalogId}}">{{gpCatalogName}}</td>
                      <td class=""><span class="price currency js-availableaccount">{{../_CURRENCY_}}{{formatPrice availableAccount}}</span></td>
                      <td class="js-availablequantity">{{availableQuantity}}</td>
                      <td class=""><span class="price currency js-fee">{{../_CURRENCY_}}{{formatPrice ../fee}}</span></td>
                      <td class="js-quantity">{{../quantity}}</td>
                      <td><a class="js-show-pay-item-list">查看商品({{../skuTypeCount}})</a>
                      </td>
                      </td>
                    </tr>
                    {{/equals}}
                    {{/with}}
                  {{else}}
                    <tr><td colspan="9" class="center-text">无可展示信息</td></tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="pur-all-payments">
            本次总使用情况
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td width="30%">已关联采购计划总额(元)：<span class="price currency">{{_CURRENCY_}}{{formatPrice _DATA_.confirmationFee}}</span></td>
                  <td width="40%">计划外资金总额(元)：<span class="price currency">{{_CURRENCY_}}{{formatPrice _DATA_.otherFee}}</span>&nbsp;&nbsp;&nbsp;&nbsp;{{#equals _DATA_.otherSkuTypeCount null}}<span class="no-href">无商品</span>{{else}}<a class="js-show-other-pay-item-list">查看商品({{_DATA_.otherSkuTypeCount}})</a>{{/equals}}</td>
                  <td width="30%">预购单总额(元)：<span class="price currency">{{_CURRENCY_}}{{formatPrice _DATA_.purchase.actuallyFee}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          --}}
          {{inject "buyer/purchase_process/purchase_plan_manage"
                   purchaseId=purchaseId
                   confirmationFee=_DATA_.confirmationFee
                   otherFee=_DATA_.otherFee
                   actuallyFee=_DATA_.purchase.actuallyFee}}
        </div>
      </div>
    </div>
    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">审核审批信息</div>
      </div>
      <div class="trade-panel-body">
        {{!-- <div class="clearfix"></div>
        <div class="pur-title"><strong><span>审核审批信息</span></strong></div>
        <hr /> --}}
        {{!-- {{json _DATA_.payments}} --}}
        <div class="pur-checklog">
            <div class="checklog-title">流转日志</div>
            <div class="checklog-timeline">
              <div class="timeline clearfix">
                <table class="time-line">
                  {{#each _DATA_.checkLogs}}
                  <tr class="time-line">
                    <td class="first"><div class="point success {{#if @first}}first{{/if}} {{#if @last}}last{{/if}}"></div></td>
                    <td width="140">{{formatDate createdAt}}</td>
                    <td width="80">{{checkerRole}}</td>
                    <td width="80">{{checker}}</td>
                    <td width="80">{{checkType}}</td>
                    <td width="90" class="{{#equals checkResult "审核通过"}}success{{else}}{{#equals checkResult "审核不通过"}}error{{else}}{{/equals}}{{/equals}}">{{checkResult}}</td>
                    <td class="time-line">{{comment}}</td>
                  </tr>
                  {{else}}
                   <tr class="time-line">
                    <td colspan="7" class="time-line">无数据</td>
                   </tr>
                  {{/each}}
                </table>
              </div>
            </div>
        </div>
        {{!-- {{json _CHECK_INFO_}} --}}
        {{#equals _USER_.id _DATA_.purchase.currentOperatorId}}
        <div class="purchase-check">
            <div class="checklog-title">审核信息(
            {{#with _DATA_.purchase}}
            {{#equals status 1}}部门审核中{{/equals}}
            {{#equals status 2}}财务审核中{{/equals}}
            {{#equals status 3}}单位审批中{{/equals}}
            {{/with}}
            )</div>
            <div>
            <table class="table table-striped checklog-table">
              <tbody>
                <tr class="checklog-tr">
                  <td width="20%" class="right-text checklog-td">审核结论： </td>
                  <td width="80%" class="left-text checklog-td" data-nextstatus="{{_CHECK_INFO_.value}}">
                    <input type="radio" name="purchaseCheck" id="agree" class="js-check-agree input-radio" checked/><label for="agree">通过</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="purchaseCheck" id="reject" class="js-check-reject input-radio"/><label for="reject">不通过</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    {{#equals _DATA_.purchase.type 2}}
                      <!--疫苗采购单支持移交同级审核-->
                      <input type="radio" name="purchaseCheck" id="transfer" class="js-check-transfer input-radio"/><label for="transfer">移交同级审核</label>
                    {{/equals}}
                  </td>
                </tr>
                <tr class="checklog-tr">
                  <td width="20%" class="right-text checklog-td" data-post="{{_CHECK_INFO_.post}}"><label class="js-post-checker">选择{{_CHECK_INFO_.post}}</label><label class="js-post-purchaser hide">接收人</label>： </td>
                  <td width="80%" class="left-text checklog-td">
                    <label class="js-post-checker-list">
                    <select class="js-select-check select-checker select">
                        {{!-- <option value="">--请选择审核人--</option> --}}
                        {{#each _CHECK_INFO_.users}}
                        <option value="{{id}}" data-status="{{../_CHECK_INFO_.value}}" data-orgid='{{orgId}}' data-orgname='{{orgName}}' {{#of ../_CHECK_INFO_.value "4,5"}}{{#equals id ../_DATA_.purchase.purchaserId}}selected{{/equals}}{{/of}}>{{displayName}}</option>
                      {{/each}}
                    </select>
                    </label>
                    <label class="js-post-purchaser-name hide">
                      <select class="js-select-check-reject select-checker select">
                          {{!-- <option value="">--请选择审核人--</option> --}}
                      </select>
                    </label>
                  </td>
                </tr>

                <tr class="checklog-tr">
                  <td class="right-text checklog-td">备注： </td>
                  <td class="left-text checklog-td">
                    <textarea placeholder="请输入备注" class="js-checklog-comment" id="taContent" rows="3" {{!--  maxlength="500" onchange="this.value=this.value.substring(0, 500)" onkeydown="this.value=this.value.substring(0, 500)" onkeyup="this.value=this.value.substring(0, 500)" --}} ></textarea>
                    <div class="note no-href">（<div class="js-checklog-comment-count checklog-comment-count">0</div> / 500）</div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>
      </div>
    </div>
    <div class="check-submit">
      {{#of _DATA_.purchase.status "1,2,3"}}
      <button class="btn btn-primary btn-small js-check-submit">提交审核意见</button>
      {{else}}
      <div class="block"><label for="" class="error-text">当前预购单状态不是"审核中"状态，所以不能提交！请检查该预购单的状态后再试！
      </label></div>
      {{#with _ERROR_}}<div class="errorInfo">错误信息提示:<br>{{json _ERROR_}}</div>{{/with}}
      {{/of}}
      {{#equals _DATA_.purchase.type 2}}
        <button class="btn btn-primary btn-small js-transfer-checker" style="display: none;">移交审核</button>
      {{/equals}}
    </div>
    {{/equals}}
  </div>
{{/component}}
