<li class="pull-left js-category-attr attr-show-li {{#if ../composites}}attr-show-composites-li{{/if}}
    {{#if property.valueType "2"}}attr-show-multi-li{{/if}}" data-attr="{{json ..}}">
  <div class="control-group">
    <label class="group-title hint--top" title="{{attrKey}}" aria-label="{{attrKey}}">
      <span class="group-line-title">
      {{#equals attrMetasForK.REQUIRED "true"}}
        <b class="required">*</b>
      {{/equals}}
      {{attrKey}}：
      </span>
    </label>
    <div class="group-content">
      {{#equals property.code "brand"}}
        <select class="noselectric"
                id="js-item-brand"
                name="select-brand"
          {{#if attrMetasForK.SPU_VALUE}}
                data-brand="{{attrMetasForK.SPU_VALUE}}"
          {{else}}
                data-brand="{{attrVal}}"
          {{/if}}
                style="width: 160px;"
          {{#equals attrMetasForK.SPU_DEFINED "true"}}
                disabled
          {{/equals}}
                required>
        </select>
        <input type="hidden"
               class="js-item-brand-input js-group-item"
               data-key="{{attrKey}}"
               data-group="{{group}}"
               data-property-id="{{propertyId}}"
          {{#if attrMetasForK.SPU_VALUE}}
               value="{{attrMetasForK.SPU_VALUE}}"
          {{else}}
               value="{{attrVal}}"
          {{/if}}>
      {{/equals}}
      {{#equals property.code "birthday"}}
        <div class="input-group-datepicker">
          <input type="text"
                 class="js-group-item input-text datepicker js-input-datepicker"
                 name="birthday"
                 placeholder="请选择日期"
                 data-key="{{attrKey}}"
                 data-group="{{group}}"
                 data-property-id="{{propertyId}}"
            {{#if attrMetasForK.SPU_VALUE}}
                 value="{{attrMetasForK.SPU_VALUE}}"
            {{else}}
                 value="{{attrVal}}"
            {{/if}}
            {{#equals attrMetasForK.SPU_DEFINED "true"}}
                 disabled
            {{/equals}}
                 readonly>
        </div>
      {{/equals}}
      {{#of property.code "brand,birthday"}}{{else}}
        {{> component:agreement/item_publish/common/other_templates/_real_attribute_item}}
      {{/of}}

      {{#equals attrMetasForK.IMPORTANT "true"}}
        {{#equals _DATA_.item.tags.vaccine "1"}}
          <span class="sku-attr-status">
          &nbsp;
            <i class="icon-mewtwo icon-mewtwo-info-fill"></i>
            <i class="icon-mewtwo icon-mewtwo-success-fill active hide"></i>
          <span class="sku-attr-show">&nbsp;关键属性</span>
          </span>
        {{else}}
          {{#equals isVaccine 1}}
            <span class="sku-attr-status">
              &nbsp;
              <i class="icon-mewtwo icon-mewtwo-info-fill"></i>
              <i class="icon-mewtwo icon-mewtwo-success-fill active hide"></i>
              <span class="sku-attr-show">&nbsp;关键属性</span>
            </span>
          {{/equals}}
        {{/equals}}
      {{/equals}}
    </div>
  </div>
</li>
