{{#component "order-form-shipments trade-manage js-comp clearfix"}}
  <div class="order-form-shipments-total" data-list-total="{{_DATA_.total}}"></div>
  {{!-- {{json this}} --}}
  <div class="t-breadcrumb">
    <label>订单管理</label>
    <label> / </label>
    <a href="/buyer/orders">订单列表</a>
    <label> / </label>
    <label class="active">发货单列表</label>
  </div>
  <div class="order-form-shipments-body">
    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">发货单列表</div>
      </div>
      <div class="trade-panel-body">
        {{!-- <div class="title order-title shipment-title"><strong><span class="">发货信息</span></strong></div> --}}
        {{!-- {{json orderShipments}} --}}
        <table class="table table-striped">
          <thead>
            <tr>
              <th width="15%">发货单号</th>
              {{!-- <th width="10%">发货方式</th> --}}
              <th width="10%">物流公司</th>
              <th width="15%">运单号</th>
              <th width="15%">商品详情</th>
              <th width="10%">状态</th>
              {{#if _DATA_.data.0}}
                {{#ifCond _DATA_.data.0.orderType '!=' 1}}
                  <th width="10%">发货仓库</th>
                {{/ifCond}}
              {{else}}
                <th width="10%">发货仓库</th>
              {{/if}}
              <th width="15%">操作</th>
            </tr>
          </thead>
          <tbody>
            {{#each _DATA_.data}}
            {{#with shipment}}
            <tr class="orderShipments-item-tr"
              data-id="{{id}}"
              data-status="{{status}}"
              data-orderid="{{orderId}}"
              data-orderType="{{../orderType}}"
              data-orderDeliveryid="{{orderDeliveryId}}"
              data-isreissue="{{#ifCond reissueQuantity ">" 0}}true{{else}}false{{/ifCond}}">
              <td>{{id}}</td>
              <td data-express-code="{{expressCode}}">{{expressName}}</td>
              <td>{{shipmentNo}}</td>
              <td><a class="js-show-receiver-item-list">查看商品</a></td>
              <td data-status="{{status}}">
                {{#equals status 0}}待收货{{/equals}}
                {{#equals status 1}}部分收货{{/equals}}
                {{#equals status 2}}全部收货{{/equals}}
                {{#ifCond reissueQuantity ">" 0}}(补发货){{/ifCond}}
              </td>
              {{#ifCond ../orderType '!=' 1}}
                <td>{{../shipWarehouseName}}</td>
              {{/ifCond}}
              <td>
                {{#equals _USER_.type 1}}
                  {{#equals status 0}}
                    <a class="js-confirm-receiving">确认收货</a>
                  {{/equals}}
                {{/equals}}
                <a href="/buyer/order-shipment-detail?shipmentId={{id}}">查看详情</a>
              </td>
            </tr>
            {{/with}}
            {{else}}
              <tr><td colspan="7" class="center-text">无可展示信息</td></tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="list-pagination pagination-danger"
        data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}"
        data-total="{{_DATA_.total}}"></div>
{{/component}}
