<div class="hide">{{json this}}</div>
<div class="address-group extend-address-group">
    <div class="control-group address-group" data-item="{{itemId}}" data-levels="3">
        <label class="control-label font-14 sku-items-label" style="margin-top: -2px;">配送至:</label>
        <div class="address-select-label">
            <div class="">
                {{!-- <label>{{i18n "Deliver to " bundle="all_mix"}}</label> --}}
                <div class="address-select">
                    <div class="address-text" data-address-id="0">{{this.province}} {{this.city}} {{this.region}}</div>
                    <div class="address-area">
                        <a class="address-close" href="javascript:;">×</a>
                        <ul class="address-tab clearfix">
                            <li data-level="1" class="active" data-default="{{this.provinceId}}"><a href="javascript:;">省/直辖市</a></li>
                            <li data-level="2" data-default="{{this.cityId}}"><a href="javascript:;">城市</a></li>
                            <li data-level="3" data-default="{{this.regionId}}"><a href="javascript:;">地区</a></li>
                        </ul>
                        <ul class="address-content clearfix" data-level="1"></ul>
                        <ul class="address-content clearfix" data-level="2"></ul>
                        <ul class="address-content clearfix js-find-stock" data-level="3"></ul>
                    </div>
                    <span class="caret"></span>
                </div>
                {{!-- <label for="">{{i18n "RM" bundle="all_mix"}}<span class="item-post-fee">0.00</span></label> --}}
            </div>
        </div>
    </div>
</div>
