<div class="hide">{{json this}}</div>
{{#each data.items}}
  <li class="product-contrast-li js-select" data-id="{{id}}">
        <img class="product-img" src="{{mainImage}}">
        <div class="right-detail">
            <div class="title" title="{{name}}">{{name}}</div>
            <br>
            <span class="sale-details currency">￥{{formatPrice lowPrice}}</span>
            <a class="delect-selected pull-right js-delect-selected">删除</a>
        </div>
  </li>
{{/each}}
{{#each data.result}}
<li class="product-contrast-li js-noselect">
  <div class="product-img number-product">{{this}}</div><div class="pull-more-right">你还可以继续添加</div>
</li>
{{/each}}

