<div class="hide">{{json this}}</div>
<div class="attr-list">
    <div class="list-more">
        {{#each this.nameAndCounts}}
            <dd class="attr-dd dd-cancel">
                <label for="{{name}}" class="hide">
                    <input type="checkbox" id="{{name}}" value="{{name}}" class="brand-select input-checkbox"> {{name}}
                </label>
                <a class="js-property-selector selector" data-attr="{{name}}" href="javascript:void(0);">{{name}}</a>
                <span>{{count}}</span>
            </dd>
        {{/each}}
        {{#gt (size this.nameAndCounts) 1}}
            <dd class="more-options btn btn-info btn-small" style="width: 52px; margin: 8px 10px 8px 5px;">
                <a href="javascript:void(0);" class="js-elects">多选</a>
                <i class="font-12 icon-zcy icon-add"></i>
            </dd>
        {{/gt}}
    </div>
    <div class="brand-buttons hide">
        <button class="btn js-attrs-confirm btn-small btn-primary" type="button">确定</button>&nbsp;
        <button class="btn btn-info js-brand-cancel btn-small" type="button">取消</button>
    </div>
</div>