<div class="floor-suppliers">
  {{#each shops}}
    {{#lt @index 5}}
      <a class="supplier" href="/search?shopId={{shopId}}">
        <div class="logo"><img src="{{logo}}"></div>
        <div class="name">{{name}}</div>
        <div class="categories">行业：{{economyTrade}}</div>
        <img class="bg" src="">
        <div class="tags">
          {{#each tagNames}}
            <span>{{this}}</span>
          {{/each}}
        </div>
      </a>
    {{/lt}}
  {{/each}}
</div>