<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#if title}}{{title}}{{else}}Eevee Editor{{/if}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/lunatone/assets/styles/eevee/essage.css">
    <link rel="stylesheet" href="/lunatone/assets/styles/eevee/eevee.css">

  </head>
  <body data-editor-context="{{json editorContext}}" data-app="{{app}}">
    {{#with editorContext}}
    <div class="editor">
      {{#unless noPage}}
      <div class="page-list-container">
        <div class="page-list-title">
          <a class="js-page-new" href="#"><i class="fa fa-plus"></i>&nbsp;{{i18n "Create new " bundle="all_mix"}}</a>
          <a href="#" class="js-page-clear-index right"><i class="fa fa-ban"></i>&nbsp;{{i18n "Clear homepage" bundle="all_mix"}}</a>
        </div>
        <ul class="page-list">
          {{#each pages}}
          <li class="{{#equals path ../indexPage.path}}page-index{{/equals}} {{#equals path ../currentPage.path}}page-current{{/equals}}" data-page-id="{{id}}" data-page-path="{{path}}">
            <div class="name">{{name}}</div>
            <div class="path">{{i18n "Path" bundle="all_mix"}}: {{path}}</div>
            <div class="settings">
              <a href="#" class="js-page-set-index"><i class="fa fa-fw fa-sign-in"></i></a>
              <a href="#" class="js-page-setting"><i class="fa fa-fw fa-gear"></i></a>
              {{#unless immutable}}
                <a href="#" class="js-page-delete"><i class="fa fa-fw fa-times"></i></a>
              {{/unless}}
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/unless}}
      <div class="editor-main">
        <div class="editor-menu">
          <div class="editor-menu-container">
            <ul class="editor-menu-crumbs"></ul>
            <ul class="editor-menu-control">
              <li>
                <span class="editor-show-key-shortcut">&nbsp;<i class="fa fa-keyboard-o"></i>&nbsp;</span>
              </li>
              <li>
                {{#equals mode "ITEM"}}
                {{else}}
                  {{#equals mode "ITEM_TEMPLATE"}}
                  {{else}}
                  <button class="js-page-release"><i class="fa fa-rocket"></i>&nbsp;{{i18n "Publish " bundle="all_mix"}}</button>
                  {{/equals}}
                {{/equals}}
              </li>
              <li>
                <button class="js-page-save"><i class="fa fa-save"></i>&nbsp;{{i18n "Save" bundle="all_mix"}}</button>
              </li>
              <li>
                <label class="switch">
                  <input class="js-page-overview" type="checkbox" name="overview">
                  <span class="switch-toggle" data-on="{{i18n "Normal" bundle="all_mix"}}" data-off="{{i18n "Overview" bundle="all_mix"}}"></span>
                </label>
              </li>
              <li>
                <label class="switch">
                  <input class="js-page-preview" type="checkbox" name="preview">
                  <span class="switch-toggle" data-on="{{i18n "Editor" bundle="all_mix"}}" data-off="{{i18n "Preview" bundle="all_mix"}}"></span>
                </label>
              </li>
              {{#unless noPage}}
              <li>
                <label class="switch">
                  <input class="js-page-list" type="checkbox" name="list">
                  <span class="switch-toggle" data-on="{{i18n "Page" bundle="all_mix"}}" data-off="{{i18n "Page" bundle="all_mix"}}"></span>
                </label>
              </li>
              {{/unless}}
            </ul>
          </div>
        </div>
        <iframe class="editor-area" frameborder="0" scrolling="auto"></iframe>
      </div>
      <div class="editor-config-panel hide">
        <h1>{{i18n "Options" bundle="all_mix"}}</h1>
        <div class="editor-config-panel-container">
          <div class="editor-config-toolbar"></div>
          <ul class="editor-config-parts">
          </ul>
        </div>
      </div>
    </div>
    <script src="/lunatone/assets/scripts/vendor.js"></script>
    <script src="/lunatone/assets/scripts/eevee/essage.js"></script>
    <script src="/lunatone/assets/scripts/eevee/eevee.js"></script>
    <script>
      Pokeball = require("pokeball");
      require("eevee");
    </script>
    {{/with}}
  </body>
</html>
