<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <!-- Powered by Terminus.io -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#if seo.title}}{{seo.title}}{{else}}{{_PAGE_.name}}{{/if}}</title>
    <meta name="description" content="{{#if seo.desc}}{{seo.desc}}{{else}}{{_PAGE_.description}}{{/if}}">
    <meta name="keywords" content="{{#if seo.keyword}}{{seo.keyword}}{{else}}{{_PAGE_.keywords}}{{/if}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="H4CfHlHHeo" />
    <link rel="stylesheet" href="/lunatone/assets/styles/eevee/eevee-layout.css">
    <link rel="stylesheet" href="/lunatone/assets/styles/vendor.css">
    <link rel="stylesheet" href="/lunatone/assets/styles/app.css">
    {{#if _DESIGN_MODE_}}
    <link rel="stylesheet" href="/lunatone/assets/styles/eevee/eevee-editable.css">
    <link rel="stylesheet" href="/lunatone/assets/styles/config.css">
    {{/if}}
  </head>
  <body {{#if _DESIGN_MODE_}}data-design-mode="true"{{/if}} data-base="{{_HREF_.base}}">
    <!--[if lt IE 7]>
        <p class="browsehappy">您正使用<strong>过时</strong>的浏览器，因此您可能体验不到最{{i18n "Good " bundle="all_mix"}}的效果,请点击<a href="http://browsehappy.com/">这里</a> 去升级您的浏览器</p>
    <![endif]-->
    <!--[if lt IE 8]><script src="http://cdn.staticfile.org/json2/20121008/json2.js"></script><![endif]-->
    <div {{#if _DESIGN_MODE_}}class="eve-editor-area-inner eve-hide"{{/if}}>
      {{#render "header"}}
      <div class="eve-header"></div>
      {{/render}}
      {{#render "body"}}
      <div class="eve-body"></div>
      {{/render}}
      {{#render "footer"}}
      <div class="eve-footer"></div>
      {{/render}}
    </div>
    {{#if _DESIGN_MODE_}}
      <script src="/lunatone/assets/scripts/vendor.js"></script>
      <script src="/lunatone/assets/scripts/app.js"></script>
      <script>require("app")()</script>
    {{else}}
      {{#if _IS_FIRST_SCREEN_}}
      <script src="/lunatone/assets/scripts/head.js"></script>
      <script>
        head.load(
          {vendor: "/lunatone/assets/scripts/vendor.js"},
          {app: "/lunatone/assets/scripts/app.js"}, function() {});
        head.ready("app", function() {
          require("app")();
        });
      </script>
      {{else}}
        <script src="/lunatone/assets/scripts/vendor.js"></script>
        <script src="/lunatone/assets/scripts/app.js"></script>
        <script>require("app")()</script>
      {{/if}}
    {{/if}}
  </body>
  <!-- Powered by Terminus.io -->
</html>
