<thead>
<tr>
  <th>
    <input type="checkbox" class="input-checkbox js-batch-select-item">
  </th>
  <th>商品名称</th>
  <th>图片</th>
  <th>类目</th>
  <th>约定内容</th>
  <th class="text-right">操作</th>
</tr>
</thead>
<tbody>
{{#each data}}
  <tr data-item-id="{{itemId}}">
    <td>
      <input type="checkbox" class="input-checkbox js-select-item">
    </td>
    <td>
      <a href="/items/{{itemId}}" target="_blank">{{itemName}}</a>
    </td>
    <td>
      <div class="item-image">
        <img src="{{mainImgUrl}}">
      </div>
    </td>
    <td>{{categoryName}}</td>
    <td>
    <div class="regions">
       {{#equals status 0}}
         未约定
       {{else}}
         生效地区：{{regionNames}}
       {{/equals}}
    </div>
    </td>
    <td class="text-right">
      <a class="js-service-set" href="javascript:void(0)">设置</a>
    </td>
  </tr>
{{else}}
  <tr>
    <td colspan="6">
      <div class="no-record">当前没有服务商品</div>
    </td>
  </tr>
{{/each}}
</tbody>
<tfoot>
<tr>
  <td>
    <input type="checkbox" class="input-checkbox js-batch-select-item">
  </td>
  <td colspan="5">
    <button class="btn btn-info js-batch-set">批量设置</button>
    <button class="btn btn-primary js-set-all">设置所有商品</button>
    <div class="items-pagination js-pagination"></div>
  </td>
</tr>
</tfoot>