<div class="modal pur-modal modal-evaluation evaluation-add-modal">
  <div class="modal-header short-title">
    <span class="modal-tile font-16">评价</span>
    <a href="javascript:void(0)" class="close pull-right font-16">×</a>
  </div>
  <div class="evaluation-modal">
    <div class="form-part clearfix">
      <div class="evaluation-star-part pull-left">
        {{#each data}}
        <div class="product-weight">
          <div class="left-title left-title-star"
            data-weightruleid="{{weightRuleID}}"
            data-evaluatevalue="{{evaluateValue}}"
            data-evaluatetype="2"
            data-evaluatename="{{evaluateName}}">{{evaluateName}}:
          </div>
          <div class="right-star">
            <input name="rating-insert{{weightRuleID}}" type="radio" class="star {split:2}">
            <input name="rating-insert{{weightRuleID}}" type="radio" class="star {split:2}">
            <input name="rating-insert{{weightRuleID}}" type="radio" class="star {split:2}">
            <input name="rating-insert{{weightRuleID}}" type="radio" class="star {split:2}">
            <input name="rating-insert{{weightRuleID}}" type="radio" class="star {split:2}">
            <input name="rating-insert{{weightRuleID}}" type="radio" class="star {split:2}">
            <input name="rating-insert{{weightRuleID}}" type="radio" class="star {split:2}">
            <input name="rating-insert{{weightRuleID}}" type="radio" class="star {split:2}" checked>
            <input name="rating-insert{{weightRuleID}}" type="radio" class="star {split:2}">
            <input name="rating-insert{{weightRuleID}}" type="radio" class="star {split:2}">
          </div>
        </div>
        {{/each}}
      </div>
      <div class="appraise js-add-evaluation-item pull-right">
        <span class="add-title">评价:</span>
        <div class="input-fivehundred-content">
          <textarea placeholder="不超过500个字符" class="js-checklog-comment add-evaluation-text js-product-evaluation" id="add" rows="3"></textarea>
          <div class="note no-href">（<span class="js-checklog-comment-count checklog-comment-count">0</span> / 500）</div>
        </div>
      </div>
    </div>
    <div class="delete-add-photo-item js-add-photo-item">
      <span class="add-title">照片:</span>
      <div class="delete-add-photo-left add-photo-left">
        <div class="btn btn-ghost btn-upload btn-image-upload btn-image">
          <span class="icon-pokeball icon-pokeball-plus"></span>
          <input class="image-upload" type="file" name="images" value="">
        </div>
        <div class="dash-devide"></div>
      </div>
      <div class="image-show-evaluation js-first-image gallery clearfix">
      </div>
    </div>
  </div>
  <div class="modal-footer evaluation-footer">
    <button class="btn btn-info btn-medium close js-cancel">取消</button>
    <button class="btn btn-primary btn-medium nocancel js-nocancel">保存</button>
  </div>
</div>

