{{#component "spu-list js-comp"}}
  <div class="component-body">
    <div class="search-item">
      <div id="block" class="block filter-block">
          <fieldset>
            <span class="span3">
              <label for="">SPU名称&nbsp;
                <input type="text" class="item-filter-item search" name="spuName" value="" placeholder="请输入SPU名称">
              </label>
            </span>
            <span class="span3">
              <label for="">&nbsp;&nbsp;品牌名称&nbsp;&nbsp;
                <input type="text" class="item-filter-item search" name="brandName" value="" placeholder="请输入品牌名称">
              </label>
            </span>
            <span class="span3">
              <label for="">&nbsp;&nbsp;类目&nbsp;&nbsp;
                <input type="text" class="item-filter-item search" name="categoryName" value="" placeholder="请输入类目">
              </label>
            </span>
            <span class="span2 pull-right">
              <label for="filter">
                <button  id="searchBtn" class="btn btn-minor js-item-filter">搜索</button>
                &nbsp;
                <button  id="resetBtn" class="btn btn-ghost js-filter-clear">重置</button>
              </label>
            </span>
          </fieldset>
      </div>
    </div>
    <div class="item-list">
      <table class="table  item-manage-table">
        <thead>
          <tr>
            <th class="left-text">SPU名称</th>
            <th>品牌名称</th>
            <th>所属类目</th>
            <th>申请时间</th>
            <th>审核时间</th>
            <th width="110" class="td-operation">操作</th>
          </tr>
        </thead>
        <tbody>
          {{#each _DATA_.data}}
          <tr data-id="{{id}}">
            <td><a href="/seller/spu-detail?spuId={{id}}" target="_blank">{{name}}</a></td>
            <td>{{brandName}}</td>
            <td>{{categoryName}}</td>
            <td>{{createdAt}}</td>
            <td>{{auditedAt}}</td>
            <td class="td-operation">
              {{#equals auditStatus "3"}}
                <a href="javascript:;" class="js-delete">删除</a>
                <a href="/seller/spus/spu-publish?spuId={{id}}" target="_blank">变更申请</a>
              {{else}}
              -
              {{/equals}}
            </td>
          </tr>          
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="td-operation"><div class="item-pagination" data-total="{{_DATA_.total}}" data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}"></div></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
{{/component}}
