{{#if type}}
  <img src="{{imageUrl}}" alt="" data-src="{{imageUrl}}"/>
  <span class="image-operate">
    <i class="icon-zcy icon-edit js-upload-image"></i>
  </span>
{{else}}
  <li class="pull-left image-container item-image js-item-image-container js-item-image">
    <img src="{{imageUrl}}" alt="" data-src="{{imageUrl}}"/>
    <div class="delete-img">
      <i class="icon-mewtwo icon-mewtwo-trash js-delete-image"></i>
    </div>
    <span class="image-operate">
      <i class="icon-mewtwo icon-mewtwo-left-arrow js-move-image" data-direct="left"></i>
      <i class="icon-zcy icon-edit js-upload-image"></i>
      <i class="icon-mewtwo icon-mewtwo-right-arrow js-move-image" data-direct="right"></i>
    </span>
  </li>
{{/if}}
