<table class="table table-grid sku-table">
  <thead>
    <tr>
      {{#each data.attrs}}
        <th width="70" class="center-text">
          {{key}}
        </th>
      {{/each}}
      <th width="200" class="center-text">
        价格
      </th>
      <th width="140" class="center-text">sku编码</th>
      {{#if showStocks}}
        <th width="200" class="center-text">库存（如果库存为0则您的商品会降低显示排序）</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#if data}}
      {{#each data.values}}
        <tr class="js-sku-tr" data-attr="{{json list}}"
            data-key="{{#each list}}{{attr}}:{{value}}{{#unless @last}};{{/unless}}{{/each}}"
            {{#if id}}data-id="{{id}}"{{/if}}>
          {{#each list}}
            {{#if rowspan}}
              <td rowspan="{{rowspan}}" class="center-text">
                {{value}}
              </td>
            {{/if}}
          {{/each}}
          {{> seller/item_issue/all_templates/_sku_info warehouses=@root.warehouses ptype=@root.ptype showStocks=@root.showStocks}}
        </tr>
      {{/each}}
    {{else}}
      <tr class="js-sku-tr">
        {{> seller/item_issue/all_templates/_sku_info warehouses=@root.warehouses ptype=@root.ptype showStocks=@root.showStocks}}
      </tr>
    {{/if}}
  </tbody>
</table>
