{{#component ""}} 
{{!-- 
{ 
  "packageMethod":"全国打包", 
  "packageAreaList": [ 
    { "purchaserCount":5, "purchaserArea":"浙江省" }, 
    { "purchaserCount":4,"purchaserArea":"江苏省" } 
  ]
} 
--}}
<tr>
  <td>需求归集区域（采购单位数量）</td>
  <td colspan="3">{{packageMethod}}：{{#each packageAreaList}} {{#equals @index 0}}{{purchaserArea}}&nbsp;({{purchaserCount}}){{else}}、{{purchaserArea}}&nbsp;({{purchaserCount}}){{/equals}}{{/each}}</td>
</tr>
{{/component}}