{{#component "scroll-items-floor js-comp"}}
  <p class="hide">{{json this}}</p>
  <input type="hidden" class="js-items-id" value="{{itemIds}}">
  <div class="floor-item js-floor-item" data-name="{{floorName}}" data-icon="{{floorIcon}}" data-id="js-floor-{{floorName}}" {{#if _DESIGN_MODE_}}data-design="true"{{/if}}>
    <div class="floor-header">
      <div class="floor-info">
        <span class="floor-index js-floor-index"></span>
        <i class="icon-zcy {{floorIcon}}" style="color: {{iconColor}};"></i><span class="floor-title">{{floorName}}</span>
      </div>
      <div class="floor-extend"></div>
    </div>
    <div class="floor-body clearfix">
    </div>
  </div>
{{/component}}
