{{#if items.empty}}
<tr>
  <td colspan="6" class="text-center">未查找到关联商品</td>
</tr>
{{else}}
{{#each items.data}}
<tr>
  <td>
    <label>{{itemName}}</label>
  </td>
  <td><label>{{itemId}}</label></td>
  <td><label>{{shopName}}</label></td>
  <td class="price">{{formatPrice skuPrice}}</td>
  <td><label>{{quantity}}</label></td>
  <td class="price text-right">{{formatPrice fee}}</td>
</tr>
{{/each}}
{{/if}}
