{{#partial "realTitle"}}制造馆商品详情页{{/partial}}
{{#partial "realBody"}}
    <div class="common-header">
        {{inject "eevee/images"}}
        {{inject "mfacture/supplierList/supplierMsg"}}
        {{inject "supplierList/supplierSearch"}}
        {{inject "common/shop_cart"}}
    </div>
    <div class="item-detail-container">
        {{#inject "common/small_banner"}}
            {"index": "item"}
        {{/inject}}
        <div class="left-part">
            {{inject "buyer/item_detail"}}
            {{inject "shop_decoration/spu_tab"}}
        </div>
        <div class="right-part">
            {{inject "common/compare_price"}}
            {{inject "common/history_card"}}
            {{inject "common/customer_phone"}}
        </div>
        <div class="clearfix"></div>
    </div>
{{/partial}}
{{> index_layout}}
