{{#component "on-off-shelf js-comp"}}
  <input type="hidden" class="js-vaccine-tag" value="{{isVaccine}}">
  <span class="treeData" style="display: none;">{{_TREE_}}</span>
  <div class="component-header">
    <div name="auditStatus" class="tab" data-type="switchable">
        <ul class="tab-navs clearfix">
          <li value=""><a href="javascript:;">全部<span class="tab-label"></span></a></li>
          <li value="1"><a href="javascript:;">待初审<span class="tab-label"></span></a></li>
          <li value="2"><a href="javascript:;">待终审<span class="tab-label"></span></a></li>
          <li value="3"><a href="javascript:;">审核通过<span class="tab-label"></span></a></li>
          <li value="0"><a href="javascript:;">审核不通过<span class="tab-label"></span></a></li>
        </ul>
    </div>
  </div>
  <div class="component-body">
      <div class='search-panel'>
          <table>
              <input type="text" class="hide supplierNameStore search" name="supplierName">
              <tr>
                  <td class="search-label">
                      供应商名称：
                  </td>
                  <td>
                      <select name="shopId" class="search noselectric">
                        {{#if shopId}}
                          <option value="{{shopId}}">{{supplierName}}</option>
                        {{/if}}
                      </select>
                  </td>
                  <td class="search-label">
                      类目：
                  </td>
                  <td>
                      <select name="categoryId" class="search js-category noselectric" id="itemSelect">
                          <option value="">请选择</option>
                      </select>
                      <div id="item-tree" class="category-tree" hidden style="z-index: 9999;">
                      </div>
                  </td>
                  <td class="search-label">
                      商品ID：
                  </td>
                  <td>
                      <input type="text" class="search" name="itemId" placeholder="请输入">
                  </td>
              </tr>
              <tr>
                  <td class="search-label">
                      商品名称：
                  </td>
                  <td>
                      <input type="text" class="search" name="itemName" placeholder="请输入">
                  </td>
                  <td class="search-label">
                      类别：
                  </td>
                  <td>
                      <select name="type" class="search ">
                          <option value="">请选择</option>
                          <option value="0">上架申请</option>
                          <option value="1">价格上涨</option>
                          {{#equals isVaccine '1'}}
                            <option value="3">价格下降</option>
                          {{/equals}}
                      </select>
                  </td>
                  <td class="search-label">
                      申请日期：
                  </td>
                  <td>
                    <input type="text" class="search date-input" name="createdAtStart" placeholder="开始日期">&nbsp;&nbsp;-&nbsp;&nbsp;
                    <input type="text" class="search date-input" name="createdAtEnd" placeholder="结束日期">
                  </td>
                  <td width="100%"></td>
                  <td>
                      <button class="btn btn-minor mr-sm" id="searchBtn">搜索</button>
                  </td>
                  <td>
                      <button class="btn btn-ghost" id="resetBtn">重置</button>
                  </td>
              </tr>
          </table>
      </div>
    <div class="item-list">
      <table class="table  item-manage-table">
        <thead>
        <tr>
          <th width="24"><input type="checkbox" class="js-batch-select input-checkbox" autocomplete="off"></th>
          <th width="100" class="left-text">供应商名称</th>
          <th width="100">类目</th>
          <th width="100">商品名称</th>
          <th width="100">价格</th>
          {{#equals isVaccine '1'}}
          {{else}}
            <th width="70">优惠率</th>
          {{/equals}}
          <th width="100">类别</th>
          <th width="110">申请时间</th>
          <th width="70">状态</th>
          <th width="110" class="td-operation">操作</th>
        </tr>
        </thead>
        <tbody>
          {{#each _DATA_.data}}
            <tr data-state="{{auditStatus}}" data-id="{{id}}">
              <td><input type="checkbox" class="js-item-select input-checkbox" autocomplete="off"></td>
              <td>{{supplier}}</td>
              <td>{{categoryName}}</td>
              <td><a href="/items/{{itemId}}" target="_blank">{{itemName}}</a></td>
              <td>
                {{#of type "1,3"}}
                  {{#equals newLowPrice newHighPrice}}
                    <div class="price">改：{{formatPrice newLowPrice}}</div>
                  {{else}}
                    <div class="price">改：{{formatPrice newLowPrice}}-{{formatPrice newHighPrice}}</div>
                  {{/equals}}
                  {{#equals lowPrice highPrice}}
                    <div class="old-price">原：{{formatPrice lowPrice}}</div>
                  {{else}}
                    <div class="old-price">原：{{formatPrice lowPrice}}-{{formatPrice highPrice}}</div>
                  {{/equals}}
                {{else}}
                  {{#equals lowPrice highPrice}}
                    <div class="price">{{formatPrice lowPrice}}</div>
                  {{else}}
                    <div class="price">{{formatPrice lowPrice}}-{{formatPrice highPrice}}</div>
                  {{/equals}}
                {{/of}}
              </td>
              {{#equals isVaccine '1'}}
              {{else}}
                <td class="text-warn">{{formatPrice discountInt}}%</td>
              {{/equals}}
              <td class="text-link">
                {{#equals type "0"}}上架申请{{/equals}}
                {{#equals type "1"}}价格上涨{{/equals}}
                {{#equals type "3"}}价格下降{{/equals}}
              </td>
              <td>{{createdAt}}</td>
              {{#equals auditStatus "0"}}<td class="text-warn">审核不通过</td>{{/equals}}
              {{#equals auditStatus "1"}}<td>待初审</td>{{/equals}}
              {{#equals auditStatus "2"}}<td>待终审</td>{{/equals}}
              {{#equals auditStatus "3"}}<td class="text-success">审核通过</td>{{/equals}}
              <td class="td-operation">
                <a href="/seller/item-check-detail?itemId={{itemId}}" target="_blank">商品详情</a>
                {{#of "1" ../_ROLES_}}
                  {{#equals auditStatus "1"}}<a class="js-item-audit" data-item="{{json this}}" href="javascript:;">初审</a>{{/equals}}
                {{else}}
                  {{#equals auditStatus "1"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{/equals}}
                {{/of}}
                {{#of "2" ../_ROLES_}}
                  {{#equals auditStatus "2"}}<a class="js-item-audit" data-item="{{json this}}" href="javascript:;">终审</a>{{/equals}}
                {{else}}
                  {{#equals auditStatus "2"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{/equals}}
                {{/of}}
                {{#of auditStatus "0,3"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{/of}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="{{#equals isVaccine '1'}}9{{else}}10{{/equals}}" class="text-center">无可展示数据</td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
                <input type="checkbox" class="js-batch-select input-checkbox" autocomplete="off">
                <button class="btn btn-medium btn-info js-item-checkall" disabled>批量审核</button>
            </td>
            <td colspan="8" class="td-operation"><div class="item-pagination" data-total="{{_DATA_.total}}" data-size="{{#if pageSize ~}}{{pageSize}}{{else}}100{{~/if}}"></div></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
{{/component}}