{{#component "brand-creat-warp js-comp"}}
<div class="brand-head">
  品牌详情
</div>
<input type="hidden" name="changeDetailId" value="{{_DATA_.changeDetailId}}" />
<div class="brand-content">
  <table id="information">
    <tr>
      <td class="title-td">是否国内品牌：</td>
      <td>
        {{#equals _DATA_.isAbroad "0"}}是{{/equals}} {{#equals _DATA_.isAbroad "1"}}否{{/equals}}
      </td>
    </tr>
    <tr>
      <td data-model="fullName" class="title-td">
        全称：
      </td>
      <td>{{_DATA_.fullName}}</td>
    </tr>
    <tr>
      <td data-model="chName" class="title-td">
        中文名：
      </td>
      <td>{{_DATA_.chName}}</td>
    </tr>
    <tr>
      <td data-model="enName" class="title-td">
        英文名：
      </td>
      <td>{{_DATA_.enName}}</td>
    </tr>
    <tr>
      <td class="title-td">
        LOGO：
      </td>
      <td>
        <img src="{{_DATA_.logo}}" alt="" class="js-preview">
      </td>
    </tr>
    <tr>
      <td data-model="registrationNo" class="title-td">
        商标注册号：
      </td>
      <td>{{_DATA_.registrationNo}}</td>
    </tr>
    <tr>
      <td data-model="brandOwner" class="title-td">
        品牌所有人：
      </td>
      <td>{{_DATA_.brandOwner}}</td>
    </tr>
    <tr>
      <td class="title-td">
        品牌类别：
      </td>
      <td>
        {{#equals _DATA_.brandType "OWNER"}}自有品牌{{/equals}} {{#equals _DATA_.brandType "AUTH"}}授权品牌{{/equals}} {{#equals _DATA_.brandType "MAINTENANCE"}}品牌维护{{/equals}}
      </td>
    </tr>
    <tr>
      <td class="title-td">
        附件信息：
      </td>
      <td class="downloadFile">
        <div class="uploadFile">
          {{inject "common/uploadFile/download" _FILE_DATA_=_DATA_.attachments}}
        </div>
      </td>
    </tr>
    <tr>
      <td class="title-td">
        适用类目：
      </td>
      <td>
        {{#each _DATA_.applyCategoryList}} {{#if @index}},{{/if}}{{categoryPath}} {{/each}}
      </td>
    </tr>
  </table>
</div>
{{/component}}