<div class='modal
    {{#equals this.type "normal"}}
      zcy_modal_normal
     {{else}}
       {{#equals this.type "second"}}
          zcy_modal_second
       {{/equals}}
       zcy_modal_other
     {{/equals}}
  {{this.cls}}' id="modal-id-{{this.id}}">

  <div class="modal-header">
    <label>{{this.title}}</label>
    <a href="javascript:;" class="close">&times;</a>
  </div>
  <div class="modal-body">
    <div class="warning-row">
      {{#equals this.type "confirm"}}
        <i class="icon-zcy icon-notify-warning" style="font-size: 2.6em;color: #F2C200;"></i>
        <label class="info-title"></label>
        <label class="info-content"></label>
      {{/equals}}
      {{#equals this.type "second"}}
        <i class="icon-zcy icon-notify-warning" style="font-size: 2.6em;color: #F2C200;"></i>
        <label class="info-title"></label>
        <div class="second-box">
          <input type="checkbox" name="second-checkbox" class="second-checkbox">
          <span class="second-content">

          </span>
        </div>
      {{/equals}}
      {{#equals this.type "error"}}
        <i class="icon-zcy icon-notify-danger" style="font-size: 2.6em;color: #ff625c;"></i>
        <label class="info-title"></label>
        <label class="info-content"></label>
      {{/equals}}
      {{#equals this.type "success"}}
        <i class="icon-zcy icon-notify-success" style="font-size: 2.6em;color: #6DCC50;"></i>
        <label class="info-title"></label>
        <label class="info-content"></label>
      {{/equals}}
      {{#equals this.type "info"}}
        <i class="icon-zcy icon-notify-info" style="font-size: 2.6em;color: #1eb6f8;"></i>
        <label class="info-title"></label>
        <label class="info-content"></label>
      {{/equals}}

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-cancel
        {{#equals this.type "info"}}hide{{/equals}}
        {{#equals this.type "success"}}hide{{/equals}}
        {{#equals this.type "error"}}hide{{/equals}}
        " >{{this.btn1}}</button>
    <button type="button" class="btn btn-primary" {{#equals this.type "second"}}disabled="disabled"{{/equals}}>{{this.btn2}}</button>
  </div>
</div>
