<div class="js-category-attr-input category-attr-input" data-key="{{attrKey}}" data-type="STRING" data-required="false">
  <input type="text" class="js-group-item"
    {{#if attrMetas.SPU_VALUE}}
         value="{{attrMetas.SPU_VALUE}}"
    {{else}}
         value="{{attrVal}}"
    {{/if}}
         data-group="{{group}}"
         data-key="{{attrKey}}"
         data-property-id="{{propertyId}}"
    {{#if property.unit}}
         data-unit="{{property.unit}}"
    {{/if}}
    {{#equals attrMetas.REQUIRED "true"}}
         required
    {{/equals}}
    {{#equals attrMetas.SPU_DEFINED "true"}}
         disabled
    {{/equals}}
         readonly>
</div>
{{#if property.unit}}
  <span class="attr-unit-show">&nbsp;{{property.unit}}</span>
{{/if}}
