{{#if categoryAttribute}}
  {{#with categoryAttribute}}
    <div class="js-sku-area sku-list-area {{#if @last}}last{{/if}}
      {{#equals attrMetas.REQUIRED "true"}} required-sku{{/equals}}"
         data-key="{{attrKey}}" data-sku="{{json this}}"
      {{#if attrMetas}}
         data-type="{{attrMetas.VALUE_TYPE}}"
      {{else}}
         data-type="STRING"
      {{/if}}>
      <p class="sku-attr-key control-group" title="{{attrKey}}">
        <label class="group-title hint--top" title="{{attrKey}}" aria-label="{{attrKey}}">
        <span class="group-line-title">
          {{#equals attrMetas.REQUIRED "true"}}
            <b class="required">*</b>
          {{/equals}}
          {{attrKey}}：
        </span>
        </label>
        <span class="sku-group-content">
          <input type="radio" class="input-radio sku-image-radio js-sku-show-image"
                 name="showImage"
                 value="true"
            {{#equals showImage "true"}}
                 checked
            {{/equals}}>
        </span>
        <label>显示sku图片</label>
        <span class="error-tip"><i class="icon-mewtwo icon-mewtwo-alert-fill"></i>&nbsp;请勾选至少一个属性值</span>
        {{#equals attrMetas.USER_DEFINED "true"}}
          <a class="attribute-operation js-edit-sku-value" href="javascript:void(0)">加属性值</a>
        {{/equals}}
      </p>
      <p class="sku-attr-vals js-sku-attr-vals">
        {{#each attrVals}}
          <span class="js-sku-item sku-item">
            <label class="sku-attribute-label">
              <input type="checkbox"
                     name="{{../attrKey}}"
                     class="input-checkbox js-select-sku-attr"
                     value="{{this}}">{{this}}
            </label>
            <i class="icon-mewtwo icon-mewtwo-pic attribute-image js-attribute-image"
               data-key="{{../attrKey}}"
               data-value="{{this}}"></i>
        </span>
        {{/each}}
      </p>
    </div>
  {{/with}}
{{else}}
  {{#each skuAttributeWithRules}}
    {{#with attributeRule}}
      <div class="js-sku-area sku-list-area {{#if @last}}last{{/if}}
        {{#equals attrMetas.REQUIRED "true"}} required-sku{{/equals}}"
           data-key="{{attrKey}}" data-sku="{{json this}}"
        {{#if attrMetas}}
           data-type="{{attrMetas.VALUE_TYPE}}"
        {{else}}
           data-type="STRING"
        {{/if}}>
        <input type="hidden" class="js-sku-area-checked-value" value="{{../attrVal}}">
        <p class="sku-attr-key control-group" title="{{attrKey}}">
          <label class="group-title hint--top" title="{{attrKey}}" aria-label="{{attrKey}}">
          <span class="group-line-title">
            {{#equals attrMetas.REQUIRED "true"}}<b class="required">*</b>{{/equals}}{{attrKey}}：
          </span>
          </label>
          <span class="sku-group-content">
          <input type="radio" class="input-radio sku-image-radio js-sku-show-image"
               name="showImage" value="true"{{#equals ../showImage true}}checked{{/equals}}>
          </span>
          <label>显示sku图片</label>
          <span class="error-tip"><i class="icon-mewtwo icon-mewtwo-alert-fill"></i>&nbsp;请勾选至少一个属性值</span>
          {{#equals attrMetas.USER_DEFINED "true"}}
            <a class="attribute-operation js-edit-sku-value" href="javascript:void(0)">加属性值</a>
          {{/equals}}
        </p>
        <p class="sku-attr-vals js-sku-attr-vals" data-images="{{json ../images}}" data-key="{{attrKey}}">
          {{#each attrVals}}
            <span class="js-sku-item sku-item">
            <label class="sku-attribute-label">
              <input type="checkbox"
                     name="{{../attrKey}}"
                     class="input-checkbox js-select-sku-attr"
                     value="{{this}}">{{this}}
            </label>
                <i class="icon-mewtwo icon-mewtwo-pic attribute-image js-attribute-image"
                   data-key="{{../attrKey}}"
                   data-value="{{this}}"></i>
            </span>
          {{/each}}
        </p>
      </div>
    {{/with}}
  {{/each}}
{{/if}}


