{{#component "release-items-category js-comp"}}
  <div class="component-header">
    <span class="component-title">添加协议商品</span>
  </div>
  <div class="component-body">
    <div class="category-list fixed-category">
      <div class="category category-1 js-comp js-category-component"  data-comp-path="agreement/category_item" data-type="{{#equals type "1"}}frontCategory{{else}}backCategory{{/equals}}">
        <div class="category-header">
          <p class="item-name-p">
            <strong class="item-name">
              一级类目
            </strong>
          </p>
        </div>
        <div class="form category-body">
          <div class="search-item">
            <div class=" search-item-group">
              <i class="icon-mewtwo icon-mewtwo-search"></i>
              <input type="text" class="search-item-input js-search-item" placeholder="搜 索">
            </div>
          </div>
          <ul class="divide-ul">
            {{#each _DATA_}}
              <li class="divide-li" data-category="{{json this}}">
                <div class="normal-status" {{#if status}}{{else}}title="类目即将删除，无法发布商品，请选择其他类目" {{/if}}>
                  {{#equals hasChildren "true"}}
                    <i class="icon-mewtwo icon-mewtwo-right next"></i>
                  {{/equals}}
                  {{#if status}}
                  {{else}}
                    <label class="status">冻结中</label>
                  {{/if}}
                  <a href="javascript:void(0);" class="item-pop {{#if status}}{{else}}frozen{{/if}}"><span>{{name}}</span></a>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="selected-category">
      <span class="selected-category-span">
        <span>你当前选择的是:</span>
        <span class="selected-path"></span>
      </span>
    </div>
    <div class="button-submit">
      <input type="hidden" name="ptype" value="{{ptype}}" id="ptype">
      <button class="btn btn-primary btn js-submit-spu" disabled>确定</button>
    </div>
  </div>
{{/component}}
