{{#component "manufacturer-product-floor js-comp"}}
  <p class="hide">{{json this}}</p>
  <div class="floor-item js-floor-item">
    <div class="floor-product-title clearfix">
      <span class="pull-left" style="border-left:4px solid #{{#if borderColor}}{{borderColor}}{{else}}FFCE12{{/if}}">{{productTypeName}}</span>
      <a href="{{#if moreUrl}}{{moreUrl}}{{else}}javascript:void(0);{{/if}}" target="_blank" class="link-more">{{#if moreUrl}}更多<i class="icon-zcy icon-roundrightfill"></i>{{else}}{{/if}}</a>
    </div>
    <div class="floor-products clearfix" data-number="{{#if showNo}}{{showNo}}{{else}}10{{/if}}">

    </div>
  </div>
{{/component}}