{{#equals contentType 2}}
  <table class="table" style="width: 600px">
    <thead>
    <tr>
      <th style="width:200px">商品</th>
      <th style="width:100px">型号</th>
      <th style="width:40px">单位</th>
      <th style="width:60px">数量</th>
      <th style="width:60px">单价</th>
      <th style="width:140px">总价</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
      <tr>
        <td>{{name}}</td>
        <td>{{specification}}</td>
        <td>{{unit}}</td>
        <td>{{count}}</td>
        <td>{{price}}</td>
        <td class="price currency">{{money}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
  <table class="table">
    <thead>
    <tr>
      <th>类型</th>
      <th>数量</th>
      <th>价格</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
      <tr>
        <td>{{name}}</td>
        <td>{{count}}</td>
        <td class="price currency">{{money}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{/equals}}
