<div class="modal invoice-edit">
  <div class="modal-header">
    {{#if id}}修改发票{{else}}添加发票{{/if}}
    <a href="javascript:void(0)" class="close">&times;</a>
  </div>
  <div class="modal-body">
    <table class="invoice-edit-table" cellpadding="10px">
      <tr>
        <td width="25%"><label class="pull-right"><span class="required">*</span>发票抬头：</label></td>
        <td width="75%">
          <input name="title" type="text"
                 checker-pattern="^[^<>]{1,100}$"
                 placeholder="长度不超过100个字符" value="{{title}}"
                 icon="false" required/>
        </td>
      </tr>
      <tr>
        <td><label class="pull-right"><span class="required">*</span>发票类型：</label></td>
        <td>
          <select class="invoice-type" name="type" required>
            <option value="1" {{#equals type 1}}selected{{/equals}}>增值税普通发票</option>
            <option value="2" {{#equals type 2}}selected{{/equals}}>增值税专用发票</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label class="pull-right"><span class="required  {{#equals type 1}}hide{{/equals}} js-identify-no">*</span>纳税人识别号<i class="icon-zcy icon-warningfill js-invoice-popover"></i>：</label></td>
        <td>
          <input type="text" name="taxNumber" placeholder="请输入" icon="false" value="{{taxNumber}}" checker-pattern="^\w{1,32}$" {{#equals type 2}}required{{/equals}}>
        </td>
      </tr>
      <tr class="invoice-type2-field">
        <td><label class="pull-right"><span class="required">*</span> 开户行：</label></td>
        <td>
          <select name="bank" data-bank="{{bank}}" data-account="{{bankAccount}}">
          </select>
          <input type="hidden" name="bank" value="{{bank}}" icon="false">
        </td>
      </tr>
      <tr class="invoice-type2-field">
        <td><label class="pull-right"><span class="required">*</span>开户行账号：</label></td>
        <td>
          <input name="bankAccount" type="text" value="{{bankAccount}}" readonly icon="false">
        </td>
      </tr>
      <tr>
        <td><label class="pull-right"><span class="required">*</span>发票内容：</label></td>
        <td>
          <div class="invoice-content-type {{#equals content 4}}selected{{/equals}}" data-content="4">
            办公用品
            <div class="angle">&check;</div>
          </div>
          <div class="invoice-content-type {{#equals content 5}}selected{{/equals}}" data-content="5">
            耗材
            <div class="angle">&check;</div>
          </div>
          <div class="invoice-content-type {{#equals content 6}}selected{{/equals}}" data-content="6">
            电脑配件
            <div class="angle">&check;</div>
          </div>
          <div class="invoice-content-type {{#equals content 1}}selected{{/equals}}" data-content="1">
            类目
            <div class="angle">&check;</div>
          </div>
          <div class="invoice-content-type {{#equals content 2}}selected{{/equals}}" data-content="2">
            商品
            <div class="angle">&check;</div>
          </div>
          <div class="invoice-content-type {{#equals content 3}}selected{{/equals}}" data-content="3">
            自定义
            <div class="angle">&check;</div>
          </div>
          <input type="hidden" name="content" value="{{content}}" required>
        </td>
      </tr>
      <tr class="custom-content" {{#equals content 3}}{{else}}style="display: none;"{{/equals}}>
        <td><label class="pull-right"><span class="required">*</span>自定义发票内容：</label></td>
        <td>
          <textarea name="customContent" rows="8"
                    placeholder="请输入发票自定义内容" icon="false" value="{{customContent}}"
                    {{#equals content 3}}required{{/equals}}>{{customContent}}</textarea>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input class="input-checkbox" type="checkbox" name="isDefault" {{#if isDefault}}checked{{/if}}>设为默认发票信息
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info btn-medium close">取消</button>
    <button class="btn btn-primary btn-medium save-invoice" {{#if id}}data-id="{{id}}"{{/if}}>保存</button>
  </div>

</div>