<div class="list clearfix view-{{mode}}">
  {{#if this.entities.data}}
    <div class="hide">{{json this}}</div>
    <ul class="view-mode-thumb">
        {{#each this.entities.data}}
            <span>
            <li data-id="{{id}}" class="product
                    {{#equals @root/searchType 1}}
                        {{#mod @index 4}}last{{/mod}}
                        {{else}}
                        {{#mod @index 5}}last{{/mod}}
                    {{/equals}}" style="{{#if marginRight}}margin-right: {{marginRight}}px;{{/if}}">
                {{!-- todo <a href="javascript:void(0)" class="check-select"><i class="iconfont icon-check"></i></a> --}}
                <a href="{{_ENV_HREF_.front}}/items/{{id}}?searchType=1{{#equals ../type "hall"}}&type=hall{{/equals}}{{#equals ../type "vaccine"}}&type=vaccine{{/equals}}" target="_blank">
                    <div class="product-image">
                        <img class="lazy" data-original="{{cdnPath mainImage "260"}}" alt="loading..." width="208" height="208" />
                        <div class="availablePlan js-available-plan hide"><span></span></div>
                        <!--<div class="stockNum"><span></span></div> 如果没有库存，显示暂时无货 -->
                        <div class="regionSell hide">此商品仅在其他区划销售</div>
                    </div>
                </a>
                <p class="product-price">
                    {{_CURRENCY_}} <span class="currency"> <span style="font-size: 16px;">&yen</span> {{#equals normal 3}}－{{else}}{{formatPrice price}}{{/equals}}</span>
                    <span class="sale-volume">销量: {{#equals _USER_.currentCategory 12}}－{{else}}{{#if saleQuantity}}{{saleQuantity}}{{else}}0{{/if}}{{/equals}}</span></p>
                <p class="product-desc">
                  <a href="{{_ENV_HREF_.front}}/items/{{id}}?searchType=1{{#equals ../type "hall"}}?type=hall{{/equals}}" target="_blank" title="">{{{name}}}</a>
                </p>
                {{#equals showShop "0"}}
                {{else}}
                    <div class="product-owner"><a href="/eevees/shop?searchType=1&shopId={{shopId}}" target="_blank">{{shopName}}</a></div>
                    <div class="hide">{{json this.tags}}</div>
                    <span class="js-item-service product-services" style="float: left;" data-services="{{json services}}">
                        {{#each services}}
                        <span class="box" style="float:left; position:relative;">
                            <img src="{{iconSmall}}" alt="{{name}}" />
                            <span class="serviceName hide"> {{name}} </span>
                        </span>
                        {{/each}}
                    </span>      
                  {{#if this.tags}}
                    <div class="product-type">
                      {{#each this.tags}}
                        {{#equals this "mfacture:1"}}
                          <img class="js-quality" src="/lunatone/assets/images/other-images/type3.png" alt="品质制造"/>
                        {{/equals}}
                        <!--<div class="tooltips hide">-->
                        <!--<span>图标文字说明</span>-->
                        <!--<div class="triangle"></div>-->
                        <!--</div>-->
                      {{/each}}
                    </div>
                  {{/if}}
                  {{#if this.tags}}
                    <div class="product-tag">
                      {{#each this.tags}}
                        {{#equals this "environ:1"}}
                          <img class="js-env" src="/lunatone/assets/images/other-images/env.png" alt="环保"/>  <!-- 环保-->
                        {{/equals}}
                        {{#equals this "energy:1"}}
                          <img class="js-ene" src="/lunatone/assets/images/other-images/ene.png" alt="节能"/>  <!-- 节能-->
                        {{/equals}}
                      {{/each}}
                    </div>
                  {{/if}}

                {{/equals}}
                <span class="product-cart js-product-cart hide">
                    <button class="btn btn-zcy addToCart">
                        <i class="font12 icon-zcy icon-gouwuche2"></i>
                        加入购物车
                    </button>
                    <span class="font12 insert-compare js-compare-checkbox" data-itemid="{{id}}" id="{{id}}">
                        <span class="content">对比</span>
                    </span>
                    <div class="tooltips hide addToCartForm">

                    </div>
                </span>
            </li>
            </span>
        {{/each}}
    </ul>
    <table class="table table-fixed view-mode-list">
        <thead>
        <tr>
            <th width="5%" style="text-align: center;">对比</th>
            <th width="35%" style="padding-left: 102px;">商品</th>
            <th width="20%">商品类目</th>
            <th width="13%" style="">品牌</th>
            <th width="15%">型号</th>
            {{#equals normal 3}}
            {{else}}
              <th width="12%">销售价</th>
            {{/equals}}
        </tr>
        </thead>
        <tbody>
        {{#each this.entities.data}}
            <tr>
                <td style="text-align: center;">
                    <label class="font-12" for="compare">
                        <input type="checkbox" id="compare" class="compare-checkbox input-checkbox" data-itemid="{{id}}" value="{{id}}">
                    </label>
                </td>
                <td>
                    <img class="mainImage" src="{{cdnPath mainImage "82"}}" alt="{{name}}"/>
                    <div class="content">
                        <div class="product-name">
                            <a href="{{_ENV_HREF_.front}}/items/{{id}}?searchType=1{{#equals ../type "hall"}}?type=hall{{/equals}}" target="_blank" title="">{{{name}}}</a>
                        </div>
                        <div class="product-type">
                            <a href="/eevees/shop?searchType=1&shopId={{shopId}}" target="_blank">{{shopName}}</a>
                        </div>
                        <div class="hide">{{json tags}}</div>
                        <span class="js-item-service product-services" style="float: left;" data-services="{{json services}}">
                            {{#each services}}
                            <span class="box" style="float:left; position:relative;">
                                <img src="{{iconSmall}}" alt="{{name}}" />
                                <span class="serviceName hide"> {{name}} </span>
                            </span>
                            {{/each}}
                        </span>
                        {{#if tags}}
                            <div class="product-tag">
                                {{#each tags}}
                                    {{#equals this "mfacture:1"}}
                                        <img class="js-quality" src="/lunatone/assets/images/other-images/type3.png" alt="品质制造"/>
                                    {{/equals}}
                                    {{#equals this "environ:1"}}
                                        <img class="js-env" src="/lunatone/assets/images/other-images/env.png" alt="环保"/>  <!-- 环保-->
                                    {{/equals}}
                                    {{#equals this "energy:1"}}
                                        <img class="js-ene" src="/lunatone/assets/images/other-images/ene.png" alt="节能"/>  <!-- 节能-->
                                    {{/equals}}
                                {{/each}}
                            </div>
                        {{/if}}
                    </div>
                </td>
                <td title="{{categoryName}}" style="padding-right: 15px;">{{categoryName}}</td>
                <td title="{{brandName}}" style="padding-right: 15px;">{{brandName}}</td>
                <td title="{{specification}}" style="padding-right: 15px;">{{specification}}</td>
                {{#equals normal 3}}
                {{else}}
                  <td>{{_CURRENCY_}} <span class="price-style"> <span style="font-family: ArialMT; font-size:14px; margin-right:-3px;">&yen</span> {{formatPrice price}}</span></td>
                {{/equals}}
            </tr>
        {{/each}}
        </tbody>
    </table>
  {{else}}
    <div class="none-item-container bg">
        <div class="main-content">
            <img src="/lunatone/assets/images/other-images/none-item.png" alt=""/>
            <div class="announce-content">
                <span class="title">对不起！没有找到您想要查询的商品。</span>
                <span class="detail">
                    <p>您可用尝试以下操作：</p>
                    <p>1. 检查输入的文字是否有误，调整关键词输入;</p>
                    <p>2. 检查配送地是否选择正确;</p>
                    <p>3. 检查区划是否选择正确;</p>
                    {{#if this.isPurchaser}}
                      <p>4. 告诉供应商您想要找的商品, 发起 <a href="{{this.baseLocation}}/procurement/create" target="_blank">采购意向</a></p>
                    {{/if}}
                 </span>
            </div>
        </div>
    </div>
  {{/if}}
</div>


<div class="list-pagination">
    <div class="js-pagination" data-size="{{#if pageSize ~}}{{pageSize}}{{else}}50{{~/if}}"
         data-total="{{this.entities.total}}"></div>
</div>