{{!-- <div class="wc-spin spin-large hide">
    <div class="wc-spin-circle-bg"></div>
    <div class="wc-spin-circle">
        <div class="wc-spin-circle-mask"></div>
    </div>
    <div class="wc-spin-icon"><i class="icon-zcy icon-zcy-logo"></i></div>
</div> --}}
<div class="hide">{{json this}}</div>
{{#gt (size this.searchWithAggs.entities.data) 0}}
{{else}}
    {{#if this.shopId}}
        {{#assign "supplierNoGoods"}}supplierNoGoods{{/assign}}
    {{/if}}
{{/gt}}
{{#if this.supplierNoGoods}}
    <div class="supplier-no-goods">
        <img src="/lunatone/assets/images/other-images/no_goods.png">
        <span>该供应商没有上架商品</span>
    </div>
{{else}}
    <div class="nav-bar fix-nav-bar hide">
        <div class="filter filter-activity">
            <div class="filter-banner js-sort">
                <button class="btn btn-info btn-small js-item-sells">
                    销量
                    <i class="font12 icon-zcy icon-triangleup both"></i>
                    <i class="font12 icon-zcy icon-trianglebottom both"></i>
                </button>
                <button class="btn btn-info btn-small js-item-news">
                    最新
                    <i class="font12 icon-zcy icon-trianglebottom single"></i>
                </button>
                <button class="btn btn-info btn-small js-item-price">
                    价格
                    <i class="font12 icon-zcy icon-triangleup both"></i>
                    <i class="font12 icon-zcy icon-trianglebottom both"></i>
                </button>
            </div>
            {{#equals this.normal 3}}
            {{else}}
                <form class="form filter-form js-price-range">
                    <fieldset>
                        <input type="number" class="input-small p_f" name="p_f" value="{{p_f}}" placeholder="&yen 最低价">
                        <span id="forins"> - </span>
                        <input type="number" class="input-small p_t" name="p_t" value="{{p_t}}" placeholder="&yen 最高价">
                        <span class="js-price-filter hide">
                          <button type="button" class="btn btn-zcy btn-small js-filter-submit">确定</button>
                          <span class="btn btn-info btn-small js-filter-clear">清空</span>
                        </span>
                    </fieldset>
                </form>
            {{/equals}}
            {{#equals this.type "hall"}}
            {{else}}
                <span class="filter-checkbox">
                  <span class="box">
                      <input type="checkbox" class="input-checkbox js-has-goods" name="hasGoods" />
                      <span>仅显示有货</span>
                  </span>
                  <span class="box">
                      <input type="checkbox" class="input-checkbox js-energy" name="ene" />
                      <span>节能(节水)</span>
                  </span>
                  <span class="box">
                      <input type="checkbox" class="input-checkbox js-environ" name="env" />
                      <span>环保</span>
                  </span>
                  <span class="box">
                      <input type="checkbox" class="input-checkbox js-mfacture" name="mfacture" />
                      <span>品质制造</span>
                  </span>
                  <span class="box checkbox-ticketServ" style="display: none">
                      <input type="checkbox" class="input-checkbox js-ticketServ" name="上传票证服务" />
                      <span>上传票证</span>
                  </span>
                  <span class="box checkbox-deliveryServ" style="display: none">
                      <input type="checkbox" class="input-checkbox js-deliveryServ" name="送货上门服务" />
                      <span>送货上门</span>
                  </span>
                  <span class="box checkbox-installServ" style="display: none">
                      <input type="checkbox" class="input-checkbox js-installServ" name="上门安装服务" />
                      <span>上门安装</span>
                  </span>
                  <span class="box checkbox-region hide">
                      <input type="checkbox" class="input-checkbox js-region" name="region" />
                      <span>只看本区划</span>
                  </span>
                </span>
            {{/equals}}
            <div class="filter-search pull-right">
                <input type="text" class="search-input" autocomplete="off" placeholder="输入你要搜索的商品" />
                <button class="btn btn-primary btn-small search-button" id="search-button">搜索</button>
            </div>
        </div>
    </div>
    <div class="goods-search-list {{#equals this.type "hall"}}hall-search{{/equals}}">
        <div class="category-list"></div>

        <div class="filter filter-activity">
            <div class="filter-banner js-sort">
                <button class="btn btn-info btn-small js-item-sells">
                    销量
                    <i class="font12 icon-zcy icon-triangleup both"></i>
                    <i class="font12 icon-zcy icon-trianglebottom both"></i>
                </button>
                <button class="btn btn-info btn-small js-item-news">
                    最新
                    <i class="font12 icon-zcy icon-trianglebottom single"></i>
                </button>
                <button class="btn btn-info btn-small js-item-price">
                    价格
                    <i class="font12 icon-zcy icon-triangleup both"></i>
                    <i class="font12 icon-zcy icon-trianglebottom both"></i>
                </button>
            </div>
            {{#equals this.normal 3}}
            {{else}}
                <form class="form filter-form js-price-range">
                    <fieldset>
                        <input type="number" class="input-small p_f" name="p_f" value="{{p_f}}" placeholder="&yen 最低价">
                        <span id="forins"> - </span>
                        <input type="number" class="input-small p_t" name="p_t" value="{{p_t}}" placeholder="&yen 最高价">
                        <span class="js-price-filter hide">
                          <button type="submit" class="btn btn-zcy btn-small js-filter-submit">确定</button>
                          <span class="btn btn-info btn-small js-filter-clear">清空</span>
                        </span>
                    </fieldset>
                </form>
            {{/equals}}
            <div class="pull-right total-result">
                <span class="total" data-total="{{this.searchWithAggs.entities.total}}">共<span></span>个结果</span>
                <span class="custom-pagination">
                    <i class="icon-zcy icon-prev custom-prev" style="cursor: pointer;"></i>
                    <label class="active custom-pageNo"></label>/<label class="custom-total"></label>
                    <i class="icon-zcy icon-next custom-next" style="cursor: pointer;"></i>
                </span>
            </div>
        </div>
        <div class="filter" style="background-color: #fff;padding: 0 13px;margin-bottom: 20px;">
            <span class="deliveryAddress">

            </span>
            {{#equals this.type "hall"}}
            {{else}}
                  <div class="filter-checkbox">
                      <div class="filter-container">
                      <div class="content pull-left">
                         <span class="box">
                          <input type="checkbox" class="input-checkbox js-has-goods" name="hasGoods" />
                          <span>仅显示有货</span>
                      </span>
                      <span class="box">
                          <input type="checkbox" class="input-checkbox js-energy" name="ene" />
                          <span>节能(节水)</span>
                      </span>
                      <span class="box">
                          <input type="checkbox" class="input-checkbox js-environ" name="env" />
                          <span>环保</span>
                      </span>
                      <span class="box">
                          <input type="checkbox" class="input-checkbox js-mfacture" name="mfacture" />
                          <span>品质制造</span>
                      </span>
                      <span class="box checkbox-region hide">
                          <input type="checkbox" class="input-checkbox js-region" name="region" />
                          <span>只看本区划</span>
                      </span>
                      <span class="moreFilter" style="display: none;">
                          <span class="box checkbox-ticketServ" style="display: none;">
                              <input type="checkbox" class="input-checkbox js-ticketServ" name="上传票证服务" />
                              <span>上传票证</span>
                          </span>
                          <span class="box checkbox-deliveryServ" style="display: none;">
                              <input type="checkbox" class="input-checkbox js-deliveryServ" name="送货上门服务" />
                              <span>送货上门</span>
                          </span>
                          <span class="box checkbox-installServ" style="display: none;">
                              <input type="checkbox" class="input-checkbox js-installServ" name="上门安装服务" />
                              <span>上门安装</span>
                          </span>
                      </span>
                      </div>
                      <span class="show-more-filter" style="display: none;">
                          <a href="javascript:void(0);" class="js-show-more-filter">
                              <span>更多</span>
                              <i class="font-12 icon-zcy icon-xiangxiazhedie"></i>
                          </a>
                      </span>
                      </div>
                  </div>
            {{/equals}}
            <div class="pull-right view-mode">
              <span class="view-mode-type active" data-type="thumb">
                  <i class="icon-zcy icon-leimupinleifenleileibie"></i>大图
              </span>
              <span class="view-mode-type" data-type="list">
                  <i class="icon-zcy icon-list"></i>列表
              </span>
            </div>
        </div>

        <div class="goods-list"></div>
    </div>

    <div class="component-select-product js-select-product hide">
        <ul class="product-contrast-select">
            <!--<li class="product-contrast-li inner-content"><strong class="font-16">商品对比</strong></li>-->
            <li class="product-contrast-li select-function hide-mydefine pull-right">
                <div class="btn btn-medium anon-contrast">开始对比</div>
                <div class="clear-hide-oper">
                    <a href="javascript:void(0);" class="empty-compare-product">清空</a>
                    <a href="javascript:void(0);" class="close-compare-module">隐藏</a>
                </div>
            </li>
        </ul>
    </div>
{{/if}}

