{{#component "js-comp common-ihref"}}
  {{#if ifVaccine}}
    {{#of _USER_.currentCategory "99,12,01,03,06"}}
      {{#equals _USER_.currentCategory "01"}}
        {{#of _USER_.detailCategory "010401,010402,010403"}}
          <a href="{{#if href}}{{href}}{{else}}/{{/if}}" data-hover-color="{{hoverColor}}"
             data-color="{{color}}"
             {{#if newPage}}target="_blank"{{/if}} style="font-size: {{fontSize}}px;">{{#if
            text}}{{text}}{{else}}
            默认文本{{/if}}</a>

        {{else}}
          <a href="https://vaccine.zcy.gov.cn/pages/no_permission" data-hover-color="{{hoverColor}}"
             data-color="{{color}}"
             {{#if newPage}}target="_blank"{{/if}} style="font-size: {{fontSize}}px;">{{#if
            text}}{{text}}{{else}}
            默认文本{{/if}}</a>
        {{/of}}

      {{else}}

        <a href="{{#if href}}{{href}}{{else}}/{{/if}}" data-hover-color="{{hoverColor}}"
           data-color="{{color}}"
           {{#if newPage}}target="_blank"{{/if}} style="font-size: {{fontSize}}px;">{{#if
          text}}{{text}}{{else}}
          默认文本{{/if}}</a>

      {{/equals}}

    {{else}}
      <a href="https://vaccine.zcy.gov.cn/pages/no_permission" data-hover-color="{{hoverColor}}"
         data-color="{{color}}"
         {{#if newPage}}target="_blank"{{/if}} style="font-size: {{fontSize}}px;">{{#if
        text}}{{text}}{{else}}
        默认文本{{/if}}</a>
    {{/of}}
    <div style="display: none">{{json this}}</div>
  {{else}}
    <a href="{{#if href}}{{href}}{{else}}/{{/if}}" data-hover-color="{{hoverColor}}"
       data-color="{{color}}"
       {{#if newPage}}target="_blank"{{/if}} style="font-size: {{fontSize}}px;">{{#if
      text}}{{text}}{{else}}
      默认文本{{/if}}</a>
  {{/if}}
  <div class="hide dataStore" data-showdc="{{showDistrictCode}}" data-ifimg="{{ifimg}}">{{json this}}</div>
{{/component}}
