{{#component ""}}
{{!-- 
{
  "deliverMethod":"送货方式", 
  "deliverTime":"送货时间",
  "deliverTimeLimit":"送货期限",
  "deliverAddressList":["北京市西城区","上海市奉贤区"], 
  "deliverDesc":"备注"
} 
--}}
<section>
  <h2>收货信息</h2>
  <table class="table table-fixed table-fixed-ie8">
    <tbody>
      <tr>
        <td>送货方式</td>
        <td>{{deliverMethod}}</td>
        <td>送货时间</td>
        <td>{{deliverTime}}</td>
        <td>送货期限</td>
        <td>合同签订后{{deliverTimeLimit}}工作日</td>
      </tr>
      <tr>
        <td>送货地址</td>
        <td colspan="5">
          {{#each deliverAddressList}} {{deliveryAdress}} <br/>{{/each}}
        </td>
      </tr>
      <tr>
        <td>备注</td>
        <td colspan="5">{{deliverDesc}}</td>
      </tr>
    </tbody>
  </table>
</section>
{{/component}}