{{#component "item-publish-with-item"}}
  <input type="hidden" name="id" value="{{_DATA_.item.id}}">
  <input type="hidden" name="spuId" value="{{_DATA_.item.spuId}}">
  <input type="hidden" name="categoryId" value="{{_DATA_.item.categoryId}}">
  <input type="hidden" name="status" value="{{_DATA_.item.status}}">
  <input type="hidden" name="isVaccine" value="{{_DATA_.item.tags.vaccine}}">
  <span class="kaneData">{{json _DATA_}}</span>
  {{#with _DATA_}}
    {{> component:seller/item_publish/common/other_templates/base_info}}
  {{/with}}
  {{#if _DATA_.otherAttrs}}
    {{#each _DATA_.otherAttrs}}
      {{#equals group "普通属性"}}
        {{> component:seller/item_publish/common/other_templates/default_attrs attrGroup="普通属性,SPU"}}
      {{else}}
        {{#of group "服务信息,政策信息"}}
          {{> component:seller/item_publish/common/other_templates/other_attrs attrGroup="服务信息,政策信息"}}
        {{else}}
          {{#of group "USER_DEFINED"}}
          {{else}}
            {{> component:seller/item_publish/common/other_templates/attrs_temp}}
          {{/of}}
        {{/of}}
      {{/equals}}
    {{/each}}
  {{else}}
  {{/if}}

  {{#isEmpty _DATA_.skuAttrs}}
  {{else}}
    {{#with _DATA_}}
      {{> component:seller/item_publish/common/other_templates/sku_attrs spuId=item.spuId}}
    {{/with}}
  {{/isEmpty}}

  {{#with _DATA_}}
    {{> component:seller/item_publish/common/other_templates/price_stock skuAndStocks=skuAndStocks skus=skus isVaccine=item.tags.vaccine}}
  {{/with}}

  {{> component:seller/item_publish/common/other_templates/user_defined_attrs}}

  {{#with _DATA_}}
    {{> component:seller/item_publish/common/other_templates/rich_editor data=richText}}
  {{/with}}

{{/component}}
