<div class="form-section section-top-bottom clearfix">
  <div class="hide">{{json _ROLES_}}</div>
  <span class="section-title">网超协议</span>
  <div class="section-content clearfix">
    <div class="clearfix">
      <div class="form-left">
        <div class="control-group">
          <label class="group-title line-title">协议编号：</label>
          <div class="group-content">
          	<span class="sa_span">{{_ROLES_.agreementNo}}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="group-title line-title">供应商：</label>
          <div class="group-content">
          	<span class="sa_span">{{_ROLES_.supplierName}}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="group-title line-title">商品类目：</label>
          <div class="group-content">
          	<span class="sa_span">{{_ROLES_.category}}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="group-title line-title">有效时间：</label>
          <div class="group-content">
          	<span class="sa_span">{{_ROLES_.effectiveDate}}至{{_ROLES_.expiryDate}}</span>
          </div>
        </div>
      </div>
      <div class="form-right">
        <div class="control-group">
          <label class="group-title line-title">协议名称：</label>
          <div class="group-content">
          	<span class="sa_span">{{_ROLES_.agreementName}}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="group-title line-title">销售区域：</label>
          <div class="group-content">
          	<span class="sa_span">{{_ROLES_.salesDistrictName}}</span>
          </div>
        </div>
        <div class="control-group">
          <label class="group-title line-title">优惠率：</label>
          <div class="group-content">
          	<span class="sa_span js-wc-rate" data-rate="{{_ROLES_.discount}}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
