{{#component "component-inquiry-protocol-batch js-comp"}}
<div class="hide">
  {{json}}
</div>
<input type="hidden" name="lasvegasPath" value="{{_ENV_HREF_.lasvegas}}">
<input type="hidden" id="frontPath" value="{{_ENV_HREF_.front}}">
<div class="inquiry-protocol-batch-container">
  <div class="inquiry-title">
    <h1>{{_BASE_.title}}</h1>
    <br/>
    <ul>
      <li>日期：
        <span>{{formatDate _BASE_.announcementStartTime 'yyyy-MM-dd'}}</span>
      </li>
    </ul>
  </div>
  <div class="inquiry-info">
    {{inject "inquiryHall_protocol/templates/detail_base"
      beginTime=_BASE_.requireStartTime
      endTime=_BASE_.requireEndTime
      tradeMethod=_BASE_.requireTypeName
      packageTime=_BASE_.requireStartTime
      packageMethod=_BASE_.packMethod
      packageAreaList=_BASE_.asPackAnnouncementDtoList
      supplierRule=_BASE_.supplierRequire
    }}
     {{inject "inquiryHall_protocol/templates/info_good"
      goodCatalog=_BASE_.catalogName
      total=_GOOD_.total
      goodList=_GOOD_.data
      biddingMethod=_BASE_.requireTypeName
    }}
    {{inject "inquiryHall_protocol/templates/batch_result"
      total=_RESULT_.total
      resultList=_RESULT_.data
    }}
    {{inject "inquiryHall_protocol/templates/info_relation"
      requirePackResultName=_BASE_.requirePackResultName
      requirePackResultId=_BASE_.requirePackResultId
      requireName=_BASE_.requireName
      requireId=_BASE_.requireId
    }}
  </div>
</div>
{{/component}}