<div class="category category-{{extras.level}} js-comp js-category-component" id="{{extras.level}}" data-comp-path="seller/brand_creat/category" data-type="backCategory">
  <div class="category-header">
    <p class="item-name-p"><strong class="item-name">
      {{#equals extras.level 1}}{{i18n "First Category" bundle="all_mix"}}{{/equals}}
      {{#equals extras.level 2}}{{i18n "Second Category" bundle="all_mix"}}{{/equals}}
      {{#equals extras.level 3}}{{i18n "Third Category" bundle="all_mix"}}{{/equals}}
      {{#equals extras.level 4}}{{i18n "Fourth Category" bundle="all_mix"}}{{/equals}}
      {{#equals extras.level 5}}{{i18n "Product SPU" bundle="all_mix"}}{{/equals}}
    </strong></p>
  </div>
  <div class="form category-body">
    <div class="search-item">
      <div class=" search-item-group">
        <i class="icon-mewtwo icon-mewtwo-search"></i>
        <input type="text" class="search-item-input js-search-item-bc" placeholder="{{i18n "Search" bundle="all_mix"}}">
      </div>
    </div>
    <div class="top-li"></div>
    <ul class="divide-ul">
      {{#equals extras.level 5}}
        {{#each data}}
          <li class="divide-li-bc" data-category="{{pp this}}" id="{{id}}" code="{{code}}">
            <div class="normal-status">
              {{#equals hasChildren "true"}}<i class="icon-mewtwo icon-mewtwo-right next"></i>{{/equals}}
              <a href="javascript:void(0);" class="item-pop"><span>{{name}}</span></a>
            </div>
          </li>
        {{/each}}
      {{else}}
        {{#each data}}
          <li class="divide-li-bc" data-category="{{pp this}}" id="{{id}}" code="{{code}}">
            <div class="normal-status">
              {{#equals hasChildren "true"}}<i class="icon-mewtwo icon-mewtwo-right next"></i>{{/equals}}
              <a href="javascript:void(0);" class="item-pop"><span>{{name}}</span></a>
            </div>
          </li>
        {{/each}}
      {{/equals}}
    </ul>
  </div>
</div>
