{{#component "item-publish product-log-warp clearfix js-comp"}}
  {{!-- <div>{{json _DATA_}}</div> --}}
  <span class="section-title">流转日志</span>
  <div class="section-content clearfix log-box">
    <ul>
      {{#each _DATA_}}
        <li class="clearfix">
          <span class="mark"></span>
          <div class="log-time">{{createAt}}</div>
          <div class="log-company text-overflow" title="{{creatorOrg}}">{{creatorOrg}}</div>
          <div class="log-name text-overflow" title="{{creatorName}}">{{creatorName}}</div>
          {{#equals auditResult "SUBMIT_FIRST_AUDIT"}}
            {{#equals type 0}}
              <div class="log-message" data-type="3">商品上架申请</div>
            {{/equals}}
            {{#equals type 1}}
              <div class="log-message" data-type="3">价格上涨申请</div>
            {{/equals}}
          {{/equals}}
          {{#equals auditResult "AUDIT_APPROVE"}}
            <div class="log-message" data-type="0">审核通过</div>
          {{/equals}}
          {{#equals auditResult "AUDIT_REJECT"}}
            <div class="log-message" data-type="1">审核不通过</div>
          {{/equals}}
          {{#equals auditResult "FIRST_AUDIT_APPROVE"}}
            <div class="log-message" data-type="0">初审通过</div>
          {{/equals}}
          {{#equals auditResult "FIRST_AUDIT_REJECT"}}
            <div class="log-message" data-type="1">初审不通过</div>
          {{/equals}}
          {{#equals auditResult "FINAL_AUDIT_APPROVE"}}
            <div class="log-message" data-type="0">终审通过</div>
          {{/equals}}
          {{#equals auditResult "FINAL_AUDIT_REJECT"}}
            <div class="log-message" data-type="0">终审不通过</div>
          {{/equals}}
          {{#equals auditResult "FREEZE"}}
            <div class="log-message" data-type="1">商品冻结</div>
          {{/equals}}
          {{#equals auditResult "UNFREEZE"}}
            <div class="log-message" data-type="0">商品解冻</div>
          {{/equals}}
          {{#equals auditResult "APPLY_UNFREEZE"}}
            <div class="log-message" data-type="0">申请解冻</div>
          {{/equals}}
          {{#equals auditResult "CANCEL_AUDIT"}}
            <div class="log-message" data-type="0">撤消审核</div>
          {{/equals}}
          <div class="log-explain">{{auditComment}}</div>
        </li>
      {{/each}}
    </ul>
  </div>
{{/component}}