<thead class="{{#if DATA.empty}}hide{{/if}}">
<tr>
  <td width="20%">成交时间</td>
  <td width="25%">采购单位</td>
  <td width="20%" class="price">成交价（元）</td>
  <td width="15%">成交数量</td>
  <td width="20%" class="price">成交总价（元）</td>
</tr>
</thead>
<tbody class="js-record-list">
{{#if DATA.empty}}
  <tr style="border:none;height:20px;">
    <td colspan="6" class="no-record"><i class="icon-zcy icon-prompt"></i>该商品暂无成交完成记录。</td>
  </tr>
{{else}}
  {{#each DATA.data}}
    <tr>
      <td title="{{formatDate dealDate "YYYY/MM/DD"}}">{{formatDate dealDate "YYYY/MM/DD"}}</td>
      <td title="{{purchaseOrgName}}">{{purchaseOrgName}}</td>
      <td title="{{dealUnitPrice}}">￥{{formatPrice dealUnitPrice}}</td>
      <td title="{{dealCount}}">{{dealCount}}</td>
      <td title="{{dealTotalPrice}}" class="dealTotal">￥{{formatPrice dealTotalPrice}}</td>
    </tr>
  {{/each}}
{{/if}}
</tbody>
<tfoot class="{{#if DATA.empty}}hide{{else}}{{#gt DATA.size DATA.total}}hide{{/gt}}{{/if}}">
<tr>
  <td colspan="5">
    <div class="js-pagination  pull-right"></div>
  </td>
</tr>
</tfoot>