{{#if this}}
    {{#each this}}
      <li class="clearfix">
        <span class="promise-icon">
            <a href="{{this.descriptionUrl}}" target="_blank">
                <img src="{{this.icon}}" alt="{{this.name}}"/>
            </a>
        </span>
        <div class="promise-detail">
          <h4>{{this.name}}</h4>
          <p>{{this.description}}</p>
        </div>
      </li>
    {{/each}}
{{else}}
    <li class="clearfix none-promise">
        <div class="none-service-promise">
            <p><i class="icon-zcy icon-prompt"></i>该商品在当前配送地暂不提供服务</p>
        </div>
    </li>
{{/if}}