{{#if data}}
  <div class="evaluate-contents">
    <div class="evaluate-tabs">
      <ul class="clearfix">
        <li data-filter="all" class="{{#equals data.filter "all"}}active{{/equals}}">
          全部评价{{data.totalNum}}
        </li>
      <!-- <li data-filter="append" class="{{#equals data.filter "append"}}active{{/equals}}">
          显示追评 {{data.totalAppend}}
        </li>-->
      </ul>
    </div>
    <div class="evaluate-content ">
      <ul>
        {{#each data.evaluateItems}}
          <li class="clearfix">
            <div class="evaluator-info">
              <span>{{evaluateItem.departName}}</span>
            </div>
            <div class="evaluate-detail">
              <div class="star-wrap">
                <span class="back-star"></span>
                <span class="front-star" style="width:{{evaluateItem.starNum}}%"></span>
              </div>
              <p>{{#if evaluateItem.content}}{{evaluateItem.content}}{{else}}该商品暂无评价信息。{{/if}}</p>
              <div class="evaluate-imgs">
                {{#each evaluateItem.urlLst}}
                  <span style="background:url({{this}}) no-repeat center/contain"></span>
                {{/each}}
              </div>
              <div class="goods-info">
                <span>{{formatDate evaluateItem.createTime}}</span>
              </div>
              {{#if evaluateItems}}
                {{#each evaluateItems}}
                  <div class="chase-ratings"><b>[追评]</b> {{this.content}}</div>
                  <div class="goods-info">
                    <!--<span>玫瑰金</span>
                    <span>512GB闪存</span>-->
                    <span>{{formatDate this.createTime}}</span>
                  </div>
                {{/each}}
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="js-pagination common-pagination" data-total="{{data.totalNum}}"></div>
  </div>
{{/if}}
