{{#component "component-goods-category-tree js-comp"}}
    {{#equals searchType 1}}
        <div class="left" {{#if marginTop}}style="margin-top:{{marginTop}}"{{/if}}>
            {{inject "zcyEvEtemp/comps/goodsCategoryTree"}}
        </div>
        <div class="right">
            {{inject "zcyEvEtemp/comps/goods_search"}}
        </div>

        {{else}}
            <div class="full-right">
                {{inject "zcyEvEtemp/comps/goods_search"}}
            </div>
    {{/equals}}
{{/component}}