{{#each data}}
  <div class="address-block {{#if isDefault}}active{{/if}}
    {{#gt @index 3}}extra{{/gt}}" data-address="{{json this}}">
    <div class="contact-person"><span class="name" title="{{receiverName}}">{{receiverName}}</span>&nbsp;&nbsp;{{mobile}}</div>
    <div class="address-detail" title="{{province}}&nbsp;{{city}}&nbsp;{{region}}&nbsp;{{street}}&nbsp;{{details}}">
      {{province}}&nbsp;{{city}}&nbsp;{{region}}&nbsp;{{street}}&nbsp;{{details}}
    </div>
    <div class="additions">
      {{#if isDefault}}
        <span class="text-info default-addr-tag">默认</span>
      {{else}}
        <a class="hover-sign set-default-address" href="javascript:void(0)" data-id="{{id}}">设为默认</a>
      {{/if}}
      {{#if ../editAble}}
        <a class="hover-sign update-address" href="javascript:void(0)">修改</a>
      {{/if}}
    </div>
    <div class="active-sign angle">&check;</div>
  </div>
{{/each}}
<div class="foot-operations">
  {{#gt (size data) 4}}
    <a href="javascript:void(0)" class="expand-all">展开全部</a>
  {{/gt}}
  <a href="javascript:void(0)" class="create-address">添加收货地址</a>
  <a href="javascript:void(0)" class="manage-address">管理地址</a>
</div>