{{#ifCond this.total "==" 0}}
    <tr>
        <td colspan="4" style='text-align:center;'>暂时没有交易记录</td>
    </tr>
{{else}}
    {{#each this.data}}
    <tr>
        <td title="{{purchaserName}}">{{purchaserName}}</td>
        <td title="{{carType}}">{{carType}}</td>
        <td title="{{formatPrice insuranceAmount}}">{{formatPrice insuranceAmount}}</td>
        <td title="{{formatDate updateAt}}">{{formatDate updateAt "YYYY-MM-DD"}}</td>
    </tr>
    {{/each}}
{{/ifCond}}