{{#component "order-plan-manage js-comp clearfix"}}
  {{! 权限判断}}
  {{#equals _USER_.type 1}}
    {{#equals _DATA_.order.hasRecord false}}
      {{#ifCond _DATA_.order.status "!=" 10}}
        {{#ifCond _DATA_.order.status "!=" -5}}
          {{#equals _DATA_.order.purchaserId _USER_.id}}
            {{#assign "editAble"}}editAble{{/assign}}
          {{/equals}}
        {{/ifCond}}
      {{/ifCond}}
    {{/equals}}
  {{/equals}}
  {{#if editAble}}
    <input type="hidden" id="order-plan-manage-type" value="edit">
  {{/if}}
  <input type="hidden" class="js-order-id" value="{{orderId}}">
  <div class="js-purchase-plan-part">
    {{#if editAble}}
      <p class="clearfix">
        {{#equals _DATA_.order.needContract true}}  {{!-- 需要合同的订单在订单详情页中替换确认书按钮置灰 --}}
        <a class="btn btn-info btn-small pull-right js-bind-purchase-plan disabled">
          {{#equals _DATA_.order.orderType 3}}
            关联确认书
          {{else}}
            替换确认书
          {{/equals}}
        </a>
        {{else}}
        <a class="btn btn-info btn-small pull-right js-bind-purchase-plan">
          {{#equals _DATA_.order.orderType 3}}
             关联确认书
          {{else}}
             替换确认书
          {{/equals}}
        </a>
        {{/equals}}
      </p>
    {{/if}}
    <div class="requisition-items-list">
      <div>
        <table class="table">
          <thead>
          <tr>
            <th width="20%">商品名称</th>
            <th width="15%">采购目录</th>
            <th width="7%">小计数量</th>
            <th width="10%">小计金额（元）</th>
            <th width="10%">未关联数量</th>
            <th width="10%">未关联金额（元）</th>
            <th width="8%">状态</th>
            <th width="20%">关联计划书</th>
          </tr>
          </thead>
          <tbody>
          {{#each items}}
            <tr data-item="{{json this}}">
              <td>{{orderItem.itemName}}</td>
              <td class="js-item-catalog" data-catalog="{{json catalogNodes}}"></td>
              <td>{{orderItem.quantity}}</td>
              <td class="js-purchase-money" data-price="{{orderItem.skuPrice}}" data-count="{{orderItem.quantity}}" data-decrease-rate="{{orderItem.extra.decreaseRate}}">
                {{formatPrice orderItem.fee}}
              </td>
              <td>{{orderItem.bindRemainQuantity}}</td>
              <td>{{formatPrice unBindAmount}}</td>
              <td>
                {{#equals bindStatus 0}}<span class="red-text">未关联</span>{{/equals}}
                {{#equals bindStatus 2}}<span class="red-text">部分关联</span>{{/equals}}
                {{#equals bindStatus 1}}<span class="green-text">完成关联</span>{{/equals}}
              </td>
              <td class="js-order-plans" data-orders="{{json orderPays}}">
                {{#if editAble}}
                  {{#each orderPays}}
                    <div class="purchase-plan-box js-purchase-plan-item" data-plan="{{json this}}" data-pop="">
                      <div class="purchase-plan-no">
                        <a href="{{_ENV_HREF_.middle}}/purchaseplan/list/detail?id={{confirmationId}}"
                           target="_blank">{{confirmationName}}</a>
                      </div>
                      {{#equals _DATA_.order.needContract true}}
                      <button class="btn btn-small btn-info js-modify-purchase-plan-item disabled">修改关联</button>
                      <button class="btn btn-small btn-info js-cancel-purchase-plan-item disabled">取消关联</button>
                      {{else}}
                      <button class="btn btn-small btn-info js-modify-purchase-plan-item">修改关联</button>
                      <button class="btn btn-small btn-info js-cancel-purchase-plan-item">取消关联</button>
                      {{/equals}}
                    </div>
                  {{/each}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="pur-all-payments js-pur-all-payments">
      本次总使用情况
      <table class="table">
        <tbody>
        <tr>
          <td width="33%">已关联采购计划总额(元)：<span class="price currency">{{formatPrice confirmationFee}}</span></td>
          <td width="33%">计划外资金总额(元)：<span class="price currency">{{formatPrice otherFee}}</span></td>
          <td width="34%">订单总额(元)：<span class="price currency">{{formatPrice actuallyFee}}</span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="bottom-tips">
      <p>
        限定资产目录：商品所属采购目录必须与计划书采购目录完全相同<br>
        非限定资产目录：商品所属采购目录的父级二级目录必须是计划书内采购目录的父级（例：二级目录A09办公消耗用品及类似物品，三级目录A0901纸制文具及办公用品，三级目录A0902 硒鼓、粉盒，如果申请了A0902，即可购买A0901的商品）
      </p>
    </div>
  </div>
{{/component}}