{{#component "supperPro-shelf js-comp"}}
  <input type="hidden" class="js-vaccine-tag" value="{{isVaccine}}">
  <span class="treeData" style="display: none;">{{_TREE_}}</span>
  <div class="hide">{{json}}</div>
  <div class="component-header">
    <div name="auditStatus" class="tab" data-type="switchable">
        <ul class="tab-navs clearfix">
          <li value=""><a href="javascript:;">全部<span class="tab-label"></span></a></li>
            {{!-- {{#of "1" _ROLES_}} --}}
            <li value="1"><a href="javascript:;">待初审<span class="tab-label"></span></a></li>
          {{!-- {{/of}} --}}
           {{!-- {{#of "2" _ROLES_}} --}}
            <li value="2"><a href="javascript:;">待终审<span class="tab-label"></span></a></li>
          {{!-- {{/of}} --}}
            <li value="3"><a href="javascript:;">审核通过<span class="tab-label"></span></a></li>
            <li value="0"><a href="javascript:;">审核不通过<span class="tab-label"></span></a></li>
        </ul>
    </div>
  </div>
  <div class="component-body">
      <div class="pt-lg pr-lg pb-lg pl-lg" style="width: 100%;">
          <div class='search-panel'>
          <table>
            <input type="text" class="hide supplierNameStore search" name="supplierName"/>
              <tr>
                  <td class="search-label">
                      供应商名称：
                  </td>
                  <td>
                      <select name="shopId" class="search noselectric">
                        {{#if shopId}}
                          <option value="{{shopId}}">{{supplierName}}</option>
                        {{/if}}
                          {{!-- <option value="">请选择</option>
                          {{#each _SUPPLIERS_}}
                              <option value="{{shopId}}">{{supplierName}}</option>
                          {{/each}} --}}
                      </select>
                  </td>
                  <td class="search-label">
                      商品ID：
                  </td>
                  <td>
                      <input type="text" class="search" name="itemId" placeholder="请输入">
                  </td>
              </tr>
              <tr>
                  <td class="search-label">
                      商品名称：
                  </td>
                  <td>
                      <input type="text" class="search" name="itemName" placeholder="请输入">
                  </td>
                  <td class="search-label">
                      申请日期：
                  </td>
                  <td>
                    <input type="text" class="search date-input" name="createdAtStart" placeholder="开始日期">&nbsp;&nbsp;-&nbsp;&nbsp;
                    <input type="text" class="search date-input" name="createdAtEnd" placeholder="结束日期">
                  </td>
                  <td width="100%"></td>
                  <td>
                      <button class="btn btn-minor mr-sm" id="searchBtn">搜索</button>
                  </td>
                  <td>
                      <button class="btn btn-ghost" id="resetBtn">重置</button>
                  </td>
              </tr>
          </table>
      </div>
          <div class="item-list">
      <table class="table  item-manage-table">
        <thead>
        <tr>
          <th width="24"><input type="checkbox" class="js-batch-select input-checkbox" autocomplete="off"></th>
          <th class="left-text">供应商名称</th>
          <th width="110">类目</th>
          <th>商品名称</th>
          <th>下浮率</th>
          <th width="100">类别</th>
          <th width="110">申请时间</th>
          <th width="70">状态</th>
          <th width="110" class="td-operation">操作</th>
        </tr>
        </thead>
        <tbody>
          {{#each _DATA_.data}}
          <tr data-state="{{auditStatus}}"  data-id="{{id}}">
            <td><input type="checkbox" class="js-item-select input-checkbox" autocomplete="off"></td>
              <td>{{supplierName}}</td>
            <td>{{categoryName}}</td>
            <td><a href="/items/{{itemId}}" target="_blank">{{itemName}}</a></td>
            <td class="text-warn">
              {{#if extDto}}
                {{#each extDto.rateDtos}}
                  {{#if tenderName}}
                    <div>{{tenderName}}&nbsp;&nbsp;{{formatPrice decreaseRate}}%</div>
                  {{/if}}
                {{/each}}
              {{else}}
                {{#equals minDecreaseRate maxDecreaseRate}}
                  {{formatPrice minDecreaseRate}}%
                {{else}}
                  {{formatPrice minDecreaseRate}}%-{{formatPrice maxDecreaseRate}}%
                {{/equals}}
              {{/if}}
            </td>
            <td class="text-link">
              {{#equals type "0"}}上架申请{{/equals}}
              {{#equals type "1"}}价格上涨{{/equals}}
              {{#equals type "3"}}价格下降{{/equals}}
            </td>
            <td>{{createdAt}}</td>
            {{#equals auditStatus "0"}}<td>审核不通过</td>{{/equals}}
            {{#equals auditStatus "1"}}<td class="text-success">待初审</td>{{/equals}}
            {{#equals auditStatus "2"}}<td class="text-warn">待终审</td>{{/equals}}
            {{#equals auditStatus "3"}}<td>审核通过</td>{{/equals}}
            <td class="td-operation">
              <a href="/seller/supperPro/item-check-list/item-check-detail?itemId={{itemId}}&supperPro=true&tag=blocktrade" target="_blank">商品详情</a>
              {{#of "1" ../_ROLES_}}
                {{#equals auditStatus "1"}}<a href="/seller/supperPro/item-check-list/item-check-detail?itemId={{itemId}}&type=1&itemAuditId={{id}}&supperPro=true&tag=blocktrade">初审</a>{{/equals}}
              {{else}}
                {{#equals auditStatus "1"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{/equals}}
              {{/of}}
              {{#of "2" ../_ROLES_}}
                {{#equals auditStatus "2"}}<a href="/seller/supperPro/item-check-list/item-check-detail?itemId={{itemId}}&type=2&itemAuditId={{id}}&supperPro=true&tag=blocktrade">终审</a>{{/equals}}
              {{else}}
                {{#equals auditStatus "2"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{/equals}}
              {{/of}}
              {{#of auditStatus "0,3"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{/of}}
            </td>
          </tr>
          {{/each}}

        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
                <input type="checkbox" class="js-batch-select input-checkbox" autocomplete="off">
                <button class="btn btn-medium btn-info js-item-checkall" disabled>批量审核</button>
            </td>
            <td colspan="7" class="td-operation"><div class="item-pagination" data-total="{{_DATA_.total}}" data-size="{{#if pageSize ~}}{{pageSize}}{{else}}10{{~/if}}"></div></td>
          </tr>
        </tfoot>
      </table>
    </div>
      </div>
  </div>
{{/component}}
