{{#component "nav-eevee js-comp"}}
<div class="hide">{{json this}}</div>
<div class="nav-categorys" {{#if bgColor}}style="background-color: {{bgColor}}"{{/if}}>
  <ul class="nav-categorys-container">
  {{#each _DATA_}}
  <li data-id="{{current.id}}" class="first-category-li">
    <div class="first-category jShowAll" title="{{current.name}}"><i class="icon-zcy icon-jiahao "></i><span>{{current.name}}</span></div>
    <div class="child-second-category">
      <ul class="second-category">
        {{#each children}}
          <li class="category-li" data-id="{{current.id}}">
            <div class="child-category" title="{{current.name}}">{{current.name}}</div>
            <div class="expand-panel">
              <ul class="expand-category" style="left:200px;">
                {{#each children}}
                    <li>
                      <a class="child-name" href="{{../../_HREF_.main}}?normal=2&type=vaccine&fcid={{current.id}}">{{current.name}}</a>
                    </li>
                {{else}}
                  <li>
                    <a class="child-name child-empty" href="javascript:;">&nbsp;</a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </li>
  {{/each}}
  </ul>
</div>
{{/component}}