{{#if data}}
  {{#each data}}
    <li class="pull-left delivery-template">
      <label><input type="radio" name="delivery-template" data-name="{{name}}" class="input-radio" value="{{id}}" {{#if @root.deliveryId}}{{#equals id @root.deliveryId}}checked{{/equals}}{{else}}{{#if isDefault}}checked{{else}}{{#if @first}}checked{{/if}}{{/if}}{{/if}}> {{name}}</label>
    </li>
  {{/each}}
{{else}}
  <li>
    <label>还没有发货区域模板，快去<strong><a href="/seller/delivery" target="_blank">创建</a></strong>吧！</label>
  </li>
  <li>
    <label>已经创建了发货区域模板？<a href="javascript:void(0);" class="js-get-delivery">点击获取发货区域模板</a></label>
  </li>
{{/if}}
