<label>涨价明细：</label>
<div class="skus">
  {{#each skus}}
    <div>
      <span class="sku-attrs" title="{{#each attrs}}{{attrKey}}：{{attrVal}}&nbsp;{{/each}}">{{#each attrs}}{{attrKey}}：{{attrVal}}&nbsp;{{/each}}</span>
      &nbsp;&nbsp;<span class="old-price">原：{{formatPrice originPrice}}</span>
      &nbsp;&nbsp;<span class="price">改：{{formatPrice price}}</span>
    </div>
  {{/each}}
</div>
