{{#component "heading js-comp"}}
<h3 class="heading-title">{{i18n "Product Search" bundle="all_mix"}}</h3>
<div class="shop-inner-search">
  <div class="search-body">
    <form class="form form-aligned shop-search-form" data-shop-id="{{shopId}}">
      <fieldset>
        <div class="control-group">
          {{#if shopId}}<input type="hidden" name="shopId" value="{{shopId}}">{{/if}}
          <label for="">{{i18n "Keywords" bundle="all_mix"}}：</label>
          <input type="text" class="input-word" name="q" value="{{q}}">
        </div>
        <div class="control-group">
          <label for="">{{i18n "Price" bundle="all_mix"}}：</label>
          <input class="input-price" type="text" name="p_f" value="{{p_f}}">
          -
          <input class="input-price" type="text" name="p_t" value="{{p_t}}">
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn" value="{{i18n "Search " bundle="all_mix"}}">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{{/component}}
