{{#component "component-items-supplierSearch-list js-comp"}}
    <div class="hide">{{json this}}</div>
  {{#gt (size _DATA_.entities.data) 0}}
  {{else}}
    {{#if shopId}}
      {{#assign "supplierNoGoods"}}supplierNoGoods{{/assign}}
    {{/if}}
  {{/gt}}
  {{#if supplierNoGoods}}
    <div class="supplier-no-goods">
      <img src="/lunatone/assets/images/other-images/no_goods.png">
      <span>该供应商没有上架商品</span>
    </div>
  {{else}}
    <div class="items-search-list {{#equals type "hall"}}hall-search{{/equals}}">
      <div class="current-location-dark clearfix" data-user="{{_USER_}}">
        <span class="items-total" data-total="{{_DATA_.entities.total}}">{{i18n "Total" bundle="all_mix"}}{{#if _DATA_.entities.total}}{{_DATA_.entities.total}}{{else}}0{{/if}}{{i18n "x item(s)" bundle="all_mix"}}</span>
        {{#equals normal 3}}
        {{else}}
          <button class="btn btn-info print-btn pull-right js-print-search-result" type="button">搜索结果打印</button>
        {{/equals}}
        <span class="current-location-span">
        {{#each _DATA_.breadCrumbs}}
          <a class="font-12 js-bread-category-selector" href="javascript:void(0)" data-id="{{id}}" data-top-id="{{topId}}">{{name}}</a>&nbsp;&nbsp;<i class="font-12 icon-zcy icon-nextstep"></i>&nbsp;
        {{/each}}
          {{#each _DATA_.chosen}}
            {{#of type "1,2,4"}}
              <a class="bread-selector font-12 {{#equals type 1}}js-bread-brand-selector{{else}}{{#equals type 2}}js-bread-property-selector{{else}}js-bread-catalog-selector{{/equals}}{{/equals}}" href="javascript:void(0)" data-id="{{key}}" data-selector="{{key}}:{{name}}">{{#equals type 2}}{{key}}:{{name}}{{else}}{{#equals type 1}}品牌:{{name}}{{else}}{{name}}{{/equals}}{{/equals}}
                <i class="font-12 icon-zcy icon-close"></i>
            </a>
            {{/of}}
          {{/each}}
      </span>
      </div>
      <div class="nav-group category-nav">
        {{#if _DATA_.catalogs}}
          <dl>
            <dt title="采购目录">采购目录：</dt>
            <div class="catalogs-list list-more">
              {{#each _DATA_.catalogs}}
                <dd class="category-dd dd-cancel">
                  <label for="{{key}}" class="hide">
                    <input type="checkbox" value="{{key}}" id="{{key}}" class="brand-select input-checkbox"> {{name}}
                  </label>
                  <a class="js-catalogs-selector" data-id="{{key}}" href="javascript:void(0);">{{name}}</a>
                  <span>({{count}})</span>
                </dd>
              {{/each}}
            </div>
            {{#gt (size _DATA_.catalogs) 7}}
              <dd class="more-dd">
                <a href="javascript:void(0);" class="js-more">{{i18n "more" bundle="all_mix"}}</a>
                <i class="font-12 icon-zcy icon-xiangxiazhedie"></i>
              </dd>
            {{/gt}}
          </dl>
        {{/if}}
        {{#if _DATA_.frontCategories}}
          <dl>
            <dt title="商品类目">商品类目：</dt>
            <div class="categories-list list-more">
              {{#each _DATA_.frontCategories}}
                <dd class="category-dd dd-cancel">
                  <label for="{{key}}" class="hide">
                    <input type="checkbox" value="{{key}}" id="{{key}}" class="brand-select input-checkbox"> {{name}}
                  </label>
                  <a class="js-category-selector" data-id="{{key}}" href="javascript:void(0);">{{name}}</a>
                  <span>({{count}})</span>
                </dd>
              {{/each}}
            </div>
            {{#gt (size _DATA_.frontCategories) 7}}
              <dd class="more-dd">
                <a href="javascript:void(0);" class="js-more">{{i18n "more" bundle="all_mix"}}</a>
                <i class="font-12 icon-zcy icon-xiangxiazhedie"></i>
              </dd>
            {{/gt}}
          </dl>
        {{/if}}
        {{#if _DATA_.brands}}
          <dl>
            <dt title="{{i18n "Brand" bundle="all_mix"}}">{{i18n "Brand " bundle="all_mix"}}：</dt>
            <div class="brand-list">
              <div class="list-more">
                {{#each _DATA_.brands}}
                  <dd class="brand-dd dd-cancel">
                    <label for="{{key}}" class="hide">
                      <input type="checkbox" value="{{key}}" id="{{key}}" class="brand-select input-checkbox"> {{name}}
                    </label>
                    <a data-id="{{key}}" class="js-brand-selector" href="javascript:void(0);">{{name}}</a>
                    <span>({{count}})</span>
                  </dd>
                {{/each}}
              </div>
              <div class="brand-buttons hide">
                <button class="btn js-brand-confirm btn-small btn-primary" type="button">{{i18n "Submit" bundle="all_mix"}}</button>&nbsp;
                <button class="btn btn-info js-brand-cancel btn-small" type="button">{{i18n "Cancel" bundle="all_mix"}}</button>
              </div>
            </div>
            {{#gt (size _DATA_.brands) 1}}
              <dd class="more-options">
                <button class="btn btn-info btn-small js-elects">{{i18n "Options " bundle="all_mix"}}</button>
              </dd>
            {{/gt}}
            {{#gt (size _DATA_.brands) 7}}
              <dd class="more-dd">
                <a href="javascript:void(0);" class="js-more">{{i18n "more" bundle="all_mix"}}</a>
                <i class="font-12 icon-zcy icon-xiangxiazhedie"></i>
              </dd>
            {{/gt}}
          </dl>
        {{/if}}
        {{#each _DATA_.attributes}}
          <dl class="{{#ifCond @index ">=" 2}}hide{{/ifCond}}">
            <dt title="{{group}}">{{group}}:</dt>
            <div class="attr-list">
              <div class="list-more">
                {{#each nameAndCounts}}
                  <dd class="attr-dd dd-cancel">
                    <label for="{{name}}" class="hide">
                      <input type="checkbox" id="{{name}}" value="{{name}}" class="brand-select input-checkbox"> {{name}}
                    </label>
                    <a class="js-property-selector" href="javascript:void(0);" data-attr="{{name}}">{{name}}</a>
                    <span>({{count}})</span>
                  </dd>
                {{/each}}
              </div>
              <div class="brand-buttons hide">
                <button class="btn js-attrs-confirm btn-small btn-primary" type="button">{{i18n "Submit" bundle="all_mix"}}</button>&nbsp;
                <button class="btn js-brand-cancel btn-small btn-info" type="button">{{i18n "Cancel" bundle="all_mix"}}</button>
              </div>
            </div>
            {{#gt (size nameAndCounts) 1}}
              <dd class="more-options">
                <button class="btn btn-info btn-small js-elects">{{i18n "Options " bundle="all_mix"}}</button>
              </dd>
            {{/gt}}
            {{#gt (size nameAndCounts) 7}}
              <dd class="more-dd">
                <a href="javascript:void(0);" class="js-more">{{i18n "more" bundle="all_mix"}}</a>
                <i class="font-12 icon-zcy icon-xiangxiazhedie"></i>
              </dd>
            {{/gt}}
          </dl>
        {{/each}}
        {{#gt (size _DATA_.attributes) 3}}
          <div class="s-more" id="js-selector-more">
          <span class="sm-wrap" data-more="">
            <span class="sm-text">更多选项</span>
            <i class="icon-zcy icon-xiangshangzhedie"></i>
          </span>
          </div>
        {{/gt}}
      </div>
      <div class="filter">
        <div class="filter-banner">
          <label>{{i18n "Sequence" bundle="all_mix"}}：</label>
          <button class="btn btn-small btn-info js-item-sort">{{i18n "Sales" bundle="all_mix"}}<i class="icon-barrowdown12"></i></button>
        </div>
        {{#equals normal 3}}
        {{else}}
          <form class="form filter-form">
            <fieldset>
          <span class="span3">
            <label for="">{{i18n "Price" bundle="all_mix"}}&nbsp;
              <input type="number" class="input-small p_f" name="p_f" value="{{p_f}}"><span id="forins">-</span><input type="number" class="input-small p_t" name="p_t" value="{{p_t}}" >
            </label>
            <label for="remember">
                <button type="submit" class="btn btn-small btn-primary" id="js-price-range">{{i18n "Filter" bundle="all_mix"}}</button>
              <!--&nbsp;-->
              <!--<a href="javascript:void(0)" id="js-cancel-filter">{{i18n "Cancel" bundle="all_mix"}}</a>-->
            </label>
          </span>
              <!--结构修改-->
              <!--<span class="span1"></span>-->
              {{#equals type "hall"}}
              {{else}}
                <span class="span4" style="margin-left: 20px;">
            <label for="">
                <input type="checkbox" class="ene" name="ene" value="" />
                节能(节水)
                <input type="checkbox" class="env" name="env" value="" />
                环保
              <!--<input type="checkbox" class="wat" name="wat" value="" />
              节水-->
              {{#equals normal 4}}
              {{else}}
                <!--制造馆优化网超首页增加品质制造筛选条件-->
              <input type="checkbox" class="qumf" name="qumf" value=""/>
              品质制造
                <!--制造馆优化-->
              {{/equals}}
            </label>
          </span>
              {{/equals}}
            </fieldset>
          </form>
        {{/equals}}
        <div class="pull-right view-mode">
          <span class="view-mode-type" data-type="thumb">大图</span><span class="view-mode-type" data-type="list">列表</span>
        </div>
      </div>
      <div class="list clearfix view-{{mode}}">
        {{#if _DATA_.entities.data}}
            <div class="hide">{{json this}}</div>
          <ul class="view-mode-thumb">
            {{#each _DATA_.entities.data}}
              <li class="product {{#equals ../type "hall"}}{{else}}{{#equals ../type "vaccine"}}{{#mod @index 4}}last{{/mod}}{{else}}{{#mod @index 5}}last{{/mod}}{{/equals}}{{/equals}}" style="{{#if marginRight}}margin-right: {{marginRight}}px;{{/if}}">
                {{!-- todo <a href="javascript:void(0)" class="check-select"><i class="iconfont icon-check"></i></a> --}}
                <a href="{{_ENV_HREF_.front}}/items/{{id}}{{#equals ../type "hall"}}?type=hall{{/equals}}{{#equals ../type "vaccine"}}?type=vaccine{{/equals}}" target="_blank">
                  <div class="product-image">
                    <img src="{{cdnPath mainImage "260"}}" alt="{{name}}" width="206" height="206">
                  </div>
                </a>
                <p class="product-price">{{_CURRENCY_}} <span class="currency">{{#equals normal 3}}－{{else}}{{formatPrice price}}{{/equals}}</span><span class="sale-volume">{{i18n "Sold " bundle="all_mix"}}: {{#equals _USER_.currentCategory 12}}－{{else}}{{#if saleQuantity}}{{saleQuantity}}{{else}}0{{/if}}{{/equals}}</span></p>
                <p class="product-desc">
                  <a href="{{_ENV_HREF_.front}}/items/{{id}}{{#equals ../type "hall"}}?type=hall{{/equals}}" target="_blank">{{{name}}}</a>
                </p>
                  <!--制造馆-->
                  {{#if tags}}
                      <div class="sign-show clearfix">
                          {{#each tags}}
                            {{#equals this "environ:1"}}
                                <span class="icon-zcy icon-huanbao" style="color:rgb(126,211,33);float:left;"></span>
                            {{/equals}}
                            {{#equals this "energy:1"}}
                                <span class="icon-jieneng icon-zcy" style="color:rgb(245,191,35);float:left;"></span>
                            {{/equals}}
                            {{#equals this "stt:1"}}
                              <span title="首台套商品"><img src="/lunatone/assets/images/other-images/stt.png" alt="首台套"></span>
                            {{/equals}}
                            {{#equals this "pzbzjzz:1"}}
                              <span title="品字标浙江制造"><img src="/lunatone/assets/images/other-images/pzb.png" alt="品质标"></span>
                            {{/equals}}
                            {{#equals this "zjmpcp:1"}}
                              <span title="浙江名牌产品"><img src="/lunatone/assets/images/other-images/zjmp.png" alt="品质标"></span>
                            {{/equals}}
                            {{#equals this "lzh:1"}}
                              <span title="老字号"><img src="/lunatone/assets/images/other-images/lzh.png" alt="老字号"></span>
                            {{/equals}}
                            {{#equals this "zjckmp:1"}}
                              <span title="浙江出口名牌"><img src="/lunatone/assets/images/other-images/output.png" alt="浙江出口名牌"></span>
                            {{/equals}}
                            {{#equals this "mfacture:1"}}
                              <span class="hide jsQualityLabel"><img src="/lunatone/assets/images/other-images/manuSupplier.png" alt="品质制造"></span>
                            {{/equals}}
                          {{/each}}
                      </div>
                  {{/if}}
                  <!--制造馆-->
                {{#equals showShop "0"}}
                {{else}}
                  <br>
                  <span class="product-owner">{{shopName}}</span><label class="insert-compare font-12" for="compare"><input type="checkbox" id="compare" class="compare-checkbox input-checkbox" data-itemid="{{id}}" value="{{id}}">对比</label>
                {{/equals}}
              </li>
            {{/each}}
          </ul>
          <table class="table table-fixed view-mode-list">
            <thead>
            <tr>
              <td width="5%">对比</td>
              <td width="20%">商品名称</td>
              {{#equals type "hall"}}
              {{else}}
                <td width="16%">采购目录</td>
              {{/equals}}
              <td width="10%">商品类目</td>
              <td width="10%">品牌</td>
              <td width="15%">型号</td>
              {{#equals normal 3}}
              {{else}}
                {{#equals type "hall"}}
                  <td width="8%">销售价</td>
                {{else}}
                  <td width="8%">网超价</td>
                  <td width="8%">优惠率</td>
                {{/equals}}
              {{/equals}}
              <td width="8%">成交量</td>
            </tr>
            </thead>
            <tbody>
            {{#each _DATA_.entities.data}}
              <tr>
                <td>
                  <label class="font-12" for="compare">
                    <input type="checkbox" id="compare" class="compare-checkbox input-checkbox" data-itemid="{{id}}" value="{{id}}">
                  </label>
                </td>
                <td title="{{{name}}}"><a href="{{_ENV_HREF_.front}}/items/{{id}}{{#equals ../type "hall"}}?type=hall{{/equals}}" target="_blank">{{{name}}}</a></td>
                {{#equals ../type "hall"}}
                {{else}}
                  <td title="{{catalogsName}}">{{catalogsName}}</td>
                {{/equals}}
                <td title="{{categoryName}}">{{categoryName}}</td>
                <td title="{{brandName}}">{{brandName}}</td>
                <td title="{{specification}}">{{specification}}</td>
                {{#equals normal 3}}
                {{else}}
                  <td>{{_CURRENCY_}} <span>{{formatPrice price}}</td>
                  {{#equals ../type "hall"}}
                  {{else}}
                    <td data-discount="{{formatPrice primeDiscount}}" class="discount-precent"></td>
                  {{/equals}}
                {{/equals}}
                <td>
                  {{#equals _USER_.currentCategory 12}}
                    －
                  {{else}}
                    {{#if saleQuantity}}{{saleQuantity}}{{else}}0{{/if}}
                  {{/equals}}
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{else}}
          {{i18n "Item not found " bundle="all_mix"}}
        {{/if}}

      </div>
      <div class="list-pagination">
        <div class="pagination" data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}"
             data-total="{{_DATA_.total}}"></div>
      </div>
    </div>
    <div class="component-select-product js-select-product hide">
      <div class="close-compare"><i class="icon-zcy icon-close"></i></div>
      <ul class="product-contrast-select">
        <li class="product-contrast-li inner-content"><strong class="font-16">商品对比</strong></li>
        <li class="product-contrast-li select-function hide-mydefine"><div class="btn btn-medium anon-contrast">立即对比</div><div class="btn btn-medium empty-product">清空商品</div></li>
      </ul>
    </div>
  {{/if}}
{{/component}}
