{{#if categoryPath}}
  <div class="section-title pull-left">
    发布类目
  </div>
<div class="selected-category pull-left" style="width:auto;">
  <span class="selected-category-span">
    <span class="selected-path">{{categoryPath}}</span>
  </span>
  {{#unless itemId}}
    &nbsp;&nbsp;&nbsp;
    {{#equals isVaccine 1}}
      <a href="/seller/release-vaccine-item?ptype={{ptype}}">{{i18n "Edit Category" bundle="all_mix"}}</a>
    {{else}}
      {{#equals isBlocktrade 1}}
        <a href="/seller/supperPro/release-items?ptype={{ptype}}&tag=blocktrade">{{i18n "Edit Category" bundle="all_mix"}}</a>
      {{else}}
        <a href="/seller/release-items?ptype={{ptype}}">{{i18n "Edit Category" bundle="all_mix"}}</a>
      {{/equals}}
    {{/equals}}
  {{/unless}}
</div>
{{/if}}
