{{#of group attrGroup}}
  <div class="form-section clearfix">
    <div class="section-title">
      {{group}}
      {{#equals group '技术参数'}}
        {{#equals isVaccine 1}}
          <span style="color: red; font-size: 12px;">(关键属性经过浙江省疾病预防控制中心审核通过后，将不能编辑修改，请谨慎填写。)</span>
        {{/equals}}
      {{/equals}}
    </div>
    <div class="pull-left section-content">
      <div class="category-attribute attribute-area js-attribute-area">
        <ul class="attribute-list clearfix attribute-data"
            id="js-category-attribute-list"
            {{#if otherAttributeWithRules}}
              data-attr="{{json otherAttributeWithRules}}"
            {{else}}
              data-attr="{{json categoryAttributeWithProperties}}"
            {{/if}}>
          {{#if otherAttributeWithRules}}
            {{#each otherAttributeWithRules}}
              {{> component:seller/item_publish/common/other_templates/_attribute_container}}
            {{/each}}
          {{else}}
            {{#each categoryAttributeWithProperties}}
              {{#equals categoryAttribute.attrKey "ABCDEFG"}}
                <!--ABCDEF是特殊属性，不展示，为了使疫苗商品显示普通属性添加按钮-->
              {{else}}
                {{> component:seller/item_publish/common/other_templates/_attribute_container}}
              {{/equals}}
            {{/each}}
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
{{/of}}
