{{#component "js-comp service-guarantee"}}
  <div class="hide">{{json this}}</div>
  <input type="text" class="hide env_member" value="{{_ENV_HREF_.member}}"/>
  <input type="text" class="hide env_target" value="{{_HREF_.main}}"/>
  <input type="text" class="hide not_login" value="{{#if _USER_.name}}{{else}}1{{/if}}"/>
  <input type="text" class="hide env_supplier" value="{{_ENV_HREF_.supplier}}"/>
<div class="user-information
{{#if _USER_.name}}
    {{#equals (size _DATA_) 0}}
      noDealt
    {{else}}
    qk-init-2 {{#gt (size _DATA_) 3}}qk-init-3 {{else}}qk-init-line1{{/gt}}
    {{/equals}}
{{/if}}" data-ctaxccgp="{{_ENV_HREF_.ctaxccgp}}">
  <div class="logo-img">
    <i class="icon-zcy icon-logo"></i>
  </div>
  <div class="user-welcome">
    <div class="user-welcome-name" title="{{_USER_.name}}"> Hi ,
      {{#if _USER_.name}}
        {{_USER_.name}}
        {{#equals (size _DATA_) 0}}
          <div>欢迎来到政采云</div>
        {{/equals}}
      {{else}}
        {{#if _USER_.account}}
          {{_USER_.account}}
          {{#equals (size _DATA_) 0}}
            <div>欢迎来到政采云</div>
          {{/equals}}
        {{else}}
          <span class="time-tip"></span>&nbsp;欢迎来到政采云
          <div class="user-welcome-title">一站式政府采购云服务平台</div>
        {{/if}}
      {{/if}}
    </div>
  {{#equals (size _DATA_) 0}}
    {{else}}
      {{#if _USER_.name}}
        <div class="btn-submit">用户中心</div>
      {{/if}}
  {{/equals}}
  </div>
  {{#if _USER_}}
    <a class="btn-submit qk-init-yhzx" href="javascript:;">用户中心</a>
    {{else}}
    <div class="clearfix">
      <div class="btn-submit js-login">用户登录</div>
      <a class="js-shop-located" target="_blank" href="javascript:void(0)"><div class="btn-shop-located">商家入驻</div></a>
    </div>
  {{/if}}
  <div class="blank-block"></div>


  {{#equals (size _DATA_) 0}}

  {{else}}
    <div class="service-location qk-init-local">
      <ul class="service-ul">
        {{#each _DATA_}}
          <li class="service-li">
            <a href="
              {{#equals code "0101"}}{{../_HREF_.main}}/buyer/netsuper-orders?pageNo=1&status=3{{/equals}}
              {{#equals code "0102"}}{{../_ENV_HREF_.middle}}/settlement/purchaser-manage{{/equals}}
              {{#equals code "0103"}}{{../_ENV_HREF_.middle}}/settlement/invoice/purchaser/list?q=%7B%22state%22%3A%5B%22%E5%BE%85%E5%BC%80%E7%A5%A8%22%2C%22%E5%BC%82%E5%B8%B8%22%5D%7D#waitInvoice{{/equals}}
              {{#equals code "0104"}}{{../_HREF_.main}}/buyer/requisitions?pageNo=1&status=1{{/equals}}
              {{#equals code "0105"}}{{../_HREF_.main}}/buyer/netsuper-purchases{{/equals}}
              {{#equals code "0106"}}{{../_ENV_HREF_.middle}}/settlement/purchaser-manage?q=%7B%22status%22%3A%5B%22%E5%BE%85%E5%AE%A1%E6%A0%B8%22%5D%7D#waitSubmitAudit{{/equals}}

              {{#equals code "0201"}}{{../_HREF_.main}}/seller/orders?pageNo=1&status=0{{/equals}}
              {{#equals code "0202"}}{{../_HREF_.main}}/seller/orders?pageNo=1&status=1{{/equals}}
              {{#equals code "0203"}}{{../_ENV_HREF_.middle}}/settlement/invoice/supplier/list?q=%7B%22state%22%3A%5B%22%E5%BE%85%E5%BC%80%E7%A5%A8%22%5D%7D{{/equals}}
              {{#equals code "0204"}}{{../_ENV_HREF_.middle}}/settlement/invoice/supplier/list?q=%7B%22state%22%3A%5B%22%E5%BE%85%E6%94%B6%E7%A5%A8%22%5D%7D{{/equals}}
              {{#equals code "0205"}}{{../_ENV_HREF_.middle}}/settlement/supplier-manage?q=%7B%22status%22%3A%5B%22%E5%BE%85%E6%94%AF%E4%BB%98%22%2C%22%E6%94%AF%E4%BB%98%E4%B8%AD%22%2C%22%E5%BE%85%E6%94%AF%E4%BB%98%E5%8C%B9%E9%85%8D%22%5D%7D{{/equals}}

            ">
              <div class="service-li-icon icon-box">{{this.backlogCount}}</div>
              <div class="icon-message">
                {{#equals code "0101"}}待收货{{/equals}}
                {{#equals code "0102"}}待结算{{/equals}}
                {{#equals code "0103"}}待开票{{/equals}}
                {{#equals code "0104"}}需求单审核{{/equals}}
                {{#equals code "0105"}}预购单审核{{/equals}}
                {{#equals code "0106"}}结算单审核{{/equals}}

                {{#equals code "0201"}}待接单{{/equals}}
                {{#equals code "0202"}}待发货{{/equals}}
                {{#equals code "0203"}}待开票{{/equals}}
                {{#equals code "0204"}}待收票{{/equals}}
                {{#equals code "0205"}}待支付{{/equals}}
              </div>
            </a>
          </li>

        {{/each}}
      </ul>
    </div>
  {{/equals}}
</div>

<div class="service-location">
  <ul class="service-ul js-advantage">
    <li class="service-li">
      <a href="{{#if serviceHref}}{{serviceHref}}{{else}}javascript:;{{/if}}">
        <div class="service-li-icon"><i class="icon-zcy icon-zhengpinbaozhang1"></i></div>
        <div class="word-content">正品保障</div>
      </a>
    </li>
    <li class="service-li">
      <a href="{{#if serviceHref}}{{serviceHref}}{{else}}javascript:;{{/if}}">
        <div class="service-li-icon"><i class="icon-zcy icon-jiageyouhui1"></i></div>
        <div class="word-content">价格优惠</div>
      </a>
    </li>
    <li class="service-li">
      <a href="{{#if serviceHref}}{{serviceHref}}{{else}}javascript:;{{/if}}">
        <div class="service-li-icon"><i class="icon-zcy icon-shuangxiangxinyong1"></i></div>
        <div class="word-content">双向信用</div>
      </a>
    </li>
    <li class="service-li">
      <a href="{{#if serviceHref}}{{serviceHref}}{{else}}javascript:;{{/if}}">
        <div class="service-li-icon"><i class="icon-zcy icon-shouhouwuyou1"></i></div>
        <div class="word-content">售后无忧</div>
      </a>
    </li>
  </ul>
</div>
<div class="notice-list">
    <ul>
    {{#if notice1}}
      <li>
        <span>{{#if listText}}[{{listText}}]{{else}}[资讯]{{/if}}</span>
        <a href="{{#if notice1Href}}{{notice1Href}}{{else}}javascript:;{{/if}}" target="_blank" title="{{notice1}}">{{#if notice1}}{{notice1}}{{/if}}</a>
      </li>
    {{/if}}
    {{#if notice2}}
      <li>
        <span>{{#if listText}}[{{listText}}]{{else}}[资讯]{{/if}}</span>
        <a href="{{#if notice2tHref}}{{notice2tHref}}{{else}}javascript:;{{/if}}" target="_blank" title="{{notice2}}">{{#if notice2}}{{notice2}}{{/if}}</a>
      </li>
    {{/if}}
    {{#if notice3}}
      <li>
        <span>{{#if listText}}[{{listText}}]{{else}}[资讯]{{/if}}</span>
        <a href="{{#if notice3Href}}{{notice3Href}}{{else}}javascript:;{{/if}}" target="_blank" title="{{notice3}}">{{#if notice3}}{{notice3}}{{/if}}</a>
      </li>
    {{/if}}
    </ul>
</div>

<div id="consult-modal" class="modal hide">
  <div class="modal-header">
      <a href="#" class="close">×</a>
      <h2>{{#if consultText}}{{consultText}}{{else}}反馈咨询{{/if}}</h2>
    </div>
    <div class="modal-body">
      <div class="modal-body-content">
        <p>
          <i class="icon-zcy icon-messagealertfill"></i>
          如您有任何反馈或建议，欢迎发送邮件至：
          <span class="mail">service@cai-inc.com</span>
        </p>
      </div>
    </div>
    <div class="modal-footer">
    </div>
</div>
{{/component}}
