{{#component "js-comp contrast-detail"}}
<div class="product-comparison">
  <strong class="currency">商品对比</strong>
  <div class="js-check-item check-item-style">
    <input type="checkbox" class="highlight-diff input-checkbox"><span style="margin-right:20px;">高亮显示不同项</span>
    <input type="checkbox" class="highlight-same input-checkbox">合并相同项
  </div>
</div>
<div class="item-details">
  <div class="product-flow">
    <ul class="product-pro">
      <li class="first"><strong>商品概况</strong></li>
      <li class="first-flow hide">
      </li>
      {{#each _DATA_.items}}
        <li class="product-name">
          <img src={{mainImage}}>
          <div class="pull-right">
            <span>{{name}}</span><br>
            <span class="sale-details currency">
              ￥{{#equals lowPrice highPrice}}
                {{formatPrice lowPrice}}
              {{else}}
                {{formatPrice lowPrice}} - {{formatPrice highPrice}}
              {{/equals}}
            </span>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="result-list">
    <table class="brands-name">
      <tr>
        <th>所属品牌</th>
        {{#each _DATA_.items}}
        <td class="td-brands">{{brandName}}</td>
        {{/each}}
      </tr>
    </table>
    {{#each _DATA_.composedAttributes}}
    {{#equals @key "SKU"}}
    {{else}}
      <table class="compare-tab">
        <thead>
          <tr>
            <th class="item-title" colspan="5">
              <div class="arrow-down-open arrow-up-down"></div>
              <div class="arrow-up-close arrow-up-down hide"></div>
              <a class="item-title-content">
                {{#equals @key "普通属性"}}普通属性{{/equals}}
                {{#equals @key "政策信息"}}政策信息{{/equals}}
                {{#equals @key "服务信息"}}服务信息{{/equals}}
                {{#equals @key "基本信息"}}基本信息{{/equals}}
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each this}}
          <tr class="compare-tr">
            <th>
              {{#of @key "birthday,weight,origin"}}
                {{#equals @key "birthday"}}上市时间{{/equals}}
                {{#equals @key "weight"}}重量{{/equals}}
                {{#equals @key "origin"}}产地{{/equals}}
              {{else}}
                {{@key}}
              {{/of}}
            </th>
            {{#each this}}
              <td class="compare-td">{{this}}</td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/equals}}
    {{/each}}
  </div>
</div>
{{/component}}
