<ol class="brand-list clearfix" data-brands="{{json this}}">
  {{#each brands}}
    <li class="brand-item">
      <a href="/search?bid={{brandId}}&tags=mfacture:1">
        {{#if logo}}
          <p><img src="{{logo}}" alt="" ></p>
        {{else}}
          <p class="brand-name">{{brandName}}</p>
        {{/if}}
      </a>
    </li>
  {{/each}}
</ol>