{{#component "requisition-progress"}}
  <div class="progress">
    <ol>
      {{#if noRequisition}}
        <li class="progress-step {{#equals progress "1"}}active{{/equals}}">
          <span class="progress-step-number">1</span>
          <span class="progress-step-into">确定预购单</span>
        </li>
        <li class="progress-bar"></li>
        <li class="progress-step {{#equals progress "2"}}active{{/equals}}">
          <span class="progress-step-number">2</span>
          <span class="progress-step-into">{{i18n "Audit" bundle="all_mix"}}</span>
        </li>
        <li class="progress-bar"></li>
        <li class="progress-step {{#equals progress "3"}}active{{/equals}}">
          <span class="progress-step-number">3</span>
          <span class="progress-step-into">{{i18n "Comfirm order" bundle="all_mix"}}</span>
        </li>
        <li class="progress-bar"></li>
        <li class="progress-step {{#equals progress "4"}}active{{/equals}}">
          <span class="progress-step-number">4</span>
          <span class="progress-step-into">{{i18n "Part of order processing" bundle="all_mix"}}</span>
        </li>
      {{else}}
        <li class="progress-step {{#equals progress "1"}}active{{/equals}}">
          <span class="progress-step-number ">1</span>
          <span class="progress-step-into">{{i18n "Choice purchase requisitions" bundle="all_mix"}}</span>
        </li>
        <li class="progress-bar"></li>
        <li class="progress-step {{#equals progress "2"}}active{{/equals}}">
          <span class="progress-step-number">2</span>
          <span class="progress-step-into">确定预购单</span>
        </li>
        <li class="progress-bar"></li>
        <li class="progress-step {{#equals progress "3"}}active{{/equals}}">
          <span class="progress-step-number">3</span>
          <span class="progress-step-into">{{i18n "Audit" bundle="all_mix"}}</span>
        </li>
        <li class="progress-bar"></li>
        <li class="progress-step {{#equals progress "4"}}active{{/equals}}">
          <span class="progress-step-number">4</span>
          <span class="progress-step-into">{{i18n "Comfirm order" bundle="all_mix"}}</span>
        </li>
        <li class="progress-bar"></li>
        <li class="progress-step {{#equals progress "5"}}active{{/equals}}">
          <span class="progress-step-number">5</span>
          <span class="progress-step-into">{{i18n "Part of order processing" bundle="all_mix"}}</span>
        </li>
      {{/if}}
    </ol>
  </div>
{{/component}}
