{{#component "js-comp inquiryHall-list"}}
    <div class="hide">{{_ISDISTRICTENABLE_}}</div>
    <div class="hide">{{json}}</div>
    <div class="active-district">
        <input type="hidden" name="inquiryPath" value="{{_ENV_HREF_.inquiry}}">
        <div class="mt mb inquiry-district-tip">
            <span class="inquiry-bread-title">在线询价大厅<i class="icon-zcy icon-nextstep"></i>询价所在地: </span>
            {{#if _DISTRICTNAME_}}
                {{#each _DISTRICTNAME_}}
                    <span class="inquiry-bread" title="{{name}}{{#each names}}{{name}}{{#if @last}}{{else}}/{{/if}}{{/each}}">
          {{name}}{{#each names}}{{name}}{{#if @last}}{{else}}/{{/if}}{{/each}}
                        <i class="icon-zcy icon-close close-select-icon" data-code="{{code}}"></i>
          <span class="hide-code">
              <span class="p-code">{{code}}</span>
              <span class="c-code">
                  {{#each names}}
                  <span>{{code}}</span>
                  {{/each}}
              </span>
          </span>
        </span>
                {{/each}}
            {{/if}}
            <div class="hide district-code">{{districtCode}}</div>
        </div>

        <div class="inject-district">
            {{inject "inquiryHall/inquiry_district"}}
        </div>

        <div class="mt mb page-position" style="font-size: 0">
            <button data-type="1" class="btn {{#equals page "2"}}btn-info{{/equals}} ft16 inquiry-type"><i
                    class="lh15 icon-zcy icon-zuixinxunjia-"></i>最新询价
            </button>
            <button data-type="2" class="btn {{#equals page "2"}}{{else}}btn-info {{/equals}} mr ft16 inquiry-type"><i
                    class="lh15 icon-zcy icon-xunjiaxinxi-"></i>询价结果
            </button>
            <span style="font-size: 14px;">共<span class="orange">{{_DATA_.total}}</span>条</span>
        </div>

        {{#equals page "2"}}
            <!--询价结果-->
            <div class="mt mb">
                <table class="table table-fixed">
                    <thead>
                    <tr>
                        <th width="38%">询价结果</th>
                        <th width="16%">发起时间</th>
                        <th width="16%">截止时间</th>
                        <th width="15%">当前状态</th>
                        <th width="15%">询价信息</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#if _DATA_.data}}
                        {{#each _DATA_.data}}
                            <tr>
                                <td><a href="/inquiryhall/result?inquiryId={{inquiryId}}"
                                       target="_blank"><span>{{districtSimpleName}}</span>&nbsp;<span title="{{title}}">{{title}}</span></a></td>
                                <td>{{formatDate startTime "yyyy/MM/dd"}}</td>
                                <td>{{formatDate endTime "yyyy/MM/dd"}}</td>
                                <td>{{stateStr}}</td>
                                <td style="padding-left: 26px"><a href="/inquiryhall/detail?announcementId={{announcementInquiryId}}" target="_blank"><i
                                        class="icon-zcy icon-xinxigonggao"></i></a></td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="5" class="text-center">暂无数据</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        {{else}}
            <!--最新询价-->
            <div class="mt mb">
                <table class="table table-fixed">
                    <thead>
                    <tr>
                        <th width="25%">采购需求</th>
                        <th width="16%">采购单位</th>
                        <th width="12%">送货地区</th>
                        <th width="15%">离报价截止时间</th>
                        <th width="12%">报价数</th>
                        <th width="10%">当前状态</th>
                        <th width="10%">我要报价</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#if _DATA_.data}}
                        {{#each _DATA_.data}}
                            <tr>
                                <td><a href="/inquiryhall/detail?announcementId={{announcementInquiryId}}"
                                       target="_blank"><span>{{districtSimpleName}}</span>&nbsp;<span title="{{title}}">{{title}}</span></a></td>
                                <td title="{{purchaser}}">{{purchaser}}</td>
                                <td title="{{deliveryAddressRegion}}">{{deliveryAddressRegion}}</td>
                                {{#equals stateStr "报价中"}}
                                    <td class="timer" data-time="{{timeDifference}}"></td>
                                {{else}}
                                    <td>-</td>
                                {{/equals}}
                                <td>已有报价数{{biddingSupQuantity}}条</td>
                                <td>{{stateStr}}</td>
                                <td>
                                    <button data-id="{{inquiryId}}" {{#equals announcementState 98}}disabled{{/equals}} data-type="{{inquiryType}}" class="btn btn-info getQuoteId">报价</button>
                                </td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="7" class="text-center">暂无数据</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        {{/equals}}

        <div class="list-pagination">
            <div class="pagination" data-size="{{#if pageSize}}{{pageSize}}{{else}}10{{/if}}"
                 data-total="{{_DATA_.total}}"></div>
        </div>
    </div>


    <div class="hide no-active-district">
        <div class="eve-col-cu" style="width: 800px; margin-left:200px;margin-top: 120px; margin-bottom: 120px;"><div class="eve-row"><div class="eve-col-cu" style="width: 301px; margin-right: 65px;"><div class="eve-image js-comp eve-component" style="height: 258px;" data-comp-path="eevee/image">

            <img alt="" data-original="http://zcy-item.img-cn-hangzhou.aliyuncs.com//2017060111144140868268.png" src="http://zcy-item.img-cn-hangzhou.aliyuncs.com//2017060111144140868268.png" style="display: inline-block;">

        </div>
        </div><div class="eve-col-cu" style="width: 434px;"><div class="eve-row"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
            <div class="text-content">
  <span style="font-size: 22px; color: rgb(51, 51, 51);">
  当前区划尚未开通政采云服务</span>
            </div>
        </div>
        </div></div><div class="eve-row" style="margin-top: 30px;"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
            <div class="text-content">
  <span style="font-size: 12px;">
  咨询开通情况请联系政采云有限公司</span>
            </div>
        </div>
        </div></div><div class="eve-row" style="margin-top: 10px;"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
            <div class="text-content">
  <span style="font-size: 12px;">
  服务热线：400-881-7190</span>
            </div>
        </div>
        </div></div><div class="eve-row" style="margin-top: 10px;"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
            <div class="text-content">
                <span style="font-size: 12px;">邮箱：service@cai-inc.com</span>
            </div>
        </div>
        </div></div><div class="eve-row" style="margin-top: 10px;"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
            <div class="text-content">
                <span style="font-size: 12px;">联系地址：杭州市西湖区转塘科技经济区块9号1幢2区5楼</span>
            </div>
        </div>
        </div></div><div class="eve-row" style="margin-top: 30px;"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
            <div class="text-content">
  <span style="font-size: 12px;">
  当前已开通的区划样式，请参考浙江省本级</span>
            </div>
        </div>
        </div></div></div></div></div>
    </div>


{{/component}}
