<p class="hide">{{json this}}</p>
<div class="carousel">
  <ul class="carousel-container clearfix">
    {{#each this}}
      <li>
        <div class="item-image">
          <a href="/items/{{itemId}}?searchType=1" data-ignore="push">
            <img src="{{cdnPath mainImage '330w'}}">
          </a>
        </div>
        <div class="production">
          <a href="/items/{{itemId}}?searchType=1" class="production-name">{{itemName}}</a>
          <div class="production-price">￥{{formatPrice lowPrice 0}}</div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
<a class="scroll-btn prev" href="javascript:void(0)"><img src="/lunatone/assets/images/other-images/left-arrow.png"></a>
<a class="scroll-btn next" href="javascript:void(0)"><img src="/lunatone/assets/images/other-images/right-arrow.png"></a>