{{#component "delivery-template-manage js-comp"}}
  <div class="component-header">
    <span class="component-title">{{i18n "Delivery area setting " bundle="all_mix"}}</span>
    <button class="btn btn-primary btn-medium pull-right" id="js-new-template">新建配送区域模板</button>
  </div>
  <div class="component-body">
    <ul class="delivery-templates" id="js-template-list">
      {{#each _DATA_}}
        <li class="template-item js-template-item" data-id="{{id}}" data-address="{{json provinceRegions}}">
          <div class="template-container js-template-container">
            <div class="template-main clearfix">
              <div class="template-info">
                <p>
                  <span class="edit-status template-name">{{name}}</span>
                  <input type="text" name="name" value="{{name}}" class="js-template-name save-status">
                  <span class="js-name-error name-error required hide">请输入配送区域模板</span>
                </p>
                <p class="template-area js-template-area">
                  {{#each provinceRegions}}
                    {{#if province.selectAll}}
                      {{province.name}}
                    {{else}}
                      {{#each cities}}
                        {{#if city.selectAll}}
                          {{city.name}}
                        {{else}}
                          {{#each regions}}
                            {{name}}
                          {{/each}}
                        {{/if}}
                      {{/each}}
                    {{/if}}
                  {{/each}}
                </p>
              </div>
              <div class="template-operation">
                <button class="btn btn-minor btn-small btn-right" data-event="confirm:delete-delivery-template" data-toggle="confirm" data-title="确认删除此模板吗？" data-content="删除后使用此模板的商品不受影响" data-id="{{id}}">删除</button>
                <button class="btn btn-primary btn-small js-save-template save-status btn-right">保存</button>
                <button class="btn btn-primary btn-small js-edit-template edit-status btn-right">编辑</button>
              </div>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
  {{/component}}
