{{#component "delivery-address-picker js-comp clearfix"}}
  <div class="address-table"
       data-table-status="fold"
       data-user-id="{{userId}}"
       data-middle-href="{{middleHref}}"
       data-selected-id="{{selectedId}}"
       data-auto-select-default="{{autoSelectDefault}}"
       data-edit="{{editAble}}">
  </div>
{{/component}}