{{#component "procurement-create js-comp"}}
  <div class="hide">{{json}}</div>
  <div class="panel">
    <div class="panel-header">
      <span class="panel-title">新建采购意向</span>

      <div class="pull-right">
        <button type="button" class="btn btn-info back btn-back-page" id="pre-step">返回</button>
      </div>
    </div>
    <div class="panel-body">
      <form class="requirement-create">
        <div class="title-input">
          <input type="text" name="name" required></td>
        </div>

        <table>
          <tr>
            <td class="col-2"><span class="meta-title">编号</span></td>
            <td class="col-10"><input readonly="true" type="text" name="displayNo"
                                      value="{{_DATA_.displayNo}}"></td>
          </tr>
          <tr>
            <td class="col-2"><span class="meta-title">采购单位</span></td>
            <td class="col-2"><input readonly="true" type="text" name="organName"
                                     value="{{_DATA_.organName}}"></td>
            <td class="col-2"><span class="meta-title require-label">联系人</span></td>
            <td class="col-2"><input type="text" name="contact" value="{{_DATA_.userName}}" id="contact"
                                     required></td>
            <td class="col-2"><span class="meta-title require-label">联系方式</span></td>
            <td class="col-2"><input type="text" name="cellphone" value="{{_DATA_.cellphone}}"
                                     id="cellphone" required></td>
          </tr>
        </table>

        <table>
          <tr>
            <td class="col-2"><span class="meta-title require-label">采购目录</span></td>
            <td class="col-2">
              <div class="input-w inline-block" id="bid">
                <input data-type="tree_type" data-type-value="{{_type}}" data-limit="1" class="hide"/>
                <div class="selectric-tree-wrapper">
                  <div class="selectric-tree-value hide">
                    <span class="selectric-nodes"></span>
                    <span class="selectric-names"></span>
                  </div>
                  <div class="selectric-tree">
                    <p class="label">请选择</p>
                    <b class="button">&#x25be;</b>
                    <b class="clear hide">&times;</b>
                  </div>
                  <div class="selectric-tree-items">
                  </div>
                </div>
              </div>
            </td>
            <td class="col-2"><span class="meta-title">商品品牌</span></td>
            <td class="col-2">
              <div class="autocomplete-input">
                <input type="text" name="brandName" placeholder="请输入品牌" id="brandName">
                <input type="text" name="brandId" id="brandId" style="display:none">
                <ul class="autocomplete-list"></ul>
              </div>
            </td>
            <td class="col-2"><span class="meta-title">商品型号</span></td>
            <td class="col-2">
              <input type="text" name="specificationName" placeholder="请输入型号">
            </td>
          </tr>
          <tr>
            <td class="col-2"><span class="meta-title">商品类目</span></td>
            <td class="col-10"><input type="text" name="" readonly="true" class="getproduct"></td>
          </tr>
          <tr>
            <td class="col-2"><span class="meta-title">购买数量</span></td>
            <td class="col-2"><input type="text" name="quantity" placeholder="请输入数量"></td>
            <td class="col-2"><span class="meta-title">预计下单时间</span></td>
            <td class="col-2"><input type="text" class="search date-input" name="orderedAt"
                                     placeholder="请选择时间"></td>
            <td class="col-2"><span class="meta-title require-label">公告截止日期</span></td>
            <td class="col-2"><input type="text" class="search date-input endtime" name="noticedAt"
                                     placeholder="请选择时间" required value="{{formatDate _DATA_.noticedAt day}}"></td>


          </tr>
        </table>
        <table class="table">
          <tbody>
          <tr>
            <th>参考商品链接</th>
            <td colspan="5"><input type="text" name="referenceUrl" placeholder="请输入"></td>
          </tr>
          <tr>
            <th>参数</th>
            <td colspan="5"><input type="text" name="parameter" placeholder="请输入"></td>
          </tr>
          <tr>
            <th>附件</th>
            <td colspan="5" class="downloadFile">
              <div id="uploadFile"></div>
            </td>
          </tr>
          </tbody>
        </table>

        <button type="button" class="btn btn-primary js-btn-submit">发布</button>
        <button type="button" class="btn btn-info" id="cancel">取消</button>
      </form>
    </div>
  </div>

{{/component}}