<div class="dropdown clearfix js-category-attr-input" data-key="{{attrKey}}"
  {{#if attrMetasForK}}
    {{#equals property.valueType "1"}}data-type="STRING"{{/equals}}
    {{#equals property.valueType "2"}}data-type="STRING"{{/equals}}
    {{#equals property.valueType "3"}}data-type="DATE"{{/equals}}
    {{#equals property.valueType "4"}}data-type="NUMBER"{{/equals}}
    data-required="{{attrMetasForK.REQUIRED}}"
  {{else}}
    data-type="STRING"
    data-required="false"
  {{/if}}>
  <span class="dropdown-selector">
    <input type="text"
           class="js-group-item"
           data-property-id="{{propertyId}}"
      {{#if attrMetasForK.SPU_VALUE}}
           value="{{attrMetasForK.SPU_VALUE}}"
      {{else}}
        {{#if attrVal}}
           value="{{attrVal}}"
        {{/if}}
      {{/if}}
           autocomplete="off"
           data-parent=".dropdown-selector"
           placeholder="请选择"
           readonly="readonly"
           name="{{group}}-{{attrKey}}"
      {{#if hasSpu}}
           disabled
      {{/if}}
           data-key="{{attrKey}}"
      {{#equals attrMetasForK.REQUIRED "true"}}
           required
      {{/equals}}
      {{#if attrMetasForK}}
           data-group="{{group}}"
             {{#if property.unit}}
           data-unit="{{property.unit}}"
             {{/if}}
      {{else}}
           data-group="USER_DEFINED"
      {{/if}}
      {{#equals attrMetasForK.IMPORTANT "true"}}
        {{#equals _DATA_.item.status "1"}}
          {{#equals _DATA_.item.tags.vaccine "1"}}
           data-tag="vaccine" disabled
          {{/equals}}
        {{/equals}}
      {{/equals}}
      {{#equals attrMetasForK.SPU_DEFINED "true"}}
           disabled
      {{/equals}}
    >
    <span class="caret"></span>
  </span>
  <div class="dropdown-content">
    <ul class="dropdown-menu">
      <li class="js-dropdown-item js-attr-val" data-val="">
        <span class="empty">请选择</span>
      </li>
      {{#if attrVals}}
        {{#each attrVals}}
          <li class="js-dropdown-item js-attr-val" data-val="{{this}}">
            <span>{{this}}</span>
          </li>
        {{/each}}
      {{else}}
        {{#if attrVal}}
          <li class="js-dropdown-item js-attr-val" data-val="{{attrVal}}">
            <span>{{attrVal}}</span>
          </li>
        {{/if}}
      {{/if}}
    </ul>
    {{#if attrMetasForK}}
      {{#equals attrMetasForK.USER_DEFINED "true"}}
        <div class="dropdown-append input-group input-group-append">
          <input type="text" class="js-dropdown-item-append-text js-attr-val-input">
          <span class="input-group-btn pull-right">
            <button class="btn btn-info js-dropdown-item-append" type="button">添加</button>
          </span>
        </div>
      {{/equals}}
    {{else}}
      <div class="dropdown-append input-group input-group-append">
        <input type="text" class="js-dropdown-item-append-text js-attr-val-input">
        <span class="input-group-btn pull-right">
          <button class="btn btn-info js-dropdown-item-append" type="button">添加</button>
        </span>
      </div>
    {{/if}}
  </div>
</div>
{{#if attrMetasForK}}
  {{#if property.unit}}
    <span class="attr-unit-show">&nbsp;{{property.unit}}</span>
  {{/if}}
{{/if}}
