<li class="pull-left js-category-attr attr-show-li {{#if ../composites}}attr-show-composites-li{{/if}}
    {{#if property.valueType "2"}}attr-show-multi-li{{/if}}" data-attr="{{json ..}}">
  <div class="control-group" data-model="{{group}}{{attrKey}}">
    <label class="group-title hint--top" title="{{attrKey}}" aria-label="{{attrKey}}">
      <span class="group-line-title">
      {{attrKey}}：
      </span>
    </label>
    <div class="group-content">
      {{> component:seller/spu_detail/common/other_templates/_real_attribute_item}}

      {{#equals attrMetasForK.PROPERTY_TYPE "SKU_CANDIDATE"}}
        <span class="sku-attr-status">
          &nbsp;
          <i class="icon-alakazam icon-alakazam-info-fill"></i>
          <i class="icon-alakazam icon-alakazam-success-fill active hide"></i>
          <span class="sku-attr-show">&nbsp;销售属性</span>
        </span>
      {{/equals}}
    </div>
  </div>
</li>
