<div class="right-button"><button class="btn btn-primary btn-medium addpage">增加页面</button></div>
<ul class="right-page-ul">
  {{#each this}}
    <li class="show-title" title="{{name}}" data-shopid="{{shopID}}">
      <div class="page-title">{{name}}</div>
      <div><a>{{href}}</a></div>
      <div title="{{discode}}"><span>适配区划：</span><span class="discode">{{discode}}</span></div>
    </li>
  {{/each}}
</ul>
