{{#component "common-navigation js-comp"}}
    <div class="hide appTree" data-app-tree={{json _DATA_}}> {{json _DATA_}} </div>
    <div class="nav-container" 
            data-hover-color="{{#if @root.hoverColor}}{{@root.hoverColor}} {{else}}#016AE6{{/if}}" 
            data-color="{{#if @root.color}}{{@root.color}} {{else}}#000{{/if}}">
    {{#each _DATA_}}
        {{#gt (size this.child) 0}}
            <div class="box" title="{{this.navigationName}}">
                {{inject "common/href_dropdown" objData=this newPage=@root.newPage}}
            </div>
            {{else}}
            <div class="box" title="{{this.navigationName}}">
                <a href="{{#if this.navigationUrl}}{{this.navigationUrl}}{{else}}/{{/if}}" 
                    style="font-size: {{#if @root.fontSize}}{{@root.fontSize}}px {{else}}16px{{/if}} "
                    data-id="{{this.id}}"
                    {{#if @root.newPage}}target="_blank"{{/if}}>
                    {{this.navigationName}}
                </a>
            </div>
        {{/gt}}
    {{/each}}
    </div>
    <div class="hide dataStore" data-showdc="{{showDistrictCode}}" data-ifimg="{{ifimg}}">{{json this}}</div>
{{/component}}