{{#component "ZCY-eevee-favorite-shops js-comp"}}
  <div class="eevee-clu-line-header eevee-grids" >
    <div class="eevee-clu-line-tabs eevee-grids" style="margin:25px 0;background:#0876FF;padding: 30px 0;">
      <div class="eevee-col-row" >
        <div class="eevee-col-box" style="">
          {{inject 'zcyEvEtemp/comps/normalLogo'}}
        </div>
        <div class="eevee-col-box" style="margin-left: 273px;margin-right: 25px;">
          {{inject 'zcyEvEtemp/comps/often_goods_search'}}
        </div>
        <div class="eevee-col-box" style="">
          {{inject 'zcyEvEtemp/comps/cart'}}
        </div>
      </div>
    </div>

    <div class="eevee-clu-line-tabs eevee-grids">
      <div class="eevee-col-row" style="padding: 50px 0;">
        <div class="eevee-col-box" style="width:100%">
          {{inject 'regular_purchase/favorite-shops'}}
        </div>
      </div>
    </div>
    <div class="eevee-clu-line-tabs eevee-grids" style="background-color: rgb(245, 245, 245);">
      <div class="eevee-col-row">
        <div class="eevee-col-box" style="width:100%">
          {{inject 'common/page_bottom'}}
        </div>
      </div>
    </div>

  </div>
{{/component}}
