{{#component 'ZCY-eevee-comp-often-goods evees-comp js-comp'}}
  <div class="hide">{{json this}}</div>
  <div class="temp-shopid hide">{{shopId}}</div>
  <div class="often-goods-search">
    <div class="search-wrap">
      <span class="checkedCategory">
        <a href="javascript:;" class="jChecked">商品</a>
        <i class="icon-zcy icon-xiangxiazhedie up"></i>
        <i class="icon-zcy icon-xiangshangzhedie down"></i>
      </span>
      <ul class="jGoodsSelect">
        <li class="active product-tab">商品</li>
        <li class="supplier-tab">供应商</li>
      </ul>
    </div>
    <form type="get" class="form" id="form-search" action="/eevees/search" data-hrefbase="http://www.zcy.gov.cn" style="width:390px;">
      <input type="hidden" class="isSupplier" name="isSupplier" value="0">
      <div class="input-wrap" style="width:{{#if width}}{{width}}{{else}}260px{{/if}}">
      <i class="icon-zcy icon-search"></i>
      <input type="text" name="q" class="search-input items-suggest active" value="{{q}}"
             autocomplete="off" placeholder="输入你要搜索的商品">
    </div>
    <span class="input-group-btn">
      <button class="btn btn-search goods-search" id="search-button-local" type="submit">
        搜索
      </button>
    </span>
    </form>
  </div>
{{/component}}

