{{#component "component-supplierDetail js-comp"}}
   <div class="hide">
     <div>
       {{json this}}
     </div>

   </div>
  <div class="detail-box" style="height:{{#if height}}{{height}}{{else}}400{{/if}}px;">
    <div class="content-left">
      <p class="title">{{_DATA_.baseInfo.name}}</p>
      <p>对外联系电话：{{_DATA_.baseInfo.contactPhone}}</p>
    </div>
    <div class="content-right">
      <ul>
        <li>
          <p class="msg-title">基本信息</p>
          <table>
            <tbody>
              <tr>
                <td width="94px">公司简介：</td>
                <td class="overflow-hidden" title="{{_DATA_.baseInfo.abbreviation}}">{{_DATA_.baseInfo.abbreviation}}</td>
              </tr>
              <tr>
                <td>公司地址：</td>
                <td class="overflow-hidden">{{_DATA_.baseInfo.addrProvinceName}}&nbsp;{{_DATA_.baseInfo.addrCityName}}&nbsp;{{_DATA_.baseInfo.addrRegionName}}</td>
              </tr>
              <tr>
                <td>邮编：</td>
                <td class="overflow-hidden">{{_DATA_.baseInfo.postcode}}</td>
              </tr>
              <tr>
                <td>公司成立日期：</td>
                <td class="overflow-hidden">{{formatDate _DATA_.baseInfo.foundDate "day"}}</td>
              </tr>
              <tr>
                <td>公司规模：</td>
                <td class="overflow-hidden">{{_DATA_.baseInfo.enterpriseScale}}</td>
              </tr>
              <tr>
                <td style="vertical-align: text-top">公司介绍：</td>
                <td title="{{_DATA_.baseInfo.companyIntro}}">
                  <div style="max-height: 36px;overflow: hidden;">{{_DATA_.baseInfo.companyIntro}}</div></td>
              </tr>
            </tbody>
          </table>
          {{!--
          <p class="msg-title" style="margin-top: 25px;">审查监管机构</p>
          <table>
            <tbody>
            <tr>
              <td>审查机构名称：</td>
              <td>{{_DATA_.baseInfo.auditInstitutionName}}</td>
            </tr>
            <tr>
              <td>监管机构名称：</td>
              <td>{{_DATA_.baseInfo.publicityInstitutionName}}</td>
            </tr>
            </tbody>
          </table>
          --}}
        </li>
        <li>
          <p class="msg-title">营业执照</p>
          {{!--<p class="yyzz-title">营业执照登记机关所属区划：{{_DATA_.baseInfo.affiliationLocName}}</p>--}}
          <p>
            <img src="/lunatone/assets/images/other-images/yyzz.jpg" class="down-img" />
            <a class="down-link {{#if _DATA_.certificates.0.appendixes.0.appendixUrl}}{{else}}hide{{/if}}" href="{{_DATA_.certificates.0.appendixes.0.appendixUrl}}">下载</a>
            <input type="text" class="down-url hide" value="{{_DATA_.certificates.0.appendixes.0.appendixUrl}}" />
          </p>
        </li>
      </ul>
    </div>

  </div>
{{/component}}
