{{#component "js-comp reverseHall-list"}}
  <div class="hide">{{json}}</div>
  <div class="hide">{{_ISDISTRICTENABLE_}}</div>
  <div class="active-district">
      <input type="hidden" name="reversePath" value="{{_ENV_HREF_.reverse}}">
      <div class="mt mb reverse-district-tip">
          <span class="reverse-bread-title">反向竞价大厅<i class="icon-zcy icon-nextstep"></i>竞价所在地: </span>
          {{#if _DISTRICTNAME_}}
              {{#each _DISTRICTNAME_}}
                  <span class="reverse-bread" title="{{name}}{{#each names}}{{name}}{{#if @last}}{{else}}/{{/if}}{{/each}}">
          {{name}}{{#each names}}{{name}}{{#if @last}}{{else}}/{{/if}}{{/each}}
                      <i class="icon-zcy icon-close close-select-icon" data-code="{{code}}"></i>
          <span class="hide-code">
            <span class="p-code">{{code}}</span>
              <span class="c-code">
                  {{#each names}}
                  <span>{{code}}</span>
                  {{/each}}
              </span>
          </span>
        </span>
              {{/each}}
          {{/if}}
          <div class="hide district-code">{{districtCode}}</div>
      </div>

      <div class="inject-district">
          {{inject "reverseHall/reverse_district"}}
      </div>

      <div class="mt mb page-position" style="font-size: 0">
          <button data-type="1" class="btn {{#equals page "2"}}btn-info{{/equals}} ft16 reverse-type"><i
                  class="lh15 icon-zcy icon-zuixinxunjia-"></i>最新反拍
          </button>
          <button data-type="2" class="btn {{#equals page "2"}}{{else}}btn-info {{/equals}} mr ft16 reverse-type"><i
                  class="lh15 icon-zcy icon-xunjiaxinxi-"></i>反拍结果
          </button>
          <span style="font-size: 14px;">共<span class="orange">{{_DATA_.total}}</span>条</span>
      </div>

      {{#equals page "2"}}
          <!--竞价结果-->
          <div class="mt mb">
              <table class="table table-fixed">
                  <thead>
                  <tr>
                      <th width="38%">竞价结果</th>
                      <th width="16%">发起时间</th>
                      <th width="16%">截止时间</th>
                      <th width="15%">当前状态</th>
                      <th width="15%">竞价信息</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#if _DATA_.data}}
                      {{#each _DATA_.data}}
                          <tr>
                              <td><a href="/reversehall/result?requireId={{id}}"
                                     target="_blank"><span>{{districtSimpleName}}</span>&nbsp;<span title="{{title}}">{{title}}</span></a></td>
                              <td>{{formatDate startTime}}</td>
                              <td>{{formatDate endTime}}</td>
                              <td>
                                  {{#equals state '5'}}竞价完成{{/equals}}
                                  {{#equals state '6'}}竞价失败{{/equals}}
                              </td>
                              <td style="padding-left: 26px"><a href="/reversehall/detail?requireId={{id}}" target="_blank"><i
                                      class="icon-zcy icon-xinxigonggao"></i></a></td>
                          </tr>
                      {{/each}}
                  {{else}}
                      <tr>
                          <td colspan="5" class="text-center">暂无数据</td>
                      </tr>
                  {{/if}}
                  </tbody>
              </table>
          </div>
      {{else}}
          <!--最新竞价-->
          <div class="mt mb">
              <table class="table table-fixed">
                  <thead>
                  <tr>
                      <th width="25%">采购需求</th>
                      <th width="16%">采购单位</th>
                      <th width="12%">送货地区</th>
                      <th width="15%">截止时间</th>
                      <th width="10%">当前状态</th>
                      <th width="10%">参与报价</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#if _DATA_.data}}
                      {{#each _DATA_.data}}
                          <tr>
                              <td><a href="/reversehall/detail?requireId={{id}}"
                                     target="_blank"><span>{{districtSimpleName}}</span>&nbsp;<span title="{{title}}">{{title}}</span></a></td>
                              <td title="{{orgName}}">{{orgName}}</td>
                              <td title="{{regionName}}">{{regionName}}</td>
                              <td class="timer" data-time="{{countdown}}"></td>
                              <td>
                                  {{#equals state '3'}}待报价{{/equals}}
                                  {{#equals state '4'}}报价中{{/equals}}
                              </td>
                              <td>
                                  <button data-id="{{id}}" class="btn btn-info getQuoteId">报价</button>
                              </td>
                          </tr>
                      {{/each}}
                  {{else}}
                      <tr>
                          <td colspan="6" class="text-center">暂无数据</td>
                      </tr>
                  {{/if}}
                  </tbody>
              </table>
          </div>
      {{/equals}}

      <div class="list-pagination">
          <div class="pagination" data-size="{{#if pageSize}}{{pageSize}}{{else}}10{{/if}}"
               data-total="{{_DATA_.total}}"></div>
      </div>
  </div>
  <div class="hide no-active-district">
      <div class="eve-col-cu" style="width: 800px;margin-left: 200px; margin-top: 120px; margin-bottom: 120px;"><div class="eve-row"><div class="eve-col-cu" style="width: 301px; margin-right: 65px;"><div class="eve-image js-comp eve-component" style="height: 258px;" data-comp-path="eevee/image">

          <img alt="" data-original="http://zcy-item.img-cn-hangzhou.aliyuncs.com//2017060111144140868268.png" src="http://zcy-item.img-cn-hangzhou.aliyuncs.com//2017060111144140868268.png" style="display: inline-block;">

      </div>
      </div><div class="eve-col-cu" style="width: 434px;"><div class="eve-row"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
          <div class="text-content">
  <span style="font-size: 22px; color: rgb(51, 51, 51);">
  当前区划尚未开通政采云服务</span>
          </div>
      </div>
      </div></div><div class="eve-row" style="margin-top: 30px;"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
          <div class="text-content">
  <span style="font-size: 12px;">
  咨询开通情况请联系政采云有限公司</span>
          </div>
      </div>
      </div></div><div class="eve-row" style="margin-top: 10px;"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
          <div class="text-content">
  <span style="font-size: 12px;">
  服务热线：400-881-7190</span>
          </div>
      </div>
      </div></div><div class="eve-row" style="margin-top: 10px;"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
          <div class="text-content">
              <span style="font-size: 12px;">邮箱：service@cai-inc.com</span>
          </div>
      </div>
      </div></div><div class="eve-row" style="margin-top: 10px;"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
          <div class="text-content">
              <span style="font-size: 12px;">联系地址：杭州市西湖区转塘科技经济区块9号1幢2区5楼</span>
          </div>
      </div>
      </div></div><div class="eve-row" style="margin-top: 30px;"><div class="eve-col-cu" style="width: 434px;"><div class="eve-text eve-component" data-comp-path="eevee/text">
          <div class="text-content">
  <span style="font-size: 12px;">
  当前已开通的区划样式，请参考浙江省本级</span>
          </div>
      </div>
      </div></div></div></div></div>
  </div>

{{/component}}
