{{#component "carousel-wrap js-comp"}}
  <div class="carousel {{#each images}}{{#unless @index}}show{{/unless}}{{/each}}">
    <ul class="carousel-container clearfix" {{#if time}}data-time="{{time}}"{{/if}} {{#if auto}}data-auto="{{auto}}"{{/if}} {{#if length}}data-length="{{length}}"{{/if}} {{#if type}}data-type="{{type}}"{{/if}}  data-size="{{#if size}}{{size}}{{else}}{{size images}}{{/if}}">
      {{#each images}}
        <li style="{{#if width}}width: {{width}}{{#ifCond width ">=" 100}}px{{else}}%{{/ifCond}};{{/if}} {{#if marginRight}}margin-right: {{marginRight}}px;{{/if}}" {{#if width}}{{#ifCond width ">=" 100}}class="grid-side"{{/ifCond}}{{/if}}>
          <a href='{{#if link}}{{link}}{{else}}?q={{#each ../keywords}}{{#equals type "plain"}}{{urlEncode text}}{{else}}"{{urlEncode text}}"{{/equals}} {{/each}}"{{#if name}}{{urlEncode name}}{{/if}}"{{#if p_f}}&p_f={{p_f}}{{/if}}{{#if p_f}}&p_t={{p_t}}{{/if}}{{/if}}' data-ignore="push">
            <img src="{{#if name}}{{background}}{{else}}{{image}}{{/if}}" alt="{{name}}" style="{{#if height}}height: {{height}}px; line-height: {{height}}px;{{/if}}">
            {{#if name}}
              <div class="name"  title="{{name}}"><span>{{name}}</span></div>
            {{/if}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
  {{#equals length 1}}
    <ul class="carousel-pagination clearfix">
      {{#each images}}
        <li {{#unless @index}}class="active"{{/unless}}></li>
      {{/each}}
    </ul>
  {{else}}
  <a class="prev {{#if outside}}outside{{/if}}" href="javascript:;"></a>
  <a class="next {{#if outside}}outside{{/if}}" href="javascript:;"></a>
  {{/equals}}
{{/component}}
