{{#component "component-supplier-search js-comp"}}
  <div class="hide">{{json this}}</div>
  {{#equals _TAGS_.blocktrade 1}}
  {{else}}
    <div class="input-group input-group-append input-search">
      <i class="icon-zcy icon-search"></i>
      <input type="text" name="q" class="search-input items-suggest active" value="{{q}}"
             autocomplete="off" placeholder="{{#equals isSupplier 1}}输入您要搜索的供应商{{else}}输入您要搜索的商品{{/equals}}">
      <span class="input-group-btn">
      <button class="btn btn-primary btn-medium btn-search" id="search-button-local" type="button">
        {{#if btn1Text}}{{btn1Text}}{{else}}搜本店{{/if}}
      </button>
      <button class="btn btn-primary btn-medium btn-search" id="search-button-all" type="button">
        {{#if btn2Text}}{{btn2Text}}{{else}}搜全站{{/if}}
      </button>
    </span>
    </div>
  {{/equals}}
{{/component}}
