{{#partial "realBody"}}
  <div class="index-banner" style="">
    {{#designPart "club_banner"}}
    {{inject "floor/club_banner"}}
    {{/designPart}}
  </div>
  {{#designPart "shop-index-decorate"}}{{/designPart}}
  {{#designPart "shop-index"}}
    <div class="user-background index-user-background">
      <div class="main-container">
        {{#designPart "floor-top"}}{{/designPart}}
        <div class="floor clearfix" id="floor" style="margin-top:20px;">
          <div class="left">
            {{#designPart "floor-left"}}
              {{#inject "eevee/image"}}
              {
                "url": "http://daqihui.b0.upaiyun.com/2014/12/24/8b90f72d7dd6e3b99f47a8e500a1cc06.jpg"
              }
              {{/inject}}
            {{/designPart}}
            {{inject "design/subscription_list"}}
          </div>
          <div class="right">
            {{#designPart "floor-right" style="margin-bottom: 20px;"}}
              {{#inject "eevee/image"}}
              {
                "url": "http://daqihui.b0.upaiyun.com/2014/12/23/a7d09b5ae4611a0bcce89c86dda56e5e.jpg"
              }
              {{/inject}}
            {{/designPart}}
            {{inject "common/sale_card"}}
            <div class="side-card" style="margin-top:20px;">
              {{inject "common/advance_card"}}
              {{#designPart "floor-right2"}}
                {{inject "common/customer_phone"}}
              {{/designPart}}
            </div>
          </div>
        </div>
        <br>
        {{#designPart "floor-bottom"}}
          {{#inject "eevee/image"}}
          {
            "url": "http://daqihui.b0.upaiyun.com/2014/12/24/da574273c1f79c61f9d0de53ad530bcb.jpg"
          }
          {{/inject}}
        {{/designPart}}
        {{#inject "floor/floor_items"}}
          {"floorIds":"","floorSize":2}
        {{/inject}}
      </div>
    </div>
  {{/designPart}}
{{/partial}}
{{> layouts/shop/layout}}
