{{#partial "meta"}}
  <title>{{_PAGE_.title}}</title>
  <meta name="keywords" content="{{_PAGE_.keywords}}">
  <meta name="description" content="{{_PAGE_.description}}">
{{/partial}}
{{#partial "designable"}}
  {{designable scope=_DESIGNABLE_.scope key=_DESIGNABLE_.key path=_DESIGNABLE_.path}}
{{/partial}}
{{#partial "realBody"}}
  <div class="item-detail-container">
    {{#designPart "item-top"}}
      {{#inject "eevee/image"}}
      {
        "_STYLE_": "margin-bottom: 20px;",
        "url": "http://daqihui.b0.upaiyun.com/2014/12/23/83c8615d01e808403d7dad97364fdbf8.jpg!1200x50"
      }
      {{/inject}}
    {{/designPart}}
    <div class="left-part">
    {{inject "buyer/item_detail"}}
    {{#designPart "item-center"}}
    {{/designPart}}
    {{inject "shop_decoration/spu_tab"}}
    </div>
    <div class="right-part">
      {{#designPart "item-left"}}
      {{/designPart}}
      {{inject "common/compare_price"}}
      {{#inject "floor/accordions"}}{{/inject}}
      {{#designPart "worth-items"}}
        {{inject "design/worth_items"}}
      {{/designPart}}
      {{inject "common/history_card"}}
      {{#designPart "item-left2"}}
        {{inject "common/customer_phone"}}
      {{/designPart}}
    </div>
    <div class="clearfix"></div>
  </div>
{{/partial}}
{{> index_layout}}
