<div class="categories-list" data-categories="{{json this}}">
    {{#each this}}
      <div class="category-1">
        <div class="category-logo">
          <i class="category-icon icon-zcy icon-{{logo}}"></i>
        </div>
        <div class="category-name js-category-search" data-cid="{{id}}">{{name}}</div>
        <div class="childrens">
          {{#each childdren}}
            <span class="category-2 js-category-search" data-cid="{{id}}">{{name}}</span>
          {{/each}}
        </div>
      </div>
    {{/each}}
</div>