{{#component "component-tax-hall-notice-result js-comp"}}
{{!-- 
{
  resultList:[{
    resultTitle:"",
    noticeTime:""
  }]
}
 --}}
 <tbody id="announceResultBody">
 {{!-- {{#if resultList}}
 {{#each resultList}}
<tr>
  <td><a href="{{_ENV_HREF_.inquiryhall}}/lasvegas/protocolhall/{{#equals type 5}}result{{/equals}}{{#equals type 6}}batch{{/equals}}{{#equals type 7}}cancel{{/equals}}?anNouncementId={{anNouncementId}}">{{title}}</a></td>
  <td>{{formatDate announcementStartTime "day"}}</td>
</tr>
{{/each}}
{{else}}
<tr>
  <td colspan="2" class="text-center">暂无数据</td>
</tr>
{{/if}} --}}
</tbody>
{{/component}}

