{{#if DATA.empty}}
  <tr>
    <td colspan="6" class="no-record"><i class="icon-zcy icon-prompt"></i>该商品暂无成交完成记录。</td>
  </tr>
{{else}}
  {{#each DATA.data}}
    <tr>
      <td title="{{formatDate dealDate "YYYY/MM/DD"}}">{{formatDate dealDate "YYYY/MM/DD"}}</td>
      <td title="{{purchaseOrgName}}">{{purchaseOrgName}}</td>
      <td title="{{dealUnitPrice}}">￥{{formatPrice dealUnitPrice}}</td>
      <td title="{{dealCount}}">{{dealCount}}</td>
      <td title="{{dealTotalPrice}}" class="dealTotal">￥{{formatPrice dealTotalPrice}}</td>
    </tr>
  {{/each}}
{{/if}}
