{{#component "bd-log-warp brand-creat-warp clearfix js-comp"}}
  <div class="hide">{{json _DATA_}}</div>
  <div class="brand-head">流转日志</div>
  <div class="section-content clearfix log-box">
    <ul>
      {{#each _LOG_}}
          <li class="clearfix">
              <span class="mark"></span>
              <div class="log-time">{{creationTime}}</div>
              <div class="log-company">{{createrOrg}}</div>
              <div class="log-name">{{createrName}}</div>
              {{#equals auditResult "SUBMIT_AUDIT"}}
                <div class="log-message" data-type="3">提交审核</div>
              {{/equals}}
              {{#equals auditResult "AUDIT_APPROVE"}}
                <div class="log-message" data-type="0">审核通过</div>
              {{/equals}}
              {{#equals auditResult "AUDIT_REJECT"}}
                <div class="log-message" data-type="1">审核不通过</div>
              {{/equals}}
              <div class="log-explain">{{auditComment}}</div>
          </li>
      {{/each}}
    </ul>
  </div>
{{/component}}