{{#component "quote-wrap js-comp"}}
  <div class="hide">{{json this}}</div>
  <div class="jsQuote">
    <div class="quote-top-info" data-shopIdToExclude="{{shopId}}" data-spuId="{{_SPU_INFO_.spuSnapshot.spuId}}">
      <ul class="clearfix quote-deal">
        <li>
          <span class="mod-deal deal-price">
            <b class="js-deal-price" data-price="{{_SPU_INFO_.zcyCoefficientPrice}}">--</b>
            <i class="zcy-icon icon-warningfill js-price-popover"></i></span>
          <span>市场参考价</span>
        </li>
        <li>
          <span class="mod-deal js-deal-price" data-price="{{_SPU_INFO_.spuAvgPrice}}">--</span>
          <span>成交均价</span>
        </li>
      </ul>
      <div class="quote-title">
          <p>共<span>{{_SPU_INFO_.shopCount}}</span>份商品报价
            <a href="/spulist?spuId={{_DATA_.item.spuId}}" target="_blank">[更多报价]</a>
          </p>
        <div class="other-quote">其他供应商报价</div>
      </div>
    </div>

    <div class="quote-info">
      {{#if _SPU_INFO_.itemList}}
        <ul>
          {{#each _SPU_INFO_.itemList}}
            {{#gt 3 @index }}
              <li>
                <a href="/items/{{id}}?searchType=1">
                  <div class="product-img"><img src="{{mainImage}}" alt=""></div>
                  <div class="quote-price">￥{{formatPrice price}}</div>
                  <div class="prop-detail">
                    <p class="product-name">{{name}}</p>
                    <p class="supplier-name">{{shopName}}</p>
                  </div>
                </a>
              </li>
            {{/gt}}
          {{/each}}
        </ul>
      {{else}}
        <div class="noSupplier">
          <div class="empty-image"><img src="/lunatone/assets/images/other-images/noSupplier.png" alt=""></div>
          <p>对不起，您当前所查看的商品暂时没有其他供应商的报价信息。</p>
        </div>
      {{/if}}
    </div>
  </div>
{{/component}}