{{#component "js-comp trade-manage stock-product-detail"}}
<div class="page-body-option clearfix">
  <div class="page-title">商品及SKU信息</div>
</div>
<div class="product-sku-list" data-item-id="{{_DATA_.item.id}}"
                              data-outer-sku-id="{{_DATA_.sku.outerSkuId}}">
  <table class="table table-striped stock-product-list-table">
    <tr>
      <td width="30%">商品ID:&nbsp;{{_DATA_.item.id}}</td>
      <td colspan="2">商品信息:&nbsp;{{_DATA_.item.name}}</td>
      <td></td>
    </tr>
    <tr>
      <td width="30%">SKU外部编码:&nbsp;{{_DATA_.sku.outerSkuId}}</td>
      <td width="40%">SKU ID: {{_DATA_.sku.id}}</td>
      <td width="30%">SKU信息:{{#each _DATA_.sku.attrs}}<span>{{attrKey}}:{{attrVal}}</span>{{/each}}</td>
      <td></td>
    <tr>
    </tr>
  </table>
</div>
{{/component}}
