<div class="js-category-attr-input category-attr-input js-group-item multi-content js-multi-input" data-input-type="multi" data-property-id="{{property.id}}"
     data-key="{{attrKey}}" data-group="{{group}}" data-type="2" data-required="false" data-multi-value="{{attrVal}}">
  {{#each (splitter attrVal "#")}}
    <label name="{{this}}">
      <span>{{this}}</span>
    </label>
  {{/each}}
</div>
