<div class="js-sku-area sku-list-area {{#if @last}}last{{/if}}"
  data-key="{{attrKey}}" data-sku="{{json this}}"
  {{#if attrMetasForK}}data-type="{{attrMetasForK.VALUE_TYPE}}"{{else}}data-type="STRING"{{/if}}>
  <p class="sku-attr-key control-group" title="{{attrKey}}">
    <label class="group-title hint--top" title="{{attrKey}}" aria-label="{{attrKey}}">
      <span class="group-line-title">{{attrKey}} </span>
    </label>
    <label class="sku-group-content"><input type="radio" class="input-radio sku-image-radio js-sku-show-image" name="showImage" value="true"
      {{#equals showImage "true"}}checked{{/equals}}><span class="sku-show-image">显示sku图片</span>
    </label>
    {{#equals attrMetasForK.USER_DEFINED "true"}}
      <a class="attribute-operation js-edit-sku-value" href="javascript:void(0)">加属性值</a>
    {{/equals}}
    <span class="error-tip"><i class="icon-alakazam icon-alakazam-alert-fill"></i>&nbsp;请勾选至少一个属性值</span>
    {{#if isEdit}}
      <a class="attribute-delete-icon js-delete-sku pull-right" href="javascript:void(0)"><i class="icon-alakazam icon-alakazam-trash"></i></a>
    {{/if}}
  </p>
  <p class="sku-attr-vals js-sku-attr-vals">
    {{#each attributeRules}}
      <span class="js-sku-item">
        <label class="sku-attribute-label"><input type="checkbox" name="{{attrKey}}" class="input-checkbox js-select-sku-attr" value="{{attrVal}}">{{attrVal}}</label>
        {{#if image}}
          <img src="{{image}}" alt="" class="attribute-image js-attribute-image" data-src="{{image}}" data-key="{{attrKey}}" data-value="{{attrVal}}"/>
        {{else}}
          <i class="icon-alakazam icon-alakazam-pic attribute-image js-attribute-image" data-key="{{attrKey}}" data-value="{{attrVal}}"></i>
        {{/if}}
      </span>
    {{/each}}
  </p>
</div>
