<table class="table table-grid sku-table">
  <thead>
    <tr>
      {{#each data.attrs}}
        <th width="70" class="center-text">
          {{key}}
        </th>
      {{/each}}
      <th width="100" class="center-text">
        价格
      </th>
    </tr>
  </thead>
  <tbody>
    {{#if data}}
      {{#each data.values}}
        <tr class="js-sku-tr" data-attr="{{json list}}"
            data-key="{{#each list}}{{attr}}:{{value}}{{#unless @last}};{{/unless}}{{/each}}"
            {{#if id}}data-id="{{id}}"{{/if}}>
          {{#each list}}
            {{#if rowspan}}
              <td rowspan="{{rowspan}}" class="center-text">
                {{value}}
              </td>
            {{/if}}
          {{/each}}
          {{> seller/spu_detail/common/all_templates/_sku_info}}
        </tr>
      {{/each}}
    {{else}}
      {{#if skus}}
        {{#unless skus.[0].attrs}}
          {{#each skus}}
            <tr class="js-sku-tr" {{#if id}}data-id="{{id}}"{{/if}}>
              {{> component:seller/spu_detail/common/all_templates/_sku_info}}
            </tr>
          {{/each}}
        {{else}}
          <tr class="js-sku-tr">
            {{> component:seller/spu_detail/common/all_templates/_sku_info}}
          </tr>
        {{/unless}}
      {{else}}
        <tr class="js-sku-tr">
          {{> component:seller/spu_detail/common/all_templates/_sku_info}}
        </tr>
      {{/if}}
    {{/if}}
  </tbody>
</table>
