<ul class="">
{{#each data}}
  <li data-target="{{id}}" class="elevator-li js-elevator-hook-li">
    <div class="floor-li-inner">
      <span class="li-slide">
        {{#if icon}}
          <i class="icon-zcy {{icon}} inner-icon"></i>
          <span class="inner-text">{{name}}</span>
        {{else}}
          <span class="inner-name">{{name}}</span>
        {{/if}}
      </span>
    </div>
  </li>
  <hr/>
{{/each}}
  <li class="tail-li">
    <div class="floor-li-inner">
      <span class="li-slide tail-car to-top-car">
        <i class="icon-zcy icon-fold inner-icon to-top-icon"></i>
        <span class="inner-text to-top-text">返回顶部</span>
      </span>
    </div>
  </li>
</ul>