{{#component "carousel-container js-comp"}}
  <div class="carousel{{#equals data.isSuper "1"}} carousel-super{{/equals}}{{#equals data.type "round"}} carousel-rounded{{/equals}}{{#equals data.type "square"}} carousel-squared{{/equals}}{{#equals data.type "round-rt"}} carousel-rounded-rt{{/equals}}{{#equals data.type "square-lb"}} carousel-squared-lb{{/equals}}" data-ride="carousel" data-type="switchable" data-interval="{{#if data.interval}}{{data.interval}}{{else}}3000{{/if}}" data-colors="{{data.colors}}" data-row-size="{{data.rowSize}}" style="height:{{#if data.height}}{{data.height}}{{else}}100{{/if}}px;">

    <!-- Wrapper for slides -->
    <div class="carousel-contents">
      {{#if data.images}}
        {{#each data.images}}
        <div data-role="content" class="carousel-content {{#unless @first}}hide{{/unless}}" data-id="1" style="height:{{#if @root.data.height}}{{@root.data.height}}{{else}}100{{/if}}px;background:url('{{image}}') no-repeat center;">
          <a {{#if href}}href="{{href}}"{{/if}} target="_blank"></a>
        </div>
        {{/each}}
      {{else}}
        {{#if data.image1}}
        <div data-role="content" class="carousel-content" data-id="1" style="height:{{#if data.height}}{{data.height}}{{else}}100{{/if}}px;background:url('{{data.image1}}') no-repeat center;">
          <a {{#if data.href}}href="{{data.href1}}"{{/if}} target="_blank"></a>
        </div>
        {{/if}}
        {{#if data.image2}}
        <div data-role="content" class="carousel-content hide" data-id="2" style="height:{{#if data.height}}{{data.height}}{{else}}100{{/if}}px;background:url('{{data.image2}}') no-repeat center;">
          <a {{#if data.href}}href="{{data.href2}}"{{/if}} target="_blank"></a>
        </div>
        {{/if}}
        {{#if data.image3}}
        <div data-role="content" class="carousel-content hide" data-id="3" style="height:{{#if data.height}}{{data.height}}{{else}}100{{/if}}px;background:url('{{data.image3}}') no-repeat center;">
          <a {{#if data.href}}href="{{data.href3}}"{{/if}} target="_blank"></a>
        </div>
        {{/if}}
        {{#if data.image4}}
        <div data-role="content" class="carousel-content hide" data-id="4" style="height:{{#if data.height}}{{data.height}}{{else}}100{{/if}}px;background:url('{{data.image4}}') no-repeat center;">
          <a {{#if data.href}}href="{{data.href4}}"{{/if}} target="_blank"></a>
        </div>
        {{/if}}
        {{#if data.image5}}
        <div data-role="content" class="carousel-content hide" data-id="5" style="height:{{#if data.height}}{{data.height}}{{else}}100{{/if}}px;background:url('{{data.image5}}') no-repeat center;">
          <a {{#if data.href}}href="{{data.href5}}"{{/if}} target="_blank"></a>
        </div>
        {{/if}}
      {{/if}}
    </div>
    <div class="carousel-navs" data-role="link">
      <!-- Indicators -->
      {{#equals data.isIndicator "1"}}
        <ol class="carousel-indicators">
          {{#if data.images}}
            {{#each data.images}}
              <li data-role="nav" {{#if @first}}class="active"{{/if}}>
                {{#if @root.data.type}}
                  {{#equals @root.data.type "auto"}}
                  {{else}}
                    <span class="icon-zcy icon-yuandian"></span>
                    <span class="icon-zcy icon-yuandiankuang"></span>
                  {{/equals}}
                {{/if}}
              </li>
            {{/each}}
          {{else}}
            {{#if data.image1}}<li data-role="nav" class="active">{{#if data.type}}{{#equals data.type "auto"}}{{else}}<span class="icon-zcy icon-yuandian"></span><span class="icon-zcy icon-yuandiankuang"></span>{{/equals}}{{/if}}</li>{{/if}}
            {{#if data.image2}}<li data-role="nav">{{#if data.type}}{{#equals data.type "auto"}}{{else}}<span class="icon-zcy icon-yuandian"></span><span class="icon-zcy icon-yuandiankuang"></span>{{/equals}}{{/if}}</li>{{/if}}
            {{#if data.image3}}<li data-role="nav">{{#if data.type}}{{#equals data.type "auto"}}{{else}}<span class="icon-zcy icon-yuandian"></span><span class="icon-zcy icon-yuandiankuang"></span>{{/equals}}{{/if}}</li>{{/if}}
            {{#if data.image4}}<li data-role="nav">{{#if data.type}}{{#equals data.type "auto"}}{{else}}<span class="icon-zcy icon-yuandian"></span><span class="icon-zcy icon-yuandiankuang"></span>{{/equals}}{{/if}}</li>{{/if}}
            {{#if data.image5}}<li data-role="nav">{{#if data.type}}{{#equals data.type "auto"}}{{else}}<span class="icon-zcy icon-yuandian"></span><span class="icon-zcy icon-yuandiankuang"></span>{{/equals}}{{/if}}</li>{{/if}}
          {{/if}}
        </ol>
      {{/equals}}

        <!-- Controls -->
      {{#equals data.isControl "1"}}
        <a class="left carousel-control" data-role="prev">
          <i class="icon-carousel-left"></i>
        </a>
        <a class="right carousel-control" data-role="next">
          <i class="icon-carousel-right"></i>
        </a>
      {{/equals}}
    </div>
  </div>
{{/component}}
