{{#component "customer-purchase customer-service-common js-comp"}}
  <div class="hide">{{json}}</div>
  <input type="hidden" class="js-purchase-tag" value="{{tag}}">
  <div class="panel">
    <div class="search-panel">
      {{#if _USER_.isOperatingAgency}}
        {{inject "customer_service/purchase/search_table/admin"}}
      {{else}}
        {{inject "customer_service/purchase/search_table/supervise"}}
      {{/if}}
    </div>
    <div class="">
      <table class="drawer-table" id="data-table">
        <thead>
        <tr>
          <th width="180px;">预购单号</th>
          <th>采购人</th>
          <th>采购单位</th>
          <th>责任人</th>
          <th>时间</th>
          <th>状态</th>
          <th class="text-right">需求单金额（元）</th>
          <th width="30px"></th>
        </tr>
        </thead>
      <tbody>
        {{#unless _DATA_.data}}
        <tr class="level1">
          <td colspan="8" class="text-muted text-center">未查找到相关预购单</td>
        </tr>
        {{else}}
          {{#each _DATA_.data}}
          <tr class="level1">
            <td>
              <input type="hidden" name="" class="" value="{{code}}"/>
              <a
                {{#equals _USER_.currentCategory 99}}
                href="/customer/purchase/detail?purchaseId={{id}}"
                {{else}}
                  {{#of type '2,3'}}
                  {{else}}
                    href="/customer/purchase/netsuper-detail?purchaseId={{id}}"
                  {{/of}}
                  {{#equals type 2}}
                    href="/customer/purchase/vaccine-detail?purchaseId={{id}}"
                  {{/equals}}
                  {{#equals type 3}}
                    href="/customer/purchase/blocktrade-detail?purchaseId={{id}}"
                  {{/equals}}
                {{/equals}}
              >{{id}}</a>
            </td>
            <td>
              <input type="hidden" name="" class="" value="{{purchaserId}}"/>
              {{purchaserName}}
            </td>
            <td>
              <input type="hidden" name="" class="" value="{{purchaserOrgId}}"/>
              {{purchaserOrgName}}
            </td>
            <td>
              <input type="hidden" name="" class="" value="{{currentOperatorId}}"/>
              {{currentOperatorName}}
            </td>
            <td>{{formatDate createdAt}}</td>
            <td>
              {{#equals status -3}}<label class="text-muted">已撤销</label>{{/equals}}
              {{#equals status -1}}<label class="text-muted">已取消</label>{{/equals}}
              {{#equals status 0}}<label class="text-muted">草稿</label>{{/equals}}
              {{#equals status 1}}<label class="text-success">部门审核中</label>{{/equals}}
              {{#equals status 2}}<label class="text-success">财务审核中</label>{{/equals}}
              {{#equals status 3}}<label class="text-success">单位审批中</label>{{/equals}}
              {{#equals status 4}}<label class="text-success">已驳回</label>{{/equals}}
              {{#equals status 5}}<label class="text-success">审核通过</label>{{/equals}}
              {{#equals status 10}}<label class="text-success">已产生订单</label>{{/equals}}
            </td>
            <td class="text-right">
              <label class="price big">{{formatPrice totalFee}}</label>
            </td>
            <td class="drawer-btn-container expand-btn">
              <i class="icon-zcy icon-xiangxiazhedie"></i>
            </td>
          </tr>
          <tr class="level2">
            <td colspan="8">
              <div class="drawer-panel">
                <table>
                  {{#each items}}
                    <tr>
                      <td colspan="2" class="text-center">
                        <input type="hidden" name="" value="{{itemId}}"/>
                        <input type="hidden" name="" value="{{itemCode}}"/>
                        {{itemName}}
                        <span class="js-item-services" data-services="{{json services}}"></span>
                      </td>
                      <td colspan="3" class="text-center">
                        <label class="sku-attr text-muted">
                          {{#each skuAttr}}
                            {{#gt @index 0}}/{{/gt}}
                            {{this}}
                          {{/each}}
                        </label>
                      </td>
                      <td>{{quantity}}</td>
                      <td class="text-right">
                        <label class="price">{{formatPrice totalPrice}}</label>
                      </td>
                    </tr>
                  {{/each}}
                </table>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
          <tfoot>
          <tr>
            <th colspan="8" class="text-right">
              <div class="list-pagination pagination-danger"
                   data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}"
                   data-total="{{_DATA_.total}}"></div>
            </th>
          </tr>
          </tfoot>
        {{/unless}}
      </table>
    </div>
  </div>
  <input type="hidden" name="userCategory" value="{{_USER_.currentCategory}}">
{{/component}}
