{{!Copy of web-union}}
<div class="modal invoice" id="modifyInvModal" {{#if id}}data-id="{{id}}"{{/if}} {{#if deliveryId}} data-deliveryid="{{deliveryId}}"{{/if}}>
  {{!--<p>{{json}}</p>--}}
  {{!标题}}
  <div class="modal-header form-control">
    {{#if id}}修改发票{{else}}添加发票{{/if}}
  </div>
  {{!内容}}
  <div class="modal-body form-control" style="min-width: 753px;">
    <table class="table-create" cellpadding="10px" id="invoiceSettingsTable">
      <tr>
          <td>
              <label for="code" class="pull-right"><span class="required">*</span>发票抬头：</label>
          </td>
          <td>
              <input name="code" id="title" type="text" max-length="100" placeholder="长度不超过100个字符" value="{{title}}" icon="false" required/>
          </td>
      </tr>
      <tr>
          <td>
              <label for="name" class="pull-right"><span class="required">*</span>发票类型：</label>
          </td>
          <td>
              <select class="type" id="type">
                <option value="1" {{#equals type 1}}selected{{/equals}}>增值税普通发票</option>
                <option value="2" {{#equals type 2}}selected{{/equals}}>增值税专用发票</option>
              </select>
          </td>
      </tr>
      <tr class="js-taxNumber hidden">
        <td>
          <label for="code" class="pull-right"><span class="required">*</span>纳税人识别号<i class="icon-zcy icon-warningfill js-invoice-popover"></i>：</label>
        </td>
        <td>
          <input name="code" type="text" id="taxNumber" placeholder="请输入" value="{{taxNumber}}" checker-pattern="^[A-Za-z0-9]{1,32}$" icon="false"/>
        </td>
      </tr>
      <tr class="js-bank hidden">
        <td>
          <label for="code" class="pull-right"><span class="required">*</span>开户行：</label>
        </td>
        <td>
          <select class="type" id="bankSelect">
          </select>
          <input type="text" hidden="" id="bank">
        </td>
      </tr>
      <tr class="js-bankAccount hidden">
        <td>
          <label for="code" class="pull-right"><span class="required">*</span>开户行账户：</label>
        </td>
        <td>
          <input name="code" id="bankAccount" type="text" readonly/>
        </td>
      </tr>
      <tr>
          <td>
              <label for="code" class="pull-right"><span class="required">*</span>联系人：</label>
          </td>
          <td>
              <input name="code" id="receiverName" type="text" max-length="25" placeholder="长度不超过25个字符" value="{{receiverName}}" icon="false" required/>
          </td>
      </tr>
      <tr>
          <td>
              <label for="name" class="pull-right"><span class="required">*</span>寄送地址：</label>
          </td>
          <td class="address">
              <select class="address-select init" id="province" name="province" data-level='1' required>
                  <option value="" disabled="" selected="">--选择省份--</option>
              </select>
              <select class="address-select init" id="city" name="city" data-level='2' required>
                  <option value="" disabled="" selected="">--选择城市--</option>
              </select>
              <select class="address-select init" id="region" name="region" data-level='3' required>
                  <option value="" disabled="" selected="">--选择区/县--</option>
              </select>
              <select class="address-select init" id="street" name="street" data-level='4' >
                  <option value=""  selected="selected" >--选择街道--</option>
              </select>
          </td>
      </tr>
      <tr>
          <td>
              <label for="name" class="pull-right"><span class="required">*</span>详细地址：</label>
          </td>
          <td>
              <textarea id="details" name="addComment" rows="8" icon="false" max-length="100" placeholder="建议您如实填写详细寄送地址，例如街道名称，门牌号码，楼层和房间号等信息." value="" required>{{details}}</textarea>
          </td>
      </tr>
      <tr>
          <td>
              <label for="name" class="pull-right">邮政编码：</label>
          </td>
          <td>
              <input name="name" id="zip" type="text" placeholder="" checker-pattern="^[1-9][0-9]{5}$" checker-text="输入无效" value="{{zip}}" icon="false"/>
          </td>
      </tr>
      <tr>
          <td>
              <label for="name" class="pull-right">手机号码：</label>
          </td>
          <td>
              <input name="name" id="mobile" type="text" placeholder="" value="{{mobile}}" checker-group="tel" checker-type="mobile" checker-text="false" icon="false" />
          </td>
      </tr>
      <tr>
          <td>
              <label for="name" class="pull-right">电话号码：</label>
          </td>
          <td>
              <input name="name" id="areaCode" type="text" placeholder="区号" value="{{areaCode}}"/>
              <input name="name" id="telephone" type="text" placeholder="电话号码" value="{{telephone}}"  checker-pattern="^\d{7,8}$" checker-group="tel" checker-text="false" icon="false"/>
              <input name="name" id="telephoneExt" type="text" placeholder="分机" value="{{telephoneExt}}"/>
          </td>
      </tr>
      <tr>
        <td></td>
        <td><span class="defc">手机号码与固定电话必须输入其中一项。</span></td>
      </tr>
      <tr>
          <td rospan="2"></td>
          <td>
              <input class="defc" type="checkbox" id="isDefault" value="" {{#if isDefault}}checked{{/if}}>设为常用发票信息</input>
          </td>
      </tr>
    </table>
  </div>

  {{!行为}}
  <div class="modal-footer form-control">
    <button class="btn btn-info close">取消</button>
    <button class="btn btn-primary btn-medium" id="createSave" disabled>保存</button>
  </div>

</div>