{{!Copy of web-union}}
<div class="modal address">
  {{!--<p>{{json}}</p>--}}
    {{!标题}}
    <div class="modal-header form-control">
        {{#if id}}修改地址{{else}}添加地址{{/if}}
    </div>

    {{!内容}}
    <div class="modal-body form-control" style="min-width: 753px;">
        <table id="addressTable" class="table-create" {{#if id}}data-id="{{id}}" data-deliveryid="{{deliveryId}}"{{/if}}  cellpadding="10px">
            <tr>
                <td><label for="code" class="pull-right"><span class="required">*</span>收货人：</label></td>
                <td><input name="code" id="receiverName" type="text" max-length="25" placeholder="长度不超过25个字符" value="{{receiverName}}" icon="false" required/></td>
            </tr>
            <tr>
                <td><label for="name" class="pull-right"><span class="required">*</span>所在地区：</label></td>
                <td class="address">
                    <select class="address-select init" id="creatProvince" name="province" data-level='1' required>
                        <option value="" disabled="" selected="">--选择省份--</option>
                    </select>
                    <select class="address-select init" id="creatCity" name="city" data-level='2' required>
                        <option value="" disabled="" selected="">--选择城市--</option>
                    </select>
                    <select class="address-select init" id="creatRegion" name="region" data-level='3' required>
                        <option value="" disabled="" selected="">--选择区/县--</option>
                    </select>
                    <select class="address-select init" id="creatStreet" name="street" data-level='4'>
                        <option value=""  selected="selected">--选择街道--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="name" class="pull-right"><span class="required">*</span>详细地址：</label></td>
                <td><textarea id="details" name="addComment"  max-length="100" rows="8" placeholder="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息." icon="false" value="" required>{{details}}</textarea></td>
            </tr>
            <tr>
                <td><label for="name" class="pull-right">邮政编码：</label></td>
                <td><input name="name" id="zip" type="text" placeholder=""  value="{{zip}}" checker-pattern="^[1-9][0-9]{5}$" checker-text="输入无效" icon="false"/></td>
            </tr>
            <tr>
                <td><label for="name" class="pull-right">手机号码：</label></td>
                <td><input name="name" id="mobile" type="text" placeholder="" value="{{mobile}}" checker-group="tel" checker-type="mobile" checker-text="false" icon="false"/></td>
            </tr>
            <tr>
                <td><label for="name" class="pull-right">电话号码：</label></td>
                <td>
                    <input name="name" id="areaCode" type="text" placeholder="区号" value="{{areaCode}}" />
                    <input name="name" id="phone" type="text" placeholder="电话号码" value="{{phone}}" checker-pattern="^\d{7,8}$" checker-group="tel" checker-text="false" icon="false"/>
                    <input name="name" id="phoneExt" type="text" placeholder="分机" value="{{phoneExt}}" />
                </td>
            </tr>
            <tr>
              <td></td>
              <td><span class="defc">手机号码与固定电话必须输入其中一项。</span></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <input class="input-checkbox" type="checkbox" id="isDefault" {{#if isDefault}}checked{{/if}}>设为默认收货地址
              </td>
            </tr>
        </table>
    </div>

    {{!行为}}
    <div class="modal-footer form-control">
        <button class="btn btn-info close">取消</button>
        <button class="btn btn-primary btn-medium" id="createSave" disabled>保存</button>
    </div>

</div>