<div class="modal pur-modal js-purchase-plan-modal">
  <div class="modal-header">
    <h2>
      选择采购计划
      <form action="post" class="form pull-right pay-ment-form">
        <div class="input-group input-group-append">
          <input type="text" name="keyword" id="js-pay-ment-keyword" placeholder="采购计划文号/采购类目">
          <span class="input-group-btn">
            <button class="btn btn-secondary js-get-pay-ments" type="button">查询</button>
          </span>
        </div>
      </form>
    </h2>
  </div>
  <div class="modal-body clearfix">
    <table class="table">
      <thead>
      <tr>
        <th width="30"></th>
        <th width="300">计划书文号</th>
        <th width="120">采购目录</th>
        <th width="120">可用金额(元)</th>
        <th width="120">可用数量</th>
        <th width="120">可用状态</th>
      </tr>
      </thead>
      <tbody>
      {{#each _DATA_.data}}
        <tr class="item-tr" data-payment='{{json this}}'>
          <td width="24" class="check">
            {{#of confirmationId ../_DATA_.selectedIds}}
              &radic;
            {{else}}
              <input type="radio" id="{{confirmationId}}" name="payments" class="js-select-item input-checkbox"
              {{#of confirmationId ../_DATA_.checkedIds}}checked{{/of}}
              {{#equals available false}}disabled{{/equals}}>
            {{/of}}
          </td>
          <td data-confirmationid="{{confirmationId}}"><label
            for="{{confirmationId}}">{{confirmationName}}</label></td>
          <td>{{gpCatalogName}}</td>
          <td>{{formatPrice availableAccount}}</td>
          <td>{{#equals availableQuantity -1}}不限{{else}}{{availableQuantity}}{{/equals}}</td>
          <td>
            {{#equals available true}}
              可用
            {{else}}
              {{#equals unAvaliableReason 1}}不符合采购类目{{/equals}}
              {{#equals unAvaliableReason 2}}数量不可用{{/equals}}
              {{#equals unAvaliableReason 3}}金额不可用{{/equals}}
            {{/equals}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="center-text">无可展示信息</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    <div class="selected-pagination" data-total="{{_DATA_.total}}"></div>
  </div>
  <div class="modal-footer">
    <div class="modal-footer-option">
      <button class="btn btn-info btn-medium close">取消</button>
      <button class="btn btn-primary btn-medium js-new-payment-items-submit">确定</button>
    </div>
    <div style="float: left; line-height:40px;">
      &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>

</div>
