{{#equals style 'rich'}}
  <div class="item-services">
    {{#each data}}
      <a class="service-log" href="{{descriptionUrl}}" target="_blank">
        <img src="{{iconSmall}}" title="{{name}}">
        <span>{{name}}</span>
      </a>
    {{/each}}
  </div>
{{else equals style 'simple'}}
  <div class="item-services">
    <a class="js-service-icon" href="javascript:void (0)"><i class="icon-zcy icon-icon-fu"></i></a>
    <div class="hide js-services-content">
      <div class="tips">商家提供以下贴心服务</div>
      {{#each data}}
        <a class="service-log" href="{{descriptionUrl}}" target="_blank">
          <img src="{{iconSmall}}" title="{{name}}">
        </a>
      {{/each}}
    </div>
  </div>
{{else}}
  <div class="item-services">
    {{#each data}}
      <a class="service-log" href="{{descriptionUrl}}" target="_blank">
        <img src="{{iconSmall}}" title="{{name}}">
      </a>
    {{/each}}
  </div>
{{/equals}}


