{{#component "component-supplierList js-comp"}}
   <div class="hide">{{json this}}</div>
   <input type="text" class="hide hrefmain" value="{{_HREF_.main}}" />
   {{#of "1" _ROLES_}}
     <input id="isPurchaser" type="hidden" value="1" data-user="true">
   {{else}}
     {{#unless _USER_}}
       <input id="isPurchaser" type="hidden" value="1" data-user="false">
     {{/unless}}
   {{/of}}
  <div class="detail-box" style="min-height:306px;height:{{#if height}}{{height}}px{{else}}auto{{/if}};">
    <img style="display: block;margin: 0 auto;" src="/lunatone/assets/images/other-images/loading2.gif" />
  </div>
{{/component}}
