<div class="fileRow" {{#if _HIDE_}}hidden{{/if}}>
  {{#with _FILE_DATA_}}
  <div class="fileMsg pl pr">
    <span class="data-fileId" hidden>{{fileId}}</span>
    <span class="data-type" hidden>{{type}}</span>
    <span class="data-size" hidden>{{size}}</span>
    <i class="icon-zcy icon-fujian mr"></i><span class="fileName" data-name="{{name}}">{{name}}</span>
    {{!--<span class="progress-size">
      <span class="fileResize ml">{{#if resize}}{{formatFileSize resize}} / {{/if}}</span>
      <span class="fileSize ml">{{formatFileSize size}}</span>
    </span>--}}
    <span class="progress-err ml" style="display:none;">上传失败</span>
    <a class="deleteFile">&times;</a>
  </div>
  {{/with}}
</div>