<div class=hide>{{json this}}</div>
<div class="goods-info">
    <div class="left-content">
        <img alt="{{this.zcySpuSnapshot.name}}" src="{{cdnPath this.zcySpuSnapshot.mainImage "200"}}" class="js-main-image" />
    </div>
    <div class="right-content">
        <div class="goods-title" data-id="{{spuId}}">
            {{#each this.zcySpuSnapshot.keyProperties}}
                {{attrVal}}
            {{/each}}
        </div>
        <div class="goods-price">
            <span class="group">
                <label>市场参考价</label>
                <span class="zc-price-content">
                    {{#if this.coefficientPrice}}
                    &yen <span class="zc-price">{{formatPrice this.coefficientPrice}}
                    {{else}}  --
                    {{/if}}
                    </span>
                </span>
            </span>
            <span class="group">
                <label>成交均价</label>
                <span class="deal-price-content">
                    {{#if this.avgPrice}}
                    &yen <span class="deal-price">{{formatPrice this.avgPrice}}
                    {{else}} --
                    {{/if}}
                    </span>
                </span>
            </span>
            <span class="group">
                <span class="order-quantity">{{#if this.purchaserCount}}{{this.purchaserCount}}{{else}}0{{/if}}</span>
                <label>采购人已下单</label>
            </span>
        </div>
        <div class="goods-attrs">
            <ul> <!-- 默认显示9个，超过9个，显示更多参数 -->
                {{#each this.zcySpuSnapshot.totalAttrs}}
                   <li><span>{{attrKey}}：</span><span>{{attrVal}}</span></li>
                {{/each}}
            </ul>
        </div>
        <div class="more-params hide">
            <a href="javascript:void(0);">更多参数 <i class="font12 icon-zcy icon-shouqizhuangtai1"></i> </a>
        </div>
    </div>
</div>

