<table class="table item-manage-table">
  <thead>
  <tr>
    <th>SPU名称</th>
    <th>状态</th>
    <th>提交时间</th>
    <th width="110" class="td-operation">操作</th>
  </tr>
  </thead>
  <tbody>
  {{#each data}}
    <tr data-spu="{{json this}}">
      <td>{{spuName}}</td>
      <td>
        {{#equals status "0"}}<span>待提交</span>{{/equals}}
        {{#equals status "1"}}<span class="text-warn">待审核</span>{{/equals}}
        {{#equals status "3"}}<span class="text-success">审核通过</span>{{/equals}}
        {{#equals status "-1"}}<span class="text-error">审核失败</span>{{/equals}}
      </td>
      <td>{{formatDate createdAt}}</td>

      <td class="td-operation" style="white-space: nowrap;">
        {{#equals status "0"}}
          <a href="/seller/spus/spu-publish?spuAuditId={{spuAuditId}}&ptype=5&update=true" target="_blank">变更申请</a>
        {{/equals}}
        {{#equals status "-1"}}
          <a href="/seller/spus/spu-publish?spuAuditId={{spuAuditId}}&ptype=5&update=true" target="_blank">变更申请</a>
        {{/equals}}
        {{#equals status "0"}}
          <a href="javascript:void(0)" class="js-submit-spu">提交审核</a>
        {{/equals}}
        <a href="/seller/spus/spu-publish?spuAuditId={{spuAuditId}}&ptype=5" target="_blank">查看申请</a>
      </td>
    </tr>
  {{else}}
    <tr><td colspan="4" class="text-center">没有相关记录</td></tr>
  {{/each}}
  </tbody>
  <tfoot>
  <tr>
    <td colspan="9" class="td-operation"><div class="item-pagination" data-total="{{total}}" data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}"></div></td>
  </tr>
  </tfoot>
</table>