<div class="purchase-plan-popover" style="font-size: 12px;">
  <div class="info-row">
    <label>采购类目：</label><span>{{gpCatalogName}}</span>
  </div>
  <div class="info-row">
    <label>可用金额：</label><span>{{formatPrice availableAccount}}</span>
  </div>
  <div class="info-row">
    <label>可用数量：</label>
    <span>
      {{#equals availableQuantity -1}}
        不限
      {{else}}
        {{availableQuantity}}
      {{/equals}}
    </span>
  </div>
  <div class="info-row">
    <label>本次将使用数量：</label><span>{{usedQuantity}}</span>
  </div>
  <div class="info-row">
    <label>本次将使用金额：</label><span>{{formatPrice usedAccount}}</span>
  </div>
</div>