{{#component "item-detail js-comp"}}
    <p class="hide">{{json this}}</p>
  <input type="hidden" id="YZHD_ITEMID" value="{{itemId}}">
  <input type="hidden" name="urlInquiry" value="{{_ENV_HREF_.inquiry}}">
  <input type="hidden" id="lasvegasPath" data-district-id="{{_DATA1_.data.goodDto.districtId}}" value="{{_ENV_HREF_.lasvegas}}">
  <input type="hidden" id="frontPath" value="{{_ENV_HREF_.front}}">
  <p class="item-bread-crumb"><a href="{{_ENV_HREF_.hall}}/hall/search" style="color:#333;">全部</a> <i class="icon-zcy icon-nextstep"></i> 商品详情</p>
  <div class="item-detail-left" id="js-item-detail-left">
    <div class="image-manage" data-item-detail="{{_DATA_.itemDetail.id}}"
                              data-user="{{json _USER_}}">
      <a class="main-image js-main-image-container zoom" href="{{_DATA_.item.mainImage}}">
        <img alt="{{_DATA_.item.name}}" src="{{cdnPath _DATA_.item.mainImage '400'}}" class="js-main-image" width="380" height="380" />
        <i class="icon-zcy icon-search image-enlarge"></i>
      </a>

      <div class="carousel-wrap item-carousel-wrap js-comp" data-comp-path="common/more_carousel">
        <div class="carousel show">
          <ul class="images carousel-container clearfix" data-time="" data-auto="false" data-length="5" data-type="0"  data-size="{{add (size _DATA_.imageInfos) 1}}">
            <li class="selected" style="width:20%">
              <img id="itemMainImage" class="thumbnail" src="{{cdnPath _DATA_.item.mainImage "360"}}" alt="{{_DATA_.item.name}}" data-src="{{_DATA_.item.mainImage}}"/>
            </li>
            {{#each _DATA_.imageInfos}}
              <li style="width:20%">
                <img class="thumbnail" src="{{cdnPath url "100"}}" alt="{{#if name}}{{name}}{{else}}{{_DATA_.item.name}}{{/if}}" data-src="{{url}}"/>
              </li>
            {{/each}}
          </ul>
        </div>

        <a class="prev outside" href="javascript:void(0);"></a>
        <a class="next outside" href="javascript:void(0);"></a>
      </div>
    </div>
  </div>
  <div class="item-detail-right" id="js-item-detail-right">
    <div class="item-title" data-id="{{itemId}}" data-status="{{_DATA_.item.status}}">
      <h1 title="{{_DATA_.item.name}}" id="js-item-name">{{_DATA_.item.name}}</h1>
      <a href="/report/report-fill?accusationType=商品举报&businessId={{itemId}}"><div class="js-report-item report-item">举报</div></a>
      <input name="mSkuid" type="hidden" value="{{_DATA1_.data.goodDto.skuId}}"/>
    </div>
      {{#equals _DATA_.item.tags.vaccine 1}}

      {{else}}
          {{#if _DATA_.gpCatalog}}
          <p class="item-platform-link-warp" style="color:#1a7aff">采购目录：
          <span class="total-sold"
                title="{{#if _DATA_.gpCatalog}}{{#each _DATA_.gpCatalog}}{{this}}&nbsp;&nbsp;{{/each}}{{/if}}">

              {{#each _DATA_.gpCatalog}}
                  {{this}}
              {{/each}}
          {{else}}
              暂无目录
          </span>
          </p>
          {{/if}}

      {{/equals}}
    <div class="item-info">
      <ul class="item-info-list clearfix">
        <li class="price-li">
          <label class="first-line">协议价：
            <span class="item-price">
            {{_CURRENCY_}}
              <span id="js-item-price" class="price" data-range="{{_DATA1_.data.goodDto.agreementPrice}}">
              {{_DATA1_.data.goodDto.agreementPrice}}
              </span>
            </span>
          </label>
         {{!-- {{inject "buyer/item_price_curve"}}--}}
        </li>
        <li class="outer-li">
          <label class="first-line">市场价：
            <span class="outer-price">
              <span>
                <span id="js-item-platform-price" data-range="-" data-currency="{{_CURRENCY_}}">
                  {{_DATA1_.data.goodDto.marketPrice}}
                </span>
              </span>
            </span>
          </label>
        </li>
        <li class="discount-li">
          <label style="margin-right:30px;" class="first-line">优惠率：<span class="discount-precent">{{#if _DATA1_.data.goodDto.discountRate}}{{_DATA1_.data.goodDto.discountRate}}{{else}}98{{/if}}%</span></label>
        </li>
      </ul>
      <ul class="item-info-list-pj">
        <li>
          <label>累计评价：<span class="total-sold">{{#if _STATISTICS_.realEvaluateTimes}}{{_STATISTICS_.realEvaluateTimes}}{{else}}0{{/if}}</span></label>
        </li>
        <li>
          <label>总销量：<span class="total-sold">{{#if _DATA_.item.saleAmount}}{{_DATA_.item.saleAmount}}{{else}}0{{/if}}</span></label>
        </li>
        {{!--<li>
                          <label>打包周期：<span class="total-sold">{{#if _STATISTICS_.currentScore}}{{_STATISTICS_.currentScore}}{{else}}100{{/if}}周</span></label>
                        </li>--}}
        <li>
          <label>满意度：<span class="satisfaction">{{#if _STATISTICS_.currentScore}}{{_STATISTICS_.currentScore}}{{else}}100{{/if}}分</span></label>
        </li>
      </ul>
    </div>

    {{#equals _DATA1_.data.goodDto.status 1}}<!--  1上架 -1下架 -3冻结  -->
    <div class="item-skus">
      <a href="javascript:void(0);" class="close-warning" style="display:none;">×</a>
      <ul id="choose" data-skus="{{json _DATA_.skus}}"
                      data-attrs="{{json _DATA_.groupedSkuAttrs}}">
        <li id="choose-region">
          <div class="controls">
          {{inject "common/address_select_down"}}
          </div>
        </li>
        {{#each _DATA_.groupedSkuAttrs}}
          <li class="sku-choose js-attr-sort" data-index="{{@index}}">
            <div class="control-group">
              <label class="dt sku-items-label" for="input-name">{{attrKey}}：</label>
              <div class="smdd sku-items">
                <div class="wrap-input">
                    <a class="{{#if skuAttributes.[0].image}}skuAttributes.[0].hasImage{{/if}} js-sku-attr sku-attr" data-show="{{skuAttributes.[0].showImage}}" {{#if skuAttributes.[0].image}}data-src="{{skuAttributes.[0].image}}"{{/if}} data-id="{{skuAttributes.[0].id}}" href="javascript:;" title="{{skuAttributes.[0].attrVal}}" data-attr="{{skuAttributes.[0].attrKey}}:{{skuAttributes.[0].attrVal}}" data-key="{{skuAttributes.[0].attrKey}}">{{#if skuAttributes.[0].image}}<img src="{{cdnPath skuAttributes.[0].image "60"}}" alt="{{skuAttributes.[0].attrVal}}" data-src="{{skuAttributes.[0].image}}">{{else}}{{skuAttributes.[0].attrVal}}{{/if}}</a>
                </div>
              </div>
            </div>
          </li>
        {{/each}}
        <li id="choose-amount">
          <div class="control-group">
            <label class="dt sku-items-label" for="input-name">{{i18n "Purchase quantity " bundle="all_mix"}}：</label>
            <div class="controls">
              <div class="input-amount js-item-stock-quantity" data-max="">
                <a href="javascript:void(0);" class="disabled minus">-</a>
                <input maxlength="6" type="text" value="1" class="count-number" id="item-quantity" data-old="1" data-max-stock="">
                <a href="javascript:void(0);" class="plus">+</a>
              </div>
              <span>&nbsp;&nbsp;{{_DATA1_.data.item.extra.unit}}</span>
              &nbsp;&nbsp;&nbsp;
              <span class="total-stock hide">
                库存<span class="item-quantity" id="js-item-stock" data-stock="999999999">{{_DATA1_.data.item.stockQuantity}}</span>{{_DATA1_.data.item.extra.unit}}</span>
            </div>
          </div>
        </li>
        {{#if _USER_.id}}
          {{#equals _USER_.type 1}}
            {{!-- {{#equals _DATA1_.data.goodDto.districtId "001000"}}
            {{else}} --}}
            <li id="choose-btns">
              {{!--<button class="btn btn-large btn-primary btn-icon js-add-cart" type="button"><i class="icon-zcy icon-cart"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{i18n "Add to cart " bundle="all_mix"}}</button>&nbsp;&nbsp;&nbsp;--}}
              <button class="btn btn-large js-buy-now purchase" type="button" data-org="{{_USER_.orgId}}"><!-- 直接 -->生成竞价单</button>
              <span class="warning-words required" style="display:none;">{{i18n "Please tick the product info you want " bundle="all_mix"}}</span>
              <span class="stock-empty hide required">{{i18n "Insufficient product in inventory " bundle="all_mix"}}，{{i18n "Please choose other item" bundle="all_mix"}}</span>
            </li>
            {{!-- {{/equals}} --}}
          {{/equals}}
        {{else}}
          {{!-- {{#equals _DATA1_.data.goodDto.districtId "001000"}}
          {{else}} --}}
          {{!-- <li id="choose-btns">
            <button class="btn btn-primary btn-icon buy-btn js-add-cart" type="button">{{i18n "Add to cart " bundle="all_mix"}}</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-info buy-btn buy-order js-buy-now" type="button" data-org="{{_USER_.orgId}}">生成竞价单</button>
            <span class="warning-words required" style="display:none;">{{i18n "Please tick the product info you want " bundle="all_mix"}}</span>
            <span class="stock-empty hide required">{{i18n "Insufficient product in inventory " bundle="all_mix"}}，{{i18n "Please choose other item" bundle="all_mix"}}</span>
          </li> --}}
          {{!-- {{/equals}} --}}
        {{/if}}
      </ul>
    </div>
    {{else}}
    <div class="item-not-on">
      <div class="status-desc">
        <p>
          亲，你来晚了，此商品已下架
          {{!--{{#equals _DATA_.item.status "0"}}亲，你来早了，{{i18n "This item has not been listed " bundle="all_mix"}}{{/equals}}--}}
          {{!--{{#equals _DATA_.item.status "-1"}}亲，你来晚了，{{i18n "This item has been removed from list " bundle="all_mix"}}{{/equals}}--}}
          {{!--{{#equals _DATA_.item.status "-2"}}亲，你来晚了，{{i18n "This item is suspend" bundle="all_mix"}}{{/equals}}--}}
          {{!--{{#equals _DATA_.item.status "-3"}}亲，你来晚了，{{i18n "This item has been deleted " bundle="all_mix"}}{{/equals}}--}}
        </p>
      </div>
    </div>
    {{/equals}}
  </div>
{{/component}}
