<input type="text" class="hide js-supplier-avg-save2" name="js-supplier-avg-gh" value="{{_DATA_.evaluateWeightAverageList.0.averageScore}}" />
<input type="text" class="hide js-supplier-avg-save2" name="js-supplier-avg-fw" value="{{_DATA_.evaluateWeightAverageList.1.averageScore}}" />
<input type="text" class="hide js-supplier-avg-save2" name="js-supplier-avg-jg" value="{{_DATA_.evaluateWeightAverageList.2.averageScore}}" />
<input type="text" class="hide js-supplier-avg-save2" name="js-supplier-avg-zl" value="{{_DATA_.evaluateWeightAverageList.3.averageScore}}" />
{{#equals _DATA_.searchedSupplierPaging.total 0}}
    <div style="text-align: center;padding: 20px 0;">
      <div class="no-data-box">
        <img src="/lunatone/assets/images/other-images/error-page.png" />
      </div>
      <div class="no-data-box" style="vertical-align: top;margin-top: 150px;">
        <div class="text-content">
          <span style="font-size: 24px;">没有找到相关的供应商，请重新输入关键字</span>
        </div>
      </div>
    </div>
  {{else}}
    {{#each _DATA_.searchedSupplierPaging.data}}
      <div class="supplierItem">
        <div class="content-left">
          <div class="supplier-title">
            <input class="hide shopidSave" value="{{shopId}}" />
            <img style="width: 134px;height: 76px;" src="{{#if logoPath}}{{logoPath}}{{else}}/{{/if}}" />
            <div class="supplier-msg">
              <input class="hide qqSave" value="{{qq}}" />
              <p>
                <span class="supplierName logoMsg" data-name="{{name}}" title="{{name}}"></span><i class="icon-zcy icon-detailqq"></i>
              </p>
              <div class="avg-score-box">
                <div class="arrow-content js-supplier-avg-score-div" data-targetid="5">
                  <span class="content-span js-target-name js-supplier-avg-gh">供货
                    <span class="js-average-score inlineBlock">
                    {{this.evaluateTargetScoreStatisticses.0.averageScore}}
                    </span>
                    <i class="icon-zcy"></i></span>
                </div>
                <div class="arrow-content js-supplier-avg-score-div" data-targetid="5">
                  <span class="content-span js-target-name js-supplier-avg-fw">服务
                    <span class="js-average-score inlineBlock">
                      {{this.evaluateTargetScoreStatisticses.1.averageScore}}
                    </span>
                    <i class="icon-zcy"></i>
                  </span>
                </div>
                <div class="arrow-content js-supplier-avg-score-div" data-targetid="5">
                  <span class="content-span js-target-name js-supplier-avg-jg">价格
                    <span class="js-average-score inlineBlock">
                      {{this.evaluateTargetScoreStatisticses.2.averageScore}}
                    </span>
                    <i class="icon-zcy"></i>
                  </span>
                </div>
                <div class="arrow-content js-supplier-avg-score-div" data-targetid="5">
                  <span class="content-span js-target-name js-supplier-avg-zl">质量
                    <span class="js-average-score js-supplier-avg-zl inlineBlock">
                      {{this.evaluateTargetScoreStatisticses.3.averageScore}}
                    </span>
                    <i class="icon-zcy"></i>
                  </span>
                </div>

                <input type="text" class="hide js-supplier-avg-save" name="js-supplier-avg-gh" value="{{this.evaluateTargetScoreStatisticses.0.averageScore}}" />
                <input type="text" class="hide js-supplier-avg-save" name="js-supplier-avg-fw" value="{{this.evaluateTargetScoreStatisticses.1.averageScore}}" />
                <input type="text" class="hide js-supplier-avg-save" name="js-supplier-avg-jg" value="{{this.evaluateTargetScoreStatisticses.2.averageScore}}" />
                <input type="text" class="hide js-supplier-avg-save" name="js-supplier-avg-zl" value="{{this.evaluateTargetScoreStatisticses.3.averageScore}}" />
              </div>
              <div class="js-item-services" data-services="{{json services}}"></div>
            </div>
          </div>
          <table>
            <tr>
              <td class="icon-td">
                <i class="icon-zcy icon-call"></i>
              </td>
              <td class="msg-td">
                联系电话：{{#if contactPhone}}{{contactPhone}}{{else}}-{{/if}}
              </td>
              <td class="icon-td">
                <i class="icon-zcy icon-detailjyms"></i>
              </td>
              <td class="msg-td" title="{{#if supplierType}}{{supplierType}}{{else}}-{{/if}}">
                经营模式：
                {{#if supplierType}}{{supplierType}}{{else}}-{{/if}}
              </td>
            </tr>
            <tr>
              <td class="icon-td">
                <i class="icon-zcy icon-leimupinleifenleileibie"></i>
              </td>
              <td class="msg-td" title="{{#equals (size categoryIds) 0}}-{{else}}{{#each categoryIds}}{{this}},{{/each}}{{/equals}}">
                经营品目：{{#equals (size categoryIds) 0}}-{{else}}{{#each categoryIds}}{{this}},{{/each}}{{/equals}}
              </td>
              <td class="icon-td">
                <i class="icon-zcy icon-detailszd"></i>
              </td>
              <td class="msg-td">
                所在地：{{affiliationLocName}}
              </td>
            </tr>
            <tr>
              <td class="icon-td">
                <i class="icon-zcy icon-gongsi"></i>
              </td>
              <td class="msg-td" title="{{#if supplierType}}{{supplierType}}{{else}}-{{/if}}" colspan="3">
                公司规模：
                {{#if enterpriseScale}}
                  {{enterpriseScale}}
                {{else}}-{{/if}}
              </td>
            </tr>
          </table>
        </div>
        <div class="content-right">
          {{#each hotItems}}
            <a class="img-box" href="/items/{{id}}">
              <img src="{{mainImage}}" />
              <div><span class="price">￥{{formatPrice lowPrice}}</span><span class="sp-xl">销量{{#equals _USER_.currentCategory 12}}－{{else}}{{saleQuantity}}{{/equals}}件</span></div>
            </a>
          {{/each}}
          <div class="operators">
            {{#equals ../isPurchaser 1}}
              <a class="js-add-favor" data-shop-id="{{shopId}}" href="javascript:void(0)">关注店铺</a>
            {{/equals}}
            <a class="show-more" href="/eevees/shop?shopId={{shopId}}&searchType=1">进入店铺&gt;</a>
          </div>
        </div>
      </div>
    {{/each}}
    <div class="list-pagination" style="text-align: right;background:#f7f7f7;">
      <div class="pagination" data-size="{{#if pageSize}}{{pageSize}}{{else}}10{{/if}}"
           data-total="{{_DATA_.searchedSupplierPaging.total}}"></div>
    </div>
{{/equals}}
