{{#component "component-tax-hall-notice-detail js-comp"}}
{{!-- 
{
  detailList:[{
    requireTitle:"",
    endTime:""
  }]
}
 --}}
 <tbody  id="announceDetailBody">
 {{!-- {{#if detailList}}
 {{#each detailList}}
<tr>
  <td><a href="{{_ENV_HREF_.inquiryhall}}/lasvegas/protocolhall/detail?anNouncementId={{anNouncementId}}">{{purchaserRequire}}</a></td>
  {{#equals stateName "报价中"}}
  <td class="timer" data-time="{{endTime}}"></td>
  {{else}}
  <td>-</td>
  {{/equals}}
</tr>
{{/each}}
{{else}}
<tr>
  <td colspan="2" class="text-center">暂无数据</td>
</tr>
{{/if}} --}}
</tbody>
{{/component}}

