{{#component "js-comp shop-cart-manufacture"}}
  <input class="count-query-url" value="{{queryCountUrl}}" type="hidden">
  <input class="shop-cart-tags" value="{{json _TAGS_}}" type="hidden">
  <a
    {{#if _USER_}}
      {{#if defaultLink}}
        href="/{{defaultLink}}"
      {{else}}
        href="{{_ENV_HREF_.front}}/cart"
      {{/if}}
    {{else}}
      href="/login"
    {{/if}}
  >
    <div class="js-goto-mycart">
      <i class="icon-zcy icon-gouwuche1"></i>
      <span class="font-14">购物车</span>
      {{#if _USER_}}
        <strong id="js-cart-count"></strong>
      {{/if}}
    </div>
  </a>
{{/component}}

