{{#component "brand-creat-warp js-comp"}}
<div class="brand-head">
  品牌创建
</div>
<div class="brand-content">
  <form class="brand-creat">
    <input type="hidden" name="workflowId" value="{{workflowId}}" />
    <input type="hidden" name="changeDetailId" value="{{_DATA_.changeDetailId}}" />
    <table class="brand-table">
      <tr>
        <td class="title-td">是否国内品牌：</td>
        <td class="js-td-abroad">
          <label>
             <input name="isAbroad" class="input-radio" type="radio" value="0" {{#equals _DATA_.isAbroad 0}}checked=checked{{/equals}} required>
             <span>是</span>
          </label>
          <label>
            <input name="isAbroad" class="input-radio" type="radio" value="1" {{#equals _DATA_.isAbroad 1}}checked=checked{{/equals}} required>
            <span>否</span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="title-td">
          <span class="star-info">*</span> 全称：
        </td>
        <td>
          <input type="text" name="fullName" placeholder="请输入品牌全称"  value="{{_DATA_.fullName}}" readonly required>
            <!--<span style="font-size:10px;color:#999;">(注：如无特殊情况，请勿修改此格式)</span>-->
        </td>
      </tr>
      <tr>
        <td class="title-td">
          <span class="star-info" {{#equals _DATA_.isAbroad 1}}style="display: none;" {{/equals}}>*</span>中文名：
        </td>
        <td>
          <input type="text" name="chName" placeholder="请输入品牌中文名" value="{{_DATA_.chName}}" {{#equals _DATA_.isAbroad 0}}required{{/equals}}>
        </td>
      </tr>
      <tr>
        <td class="title-td">
          <span class="star-info" {{#equals _DATA_.isAbroad 0}}style="display: none;" {{/equals}}>*</span>英文名：
        </td>
        <td>
          <input type="text" name="enName" placeholder="请输入品牌英文名" value="{{_DATA_.enName}}" {{#equals _DATA_.isAbroad 1}}required{{/equals}}>
        </td>
      </tr>
      <tr>
        <td class="title-td">
          <span class="star-info">*</span> LOGO：
        </td>
        <td>
          <a href="javascript:;" class="js-select-icon uploadLink"></a>
          <img src="{{_DATA_.logo}}" alt="{{_DATA_.logo}}" class="js-preview">
        </td>
      </tr>
      <tr>
        <td class="title-td">
          <span class="star-info">*</span> 商标注册号：
        </td>
        <td>
          <input type="text" name="registrationNo" placeholder="请输入注册号" value="{{_DATA_.registrationNo}}" required>
        </td>
      </tr>
      <tr>
        <td class="title-td">
          <span class="star-info">*</span> 品牌所有人：
        </td>
        <td>
          <input type="text" name="brandOwner" placeholder="请输入所有人姓名" value="{{_DATA_.brandOwner}}" required>
        </td>
      </tr>
      <tr>
        <td class="title-td">
          <span class="star-info">*</span> 品牌类别：
        </td>
        <td>
          <select class="select js-brand-type" name="brandType" required data-select="{{_DATA_.brandType}}">
            <option {{#equals _DATA_.brandType ""}}selected=selected{{/equals}} value="">请选择品牌类别</option>
            <option {{#equals _DATA_.brandType "OWNER"}}selected=selected{{/equals}} value="OWNER">自有品牌</option>
            <option {{#equals _DATA_.brandType "AUTH"}}selected=selected{{/equals}} value="AUTH">授权品牌</option>
            <option {{#equals _DATA_.brandType "MAINTENANCE"}}selected=selected{{/equals}} value="MAINTENANCE">品牌维护</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="title-td">
          <span class="star-info js-require-file">*</span> 附件信息：
        </td>
        <td>
          <div class="brand-tag">-</div>
          <ul class="attachment OWNER">
            <li>
              <div class="upload-title">商品注册证</div>
            </li>
            <li>
              <div class="upload-title">受理通知书</div>
            </li>
            <li>
              <div class="upload-title">商品注册申请书</div>
            </li>
          </ul>
          <ul class="attachment AUTH">
            <li>
              <div class="upload-title">品牌授权说明书</div>
            </li>
          </ul>
          <ul class="attachment MAINTENANCE">
            <li>
              <div class="upload-title">品牌授权说明书</div>
            </li>
          </ul>
          <div class="upload-box upload" style="display: none;">
            {{inject "common/uploadFile" _FILE_DATA_=_DATA_.attachments}}
          </div>
        </td>
      </tr>
      <tr>
        <td class="title-td">
          <span class="star-info">*</span> 品牌适用类目：
        </td>
        <td>
          <div class="btn btn-secondary category-btn">
            请选择类目路径
          </div>
        </td>
      </tr>
      <tr>
        <td class="title-td"></td>
        <td class="path-select">
          {{#each _DATA_.applyCategoryList}}
          <button class="btn btn-info select-delete" data-title="{{code}}">{{categoryPath}}<i class="icon-zcy icon-close"></i></button> {{/each}}
        </td>
      </tr>
    </table>
    {{inject "seller/brand_creat/items_category"}}
    <table>
      <tr>
        <td class="title-td"></td>
        <td>
          <a class="btn btn-secondary" href="javascript:window.history.go(-1)">取消</a>
          <button type="submit" class="btn btn-primary js-change-btn">保存</button>
        </td>
      </tr>
    </table>
  </form>
</div>
{{/component}}