<tr class="{{#if data.type}}{{else}}first fover-first{{/if}}" data-warehouse-code="{{data.warehouseCode}}"
    data-sku-id="{{data.skuId}}"
    data-unit="{{data.unit}}">
  {{#if data.type}}
  <td class="left-text">{{data.warehouseName}}</td>
  <td class="left-text">{{data.warehouseCode}}</td>
  <td class="left-text js-save-quantity">{{data.quantity}}{{data.unit}}</td>
  {{else}}
  <td class="center-text">{{data.warehouseName}}</td>
  <td class="center-text js-save-quantity">{{data.quantity}}{{data.unit}}</td>
  {{/if}}
  <td class="operating-list">
    <span class="in-out-stock-input js-in-out-stock-input hide">
      <input type="text" class="js-change-quantity">
      <button class="btn btn-small js-in-out-stock">保存</button>
      <button class="btn btn-small js-cancel-stock">取消</button>
    </span>
    <a class="js-in-stock js-stock">入库</a>
    <a class="js-out-stock js-stock">出库</a>
    <a class="js-view-record" href="/seller/stock-record?warehouseCode={{data.warehouseCode}}&skuId={{data.skuId}}">查看记录</a>
  </td>
</tr>
