<ol class="products-list clearfix" data-items="{{json this}}">
  {{#each itemList}}
    <li class="product-item clearfix">
      <a href="{{../domain}}/items/{{id}}?searchType=1">
        <div class="product-image"><img src="{{cdnPath mainImage '330w'}}"></div>
        <div class="product-info">
          <p class="product-name">{{name}}</p>
          <p class="product-price">
            <span class="currency">￥{{formatPrice lowPrice 0}}</span>
          </p>
        </div>
      </a>
    </li>
    {{#equals @index 3}}
      <div class="separator-line"></div>
    {{/equals}}
  {{/each}}
</ol>