<div class="modal select-requisition">
  <div class="modal-header">
    <span class="h2">选择需求单</span>
    <a href="javascript:void(0)" class="close pull-right close-modal">&times;</a>
  </div>
  <div class="modal-body">
    <table class="table select-req-list-table">
      <thead>
      <tr>
        <th class="left-text" width="200">需求申请单时间</th>
        <th width="200">需求申请单号</th>
        <th width="200">需求人</th>
        <th width="200">需求单金额(元)</th>
      </tr>
      </thead>
      <tbody>
      {{#each data}}
        <tr data-requisition="{{requisition.id}}" data-requisition-items="{{json requisitionItems}}" class="requisition-tr first-level-tr">
          <td class="left-text">
            <span class="requisition-span"><label for="{{requisition.id}}">{{formatDate requisition.createdAt}}</label></span>
          </td>
          <td>
            <span>{{requisition.id}}</span>
          </td>
          <td><a class="js-get-phone" data-user-id="{{requisition.buyerId}}" data-user-type="1"><span>{{buyerName}}</span></a></td>
          <td>
            <div><span class="price">{{_CURRENCY_}}<span class="requisition-subtotal"></span></span></div>
          </td>
        </tr>
      {{else}}
        <tr><td colspan="4" class="text-center first-level-tr">无可展示信息</td></tr>
      {{/each}}
      </tbody>
      <tfoot>
       <tr>
         <td colspan="4">
           {{#equals createType "purchase"}}
             <button class="btn btn-medium btn-primary js-submit" disabled>创建预购单</button>
           {{/equals}}
           {{#equals createType "order"}}
              <button class="btn btn-medium btn-primary js-create-order" disabled>创建订单</button>
           {{/equals}}
           <button class="btn btn-medium btn-primary js-clear-select" disabled>清除选中</button>
           <div class="requisitions-pagination" data-total="{{total}}"></div>
         </td>
       </tr>
      </tfoot>
    </table>
  </div>
</div>
