{{#component "component-reverse-result js-comp"}}
  <div class="hide">{{json}}</div>
  <div class="reverse-result-container">
    <div class="reverse-title">
      <h1>{{_DATA_.noticeTitle}}</h1><br/>
      <ul>
        <li>日期：<span>{{formatDate _DATA_.endTime 'yyyy-MM-dd'}}</span></li>
      </ul>
    </div>
    <div class="reverse-info">
       <section>
        <h2>基本信息</h2>
        <table class="table table-fixed">
          <tbody>
          <tr>
            <td>反向竞价单编号</td>
            <td>{{_DATA_.id}}</td>
            <td>采购目录</td>
            <td>{{_DATA_.catalogName}}</td>
            <td>项目优先级</td>
            <td>{{#equals _DATA_.isUrgent 'Y'}}紧急{{else}}非紧急{{/equals}}</td>
          </tr>
          <tr>
            <td>报价开始时间</td>
            <td>{{formatDate _DATA_.startTime 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>报价截止时间</td>
            <td>{{formatDate _DATA_.endTime 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>供应商规模要求</td>
            <td>{{_DATA_.supScale}}</td>
          </tr>
          <tr>
            <td>供应商资格要求</td>
            <td colspan="5" title="{{_DATA_.supBasicQualif}}">符合《中华人民共和国政府采购法》第二十二条的规定，符合《关于规范政府采购供应商资格设定及资格审查的通知》第六条规定且已在本系统注册的供应商</td>
          </tr>
          <tr>
            <td>供应商区域范围要求</td>
            <td colspan="5">{{_DATA_.supDistrictName}}</td>
          </tr>
          <tr>
            <td>成交规则及确认方式</td>
            <td colspan="5">
                自动确认：由系统自动确认满足本项目的供应商资格条件和竞价要求，并且符合报价最低的供应商为最终成交供应商。
            </td>
          </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h2>反向竞价商品清单</h2>
            <table class="table table-fixed">
              <thead>
              <tr>
                <th>商品类目</th>
                <th>品牌型号或服务</th>
                <th>数量</th>
                <th>起拍总价(元)</th>
              </tr>
              </thead>
              <tbody class="bgc-clear">
                {{#each _DATA_.raItemDto}}
                <tr>
                  {{#equals type 1}}
                    <td>{{productCatalogName}}</td>
                    <td>{{brand}}&nbsp;{{model}}</td>
                    <td>{{quantity}}{{unit}}</td>
                    <td>{{formatPrice controllerPrice}}</td>
                  {{else}}
                    <td>服务</td>
                    <td>{{content}}</td>
                    <td></td>
                    <td>{{formatPrice controllerPrice}}</td>
                  {{/equals}}
                </tr>
                {{/each}}
              </tbody>
            </table>
      </section>
      <section>
        <h2>收货信息</h2>
        <table class="table table-fixed">
          <tbody>
          <tr>
            <td>送货方式</td>
            <td>{{_DATA_.deliveryMethod}}</td>
            <td>送货时间</td>
            <td>{{_DATA_.deliveryTime}}</td>
            <td>送货期限</td>
            <td>合同生效后{{_DATA_.deliveryTerm}}个工作日内</td>
          </tr>
          <tr>
            <td>送货地址</td>
            <td colspan="5">
              {{#each _DATA_.raDeliveryDtos}}
                {{provinceName}}
                {{cityName}}
                {{regionName}}
                {{streetName}}
                {{details}}
                <br/>
              {{/each}}
            </td>
          </tr>
          <tr>
            <td>备注</td>
            <td colspan="5">{{_DATA_.deliveryRemark}}</td>
          </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h2>商务要求</h2>
        <table class="table table-fixed">
          <tbody>
          <tr>
            <td>商务要求</td>
            <td>
              {{#each _DATA_.raBusinessDto}}
                {{add @index 1}}、{{content}}<br/>
              {{/each}}
            </td>
          </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h2>成交结果信息</h2>
        {{#equals _DATA_.state 5}}
          <table class="table table-fixed">
            <tbody>
            <tr>
              <td>中标供应商</td>
              <td>{{_DATA_.raSupplierDtoList.0.supName}}</td>
              <td>成交总价(元)</td>
              <td>{{formatPrice _DATA_.raSupplierDtoList.0.totalPrice}}</td>
              <td>报价时间</td>
              <td>{{formatDate _DATA_.raSupplierDtoList.0.updatedAt 'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
            </tbody>
          </table>
          {{!--<table class="table table-fixed" style="margin-top: 20px">
            <thead>
            <tr>
              <th>序号</th>
              <th>商品名称</th>
              <th>品牌</th>
              <th>型号</th>
              <th>数量</th>
              <th>单价(元)</th>
            </tr>
            </thead>
            <tbody class="bgc-clear">
            {{#each _DATA_.oiOrderDTO.oiQuote.oiQuoteItemDTOList}}
              <tr>
                <td>{{add @index 1}}</td>
                <td>{{productCatalogName}}</td>
                <td>{{brand}}</td>
                <td>{{model}}</td>
                <td>{{quantity}}</td>
                <td>{{referencePrice}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>--}}
        {{/equals}}
        {{#equals _DATA_.state 6}}
          <table class="table table-fixed">
            <tbody>
            <tr>
              <td>结果</td>
              <td>竞价失败</td>
              <td>备注</td>
              <td>报价家数不足</td>
            </tr>
            </tbody>
          </table>
        {{/equals}}
      </section>
      {{#of _DATA_.state "5,6"}}
      <section>
        <h2>参与报价供应商情况</h2>
        <table class="table table-fixed">
          <thead>
          <tr>
            <th style="width: 150px;">序号</th>
            <th>供应商名称</th>
            <th>报价时间</th>
          </tr>
          </thead>
          <tbody class="bgc-clear">
          {{#each _DATA_.raSupplierDtoList}}
            <tr>
              <td>{{add @index 1}}</td>
              <td>{{supName}}</td>
              <td>{{formatDate updatedAt 'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </section>
      {{/of}}
    </div>
      <div class="reverse-notice">
          <div>
              <i class="icon-zcy icon-xiangguangonggao-"></i>
              <h2>相关信息</h2>
              <span></span>
          </div>
          <div class="reverse-notice-link">
              <a class="title-result" href="/reversehall/detail?requireId={{_DATA_.id}}">{{_DATA_.noticeTitle}}</a>
          </div>
      </div>
  </div>
{{/component}}
