{{#component "breadcrumbs"}}
  <ol class="breadcrumb" data-menu-path="{{menuPath}}">
    {{#each breadcrumb}}
      <li>
        {{#if url}}
          {{#equals url "#"}}
            <span>{{crumb}}</span>
          {{else}}
            <a href="{{url}}">{{crumb}}</a>
          {{/equals}}
        {{else}}
          <span>{{crumb}}</span>
        {{/if}}
      </li>
    {{/each}}
  </ol>
{{/component}}
