{{#component "tax-hall-hot-floor js-comp"}}
<div>
  <div class="title">
    <span class="title-text">最<strong class="title-split">/</strong>新<strong class="title-split">/</strong>商<strong class="title-split">/</strong>品</span>
  </div>
  <div class="item-list clearfix">
    <ul>
    {{#each _DATA_.data.list.data}}
      {{#gt @index 9}}
      {{else}}
      <li class="item clearfix">
        <a href="/hall/detail?goodsId={{id}}&itemId={{goodsId}}&sellerId={{shopId}}" target="_blank">
          <div class="img-div">
            <img src="{{cdnPath mainImage "260"}}" alt="{{name}}">
          </div>
        </a>
        <p class="item-desc">
          {{goodsName}}
        </p>
        <p>
          <span class="item-price">￥{{agreementPrice}}</span>
          <span class="item-sales">销量：{{saleQuantity}}</span>
        </p>  
      </li>
      {{/gt}}
    {{/each}}
    </ul>
  </div>
</div>
{{/component}}