{{#component "customer-order trade-manage js-comp"}}
  <input type="hidden" class="js-order-tag" value="{{tag}}">

  <div class="page-body-option clearfix">
    <div class="page-title">订单列表</div>
  </div>
  <div class="order-form-list-body">

  {{#if _USER_.isOperatingAgency}}
    {{inject "customer_service/order/search_table/admin"}}
  {{else}}
    {{inject "customer_service/order/search_table/supervise"}}
  {{/if}}

    <table class="table table-striped order-form-list-table">
      <thead>
      <tr>
        <th width="15%">订单号</th>
        {{#equals _USER_.currentCategory 99}}
          <th width="10%">区划</th>
        {{/equals}}
        <th width="10%">采购单位</th>
        <th width="10%">供应商</th>
        <th width="10%">订单金额(元)</th>
        <th width="10%">下单时间</th>
        <th width="10%">状态</th>
        <th width="15%">采购计划</th>
        <th width="10%">采购经办人</th>
      </tr>
      </thead>
      <tbody>
      {{#if _DATA_.data}}
        {{#each _DATA_.data}}
          {{#with order}}
            <tr data-id="{{id}}" data-shipmentid='{{../shipmentId}}' data-orderType="{{orderType}}"
                data-tmp="{{json this}}" class="order-tr first-level-tr">
              <td>
              {{#gt (size ../orderItems) 0}}
                <span class="open-mark">
                      <i class="icon-zcy icon-shouqizhuangtai1"></i>
                    </span>
              {{/gt}}
                <a
                  {{#equals _USER_.currentCategory 99}}
                  href="/customer/order/detail?orderId={{id}}"
                  {{else}}
                    {{#equals orderType 0}}
                  href="/customer/order/netsuper-detail?orderId={{id}}"
                    {{/equals}}
                    {{#equals orderType 1}}
                  href="/customer/order/netsuper-detail?orderId={{id}}"
                    {{/equals}}
                    {{#equals orderType 2}}
                  href="/customer/order/vaccine-detail?orderId={{id}}"
                    {{/equals}}
                    {{#equals orderType 3}}
                  href="/customer/order/blocktrade-detail?orderId={{id}}"
                    {{/equals}}
                  {{/equals}}
                >{{id}}</a>
              </td>
              {{#equals _USER_.currentCategory 99}}
                <td>
                  {{../districtName}}
                </td>
              {{/equals}}
              <td>
                {{purchaserOrganizationName}}
              </td>
              <td>
                {{supplierOrganizationName}}
              </td>
              <td>
                <span class="price">
                  {{#equals orderType 3}}
                    {{#ifCond fee ">" 0}}
                      {{../../_CURRENCY_}}
                      <span class="order-subtotal">{{formatPrice fee}}</span>
                    {{else}}
                      <span class="order-subtotal">－</span>
                    {{/ifCond}}
                  {{else}}
                    {{../../_CURRENCY_}}
                    <span class="order-subtotal">{{formatPrice fee}}</span>
                  {{/equals}}
                </span>
              </td>
              <td><span class="order-span"><span class="">{{formatDate createdAt}}</span></span></td>
              <td>
                {{#equals status -5}}订单取消{{/equals}}
                {{#equals status -4}}订单待取消{{/equals}}
                {{#equals status -2}}供应商拒单{{/equals}}
                {{#equals status 0}}待供应商接单{{/equals}}
                {{#equals status 1}}待发货{{/equals}}
                {{#equals status 2}}部分发货{{/equals}}
                {{#equals status 3}}{{#equals isNeedReissue false}}全部发货{{/equals}}{{/equals}}
                {{#equals status 3}}{{#equals isNeedReissue true}}全部发货(待补发货){{/equals}}{{/equals}}
                {{#equals status 4}}待验收{{/equals}}
                {{#equals status 5}}已验收{{/equals}}
                {{#equals status 6}}启动结算{{/equals}}
                {{#equals status 7}}已完成{{/equals}}
                {{#equals status 10}}退换货中{{/equals}}
                {{#equals status -6}}全部退货{{/equals}}
                {{#equals status 11}}待卖家发起定价{{/equals}}
                {{#equals status 12}}待买家确认定价{{/equals}}
                {{#equals status 13}}定价驳回{{/equals}}
              </td>
              <td class="order-confirmation-list">
                {{#each ../confirmationNos}}
                  <div>{{this}}</div>
                {{/each}}
              </td>
              <td>
                {{purchaserName}}
              </td>
            </tr>
          {{/with}}
          {{#each orderItems}}
            <tr class="item-tr second-level-tr" data-site="{{../order.id}}" data-id="{{id}}"
                data-orderid="{{../order.id}}" data-itemid="{{itemId}}" data-skuid="{{skuId}}">
              <td colspan="{{#equals _USER_.currentCategory 99}}5{{else}}4{{/equals}}" class="sku-name">
                <a href="/buyer/trading-snapshot?orderId={{../order.id}}&skuId={{skuId}}">{{itemName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="sku-attrs">
                  {{#each attributeMap}}{{@key}}:{{this}}&nbsp;&nbsp;{{/each}}
                </span>
                <span class="js-item-services" data-services="{{json services}}"></span>
              </td>
              <td>
                <span class="sku-price">{{formatPrice skuPrice}}</span>
                <span class="count-number">{{quantity}}</span>
                <span class="item-subtotal"></span>
              </td>
              <td>
                <span class="price">
                  {{#ifCond fee ">" 0}}
                    {{../../_CURRENCY_}}
                    <span class="order-subtotal">{{formatPrice fee}}</span>
                  {{else}}
                    <span class="order-subtotal">－</span>
                  {{/ifCond}}
                </span>
              </td>
              {{#equals ../order.orderType 1}}
                <td>{{#equals isMaster true}}主商品{{else}}配件{{/equals}}</td>
                <td></td>
              {{else}}
                <td colspan="2"></td>
              {{/equals}}
            </tr>
          {{/each}}
        {{/each}}
      {{else}}
        <tr>
          <td colspan="{{#equals _USER_.currentCategory 99}}9{{else}}8{{/equals}}" class="text-center">没有相关数据</td>
        </tr>
      {{/if}}
      </tbody>
    </table>
    <div class="list-pagination pagination-danger"
         data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}"
         data-total="{{_DATA_.total}}"></div>
  </div>

  <input type="hidden" name="userCategory" value="{{_USER_.currentCategory}}">
{{/component}}
