{{#component "component-warehouse-manage js-comp"}}
  <div class="component-header clearfix" name="{{json _DATA_}}">
    <span class="component-title">仓库管理</span>
    <button class="btn btn-primary btn-medium pull-right js-create-warehouse">新建仓库</button>
  </div>
  <div class="component-body">
    <div class="block">
      <form class="form">
        <fieldset>
          <span class="span4">
            <label for="">仓库名称
              <input type="text" name="name" value="{{name}}" placeholder="请输入仓库名称">
            </label>
          </span>
          <span class="span3">
            <label for="">仓库编码
              <input type="text" name="code" value="{{code}}" placeholder="请输入仓库编码">
            </label>
          </span>
          <span class="span2 pull-right">
            <label for="filter">
              <button type="submit" class="btn btn-minor js-item-filter">搜索</button>
              &nbsp;
              <a href="/seller/warehouse" class="btn btn-info">重置</a>
            </label>
          </span>
        </fieldset>
      </form>
    </div>
    <table class="table warehouse-table {{#unless _DATA_.total}}table-no-results{{/unless}}" width="100%">
      <thead>
        <tr>
          <th>仓库名称</th>
          <th>仓库编码</th>
          <th>仓储面积（㎡）</th>
          <th>所在地区</th>
          <th>详细地址</th>
          <th>配送范围</th>
          <th>仓库状态</th>
          <th class="td-operation">操作</th>
        </tr>
      </thead>
      <tbody>
        {{#if _DATA_.total}}
          {{#each _DATA_.data}}
            <tr class="js-warehouse-item" data-info="{{json this}}"
                                          data-id="{{id}}"
                                          data-status="{{status}}">
              <td>{{name}}</td>
              <td>{{splitter code '_' 1}}</td>
              <td>{{area}}</td>
              <td>{{splitter address ':' 0}} {{splitter address ':' 1}} {{splitter address ':' 2}} {{splitter address ':' 3}}</td>
              <td>{{detail}}</td>
              <td>
                <a href="javascript:void(0)" class="js-view-area">查看</a>
              </td>
              <td>
                {{#equals status "1"}}有效{{/equals}}
                {{#equals status "-1"}}无效{{/equals}}
                {{#equals status "-2"}}已删除{{/equals}}
              </td>
              <td class="td-operation">
                {{#of status "1,-1"}}
                  <a href="javascript:void(0);" class="js-edit-warehouse">编辑</a>
                  {{#equals status "1"}}
                    <a href="javascript:void(0);" class="js-disable-warehouse">暂停使用</a>
                  {{/equals}}
                  {{#equals status "-1"}}
                    <a href="javascript:void(0);" class="js-enable-warehouse">恢复使用</a>
                  {{/equals}}
                  <a href="javascript:void(0);" class="js-delete-warehouse">删除</a>
                {{/of}}
              </td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td class="center-text" colspan="8">当前没有仓库信息</td>
          </tr>
        {{/if}}
      </tbody>
      {{#if _DATA_.total}}
        <tfoot>
          <tr>
            <td colspan="8">
              <div class="pagination"></div>
            </td>
          </tr>
        </tfoot>
      {{/if}}
    </table>
  </div>
{{/component}}
