{{#component "purchase-plan-manage js-comp clearfix"}}
  <p class="hide">{{json this}}</p>
  <input type="hidden" class="js-purchase-id" value="{{purchaseId}}">
  <div class="js-purchase-plan-part">
    {{#equals enableEdit true}}
      <p class="clearfix">
        <a class="btn btn-info btn-small pull-right js-bind-purchase-plan">关联采购计划</a>
      </p>
    {{/equals}}
    <div class="requisition-items-list">
      <div>
        <table class="table">
          <thead>
          <tr>
            <th width="20%">商品名称</th>
            <th width="15%">采购目录</th>
            <th width="7%">小计数量</th>
            <th width="10%">小计金额（元）</th>
            <th width="10%">未关联数量</th>
            <th width="10%">未关联金额（元）</th>
            <th width="8%">状态</th>
            <th width="20%">关联计划书</th>
          </tr>
          </thead>
          <tbody>
          {{#each _DATA_.data}}
            <tr data-item="{{json this}}">
              <td>{{itemName}}</td>
              <td class="js-item-catalog" data-catalog="{{json catalogNodes}}"></td>
              <td>{{currentCount}}</td>
              <td class="js-purchase-money" data-price="{{skuPrice}}" data-count="{{currentCount}}"></td>
              <td>{{unbindPayCount}}</td>
              <td class="js-purchase-unbind-money" data-price="{{skuPrice}}" data-count="{{unbindPayCount}}"></td>
              <td class="js-bind-status" data-count="{{currentCount}}" data-remain="{{unbindPayCount}}"></td>
              <td>
                {{#each purchasePayMethods}}
                  {{#equals enableEdit true}}
                    <div class="purchase-plan-box js-purchase-plan-item" data-plan="{{json this}}" data-pop="">
                      <div class="purchase-plan-no"><a href="{{_ENV_HREF_.middle}}/purchaseplan/list/detail?id={{confirmationId}}" target="_blank">{{confirmationName}}</a></div>
                      <button class="btn btn-small btn-info js-modify-purchase-plan-item">修改关联</button>
                      <button class="btn btn-small btn-info js-cancel-purchase-plan-item">取消关联</button>
                    </div>
                  {{else}}
                    <div class="purchase-plan-no"><a href="{{_ENV_HREF_.middle}}/purchaseplan/list/detail?id={{confirmationId}}" target="_blank">{{confirmationName}}</a></div>
                  {{/equals}}
                {{/each}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="pur-all-payments js-pur-all-payments">
      本次总使用情况
      <table class="table">
        <tbody>
        <tr>
          <td width="33%">已关联采购计划总额(元)：<span class="price currency">{{formatPrice confirmationFee}}</span></td>
          <td width="33%">计划外资金总额(元)：<span class="price currency">{{formatPrice otherFee}}</span></td>
          <td width="34%">预购单总额(元)：<span class="price currency">{{formatPrice actuallyFee}}</span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="bottom-tips">
      <p>
        限定资产目录：商品所属采购目录必须与计划书采购目录完全相同<br>
        非限定资产目录：商品所属采购目录的父级二级目录必须是计划书内采购目录的父级（例：二级目录A09办公消耗用品及类似物品，三级目录A0901纸制文具及办公用品，三级目录A0902 硒鼓、粉盒，如果申请了A0902，即可购买A0901的商品）
      </p>
    </div>
  </div>
{{/component}}