{{#component "carousel-wrap elevator-floor elevator-hot-floor js-comp"}}
<div class="floor-item js-floor-item" data-name="{{floorName}}" data-icon="{{floorIcon}}" data-id="js-floor-{{floorName}}" {{#if _DESIGN_MODE_}}data-design="true"{{/if}}>
  <div class="floor-header">
    <div class="floor-info">
      <span class="floor-index js-floor-index"></span>
      <i class="icon-zcy {{floorIcon}}" style="color: {{iconColor}}"></i>{{floorName}}
    </div>
    <div class="floor-extend"></div>
  </div>
  <div class="floor-body clearfix">
    <div class="carousel {{#each _DATA_}}{{#unless @index}}show{{/unless}}{{/each}}">
      <ul class="carousel-container clearfix" {{#if time}}data-time="{{time}}"{{/if}} {{#if auto}}data-auto="{{auto}}"{{/if}} {{#if length}}data-length="{{length}}"{{/if}} {{#if type}}data-type="{{type}}"{{/if}} data-test="test" data-size="{{#if total}}{{total}}{{else}}{{size _DATA_}}{{/if}}">
        {{#each _DATA_}}
          <li style="{{#if ../width}}width: {{../width}}{{#ifCond ../width ">=" 100}}px{{else}}%{{/ifCond}};{{/if}} {{#if marginRight}}margin-right: {{marginRight}}px;{{/if}}" {{#if ../width}}{{#ifCond ../width ">=" 100}}class="grid-side"{{/ifCond}}{{/if}}>
            <div>
              <a href="/items/{{id}}?searchType=1" data-ignore="push">
                <img src="{{cdnPath mainImage '330w'}}" style="{{#if height}}height: {{height}}px; line-height: {{height}}px;{{/if}}">
              </a>
            </div>
            <div class="production">
              <a href="/items/{{id}}?searchType=1" class="production-name">{{name}}</a>
              <div class="currency production-price">￥{{formatPrice lowPrice 0}}</div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
    {{#equals length 1}}
      <ul class="carousel-pagination clearfix">
        {{#each images}}
          <li {{#unless @index}}class="active"{{/unless}}></li>
        {{/each}}
      </ul>
    {{else}}
      <a class="prev {{#if outside}}outside{{/if}}" href="javascript:;"></a>
      <a class="next {{#if outside}}outside{{/if}}" href="javascript:;"></a>
    {{/equals}}
  </div>
</div>
{{/component}}
