{{#component "component-inquiry-protocol-cancel js-comp"}}
<div class="hide">{{json}}</div>
<input type="hidden" name="inquiryPath" value="{{_ENV_HREF_.inquiry}}">
<input type="hidden" name="lasvegasPath" value="{{_ENV_HREF_.lasvegas}}">
<div class="inquiry-protocol-cancel-container">
  <div class="inquiry-title">
    <h1>{{_DATA_.title}}</h1>
    <br/>
    <ul>
      <li>日期：
        <span>{{formatDate _DATA_.announcementStartTime 'yyyy-MM-dd'}}</span>
      </li>
    </ul>
    <div class="withdrawIcon">
      <i class="icon-zcy icon-yichexiao"></i>
    </div>
  </div>
  <div class="inquiry-info">
    <div class="show-panel">
      <div class="left-span"><h2>项目及原采购结果信息</h2></div>
      <div class="right-span"><p>展开&nbsp;<i class="icon-zcy icon-xiangxiazhedie"></i></p></div>
      <div style="clear:both"></div>
    </div>
    <div id="resultContent" class="hide">
      {{inject "inquiryHall_protocol/templates/info_base"
        corpName=_DATA_.purchaser
        orderNo=_DATA_.asRequirementCode
        orderCatalog=_DATA_.catalogName
        biddingMethod=_DATA_.requireTypeName
        packageMethod=_DATA_.packMethod
        packageAreaList=_DATA_.asPackAnnouncementDtoList
        supplierRule=_DATA_.supplierRequire
      }}
      {{inject "inquiryHall_protocol/templates/info_good"
        goodCatalog=_DATA_.catalogName
        pageTotal=1
        biddingMethod=_DATA_.requireTypeName
        goodList=_GOOD_.data
      }}
      {{inject "inquiryHall_protocol/templates/info_receive"
        deliverMethod=_DATA_.deliveryMethod
        deliverTime=_DATA_.deliveryTime
        deliverTimeLimit=_DATA_.deliveryTerm
        deliverAddressList=_DATA_.asDeliveryDtoList
        deliverDesc=_DATA_.deliveryRemark
      }}
      {{inject "inquiryHall_protocol/templates/info_bussiness"
        bussinessRequire=_DATA_.bussinessRequire
      }}
      {{inject "inquiryHall_protocol/templates/info_result"
        requireTypeName=_DATA_.requireTypeName
        dealResultCode=_DATA_.asDealResultItemDto.dealResultCode
        dealFailResult=_DATA_.asDealResultItemDto.dealFailResult
        dealFailReason=_DATA_.asDealResultItemDto.dealFailReason
        supplierName=_DATA_.asDealResultItemDto.dealSupName
        supplierAddress=_DATA_.asDealResultItemDto.dealSupAddress
        dealItemBrand=_DATA_.asDealResultItemDto.dealItemBrand
        dealItemModel=_DATA_.asDealResultItemDto.dealItemModel
        quantity=_DATA_.asDealResultItemDto.dealQuantity
        dealPrice=_DATA_.asDealResultItemDto.dealPrice
        dealTotalPrice=_DATA_.asDealResultItemDto.dealTotalPrice
        requirdId=_DATA_.asDealResultItemDto.requireId
        protocolId=_DATA_.asDealResultItemDto.protocolId
        protocolPrice=_DATA_.asDealResultItemDto.protocolPrice
        singleShopMoney=_DATA_.asDealResultItemDto.singleShopMoney
        discountRate=_DATA_.asDealResultItemDto.discountRate
        dealItemName=_DATA_.asDealResultItemDto.dealItemName
      }}
    </div>
    {{inject "inquiryHall_protocol/templates/cancel_reason"
      cancelProposer=_DATA_.cancelReason.orgName
      cancelReason=_DATA_.cancelReason.cancelReason
      cancelTime=_DATA_.cancelReason.cancelTime
      contacts=_DATA_.cancelReason.contactNumber
    }}  
    {{inject "inquiryHall_protocol/templates/info_relation"
      tradeMethod=_DATA_.requireTypeName
      requirePackResultName=_DATA_.requirePackResultName
      requirePackResultId=_DATA_.requirePackResultId
      requireName=_DATA_.requireName
      requireId=_DATA_.requireId
      requireResultName=_DATA_.requireResultName
      requireResultId=_DATA_.requireResultId
    }}
  </div>
</div>
{{/component}}