<div class="modal warehouse-area-modal">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h2>配送范围</h2>
  </div>
  <div class="modal-body area-info">
    <p>
      <span class="area-title">仓库：</span><span class="">{{name}}</span>
    </p>
    <p>
      <span class="area-title">配送范围：</span>
      <span class="">
        {{#each regionsList}}
          {{#if province.selectAll}}
            {{province.name}}
          {{else}}
            {{#each cities}}
              {{#if city.selectAll}}
                {{city.name}}
              {{else}}
                {{#each regions}}
                  {{name}}
                {{/each}}
              {{/if}}
            {{/each}}
          {{/if}}
        {{/each}}
      </span>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary close">确定</button>
  </div>
</div>
