{{#component "req-process trade-manage js-comp clearfix"}}
  <p class="hide">{{json this}}</p>
  <div class="float-hidden" hidden="hidden"></div>
  <div class="t-breadcrumb">
    <label>需求单管理</label>
    <label> / </label>
    <a href="/buyer/requisitions">需求单列表</a>
    <label> / </label>
    <label class="active">需求单提交</label>
  </div>
  <div class="req-process-body" data-reqid="{{_DATA_.requisition.id}}">
    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">选择收货地址</div>
      </div>
      <div class="trade-panel-body">
        <div class="select-address">
          <select class="js-requirer select">
            <option value="">---请选择采购人---</option>
            {{#each _MY_PUR_.users}}
            <option value="{{id}}" data-account="{{account}}" data-districtid="{{districtId}}" data-orgid="{{orgId}}">{{displayName}}</option>
            {{/each}}
          </select>
          <input type="hidden" class="js-select-addr-list" />
          <select class="js-select-addr select select-addr">
            <option value="">---请选择收货地址---</option>
          </select>
        </div>
      </div>
    </div>
    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">确认需求申请单信息</div>
      </div>
      <div class="trade-panel-body">
        <input type="hidden" id="js-requisition-extra" value="{{_DATA_.requisition.extra}}" />
        {{#each _DATA_.requisitionShopDetails}}
        <table class="table  center-tex req-process-table">
          <thead>
            <tr>
              <th class="left-text" colspan="1" width="50%">供应商：{{shopName}}</th>
              <th width="15%">单价(元)</th>
              <th width="15%">数量</th>
              {{!-- <th width="110">{{i18n "freight " bundle="all_mix"}}</th> --}}
              <th width="20%">金额(元)</th>
            </tr>
          </thead>
          <tbody>
            <tr data-shop="{{shopId}}" class="rqu-tr shop-name">
              <td class="left-text" colspan="1"><span class="shop-span"><strong>商家：</strong><a href="{{_HREF_.main}}/shops/{{sellerId}}" class="shop-name">{{shopName}}</a></span></td>
              <td class="left-text" colspan="3"></td>
            </tr>
            {{#each requisitionItems}}
            <tr class="item-tr {{#equals itemStatus "1"}}{{else}}off-shelf-item{{/equals}}" data-site="{{../shopId}}" data-id="{{sku.id}}">
              <td class="left-text">
                <div class="req-detail-item">
                  <div class="item-logo">
                    <img data-original="{{#cdnPath itemImage "100"}}{{/cdnPath}}" width="60" height="60" src="{{#cdnPath itemImage "100"}}{{/cdnPath}}">
                  </div>
                  <div class="item-description">
                    <div  class="sku-name"><a href="/items/{{sku.itemId}}">{{itemName}}</a></div>
                    <div class="sku-attrs">{{#each sku.attrs}}{{@attrKey}}:{{attrVal}}&nbsp;&nbsp;&nbsp;&nbsp;{{/each}}</div>
                    <div class="js-item-services" data-item-id="{{sku.itemId}}"></div>
                  </div>
                </div>
              </td>
              <td>
                <div><span class="css-price">{{_CURRENCY_}}</span><span class="price css-price">{{formatPrice sku.price}}</span></div>
              </td>
              <td><span class="count-number">{{requisitionItem.quantity}}</span>
              </td>
              <td><span class="css-price">{{_CURRENCY_}}</span><span class="item-subtotal currency css-price"></span></td>
            </tr>
            {{else}}
              <tr><td colspan="4" class="center-text">无可展示信息</td></tr>
            {{/each}}
            <tr class="item-comment-tr">
              <td colspan="3">
                <div class = "label-comment comment-content">补充说明:
                  <input class="buyer-comment-content" data-shop="{{shopId}}" name="comment" type="text" placeholder="请输入备注(可选)" {{#of _DATA_.requisition.status "0,-1"}}{{else}} readonly{{/of}}>
                </div>
              </td>
              <td colspan="1"></td>
            </tr>
          </tbody>
        </table>
        {{else}}
          <div class="no-message">无可展示信息</div>
        {{/each}}
      </div>
    </div>
    <div class="trade-panel">
      {{#equals _CHECK_INFO_.value 1}}
      <div class="trade-panel-top">
        <div class="trade-panel-title">审核审批信息(提交需求单)</div>
      </div>
      <div class="trade-panel-body">
        <div class="req-checklog">
          <table class="table table-striped checklog-table">
            <tbody>
              <tr class="checklog-tr">
                <td width="20%" class="right-text checklog-td">选择{{_CHECK_INFO_.post}}： </td>
                <td width="80%" class="left-text checklog-td">
                  <select class="js-select-check select-checker select">
                    <option value="">--请选择审核人--</option>
                    {{#each _CHECK_INFO_.users}}
                    <option value="{{id}}" data-status="{{../_CHECK_INFO_.value}}" data-orgid='{{orgId}}' data-orgname='{{orgName}}'>{{displayName}}</option>
                    {{/each}}
                  </select>
                </td>
              </tr>
              <tr class="checklog-tr">
                <td class="right-text checklog-td">备注： </td>
                <td class="left-text checklog-td">
                  <textarea placeholder="请输入备注" class="js-checklog-comment" id="taContent" rows="3"></textarea>
                  <div class="note no-href">（<div class="js-checklog-comment-count checklog-comment-count">0</div> / 500）</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
      </div>
      {{/equals}}
      <div class="req-process-foot block">
        <div class="foot-container">
          <fieldset>
            <div class="req-result">
              <span class="total-item">总数&nbsp;<span class="total-count">0</span>&nbsp;项</span>
              <span class="total-price">需求总额(元)：<span class="css-price">{{_CURRENCY_}}</span><span class="currency css-price">0.00</span></span>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div  class="req-process-foot-operate">
      <div class="req-process-operate-button">
        {{#of _DATA_.requisition.status "0,-1,-4"}}
          <button class="btn btn-primary btn-small js-cart-submit" data-value="{{_CHECK_INFO_.value}}">提交需求单</button>
          {{#equals _DATA_.requisition.status -1}}
          <a href="javascript:void(0);" class="js-cart-cancel btn btn-info btn-small">取消需求单</a>
          {{/equals}}
          {{#equals _DATA_.requisition.status 0}}
          <a href="javascript:void(0);" class="js-cart-modify btn btn-info btn-small">返回购物车修改</a>
          {{/equals}}
        {{else}}
          <div class="block"><label for="" class="error-text">当前需求单状态不是"待处理/草稿"状态，所以不能提交！请检查该需求单的状态后再试！</label></div>
          {{#with _ERROR_}}<div class="errorInfo">错误信息提示:<br>{{json _ERROR_}}</div>{{/with}}
        {{/of}}
      </div>
    </div>
  </div>
{{/component}}
