{{#component "confirm-order trade-manage js-comp clearfix"}}
  <div class="float-hidden" hidden></div>
  <input type="hidden" class="js-purchase-type" value="{{_DATA_.purchase.type}}">
  <div class="hide">{{json}}</div>
  <div class="t-breadcrumb">
    <label>预购单管理</label>
    <label> / </label>
    {{#equals _DATA_.purchase.type 3}}
      <a href="/buyer/blocktrade-purchases">预购单列表</a>
    {{else}}
      <a href="/buyer/purchases">预购单列表</a>
    {{/equals}}
    <label> / </label>
    <label class="active">确定订单</label>
  </div>
  <div class="confirm-order-body" data-purchaseid={{_DATA_.purchase.id}}>
    {{#of _DATA_.purchase.type '2,3'}}
      <!--疫苗、大宗预购单没有需求单 -->
      {{#inject "common/requisition_progress"}}
        {
        "noRequisition": 1,
        "progress": 3
        }
      {{/inject}}
    {{else}}
      {{#inject "common/requisition_progress"}}
        {
        "progress": 4
        }
      {{/inject}}
    {{/of}}
    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">商品列表</div>
      </div>
      <div class="trade-panel-body">
        {{inject "buyer/purchase_detail/requisition_items" true}}
        {{#with _DATA_.purchase}}
            备注：
            {{#if orderComment}}{{orderComment}}{{else}}--{{/if}}
        {{/with}}
      </div>
    </div>
    {{!-- <div><strong><span class="pur-title">预购单信息</span></strong></div> --}}
    {{!-- {{json this}} --}}
    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">地址信息</div>
      </div>
      <div class="trade-panel-body">
        {{!-- <div class="add-or-select-pur-addr clearfix">
          <div class="pur-addr-title pur-title"><strong><span class="">地址信息</span></strong></div>
        </div>
        <hr /> --}}
        {{!-- {{json _DATA_.deliveries}} --}}
        <div class="pur-deliveries">
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th width="80%" class="first-th">详细地址</th>
                    <th width="20%" class="td-operation">商品详情</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each _DATA_.deliveries}}
                    {{#with delivery}}
                    <tr class="itme-tr" data-id="{{id}}">
                      <td><label class="text-align: left;">{{receiverProvinceName}}{{receiverCityName}}{{receiverDistrictName}}&nbsp;&nbsp;{{receiverAddress}}({{receiverName}} 收) &nbsp;&nbsp;&nbsp;&nbsp;{{#if receiverMobile}}{{receiverMobile}}{{else}}{{#if receiverAreaCode}}{{receiverAreaCode}}-{{/if}}{{receiverPhone}}{{#if receiverPhoneExt}}&nbsp;&nbsp;{{receiverPhoneExt}}{{/if}}{{/if}}</label></td>
                      <td class="td-operation">
                        <a class="js-show-receiver-item-list">查看商品({{../skuTypeCount}})</a>
                      </td>
                    </tr>
                    {{/with}}
                  {{else}}
                    <tr><td colspan="2" class="center-text">无可展示信息</td></tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
    {{#gt (size _DATA_.invoices) 0}}
      <div class="trade-panel">
        <div class="trade-panel-top">
          <div class="trade-panel-title">发票信息</div>
        </div>
        <div class="trade-panel-body">
          <div class="pur-invoices">
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <!--<th width="50%">发票寄送地址</th>-->
                  <th width="15%">发票类型</th>
                  <th width="15%">发票抬头信息</th>
                  <th width="15%">开户行</th>
                  <th width="20%">开户行账号</th>
                  <th width="20%">纳税人识别号<i class="icon-zcy icon-warningfill js-invoice-popover"></i></th>
                  <th width="15%" class="td-operation">商品详情</th>
                </tr>
                </thead>
                <tbody>
                {{#each _DATA_.invoices}}
                  {{#with invoice}}
                    <tr class="itme-tr" data-id="{{id}}">
                      {{!--<td><label>{{receiverProvinceName}}{{receiverCityName}}{{receiverDistrictName}}&nbsp;&nbsp;{{receiverAddress}}({{receiverName}} 收) &nbsp;&nbsp;&nbsp;&nbsp;{{#if receiverMobile}}{{receiverMobile}}{{else}}{{#if receiverAreaCode}}{{receiverAreaCode}}-{{/if}}{{receiverPhone}}{{#if receiverPhoneExt}}&nbsp;&nbsp;{{receiverPhoneExt}}{{/if}}{{/if}}</label></td>--}}
                      <td>
                        {{#equals invoiceType 0}}普通发票{{/equals}}
                        {{#equals invoiceType 1}}增值税普通发票{{/equals}}
                        {{#equals invoiceType 2}}增值税专用发票{{/equals}}
                      </td>
                      <td><span class="js-mulit-inv-title">{{invoiceTitle}}</span>{{!-- <input type="text" class="js-mulit-inv-title" value="{{invoiceTitle}}" /><button class="btn btn-small js-save-mulit-inv-title">保存</button> --}}</td>
                      <td>{{#if purchaserDepositeBank}}{{purchaserDepositeBank}}{{else}}－{{/if}}</td>
                      <td>{{#if purchaserBankAccount}}{{purchaserBankAccount}}{{else}}－{{/if}}</td>
                      <td>{{#if purchaserTaxId}}{{purchaserTaxId}}{{else}}－{{/if}}</td>
                      <td class="td-operation">
                        <a class="js-show-inv-item-list">查看商品({{../skuTypeCount}})</a>
                      </td>
                    </tr>
                  {{/with}}
                {{else}}
                  <tr><td colspan="5" class="center-text">无可展示信息</td></tr>
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    {{/gt}}

    {{#of _DATA_.purchase.type '2,3'}}
      <!--疫苗、大宗商品没有预算信息-->
    {{else}}
      <div class="trade-panel">
        <div class="trade-panel-top">
          <div class="trade-panel-title">预算信息</div>
        </div>
        <div class="trade-panel-body">
          <div class="pur-payments">
            关联采购计划
            <input type="hidden" id="payments" value="{{json _DATA_.payments}}">
            {{inject "buyer/purchase_process/purchase_plan_manage"
                     purchaseId=purchaseId
                     confirmationFee=_DATA_.confirmationFee
                     otherFee=_DATA_.otherFee
                     actuallyFee=_DATA_.purchase.actuallyFee}}
          </div>
        </div>
      </div>
    {{/of}}


  <div class="trade-panel">
      <div class="trade-panel-top">
          <div class="trade-panel-title">附件上传</div>(可选填)
      </div>
      <div class="trade-panel-body" style="position: relative">
          <span style="position: absolute;left: 100px;top: 25px;color: #999;">必要时请上传相关附件</span>
          <div id="purchase-list-attachment" data-file="{{json _DATA_.attachments}}"></div>
      </div>
  </div>

    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">审核审批信息</div>
      </div>
      <div class="trade-panel-body">
       {{!--  <div class="clearfix"></div>
        <div class="pur-title"><strong><span>审核审批信息</span></strong></div>
        <hr /> --}}
        {{!-- {{json _DATA_.payments}} --}}
        <div class="pur-checklog">
            <div class="checklog-title">流转日志</div>
            <div>
              <div class="timeline clearfix">
                <table class="time-line">
                  {{#each _DATA_.checkLogs}}
                  <tr class="time-line">
                    <td class="first"><div class="point success {{#if @first}}first{{/if}} {{#if @last}}last{{/if}}"></div></td>
                    <td width="140">{{formatDate createdAt}}</td>
                    <td width="80">{{checkerRole}}</td>
                    <td width="80">{{checker}}</td>
                    <td width="80">{{checkType}}</td>
                    <td width="90" class="{{#equals checkResult "审核通过"}}success{{else}}{{#equals checkResult "审核不通过"}}error{{else}}{{/equals}}{{/equals}}">{{checkResult}}</td>
                    <td class="time-line">{{comment}}</td>
                  </tr>
                  {{else}}
                   <tr class="time-line">
                    <td colspan="7" class="time-line">无数据</td>
                   </tr>
                  {{/each}}
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="confirm-order-foot">
    <div class="foot-container">
      <fieldset>
        <div class="pur-result">
          {{#equals _DATA_.purchase.status 5}}
          <button class="btn btn-primary btn-small js-pur-submit">确定订单</button>
          <!--<a class="js-pur-cancel pur-cancel btn btn-info btn-small" href="javascript:void(0);">取消</a>-->
          {{else}}
          <div class="block"><label for="" class="error-text">当前预购单状态不是"审核完成"状态，所以不能提交！请检查该预购单的状态后再试！</label></div>
          {{#with _ERROR_}}<div class="errorInfo">错误信息提示:<br>{{json _ERROR_}}</div>{{/with}}
          {{/equals}}
        </div>
      </fieldset>
    </div>
  </div>
  <div class="order-print-box hide">
    <div class="order-detail-print-content">
      <style>
        .order-detail-print-content{
          width: 21cm;
          /*min-height: 29.7cm;*/
          padding: 1.5cm;
          margin: 1cm auto;
          border: 1px #D3D3D3 solid;
          background: #FAFAFA;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .order-detail-print-content .orderTitle {
          text-align: center;
          font-weight: bold;
          font-size: 36px;
          color: #353535;

        }
        .order-detail-print-content .baseInfo {
          margin-top: 40px;
          height: 30px;
          font-size: 12px;
          color: #24344e;
        }
        .order-detail-print-content .order-code {
          display: inline-block;
          width: 73%;
        }
        .order-detail-print-content .create-time {
          display: inline-block;
          width: 25%;
        }
        .check-time {
          display: inline-block;
          width: 30%;
        }

        .order-detail-print-content .table-tile {
          font-size: 16px;
          color: #24344e;
        }

        .order-detail-print-content div.table-tile {
          line-height: 20px;
          margin-bottom: 5px;
        }

        .order-detail-print-content .table {
          margin-bottom: 20px;
        }
        .order-detail-print-content .table td {
          border: solid 1px #d8d8d8;
          font-size: 14px;
        }
        .order-detail-print-content .total-money {
          float: right;
        }
        .order-detail-print-content .label {
          color: #666666;
        }
        .order-detail-print-content thead td {
          background: #EEEEEE;
        }
        .order-detail-print-content .content {
          color: #24344e;
        }

        .operator-btn {
          margin: 20px auto;
          text-align: center;
        }
        .order-detail-print-content table.shyj{
          height: 220px;
        }
        .shyj td.content {
          width: 100px;
          text-align: left;
          vertical-align: top;
        }

        @page
        {
          size: A4;
          margin: 0;
        }
        @media print
        {
          .review-editor
          {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
          }
        }
      </style>
      <div class="orderTitle">
        政采云网上超市订单
      </div>
      <div class="baseInfo">
        <span class="order-code">预购单编号：{{ _DATA_.purchase.id}}</span>
        <span class="create-time">创建时间：{{formatDate  _DATA_.purchase.createdAt}}</span>
      </div>
      <table class="table purchaser-info">
        <thead>
        <tr>
          <td colspan="6" class="table-tile">采购单位信息</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td width="16%" class="label">采购单位名称</td>
          <td width="20%" class="content">{{_DATA_.purchase.purchaserOrganizationName}}</td>
          <td width="12%" class="label">联系人</td>
          <td width="20%" class="content">{{_DATA_.purchase.purchaserName}}</td>
          <td width="12%" class="label">联系电话</td>
          <td width="20%" class="content">{{_DATA_.purchase.purchaserMobile}}</td>
        </tr>
        <tr>
          <td>收货地址</td>
          <td colspan="5" class="content">
            {{#each _DATA_.deliveries}}
              {{#with delivery}}
                {{receiverProvinceName}}{{receiverCityName}}{{receiverDistrictName}}{{receiverStreetName}}{{receiverAddress}};&nbsp;
              {{/with}}
            {{/each}}
          </td>
        </tr>
        </tbody>
      </table>
      <table class="table supplier-info">
        <thead>
        <tr>
          <td colspan="6" class="table-tile">供应商信息</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td width="16%" class="label">供应商名称</td>
          <td width="20%" class="content">{{order.supplierOrganizationName}}</td>
          <td width="12%" class="label">联系人</td>
          <td width="20%" class="content">{{order.supplierUserName}}</td>
          <td width="12%" class="label">联系电话</td>
          <td width="20%" class="content">{{order.supplierUserMobile}}</td>
        </tr>
        </tbody>
      </table>
      <div class="table-tile">商品列表</div>
      <table class="table item-list">
        <thead>
        <tr>
          <td width="10%" class="label">序号</td>
          <td width="20%" class="label">商品名称</td>
          <td width="20%" class="label">品牌</td>
          <td width="15%" class="label">型号</td>
          <td width="10%" class="label">数量</td>
          <td width="10%" class="label">单位</td>
          <td width="15%" class="label">小记（元）</td>
        </tr>
        </thead>
        <tbody>
        {{#each orderItemWithPrintExt.orderItemExts}}
          <tr>
            <td class="js-items-no content"></td>
            <td class="content">{{itemName}}</td>
            <td class="content">{{brandName}}</td>
            <td class="content">{{specification}}</td>
            <td class="content">{{quantity}}</td>
            <td class="content">{{unit}}</td>
            <td class="content">{{formatPrice price}}</td>
          </tr>
        {{/each}}
        <tr>
          <td colspan="7" class="content"><span class="total-money">金额合计:&nbsp;{{formatPrice orderItemWithPrintExt.totalPrice}}元</span></td>
        </tr>
        </tbody>
      </table>
      <div class="table-tile">发票列表</div>
      <table class="table invoice-list">
        <thead>
        <tr>
          <td width="20%" class="label">发票抬头</td>
          <td width="20%" class="label">发票类型</td>
          <td width="20%" class="label">发票内容</td>
          <td width="20%" class="label">发票金额（元）</td>
          <td width="20%" class="label">发票编号</td>
        </tr>
        </thead>
        <tbody>
        {{#each invoiceWithCounts}}
          <tr>
            {{#with invoice}}
              <td class="content">{{invoiceTitle}}</td>
              <td class="content">
                {{#equals invoiceType 0}}普通发票{{/equals}}
                {{#equals invoiceType 1}}增值税普通发票{{/equals}}
                {{#equals invoiceType 2}}增值税专用发票{{/equals}}
              </td>
              <td data-content="{{json ../invoiceContent}}" class="content">
                {{#equals invoiceContentType '1'}}
                  <div class="js-invoice-content-default">
                    {{#each ../invoiceContent}}
                      <div>
                        <span>{{categoryName}}</span>&nbsp;&nbsp;
                        <span style="color: #FF7900;">{{formatPrice totalFee}}</span>
                      </div>
                    {{/each}}
                  </div>
                {{/equals}}
                {{#equals invoiceContentType '2'}}
                  <div class="js-invoice-content-detail">
                    {{#each ../invoiceContent}}
                      <div>
                        <span>{{itemName}}</span>&nbsp;
                        <span>{{specification}}</span>&nbsp;
                        <span>{{unit}}</span>&nbsp;
                        <span>{{totalCount}}</span>&nbsp;
                        <span>{{formatPrice unitPrice}}</span>&nbsp;
                        <span style="color: #FF7900;">{{formatPrice totalFee}}</span>&nbsp;
                      </div>
                    {{/each}}
                  </div>
                {{/equals}}
                {{#equals invoiceContentType '3'}}
                  <div class="js-invoice-content-custom">
                    <p style="word-wrap: break-word;">{{../invoiceContent.customContent}}</p>
                  </div>
                {{/equals}}
              </td>
              <td class="content">{{formatPrice invoiceTotalPrice}}</td>
              <td class="content">{{id}}</td>
            {{/with}}
          </tr>
        {{/each}}
        </tbody>
      </table>
      <table class="table shyj">
        <thead>
        <tr>
          <td width="100%" class="label">审核意见</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="content">

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
{{/component}}
