{{#each data}}
<tr data-item-id="{{itemId}}" data-sku-id="{{skuId}}">
    <td><input class="input-checkbox action-select" type="checkbox"></td>
    <td>
      <div class="rowspan #20 item-name-box" title="{{itemName}}">{{itemName}}</div>
      {{#each attributeMap}}
        <div>{{@key}}：{{this}}</div>
      {{/each}}
    </td>
    <td><span class="rowspan #66 color #FF9147">{{formatPrice skuPrice}}</span></td>
    <td>
        <span class="number-sum rowspan #66">{{totalQuantity}}</span>
        <span class="number-tip hide">退货数量与换货数量之和不能大于总数量</span>
    </td>
    <td>
        {{#each pplanRelations}}
        <span class="rowspan #28">{{confirmationNo}}</span>
        {{/each}}
    </td>
    <td>
        {{#each pplanRelations}}
        <span class="rowspan #28">{{quantity}}</span>
        {{/each}}
    </td>
    <td>
        {{#each pplanRelations}}
        <span class="rowspan #28"><input class="number back-quantity" type="text" value="{{backQuantity}}" data-value="{{backQuantity}}" data-value-max="{{quantity}}" data-pay-id="{{orderPayId}}"></span>
        {{/each}}
    </td>
    <td><span class="rowspan #66"><input class="number swap-quantity" type="text" value="{{swapQuantity}}" data-value="{{swapQuantity}}" data-value-max="{{totalQuantity}}"></span></td>
</tr>
{{/each}}