<table class="tables-header">
  <tbody>
  <tr>
    <td width="50%">商品信息</td>
    <td width="13%">单价（元）</td>
    <td width="13%">数量</td>
    <td width="14%">小计（元）</td>
    <td width="10%">操作</td>
  </tr>
  </tbody>
</table>
{{#each data}}
    <div class="hide" >{{json this}}</div>
    {{#gt (size items) 0}}
    <div class="shop-name">{{shopName}}</div>
    <table class="requisition-items-table">
      <tbody>
      {{#each items}}
        <tr>
          <td width="50%">
            <div class="item-info">
            {{#if ../../withoutImage}}
            {{else}}
                <img data-original="{{#cdnPath itemImage "100"}}{{/cdnPath}}" width="50" height="50" src="{{#cdnPath itemImage "100"}}{{/cdnPath}}">
            {{/if}}
              <span class="item-name">{{itemName}}</span><br/>
              <span class="sku-info">{{#each sku.attrs}}{{attrKey}}:{{attrVal}}&nbsp;&nbsp;&nbsp;&nbsp;{{/each}}</span>
              <span class="js-item-service"
                   data-item-id="{{sku.itemId}}"></span>
            </div>
          </td>
          <td width="13%">
            {{#if sku.price}}
              {{formatPrice sku.price}}
            {{else}}
              －
            {{/if}}
          </td>
          <td width="13%">{{itemCount}}</td>
          <td width="14%" class="total-money" data-price="{{sku.price}}" data-count="{{itemCount}}"></td>
          <td width="10%">
            <a href="javascript:void(0)" class="delete-item" data-item-id="{{cartItem.itemId}}">删除</a>
          </td>
        </tr>
        <input type="hidden" class="js-seller-id-input" value="{{cartItem.sellerId}}">
      {{/each}}
      <tr>
        <td colspan="5" class="text-left">
          备注：<input type="text" class="remark-input" placeholder="对卖家进行留言" data-seller-id="{{sellerId}}">
        </td>
      </tr>
      </tbody>
    </table>
  {{/gt}}
{{/each}}