{{#component "goodsHall-navList js-comp"}}
<div class="nav-categorys">
	<div class="nav-header">
	<strong>协议采购类目</strong>
	</div>
	{{#each _DATA_.data}}
	<dl class="category-li " data-id="{{nodeId}}">
		<dt class="parent-category" title="{{name}}">
		<div class="child-category">{{name}}</div>
		</dt>
		{{#each childs}}
		<dd>
			<a class="child-name" title="{{name}}" href="{{_HREF_.main}}/hall/search?nodeId={{nodeId}}" >{{name}}</a>
		</dd>
		{{/each}}
	</dl>
	{{/each}}
</div>
{{/component}}
