<div class="js-category-attr-input category-attr-input" data-key="{{attrKey}}" data-type="STRING" data-required="false">
  <input type="text" class="js-group-item" value="{{attrVal}}"
    data-group="{{group}}" data-key="{{attrKey}}"
    {{#of attrMetasForK.VALUE_TYPE "STRING,DATE"}}{{else}}
      data-unit="{{splitter attrMetasForK.VALUE_TYPE '_' 1}}"
    {{/of}} required readonly />
</div>
{{#if attrMetasForK}}
  {{#of attrMetasForK.VALUE_TYPE "STRING,DATE"}}{{else}}
    <span class="attr-unit-show">&nbsp;{{splitter attrMetasForK.VALUE_TYPE '_' 1}}</span>
  {{/of}}
{{/if}}
