<table class="table table-fixed diningroom">
  <thead>
  <tr>
    <th width="26%">餐厅类型</th>
    <th width="22%">餐厅名称</th>
    <th width="20%">餐厅面积(平米)</th>
    <th width="16%">座位数</th>
    <th width="16%">容纳人数(人)</th>
  </tr>
  </thead>
  <tbody>
  {{#each this}}
    <tr class="tr-info {{#ifCond @index ">=" 5}}hide{{/ifCond}}">
      <td class="hotel-thumbnail">
        <div class="item-logo">
          <img data-path="{{cdnPath photos.0.url 500 600}}" src="{{photos.0.url}}" alt="{{photos.0.name}}">
        </div>
        <div class="item-desc">
          <p>{{restaurantType}}</p>
          <a class="expanded-trigger" data-flag='0'><span>查看详情</span><i class="icon-zcy icon-xiangxiazhedie"></i></a>
        </div>
      </td>
      <td>{{restaurantName}}</td>
      <td>{{formatPrice floorArea}}</td>
      <td>{{restaurantSeat}}</td>
      <td>{{capacity}}</td>
    </tr>
    <tr class="tr-detail hide">
      <td colspan="5">
        <div class="hotel-item-detail">
          <div class="row-item">
            <span class="col-item"><span>序号</span><div class="val-item">{{sequence}}</div></span>
            <span class="col-item"><span>餐厅类型</span><div class="val-item">{{restaurantType}}</div></span>
          </div>
          <div class="row-item">
            <span class="col-item"><span>餐厅名称</span><div class="val-item">{{restaurantName}}</div></span>
            <span class="col-item"><span>餐厅面积(m<sup>2</sup>)</span>{{formatPrice floorArea}}</span>
          </div>
          <div class="row-item">
            <span class="col-item"><span>数量</span><div class="val-item">{{restaurantCount}}</div></span>
            <span class="col-item"><span>座位数</span><div class="val-item">{{restaurantSeat}}</div></span>
          </div>
          <div class="row-item">
            <span class="col-item"><span>容纳人数(人)</span><div class="val-item">{{capacity}}</div></span>
            <span class="col-item"><span>备注</span><div class="val-item">{{#if remark}}{{remark}}{{else}}-{{/if}}</div></span>
          </div>
        </div>
      </td>
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
  {{#gt (size this) 5}}
    <tr class="tr-hotel-total">
      <td colspan="5" style="text-align:right">
        <a class="hotel-list-all">
          <span>查看全部</span>
          <i class="icon-zcy icon-xiangxiazhedie"></i>
        </a>
      </td>
    </tr>
  {{/gt}}
  </tfoot>
</table>
