{{#ifCond this.total "==" 0}}
    <tr>
        <td colspan="4" style='text-align:center;'>暂时没有交易记录</td>
    </tr>
{{else}}
    {{#each this.data}}
    <tr>
        <td title="{{purchaseOrgName}}">{{purchaseOrgName}}</td>
        <td title="{{meetingName}}">{{meetingName}}</td>
        <td title="{{formatPrice totalCost}}">{{formatPrice totalCost}}</td>
        <td title="{{formatDate createdAt "YYYY-MM-DD"}}">{{formatDate createdAt "YYYY-MM-DD"}}</td>
    </tr>
    {{/each}}
{{/ifCond}}
