<table class="table table-fixed">
  <thead>
  <tr>
    <th width="33%">服务项目名称</th>
    <th width="34%">服务类型</th>
    <th width="34%">门市价(元)</th>
  </tr>
  </thead>
  <tbody>
  {{#each _HOTELSUPPORTINGSERVICE_}}
    <tr class="tr-info {{#ifCond @index ">=" 5}}hide{{/ifCond}}">
      <td class="hotel-thumbnail">
        <div class="item-logo">
          <img data-path="{{cdnPath hotelSupportingServicePhotos.0.url 400 400}}" src="{{hotelSupportingServicePhotos.0.url}}" alt="{{hotelSupportingServicePhotos.0.name}}">
        </div>
        <div class="item-desc">
          <p>{{roomName}}</p>
          <a class="expanded-trigger"><span>查看详情</span><i class="icon-zcy icon-xiangxiazhedie"></i></a>
        </div>
      </td>
      <td>{{serviceName}}</td>
      <td>{{formatPrice rackRate}}</td>
    </tr>
    <tr class="tr-detail hide">
      <td colspan="3">
        <div class="hotel-item-detail">
          <div class="row-item">
            <span class="col-item"><span>序号</span><div class="val-item">{{sequence}}</div></span>
            <span class="col-item"><span>服务类型</span><div class="val-item">{{serviceTypeName}}</div></span>
          </div>
          <div class="row-item">
            <span class="col-item"><span>服务项目名称</span><div class="val-item">{{serviceName}}</div></span>
            <span class="col-item"><span>门市价(元)</span><div class="val-item">{{formatPrice rackRate}}</div></span>
          </div>
          <div class="row-item">
            <span class="col-item"><span>单位</span><div class="val-item">{{unit}}</div></span>
            <span class="col-item"><span>描述</span><div class="val-item">{{#if remark}}{{remark}}{{else}}-{{/if}}</div></span>
          </div>
        </div>
      </td>
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
  {{#gt (size _HOTELSUPPORTINGSERVICE_) 5}}
    <tr class="tr-service-total">
      <td colspan="6" style="text-align:right">
        <a class="hotel-list-all">
          <span>查看全部</span>
          <i class="icon-zcy icon-xiangxiazhedie"></i>
        </a>
      </td>
    </tr>
  {{/gt}}
  </tfoot>
</table>
