<div class="modal productListModal">
  <div class="modal-header modal-header-fix font-14">
    选择商品
    <a href="javascript:;" class="close">&times;</a>
  </div>
  <div class="modal-body">
    <div class="panel">
      <div class="panel-body col-12 ">
        <div class='search-panel'>
          <table>
            <tr>
              <td class="search-label"><label class="text-right">商品名称：</label></td>
              <td><input type="text" class="search" name="goodsName"  /></td>
              <td>
                <button class="btn btn-secondary"  id="searchBtn">搜索</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="productList">
          <table class="table">
          <thead>
            <tr>
              <th>选择</th>
              <th>商品名称</th>
              <th>是否标准商品</th>
              <th>品牌</th>
              <th>型号</th>
            </tr>
          </thead>
          <tbody>
            {{#equals total 0}}
              <tr>
                <td colspan="5"><label>未查询到相关商品信息，请确认查询条件</label></td>
              </tr>
            {{else}}
              {{#each data}}
                <tr>
                  <td>
                    <input type="radio" name="confirm-check">
                    <input type="hidden" name="itemId" value="{{id}}">
                  </td>
                  <td title="{{name}}">
                    <span class="word-break" style="width: 160px">
                      {{name}}
                    </span>
                  </td>
                  <td>
                      {{#if spuId}}是{{else}}否{{/if}}
                  </td>
                  <td title="{{brandName}}">
                    <span class="word-break" style="width: 120px">
                      {{brandName}}
                    </span>
                  </td>
                  <td title="{{specification}}">
                    <span class="word-break" style="width: 120px">
                      {{specification}}
                    </span>
                  </td>
                </tr>
              {{/each}}
              <tfoot>
                <tr>
                  <td colspan="5" class="text-right">
                    <div class="list-pagination" style="text-align: right;background:#f7f7f7;">
                      <div class="pagination" data-size="{{#if pageSize}}{{pageSize}}{{else}}10{{/if}}"
                           data-total="{{total}}"></div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            {{/equals}}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer modal-footer-fix">
    <button type="button" class="btn btn-minor close">取消</button>
    <button type="button" class="btn btn-primary submit" >确定</button>
  </div>
</div>
