<div class="modal modal-dialog carts-tips-dialog">
  <div class="modal-dialog-icon">
    <i class="icon-success"></i>
  </div>
  <div class="modal-dialog-message">
    <h3>{{i18n "Add to Cart" bundle="all_mix"}}</h3>
    <p>{{i18n "Item added to cart successfully" bundle="all_mix"}}.</p>
    <div class="modal-controls">
      <a class="btn btn-primary white-a js-jump-cart" href="{{#equals isPro 1}}/carts/supperProCart{{else}}/cart{{/equals}}">{{i18n "Check to Cart " bundle="all_mix"}}</a>
      &nbsp;&nbsp;&nbsp;<a class="close">{{i18n "Continue Shopping " bundle="all_mix"}}</a>
    </div>
  </div>
</div>
