<div class="modal pur-modal report-item-modal">
  <div class="modal-header">
    <h2>举报商品</h2>
  </div>
  <div class="modal-body report-item-modal-body">
    <div class="select-real-unreal">
      <label for="real-name-validator">实名验证</label><input id="real-name-validator" type="radio" name="validator" class="input-radio" checked>
      <label for="unreal-name-validator">非实名验证</label><input id="unreal-name-validator" type="radio" name="validator" class="input-radio">
    </div>
    <form id="form2" class="form form-aligned">
      <fieldset>
        <div class="control-group readonly">
          <label for="appellant-id">编号:</label>
          <input id="appellant-id" type="text" readonly="readonly" value="{{data.id}}">
        </div>
        <div class="control-group readonly">
          <label for="appellant-name">名字:</label>
          <input id="appellant-name" type="text" readonly="readonly" value="{{data.name}}">
        </div>
        <div class="control-group">
          <label for="appellant-email"><span class="required">*</span>邮箱:</label><input id="appellant-email" type="email" placeHolder="邮箱" required>
          <span class="note-error">请输入正确的邮箱</span>
          <span class="note-error-empty">请输入您的邮箱</span>
        </div>
        <div class="control-group">
          <label for="appellant-phone">电话:</label><input id="appellant-phone" type="tel" placeHolder="请输入电话号码">
        </div>
        <div class="control-group readonly">
          <label for="appellant-agency-id">单位编号:</label>
          <input id="appellant-agency-id" type="text" readonly="readonly" value="{{data.orgId}}">
        </div>
        <div class="control-group readonly">
          <label for="appellant-agency-name">单位名称:</label>
          <input id="appellant-agency-name" type="text" readonly="readonly" value="{{data.orgName}}" >
        </div>
        <div class="control-group readonly">
          <label for="appellant-category">单位身份:</label>
          <input id="appellant-category" type="text" readonly="readonly" value="">
        </div>
        <div class="control-group readonly">
          <label for="provider-id">被举报单位编号:</label>
          <input id="provider-id" type="text" readonly="readonly" value="">
        </div>
        <div class="control-group readonly">
          <label for="provider-name">被举报单位名称:</label>
          <input id="provider-name" type="text" readonly="readonly" value="">
        </div>
        <div class="control-group readonly">
          <label for="item-name">商品名称:</label>
          <input id="item-name" type="text" readonly="readonly" value="">
        </div>
        <div class="control-group readonly">
          <label for="district-no">行政区划编码:</label>
          <input id="district-no" type="text" readonly="readonly" value="{{data.districtId}}">
        </div>
        <div class="control-group readonly">
          <label for="district-name">行政区划名称:</label>
          <input id="district-name" type="text" readonly="readonly" value="">
        </div>
        <div class="control-group">
          <label for="accusation-type">举报类型:</label>
          <select id="accusation-type">
            <option>价格举报</option>
            <option>质量举报</option>
            <option>服务举报</option>
            <option>其他事项举报</option>
          </select>
        </div>
        <div class="control-group">
          <label for="description"><span class="required">*</span>举报描述:</label><input id="description" type="text" placeHolder="描述" required>
          <span class="note-error-empty">请输入您的描述</span>
        </div>
      </fieldset>
      <div class="modal-footer">
        <input class="btn btn-success btn-medium js-submit-report-item" type="submit" value="确定">
        <button class="btn btn-info btn-medium close">取消</button>
      </div>
    </form>
  </div>
</div>
