{{#component "ZCY-eevee-page-shop js-comp"}}
<div class="hide">{{json this}}</div>
  {{#each _DATA_.templateObject}}
    <div class="eevee-clu-line-index{{@index}} eevee-grids" style="{{#each this.css}}{{@key}}:{{this}};{{/each}}">
      <div class="eevee-col-row" style="{{#each this.insert.css}}{{@key}}:{{this}};{{/each}}">
        {{#each this.insert.comps}}
          <div class="eevee-col-box" style="{{#each this.css}}{{@key}}:{{this}};{{/each}}">
            {{inject this.path _BDATA_=this.data _PDATA_=../../_DATA_ shopId=@root.shopId}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}

{{/component}}
