{{#component "procurement-list js-comp"}}
<div class="hide">{{json}}</div>

    <div class="panel">

        <div class="panel-header" style="position: relative">

            {{!选项卡}}
        {{#equals _USER_.currentCategory "01"}}
            <div name="status" class="tab" data-type="switchable">
                <ul class="tab-navs clearfix">
                    <li data-role="nav" value=""><a href="javascript:;">全部<span class="tab-label"></span></a></li>
                    <li data-role="nav" value="1"><a href="javascript:;">已发布<span class="tab-label"></span></a></li>
                    <li data-role="nav" value="4"><a href="javascript:;">已响应<span class="tab-label"></span></a></li>
                    <li data-role="nav" value="10"><a href="javascript:;">已取消<span class="tab-label"></span></a></li>
                </ul>
            </div>
        {{/equals}}
        {{#equals _USER_.currentCategory "02"}}
            <div name="hasResponse" class="tab" data-type="switchable">
                <ul class="tab-navs clearfix">
                    <li data-role="nav" value=""><a href="javascript:;">全部<span class="tab-label"></span></a></li>
                    <li data-role="nav" value="1"><a href="javascript:;">已响应<span class="tab-label"></span></a></li>
                    <li data-role="nav" value="0"><a href="javascript:;">未响应<span class="tab-label"></span></a></li>
                </ul>
            </div>
        {{/equals}}
        {{!右侧按钮}}

          {{#equals _USER_.currentCategory "01"}}
            <div class="action newpoint">
              <a class="btn-minor btn" href="/procurement/create">新建采购意向</a>
            </div>
          {{/equals}}


        </div>

        <div class="panel-body">

            {{!搜索}}
            <div class="search-item search-panel">
                <table>
                    <tbody>
                        <tr>
                            <td class="search-label">关键词：</td>
                            <td><input name="keyWord" class="search" type="text" placeholder="请输入"></td>
                            <td class="search-label">提交时间：</td>
                            <td><input name="publishedAtStart" class="search date-input" type="text" placeholder="开始日期"> - <input name="publishedAtEnd" class="search date-input" type="text" placeholder="结束日期"></td>
                            <td class="search-label">状态：</td>
                            <td>
                                {{#equals _USER_.currentCategory "01"}}
                                    <select name="status" class="search">
                                        <option selected value="">全部</option>
                                        <option value="1">已发布</option>
                                        <option value="2">已结束</option>
                                        <option value="3">已失效</option>
                                        <option value="4">已响应</option>
                                        <option value="10">已取消</option>
                                    </select>
                                {{else}}
                                    <select name="hasResponse" class="search">
                                        <option selected value="">全部</option>
                                        <option value="1">已响应</option>
                                        <option value="0">未响应</option>
                                    </select>
                                {{/equals}}
                            </td>
                            <td style="width: 50px"> </td>
                            <td><button class="btn btn-minor mr-sm" id="searchBtn" style="margin-right: 5px">搜索</button><button id="resetBtn" class="btn btn-ghost js-filter-clear">重置</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {{!列表}}
            <div class="data-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 13%">编号</th>
                            <th style="width: 14%">采购单位</th>
                            <th style="width: 13%">采购意向名称</th>
                            <th style="width: 10%">类目</th>
                            <th style="width: 10%">品牌</th>
                            <th style="width: 8%">型号</th>
                            <th style="width: 7%">数量</th>
                            <th style="width: 10%">提交时间</th>
                            <th style="width: 6%">状态</th>
                            <th style="width: 9%">操作</th>
                        </tr>
                    </thead>
                    {{#equals _DATA_.data.length 0}}
                    <tbody data-hasdata="false">
                        <tr>
                            <td colspan="9" style="text-align: center;">
                                当前的列表中没有内容
                            </td>
                        </tr>
                    </tbody>
                    {{else}}
                    <tbody data-hasdata="true">
                        {{#each _DATA_.data}}
                        <tr data-id="{{id}}">
                            <td>{{displayNo}}</td>
                            <td>{{organName}}</td>
                            <td><a href="/procurement/info?demandId={{id}}">{{name}}</a></td>
                            <td>{{gpcategoryName}}</td>
                            <td>{{brandName}}</td>
                            <td>{{specificationName}}</td>
                            <td>{{#equals quantity 0}}
                                    -
                                  {{else}}
                                    {{quantity}}
                                {{/equals}}</td>
                            <td>{{formatDate publishedAt}}</td>
                            <td style="color:{{#equals status 0}}#6E6E6E{{/equals}}{{#equals status 1}}#FD8027{{/equals}}{{#equals status 4}}#40C342{{/equals}};">
                                {{#equals _USER_.currentCategory "02"}}
                                    {{#equals hasResponse false}}未响应{{/equals}}
                                    {{#equals hasResponse true}}已响应{{/equals}}
                                  {{else}}
                                    {{#equals status 0}}已删除{{/equals}}
                                    {{#equals status 1}}已发布{{/equals}}
                                    {{#equals status 2}}已结束{{/equals}}
                                    {{#equals status 3}}已失效{{/equals}}
                                    {{#equals status 4}}已响应{{/equals}}
                                    {{#equals status 10}}已取消{{/equals}}
                                {{/equals}}

                            </td>
                            <td class="oprate">
                                {{#equals _USER_.currentCategory "02"}}
                                    {{#equals hasResponse false}}<a href="/procurement/info?type=resp&demandId={{id}}" class="resp-a">响应</a><a href="javascript:;" class="ignor-a">忽略</a>{{/equals}}
                                    {{#equals hasResponse true}}<a href="/procurement/info?type=resp&demandId={{id}}" class="resp-a">响应</a>{{/equals}}
                                {{else}}
                                    {{#equals status 1}}<a href="javascript:;" class="cancel-a">取消</a><a href="javascript:;" class="del-a">删除</a>{{/equals}}
                                    {{#equals status 4}}<a href="javascript:;" class="cancel-a">取消</a><a href="javascript:;" class="del-a">删除</a>{{/equals}}
                                    {{#equals status 10}}<a href="javascript:;" class="pub-a">发布</a><a href="javascript:;" class="del-a">删除</a>{{/equals}}
                                {{/equals}}

                                </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" style="text-align: right;">
                                {{inject "common/basetable/pagination"}}
                            </td>
                        </tr>
                    </tfoot>
                    {{/equals}}
                </table>
            </div>

        </div>

    </div>

{{/component}}