{{#component "system-site-manage js-comp"}}
<div class="component-header">
  <span class="component-title">{{i18n "Site Management" bundle="all_mix"}}</span>
  <button class="btn btn-primary btn-medium js-sites-new pull-right" data-href="{{json _HREF_}}">{{i18n "Create a site" bundle="all_mix"}}</button>
</div>
<div class="component-body">
  <table class="site-template-table table  center-text" data-layouts="{{json _DATA_.layouts}}">
    <thead>
      <tr>
        <th width="25%">{{i18n "Site Name" bundle="all_mix"}}</th>
        <th width="25%">{{i18n "Domain name" bundle="all_mix"}}</th>
        <th width="20%">{{i18n "Template" bundle="all_mix"}}</th>
        <th width="30%" class="td-operation">{{i18n "Operation " bundle="all_mix"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each _DATA_.sites}}
        <tr class="site" data-site="{{json this}}" data-id="{{id}}">
          <td>{{name}}</td>
          <td><a href="https://{{domain}}" target="_blank">{{domain}}</a></td>
          <td>
            {{layout}} ({{app}})
            <br>
            {{layoutName}}
          </td>
          <td class="td-operation">
            <a href="javascript:;" class="js-asocciate-districts" data-id="{{id}}">关联区划</a>&nbsp;
            <a href="javascript:;" class="js-release-site" id="{{id}}" data-toggle="confirm" data-title="{{i18n "Are you sure to publish it" bundle="all_mix"}}?" data-content="{{i18n "Publish? All site changes will take effect after it is published. You can also choose to use the renoGSTed interface to publish a single page rather than the entire site." bundle="all_mix"}}" data-event="confirm:release-site">{{i18n "Publish Site" bundle="all_mix"}}</a>&nbsp;
            <a href="/design/sites/{{id}}" target="_blank">{{i18n "Decoration" bundle="all_mix"}}</a>&nbsp;
            {{#equals _USER_.type "6"}}
            {{else}}
            <a href="javascript:;" class="js-sites-config-edit">{{i18n "Edit" bundle="all_mix"}}</a>&nbsp;
            <a href="javascript:;" id="{{id}}" data-toggle="confirm" data-title="{{i18n "Are you sure to delete it?" bundle="all_mix"}}" data-content="{{i18n "Are you sure to delete it, cannot be recovered after deleting" bundle="all_mix"}}" data-event="confirm:delete-site">{{i18n "Delete" bundle="all_mix"}}</a>&nbsp;
            <a href="/api/design-content/export-site/{{id}}">{{i18n "Export" bundle="all_mix"}}</a>
            {{/equals}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/component}}
