{{#component "supperPro-product-manage-market js-comp"}}
    <p class="hide">{{json _DATA_}}</p>
    <div class="pull-right">
        <a class="btn btn-minor" href="/seller/release-items?ptype=4">发布商品</a>
    </div>
    <div class="component-header">
        <div name="status" class="tab" data-type="switchable">
            <ul class="tab-navs clearfix">
                <li value="-1"><a
                        href="/seller/supperPro/product-manage-market?step=7">全部<span
                        class="tab-label">{{_DATA_.sumCount}}</span></a></li>
                <li value="0"><a
                        href="/seller/supperPro/product-manage-market?step=7&status=1">上架商品<span
                        class="tab-label">{{_DATA_.onShelfCount}}</span></a></li>
                <li value="1"><a
                        href="/seller/supperPro/product-manage-market?step=7&status=-1">下架商品<span
                        class="tab-label">{{_DATA_.offShelfCount}}</span></a></li>
            </ul>
        </div>
    </div>
    <div class="component-body">
        <div class="search-item">
            <div id="block" class="block filter-block">
                <form class="form">
                    <fieldset>
                        <span class="span4">
                          <label for="">{{i18n "Product" bundle="all_mix"}}ID&nbsp;&nbsp;
                            <input type="text" class="item-filter-item" name="itemId" value="{{itemId}}"
                                   placeholder="{{i18n "Product Number (number)" bundle="all_mix"}}">
                            <input type="hidden" name="step" value="{{step}}">
                          </label>
                        </span>
                        <span class="span4">
              <label for="">&nbsp;&nbsp;{{i18n "Product Code" bundle="all_mix"}}&nbsp;&nbsp;
                <input type="text" class="item-filter-item" name="itemCode" value="{{itemCode}}"
                       placeholder="{{i18n "Product Code" bundle="all_mix"}}">
              </label>
            </span>
                        <span class="span4">
              <label for="">&nbsp;&nbsp;{{i18n "Product Name" bundle="all_mix"}}&nbsp;&nbsp;
                <input type="text" class="item-filter-item" name="itemName" value="{{itemName}}"
                       placeholder="{{i18n "Product Name" bundle="all_mix"}}">
              </label>
            </span>
                        <div style="position:relative;margin-top: 20px;">
                            <label>&nbsp;&nbsp;类目&nbsp;&nbsp;</label>
                          {{#inject "common/category_select_input"}}
                            {"tag": "blocktrade"}
                          {{/inject}}
                            <span class="span2 pull-right">
                <label for="filter">
                  <button type="submit" class="btn btn-minor js-item-filter">搜索</button>
                  &nbsp;
                  <button type="button" class="btn btn-ghost js-filter-clear">重置</button>
                </label>
              </span>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="item-list">
            <table class="table  item-manage-table">
                <thead>
                <tr>
                    <th width="24"></th>
                    <th width="286" class="left-text">
                        {{i18n "Product" bundle="all_mix"}}
                    </th>
                    <th width="130">{{i18n "Product" bundle="all_mix"}}ID</th>
                    <th width="160">类目</th>
                    <th width="160">下浮率</th>
                    <th width="100" class="text-center">是否私有协议</th>
                    <th width="100">{{i18n "Inventory " bundle="all_mix"}}</th>
                    <th width="80">{{i18n "Total sales" bundle="all_mix"}}</th>
                    <th style="display: none;">审核区划</th>
                    <th width="100">{{i18n "Status" bundle="all_mix"}}</th>
                    <th width="100" class="td-operation">&nbsp;</th>
                    <th width="60" class="text-left">{{i18n "Operation " bundle="all_mix"}}</th>
                    <th width="20"></th>
                </tr>
                </thead>
                <tbody>
                {{#each _DATA_.result.data}}
                    <tr data-id="{{id}}">
                        <td>{{#equals status "-2"}}-{{else}}
                            <input type="checkbox" class="js-item-select input-checkbox" autocomplete="off">{{/equals}}
                        </td>
                        <td class="left-text">
                            <a href="/items/{{id}}" target="_blank">{{name}}</a><br>
                        </td>
                        <td>{{id}}</td>
                        <td>{{categoryPath}}</td>
                        <td>
                          {{#equals (size blockItems.0.decreaseRateDtos) 0}}
                            -
                          {{else}}
                            {{#each blockItems.0.decreaseRateDtos}}
                              <div>{{tenderName}}&nbsp;&nbsp;<span class="currency">{{formatPrice decreaseRate}}%</span></div>
                            {{/each}}
                          {{/equals}}
                        </td>
                        <td class="text-center">
                          {{#equals blockItems.0.isPrivate true}}
                            是
                          {{else}}
                            否
                          {{/equals}}
                        </td>
                        <td>{{stockQuantity}} {{extra.unit}}</td>
                        <td>
                          {{#equals _USER_.currentCategory 12}}
                            －
                          {{else}}
                            {{#if saleQuantity}}{{saleQuantity}}{{else}}0{{/if}} {{extra.unit}}
                          {{/equals}}
                        </td>
                        <td class="js-divisions-toggle" style="display: none;">
                            {{#if blockItems}}
                            {{else}}
                                --
                            {{/if}}
                            {{#each blockItems}}
                                <div class="{{#ifCond @index ">" 2}}hide{{/ifCond}} text-ellipsis">
                                    {{signDistrictName}}
                                </div>
                            {{/each}}
                        </td>
                        <td class="js-status-toggle">
                            {{#if blockItems}}
                            {{else}}
                                --
                            {{/if}}
                            {{#each blockItems}}
                                <div class="{{#ifCond @index ">" 2}}hide{{/ifCond}} text-ellipsis">
                                    {{#equals status "1"}}<span class="success">已上架</span>{{/equals}}
                                    {{#equals status "-1"}}<span>已下架</span>{{/equals}}
                                    {{#equals status "0"}}未上架{{/equals}}
                                    {{#equals status "-2"}}<span class="color-frizen">已冻结</span>{{/equals}}
                                    {{#equals status "2"}}<span class="color-currency">待审核</span>{{/equals}}
                                    {{#equals status "-4"}}审核不通过{{/equals}}
                                    {{#equals status "5"}}解冻申请中{{/equals}}
                                </div>
                            {{/each}}
                        </td>
                        <td class="td-operation js-operate-toggle">
                            {{!--{{#withPerm "item_status_update"}}--}}
                            {{#if blockItems}}
                            {{else}}
                                --
                            {{/if}}
                            {{#each blockItems}}
                                <div class="{{#ifCond @index ">" 2}}hide{{/ifCond}} text-ellipsis">
                                    {{#equals status "5"}}--{{/equals}}
                                    {{#equals status "-2"}}
                                        <a href="javascript:void(0);" class="js-item-unfrozen" data-districtcode="{{districtCode}}">申请解冻</a><br>
                                    {{/equals}}
                                    {{#equals status "1"}}
                                        <a href="javascript:void(0);" class="js-item-off" data-toggle="confirm"
                                           data-title="{{i18n "Are you sure to put it off shelves?" bundle="all_mix"}}"
                                           data-content="{{i18n
                                                   "Can be on-shelf after off-shelf, confirm put it off shelves?"
                                                   bundle="all_mix"}}" data-event="confirm:off-one" data-districtcode="{{districtCode}}" data-name="{{../name}}">{{i18n "Unlist "
                                                                                                                                                    bundle="all_mix"}}</a>{{/equals}}
                                    {{#equals status "-1"}}
                                        <a href="javascript:void(0);" class="js-item-on" data-toggle="confirm"
                                           data-title="{{i18n "Are you sure to put it on shelves?" bundle="all_mix"}}"
                                           data-content="{{i18n
                                                   "Can be off-shelf after on-shelf, confirm put it on shelves?"
                                                   bundle="all_mix"}}" data-event="confirm:on-one" data-districtcode="{{districtCode}}" data-name="{{../name}}">{{i18n "List"
                                                                                                                                                   bundle="all_mix"}}</a>{{/equals}}
                                    {{#equals status "0"}}
                                        <a href="javascript:void(0);" class="js-item-on" data-toggle="confirm"
                                           data-title="{{i18n "Are you sure to put it on shelves?" bundle="all_mix"}}"
                                           data-content="{{i18n
                                                   "Can be off-shelf after on-shelf, confirm put it on shelves?"
                                                   bundle="all_mix"}}" data-event="confirm:on-one" data-districtcode="{{districtCode}}" data-name="{{../name}}">{{i18n "List"
                                                                                                                                                   bundle="all_mix"}}</a>{{/equals}}
                                    {{#equals status "-4"}}
                                        <a href="javascript:void(0);" class="js-item-on" data-toggle="confirm"
                                           data-title="{{i18n "Are you sure to put it on shelves?" bundle="all_mix"}}"
                                           data-content="{{i18n
                                                   "Can be off-shelf after on-shelf, confirm put it on shelves?"
                                                   bundle="all_mix"}}" data-event="confirm:on-one" data-districtcode="{{districtCode}}" data-name="{{../name}}">{{i18n "List"
                                                                                                                                                   bundle="all_mix"}}</a>{{/equals}}
                                    {{!--{{/withPerm}}
                          {{#withPerm "update_item"}}--}}

                                    {{!--{{/withPerm}}--}}

                                    {{#equals status 2}}
                                        <a href="javascript:void(0);" class="cancelAudit"
                                           data-product="{{name}}" data-districtcode="{{districtCode}}">撤销审核</a>
                                    {{/equals}}
                                </div>
                            {{/each}}
                        </td>
                        <td class="text-left">
                            <div style="width: 53px">
                              {{#equals status 2}}
                              {{else}}
                                <a href="/seller/item-issue?itemId={{id}}&ptype=4&categoryPath={{urlEncode categoryPath "utf-8"}}"
                                   target="_blank"{{#equals status "2"}} onclick="return false;"{{/equals}}
                                   class="js-edit-item {{#equals status '2'}}disabled{{/equals}}">
                                  {{i18n "Edit product information" bundle="all_mix"}}
                                </a>
                                {{#equals status 5}}
                                  {{else}}
                                  <a class="js-item-delete" data-toggle="confirm" data-title="您确定删除吗?" data-content="商品删除之后不可恢复，确认删除？" data-event="confirm:delete-one">删除</a>
                                {{/equals}}
                              {{/equals}}
                            </div>
                        </td>
                        {{#gt (size blockItems) 3}}
                            <td class="drawer-btn-container">
                                <i class="icon-zcy icon-xiangxiazhedie"></i>
                            </td>
                        {{else}}
                            <td class=""></td>
                        {{/gt}}
                    </tr>
                {{/each}}
                </tbody>
                <tfoot>
                <tr>
                    <td> </td>
                    <td colspan="2">
                        {{!--{{#withPerm "item_status_update"}}--}}

                    </td>
                    <td colspan="9" class="td-operation">
                        <div class="item-pagination" data-total="{{_DATA_.result.total}}"
                             data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}">

                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{{/component}}
