{{#component "component-protocol-info-relation"}}
{{!-- 
{
  "requirePackResultName":"协议批量结果", 
  "requirePackResultId":协议批量结果id,
  "requireName":"竞价信息",
  "requireId":竞价id
} 
--}}
<section>
  <div class="inquiry-notice">
      <div>
        <i class="icon-zcy icon-xiangguangonggao-"></i>
        <h2>相关信息</h2>
        <span></span>
      </div>
      <div class="inquiry-notice-link">
      {{#equals tradeMethod  "直接订购"}}
      {{else}}
        {{#if requireResultName}}
          <a href="/lasvegas/protocolhall/result?anNouncementId={{requireResultId}}">{{requireResultName}}</a><br>        
        {{/if}}
        {{#if requirePackResultName}}
          <a href="/lasvegas/protocolhall/batch?anNouncementId={{requirePackResultId}}">{{requirePackResultName}}</a><br>
        {{/if}}
        {{#if requireName}}
          <a href="/lasvegas/protocolhall/detail?anNouncementId={{requireId}}">{{requireName}}</a>
        {{/if}}
      {{/equals}}
      </div>
      
    </div>
</section>
{{/component}}