<div class="floor-body clearfix">
    {{#equals _DATA_.total 0}}
        <div style="text-align: center;padding: 20px 0;">
            <div class="no-data-box">
                <img src="/lunatone/assets/images/other-images/error-page.png" />
            </div>
            <div class="no-data-box" style="vertical-align: top;margin-top: 150px;">
                <div class="text-content">
                    <span style="font-size: 24px;">没有找到相关的供应商，请重新输入关键字</span>
                </div>
            </div>
        </div>
    {{else}}
    <ul class="supplier-list">
        {{#each _DATA_.data}}
            <li class="list-li">
                <div class="supplier-title jsSupplierTitle">
                    <a href="/search?shopId={{this.shopId}}&searchType=1&normal=4" class="product-image"><img class=" lazy" src="{{logoPath}}" alt=""></a>
                    <div class="title-msg">
                        <a href="/search?shopId={{this.shopId}}&searchType=1&normal=4"><p class="supplier-name-show" data-name="{{name}}">{{name}}</p></a>
                        <!--制造馆标不确定先不展示-->
                        <p class="label-show clearfix">
                            {{#each tags}}
                                {{#equals this 'pzbzjzz'}}<span title="品字标浙江制造"><img src="/lunatone/assets/images/other-images/pzb.png" alt=""></span>{{/equals}}
                                {{#equals this 'lzh'}}<span title="老字号"><img src="/lunatone/assets/images/other-images/lzh.png" alt=""></span>{{/equals}}
                                {{#equals this 'zjmpcp'}}<span title="浙江名牌产品"><img src="/lunatone/assets/images/other-images/zjmp.png" alt=""></span>{{/equals}}
                                {{#equals this 'zjckmp'}}<span title="浙江出口名牌"><img src="/lunatone/assets/images/other-images/output.png" alt=""></span>{{/equals}}
                            {{/each}}
                        </p>
                    </div>
                    <div class="title-content">
                        <ul>
                            <li class="overflow-ell">
                                <span>主营类目：</span>
                                <span>{{categoryIds}}</span>
                            </li>
                            <li class="operator-line">
                                <a class="btn btn-info initShop" href="/search?shopId={{this.shopId}}&searchType=1&normal=4">进入店铺</a>
                                {{#if showFavor}}
                                    <button class="btn btn-info js-add-favor" href="javascript:void(0)" data-shop-id="{{this.shopId}}">关注店铺</button>
                                {{/if}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="img-box">
                    <a class="supplier-link">
                        <img class="product-image lazy" src="{{hotItems.0.mainImage}}" alt="">
                        <div class="link-info hide" data-linkId="{{hotItems.0.id}}">
                            <p class="info-p" title="{{hotItems.0.name}}">{{hotItems.0.name}}</p>
                        </div>
                    </a>
                    <a class="supplier-link fl-r">
                        <img class="product-image lazy" src="{{hotItems.1.mainImage}}" alt="">
                        <div class="link-info hide" data-linkid="{{hotItems.1.id}}">
                            <p class="info-p" title="{{hotItems.1.name}}">{{hotItems.1.name}}</p>
                        </div>
                    </a>
                </div>
                <div class="hide supplier-mask">

                </div>
            </li>
        {{/each}}
    </ul>
    <div class="pagination pull-right" data-total="{{_DATA_.total}}" data-size = {{_DATA_.size}}></div>
</div>
{{/equals}}