<div class="modal pur-modal">
  <div class="modal-header">
    <h2>关联采购计划</h2>
  </div>
  <div class="modal-body">
    <div class="pur-payments">
      <input type="hidden" id="payments" value="{{json _DATA_.payments}}">
      <div class="receiver-mulit-payments">
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th width="12%">采购计划文号</th>
                <th width="10%">采购类目</th>
                <th width="12%">可用金额(元)</th>
                <th width="10%">可用数量</th>
                <th width="12%">本次使用数量</th>
                <th width="12%">本次使用金额(元)</th>
                {{!-- <th width="100">过期时间</th> --}}
                <th width="10%">关联商品</th>
                <th width="8%">新增</th>
                <th width="9%">新增</th>
                <th width="5%" class="td-operation">操作</th>
              </tr>
            </thead>
            <tbody>
             {{!--  {{#each _DATA_.payments}}
                {{#with payment}}
                {{#equals payMethod 10}} --}}
                <tr class="itme-tr" data-id="{{id}}">
                  <td class="js-confirmationname selected-confirmationid" data-confirmationid="{{confirmationId}}">{{confirmationName}}</td>
                  <td class="js-gpcatalogname" data-gpcatalogid="{{gpCatalogId}}">{{gpCatalogName}}</td>
                  <td class=""><span class="price js-availableaccount">{{../_CURRENCY_}}{{formatPrice availableAccount}}</span></td>
                  <td class="js-availablequantity">{{availableQuantity}}</td>
                  <td class="js-quantity">{{../quantity}}</td>
                  <td class=""><span class="price js-fee">{{../_CURRENCY_}}{{formatPrice ../fee}}</span></td>
                  {{!-- <td class="js-expireddate">{{expiredDate}}</td> --}}
                  <td><a class="js-show-pay-item-list">商品列表({{../skuTypeCount}})</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="js-show-pay-unbind-item-list">添加商品</a>
                  </td>
                  <td>新</td>
                  <td>无效</td>
                  <td class="td-operation">
                    <a class="js-delete-pay-item">删除</a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="pur-all-payments">
        本次总使用情况
        <table class="table table-striped">
          <tbody>
            <tr>
              <td width="33%">已关联采购计划总额(元)：<span class="price currency">{{_CURRENCY_}}{{formatPrice _DATA_.confirmationFee}}</span></td>
              <td width="33%">计划外资金总额(元)：<span class="price currency">{{_CURRENCY_}}{{formatPrice _DATA_.otherFee}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
              {{#equals _DATA_.otherSkuTypeCount null}}<span class="no-href">无商品</span>{{else}}<a class="js-show-other-pay-item-list">查看商品({{_DATA_.otherSkuTypeCount}})</a>{{/equals}}</td>
              <td width="34%">订单总额(元)：<span class="price currency">{{_CURRENCY_}}{{formatPrice _DATA_.purchase.actuallyFee}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info btn-medium close">取消</button>
    <button class="btn btn-primary btn-medium js-other-payment-items-submit close">确定</button>
  </div>
</div>
