<div class="timeline clearfix">
  <table class="time-line table">
  <tbody>
    {{#each data}}
      <tr class="time-line">
        <td class="first"><div class="point success {{#if @first}}first{{/if}}"></div></td>
        <td width="100px"><strong>{{ @key}}</strong></td>
        {{#with this}}
        <td width="40px"><strong>
        {{#equals week 1}}周一{{/equals}}
        {{#equals week 2}}周二{{/equals}}
        {{#equals week 3}}周三{{/equals}}
        {{#equals week 4}}周四{{/equals}}
        {{#equals week 5}}周五{{/equals}}
        {{#equals week 6}}周六{{/equals}}
        {{#equals week 7}}周日{{/equals}}
        </strong></td>
        {{#each expressSteps}}
        {{#if @first}}
          <td width="150px;">{{time}}</td>
          <td>{{#equals facilityName null}}{{else}}[{{facilityName}}]{{/equals}} {{desc}}</td>
          <td class="">{{comment}}</td>
        {{/if}}
        {{/each}}
        {{/with}}
      </tr>
      
      {{#with this}}
      {{#each expressSteps}}
      {{#if @first}}{{else}}
      <tr class="time-line">
        <td class="first"><div class="point success"></div></td>
        <td></td>
        <td></td>
        <td>{{time}}</td>
        <td>{{#equals facilityName null}}{{else}}[{{facilityName}}]{{/equals}} {{desc}}</td>
        <td class="">{{comment}}</td>
      </tr>
      {{/if}}
      {{/each}}
      {{/with}}
    {{else}}
    <tr class="time-line">
      <td colspan="7">无物流数据</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
</div>