<div class="modal pur-modal">
  <div class="modal-header">
    <h2>已关联确认书的商品</h2>
  </div>
  <div class="payments-info" style="padding:20px;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="150">采购计划文号</th>
          <th width="150">商品类目</th>
          <th width="100">可用金额(元)</th>
          <th width="100">可用数量</th>
          <th width="100">本次使用金额(元)</th>
          <th width="100" class="last">本次使用数量</th>
        </tr>
      </thead>
      <tbody>
        <tr class="itme-tr">
          <td data-confirmationid="{{_DATA_.paymentsInfo.confirmationId}}">{{_DATA_.paymentsInfo.confirmationName}}</td>
          <td data-gpcatalogid="{{_DATA_.paymentsInfo.gpCatalogId}}">{{_DATA_.paymentsInfo.gpCatalogName}}</td>
          <td><span class="price currency">{{_DATA_.paymentsInfo.availableAccount}}</span></td>
          <td>{{_DATA_.paymentsInfo.availableQuantity}}</td>
          <td><span class="price currency">{{_DATA_.paymentsInfo.fee}}</span></td>
          <td class="last">{{_DATA_.paymentsInfo.quantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="payment-items-lists" data-req-lists-total="{{_DATA_.total}}" data-paymentid="{{_DATA_.itemId}}">
    <div class="payment-items">
      <div class="modal-body clearfix">
        <div><strong><span class="req-title">商品清单</span></strong></div>
        {{!-- {{json _DATA_}} --}}
        <table class="table  center-tex payment-item-table">
          <thead>
            <tr>
              <th class="left-text" colspan="1" width="350"> <span class="">商品</span> </th>
              <th width="150">单价(元)</th>
              <th width="100">数量</th>
              <th width="150" class="last">小计(元)</th>
            </tr>
          </thead>
          <tbody>
            {{#each _DATA_.data}}
              <tr class="item-tr" data-id="{{id}}" data-id="{{skuId}}" data-itemid={{itemId}}>
                {{!-- <td width="24" class="check"><input type="checkbox" class="js-select-item"></td> --}}
                <td class="left-text"><span>{{itemName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sku-attrs">{{#each attributeMap}}{{this}}&nbsp;&nbsp;{{/each}}</td>
                <td><div><span class="price">{{_CURRENCY_}}</span><span class="price item-price">{{formatPrice skuPrice}}</span></div></td>
                <td>
                  {{!-- <div class="input-amount" data-min="0" data-max="{{subItemCount}}">
                    <a href="javascript:void(0);" class="minus {{#equals quantity 0}}disabled{{/equals}}" >-</a>
                    <input type="number" class="count-number" value="{{quantity}}" data-old="{{quantity}}" data-init="{{quantity}}">
                    <a href="javascript:void(0);" class="plus {{#equals quantity subItemCount}}disabled{{/equals}}">+</a>
                  </div> --}}
                  {{quantity}}
                </td>
                <td class="last"><span class="price">{{_CURRENCY_}}</span><span class="price item-price">{{formatPrice fee}}</span></td>
              </tr>
            {{else}}
              <tr><td colspan="5">无可展示信息</td></tr>
            {{/each}}
          </tbody>
        </table>
        <div class="selected-pagination pagination-danger clearfix"></div>
      </div>
      <div class="modal-footer">
        <div class="modal-footer-option">
          <button class="btn btn-success btn-medium js-payment-items-submit">确定</button>
          <button class="btn btn-info btn-medium close">取消</button>
        </div>
        <div style="float: left; line-height:40px;">
          <label for="select-batch"><input type="checkbox" id="select-batch" class="js-batch-select input-checkbox">全选</label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label class="js-select-item-info"></label>
        </div>
      </div>
    </div>
  </div>
</div>
