{{#component "item-detail js-comp"}}
  <p class="hide">{{json this}}</p>
  <input type="hidden" id="YZHD_ITEMID" value="{{_DATA_.itemId}}">
  <div class="clearfix">
    <div class="item-detail-left" id="js-item-detail-left">
      <div class="image-manage" data-item-detail="{{_DATA_.itemDetail.id}}"
                                data-user="{{json _USER_}}">
        <a class="main-image js-main-image-container zoom" href="{{_DATA_.mainImage}}">
          <img alt="{{_DATA_.name}}" src="{{cdnPath _DATA_.mainImage '400'}}" class="js-main-image" width="380" height="380" />
          <i class="icon-zcy icon-search image-enlarge"></i>
        </a>

        <div class="carousel-wrap item-carousel-wrap js-comp" data-comp-path="common/more_carousel">
          <div class="carousel show">
            <ul class="images carousel-container clearfix" data-time="" data-auto="false" data-length="5" data-type="0"  data-size="{{add (size _DATA_.imageInfos) 1}}">
              <li class="selected" style="width:20%">
                <img id="itemMainImage" class="thumbnail" src="{{cdnPath _DATA_.mainImage "360"}}" alt="{{_DATA_.name}}" data-src="{{_DATA_.mainImage}}"/>
              </li>
              {{#each _DATA_.imageInfos}}
                <li style="width:20%">
                  <img class="thumbnail" src="{{cdnPath url "100"}}" alt="{{#if name}}{{name}}{{else}}{{_DATA_.name}}{{/if}}" data-src="{{url}}"/>
                </li>
              {{/each}}
            </ul>
          </div>

          <a class="prev outside" href="javascript:void(0);"></a>
          <a class="next outside" href="javascript:void(0);"></a>
        </div>
      </div>
    </div>
    <div class="item-detail-right" id="js-item-detail-right">
      <div class="item-title" data-id="{{_DATA_.itemId}}">
        <h1 title="{{_DATA_.name}}" id="js-item-name">{{_DATA_.name}}</h1>
      </div>
      <div class="item-info">
        <ul class="item-info-list clearfix">
          <li class="price-li">
            <label class="first-line">价格：<span class="item-price">{{_CURRENCY_}}<span id="js-item-price" class="price">{{formatPrice _DATA_.skuPrice}}</span></span>
            </label>
          </li>
        </ul>
      </div>
        <div class="item-skus">
          <a href="javascript:void(0);" class="close-warning" style="display:none;">×</a>
          <ul id="choose" data-skus="{{json _DATA_.skus}}" data-attrs="{{json _DATA_.groupedSkuAttrs}}">
            {{#each _DATA_.attributeMap}}
              <li class="sku-choose js-attr-sort" data-index="{{@index}}">
                <div class="control-group">
                  <label class="dt sku-items-label" for="input-name">{{@key}}：</label>
                  <div class="smdd sku-items">
                    <div class="wrap-input">
                        <a class="item">{{this}}</a>
                    </div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="service-protocol">
          <div style="display: inline-block">服务承诺：</div>
            <div class="js-item-service"
                 data-services="{{json _DATA_.services}}"
                 style="display: inline-block;white-space: normal;vertical-align: text-top; max-width: 520px;">
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="spu-tab tab js-comp" data-comp-path="shop_decoration/spu_tab">
    <ul class="tab-navs clearfix"  data-item="{{_DATA_.itemId}}">
      <li class="active" data-role="nav"><a href="javascript:void(0);">商品详情</a></li>
      <li data-role="nav"><a href="javascript:void(0);">规格参数</a></li>
    </ul>
    <div class="tab-contents clearfix">
      <div data-role="content" class="tab-content">
        <ul class="spu-info clearfix">
          {{#each _DATA_.otherAttrs}}
            {{#of group "DEFAULT,普通属性"}}
              {{#each otherAttributes}}
                <li class="attribute-li pull-left">{{attrKey}}: &nbsp;&nbsp;{{attrVal}}{{_DATA_.unit}}</li>
              {{/each}}
            {{/of}}
          {{/each}}
        </ul>
        {{{_DATA_.detail}}}
      </div>
      <div data-role="content" class="tab-content hide">
        <div class="package-list">
          {{#each _DATA_.otherAttrs}}
            {{#equals group "SKU"}}
            {{else}}
              <table class="attribute-tab">
                {{#of group "SPU,USER_DEFINED"}}
                {{else}}
                  <thead>
                    <th colspan="2" class="attribute-title">
                      {{#of group "DEFAULT,普通属性"}}普通属性{{/of}}
                      {{#of group "POLICY,政策信息"}}政策信息{{/of}}
                      {{#of group "SERVICE,服务信息"}}服务信息{{/of}}
                      {{#of group "BASIC,基本信息"}}基本信息{{/of}}
                    </th>
                  </thead>
                {{/of}}
                <tbody>
                  {{#each otherAttributes}}
                  <tr>
                    <td class="main-parameter">
                      {{#of attrKey "birthday,weight,origin"}}
                        {{#equals attrKey "birthday"}}上市时间{{/equals}}
                        {{#equals attrKey "weight"}}重量{{/equals}}
                        {{#equals attrKey "origin"}}产地{{/equals}}
                      {{else}}
                        {{attrKey}}
                      {{/of}}
                    </td>
                    <td class="parameter-espercial">{{attrVal}}{{unit}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            {{/equals}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/component}}
