<div class="modal pur-modal pur-comment-modal">
  <div class="modal-header">
    <span class="h2">商品批注</span><a href="#" class="close pull-right close-modal">x</a>
  </div>
  {{!-- {{json this}} --}}
  <div class="item-comment-lists" data-purchaseid="{{_DATA_.purchaseId}}" data-purchasestatus="{{_DATA_.purchaseStatus}}" data-skuid="{{_DATA_.skuId}}">
    <div class="items">
      <div class="modal-body clearfix">
        {{#each _DATA_.data}}
        <ul>
          <li class="item-comment">{{comment}}</li>
          <li class="item-creater">批注人：{{commenterName}}&nbsp;&nbsp;&nbsp;&nbsp;{{formatDate createdAt}}</li>
        </ul>
        {{/each}}
      </div>
      {{#of _DATA_.purchaseStatus "1,2,3"}}
      <div class="comment-content-group clearfix">
        <div class="input-group input-group-append input-comment-group">
          <input class="js-comment-content comment-content" type="text" placeholder='请输入批注'><span class="input-group-btn">
            {{!-- <button class="js-commit-comment btn btn-smaller btn-info" type="button">发表</button> --}}
          </span>
        </div>
        <div class="comment-content-count">(<span class="js-comment-content-count">0</span><span> / 50)</span></div>
      </div>
      {{/of}}
      <div class="modal-footer">
        {{#of _DATA_.purchaseStatus "1,2,3"}}
        <button class="btn btn-primary btn-small js-commit-comment">确定</button>
        {{/of}}
        <button class="btn btn-primary btn-small close">关闭</button>
      </div>
    </div>
  </div>
</div>
