{{#component "component-inquiry-protocol-detail js-comp"}}
<div class="hide">{{json}}</div>
<input type="hidden" name="lasvegasPath" value="{{_ENV_HREF_.lasvegas}}">
<input type="hidden" id="frontPath" value="{{_ENV_HREF_.front}}">
<input type="hidden" name="loginPath" value="{{_ENV_HREF_.login}}">
<div class="component-inquiry-protocol-detail" AsAnnouncementDetailDto>
  <div class="inquiry-title">
    <h1>{{_DATA_.title}}</h1>
    <br/>
    <ul>
      <li>日期：
        <span>{{formatDate _DATA_.announcementStartTime 'yyyy-MM-dd'}}</span>
      </li>
    </ul>
    {{!-- {{#equals _DATA_.AsAnnouncementDetailDto.state 98}}
    <div class="withdrawIcon">
      <i class="icon-zcy icon-yichexiao"></i>
    </div>
    {{/equals}} --}}
  </div>
  <div class="inquiry-info">
    {{inject "inquiryHall_protocol/templates/detail_base"
      beginTime=_DATA_.requireStartTime
      endTime=_DATA_.requireEndTime
      tradeMethod=_DATA_.requireTypeName
      packageTime=_DATA_.requireStartTime
      packageMethod=_DATA_.packMethod
      packageAreaList=_DATA_.asPackAnnouncementDtoList
      supplierRule=_DATA_.supplierRequire
    }}
    {{inject "inquiryHall_protocol/templates/detail_good"
      pageTotal=1
      goodCatalog=_GOOD_.data.0.itemCatalogName
      goodList=_GOOD_.data
    }}
  </div>
  {{#equals _DATA_.isQuote 1}}
  <div class ="inquiry-offer">
    <button id="inquiryOffer" data-announcement-id="{{anNouncementId}}">我要报价</button>
  </div>
  {{/equals}}
  {{inject "inquiryHall_protocol/templates/info_relation"
    requirePackResultName=_DATA_.requirePackResultName
    requirePackResultId=_DATA_.requirePackResultId
    requireName=_DATA_.requireName
    requireId=_DATA_.requireId
  }}

</div>
{{/component}}