<table class="price-modal-table" data-id="{{this.orderId}}">
  <thead>
    <tr>
      <th width="450">商品名称</th>
      <th width="250">单价</th>
      <th width="250">原价</th>
      <th width="250">数量</th>
      <th width="250">采购金额</th>
    </tr>
  </thead>
  <tbody>
  {{#each this.data}}
    <tr data-id="{{id}}">
      <td>{{itemName}}</td>
      <td><input type="text" class="requireds" value="{{formatPrice skuPrice}}" data-default="{{formatPrice skuOriginPrice}}" data-zcy-pattern="price" data-showerror="bottom" required /></td>
      <td class="skuOriginPrice">{{formatPrice skuOriginPrice}}</td>
      <td class="quantity">{{quantity}}</td>
      <td class="totle-fee">{{formatPrice fee}}</td>
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3"> </td>
      <td colspan="2">采购金额：<span class="all-fee">0.00</span> </td>
    </tr>
  </tfoot>
</table>