<div class="modal pur-modal show-shipment-items-modal">
  <div class="modal-header">
    <h2>商品补发货</h2>
  </div>
  <div class="modal-items-lists" data-req-lists-total="{{_DATA_.total}}" data-deliveryid="{{_DATA_.deliverId}}" data-orderid={{_DATA_.orderId}} data-ordertype="{{_DATA_.orderType}}">
    <div class="modal-items">
      <div class="modal-body">
        <div class="select-address-div">
        <div class="title"><p class="order-title">选择收货地址</p></div>
        <div class="block select-address-item" data-default-deliverid="{{_DATA_.deliverId}}">
          {{#each _DATA_.deliverys}}
            <input type="radio" name="chooseAddr" id="select-address{{id}}" class="js-select-address input-radio" data-deliverid="{{id}}" value="{{id}}"/>
            <label for="select-address{{id}}">
              <span data-provinceid="{{provinceId}}">{{province}}</span>
              <span data-cityid="{{cityId}}">{{city}}</span>
              <span class="js-get-regionid" data-regionid="{{regionId}}" data-id="{{id}}">{{region}}</span>
              <span data-streetid="{{streetId}}">{{stree}}</span>
              {{detail}}&nbsp;&nbsp;&nbsp;&nbsp;
              邮编：{{zip}}&nbsp;&nbsp;&nbsp;&nbsp;
              {{receiver}}&nbsp;&nbsp;&nbsp;&nbsp;{{mobile}}
            </label><br/>
          {{/each}}
        </div>
        </div>

        <div class="js-item-list clearfix">
          <div><p class="order-title">选择发货单商品</p></div>
          {{#of _DATA_.orderType '0,3'}}
            <div>
              <p>
                <select class="js-all-select-warehouse">
                  <option value="">请选择</option>
                </select>
              </p>
            </div>
          {{/of}}
          <table class="table delivery-item-table">
            <thead>
              <tr>
                {{#equals _DATA_.isReissue true}}
                {{else}}
                  <th class="left-text" width="24">
                    {{#equals _DATA_.isReissue true}}
                    {{else}}
                      <input type="checkbox" id="select-batch" class="js-batch-select input-checkbox" style="display:none">
                    {{/equals}}
                  </th>
                {{/equals}}
                <th class="left-text" width="276"><label for="select-batch">商品</label> </th>
                <th width="150">商品编号</th>
                <th width="150">单价(元)</th>
                <th width="150">数量</th>
                {{#equals _DATA_.orderType 2}}
                  <th width="180">生产批号</th>
                  <th width="100">操作</th>
                {{/equals}}
              </tr>
            </thead>
            <tbody>
              {{#each _DATA_.deliveryItemWarehouses.data}}
                {{!-- {{#each lockSkuWarehouses}} --}}
                <tr class="item-tr js-reissue-item-tr item-shipment-tr" data-id="{{id}}"
                                                            data-order-delivery-id="{{orderDeliveryId}}"
                                                            data-skuid="{{skuId}}"
                                                            data-itemid="{{itemId}}"
                                                            data-ship-quantity="{{waitDeliveryQuantity}}">
                  {{#equals ../_DATA_.isReissue true}}
                  {{else}}
                    <td width="24" class="check">
                      <input type="checkbox" class="js-select-item input-checkbox">
                    </td>
                  {{/equals}}
                  <td class="left-text item-name-td">
                    <span>{{itemName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="sku-attrs">{{#each attributeMap}}{{@key}}:{{this}}&nbsp;&nbsp;{{/each}}</span>
                  </td>
                  <td>{{itemId}}</td>
                  <td>
                    <span class="price">{{_CURRENCY_}}</span>
                    <span class="price item-price">{{formatPrice skuPrice}}</span>
                  </td>
                  <td>{{waitDeliveryQuantity}}</td>
                  {{#equals ../_DATA_.orderType 2}}
                    <td>
                      <input type="hidden" name="batchNumbers">
                      <div class="js-batch-number"></div>
                    </td>
                    <td class="last">
                      <div class="hidden">
                        <div class="js-lock-warehouse" data-code="{{lockSkuWarehouses.[0].lockWarehouseCode}}" data-name="{{lockSkuWarehouses.[0].lockWarehouseName}}"></div>
                        <input type="hidden" class="js-single-select-warehouse" data-code="{{selectWarehouses.[0].zcyWarehouse.code}}" data-name="{{selectWarehouses.[0].zcyWarehouse.name}}">
                      </div>
                      <a class="js-add-batch-number">添加批号</a>
                    </td>
                  {{/equals}}
                </tr>
              {{else}}
                <tr><td colspan="5" class="center-text">无可展示信息</td></tr>
              {{/each}}
            </tbody>
          </table>
          <div class="shipmentItems-pagination selected-pagination pagination-danger"></div>
        </div>
        <div class="js-select-shipment">
          <div class="title"><span><p class="order-title">选择物流信息</p></span></div>
          <div class="select-shipment">
            {{!-- <p><span class="required">*</span>发货方式： <select class="js-select-delivery">
              <option value="快递">快递</option>
              <option value="物流">物流</option>
            </select>
            </p> --}}
            <p>
              {{#equals _DATA_.orderType 2}}
                <!-- 疫苗订单不支持送货上门 -->
              {{else}}
                <input type="radio" class="input-radio shipmentType2" value="2" name="shipmentType" />送货上门&nbsp;&nbsp;
              {{/equals}}
              <input class="input-radio shipmentType1" type="radio" name="shipmentType" value="1" checked />物流发货&nbsp;&nbsp;
              <span class="shipselect">物流公司：<select class="js-select-logistics"></select></span>
            &nbsp;&nbsp;<p class="yundanhao"><span class="required">*</span>运单号： <input class="js-shipmentNo" type="text" value="" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button class="btn btn-info btn-medium close">取消</button>
          <button class="btn btn-primary btn-medium js-delivery-items-submit">确定</button>
        </div>
        <div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label class="js-select-item-info"></label>
        </div>
      </div>
    </div>
  </div>
</div>
