{{#component "pur-detail-requisition-items trade-manage js-comp"}}
{{!-- {{json this}} --}}
<span style="display: none;">{{json}}</span>
<div class="req-item-lists" data-req-lists-total="{{_DATA_.total}}" data-purchaseid="{{purchaseId}}" data-purchasestatus="{{purchaseStatus}}">
  <div class="req-item-body">
    {{!-- <div class="req-title pur-title"><strong><span class="">需求商品</span></strong></div> --}}
    <table class="table  center-tex req-item-table">
      <thead>
        <tr>
          <th width="15%">需求人</th>
          <th class="left-text" colspan="1" width="25%"> <span class="">商品</span> </th>
          <th width="10%">商品编号</th>
          <th width="15%">供应商</th>
          <th width="10%">单价(元)</th>
          <th width="10%">数量</th>
          <th width="15%">小计(元)</th>
          <!-- <th width="5%">批注</th> -->
        </tr>
      </thead>
      <tbody>
        {{#each _REQITEMS_}}
          {{#each items}}
          <tr class="item-tr{{!-- {{#equals itemStatus "1"}}{{else}}off-shelf-item{{/equals}} --}}" data-site="{{shopId}}" data-skuid="{{skuId}}">
            {{!-- <td class="left-text"><span class="">{{itemName}}</span></td> --}}
            {{#equals @index 0}}
            <td style="border:1px solid #CCD0D6;text-align: center;" rowspan="{{size ../items}}" class="requisitionsNameList">{{../requisitionsName}}</td>
            {{/equals}}
            <td class="left-text">
              <span>
                <a href="/items/{{itemId}}">{{itemName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="sku-attrs">{{#each skuAttr}}{{this}}&nbsp;&nbsp;{{/each}}</span>
                <span class="js-item-services" data-services="{{json services}}"></span>
              </span>
            </td>
            <td><span class="">{{itemId}}</span></td>
            <td><span class="">{{shopName}}</span></td>
            <td>
              {{#equals skuPrice 0}}
                <span class="text-center">－</span>
              {{else}}
                <div><span class="price">{{_CURRENCY_}}</span><span class="price item-price">{{formatPrice skuPrice}}</span></div>
              {{/equals}}
            </td>
            <td><span class="item-count">{{#equals currentCount -1}}不限{{else}}{{currentCount}}{{unit}}{{/equals}}</span></td>
            <td><span class="price">{{_CURRENCY_}}</span><span class="item-subtotal currency"></span></td>
            <!-- <td><a class="js-item-comment">
              {{#equals hasComment true}}<i class="icon-zcy icon-notify-info"></i>{{/equals}}
              &nbsp;&nbsp;批注</a></td> -->
          </tr>
          {{/each}}
        {{else}}
          <tr><td colspan="7" class="center-text">无可展示信息</td></tr>
        {{/each}}
      </tbody>
    </table>
    <div class="list-pagination pagination-danger clearfix"></div>
  </div>
</div>
{{/component}}
