<tr>
  <td width="180">
    <input type="text" name="batchNumber" placeholder="请输入" value="{{batchNum}}" checker-text="false"
           checker-icon="false" required>
  </td>
  <td width="300">
    <input type="text" class="date-input" name="timeStart" placeholder="开始日期" value="{{effectiveDateStart}}"
           checker-text="false" checker-icon="false" checker-pattern="^\d{4}-\d{1,2}-\d{1,2}" required> &nbsp;~&nbsp;
    <input type="text" class="date-input" name="timeEnd" placeholder="结束日期" value="{{effectiveDateEnd}}"
           checker-text="false" checker-icon="false" checker-pattern="^\d{4}-\d{1,2}-\d{1,2}" required>
  </td>
  <td width="180">
    <input type="text" name="goodsCount" placeholder="请输入" value="{{quantity}}" checker-text="false"
           checker-icon="false" checker-pattern="^\d+$" required>
  </td>
  <td width="240">
    <span class="upload-box js-upload-file1" data-file="{{json ossFileIds.[0]}}"></span>
    <span class="upload-box js-upload-file2" data-file="{{json ossFileIds.[1]}}"></span>
    <span class="upload-box js-upload-file3" data-file="{{json ossFileIds.[2]}}"></span>
  </td>
  <td width="40">
    <a href="javascript:void(0);" class="js-delete-batch-number" style="color: #9E9E9C; font-size: 10px;"><i
      class="icon-zcy icon-close"></i></a>
  </td>
</tr>
