<div class="batchNumber">
  <span>{{batchNum}}</span>
  <span>(数量：{{quantity}})</span>
  <span>&nbsp;&nbsp;有效期：{{effectiveDateStart}}~{{effectiveDateEnd}}</span><br>
  <span class="js-ossFile" data-file="{{json ossFileIds.[0]}}"></span>
  <span class="js-ossFile" data-file="{{json ossFileIds.[1]}}"></span>
  <span class="js-ossFile" data-file="{{json ossFileIds.[2]}}"></span>
</div>