<div class="invoice-content-detail">
  {{#equals invoice.invoiceContentType '1'}}
    <div class="js-invoice-content-default">
    <table class="table">
      <thead>
      <tr>
        <th>类目</th>
        <th>金额</th>
      </tr>
      </thead>
      <tbody>
        {{#each invoiceContent}}
          <tr>
            <td>{{categoryName}}</td>
            <td style="color: #FF7900;">{{formatPrice totalFee}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/equals}}
  {{#equals invoice.invoiceContentType '2'}}
    <div class="js-invoice-content-detail">
    <table class="table">
      <thead>
      <tr>
        <th>商品</th>
        <th>型号</th>
        <th>单位</th>
        <th>数量</th>
        <th>单价(元)</th>
        <th>总价</th>
      </tr>
      </thead>
      <tbody>
        {{#each invoiceContent}}
          <tr>
            <td>{{itemName}}</td>
            <td>{{specification}}</td>
            <td>{{unit}}</td>
            <td>{{totalCount}}</td>
            <td>{{formatPrice unitPrice}}</td>
            <td style="color: #FF7900;">{{formatPrice totalFee}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/equals}}
  {{#equals invoice.invoiceContentType '3'}}
    <div class="js-invoice-content-custom">
    <p style="word-wrap: break-word;">{{invoiceContent.[0].content}}</p>
  </div>
  {{/equals}}
  {{#of invoice.invoiceContentType '4,5,6'}}
    <div class="js-invoice-content-default">
      <table class="table">
        <thead>
        <tr>
          <th>类型</th>
          <th>金额</th>
        </tr>
        </thead>
        <tbody>
        {{#each invoiceContent}}
          <tr>
            <td>{{content}}</td>
            <td style="color: #FF7900;">{{formatPrice totalFee}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  {{/of}}
</div>