{{#component "select-req-list trade-manage js-comp clearfix"}}
  <div class="float-hidden" hidden="true"></div>
  <div class="buyer-select-req-lists" data-req-lists-total="{{_DATA_.total}}"></div>
  <div class="t-breadcrumb">
    <label>预购单管理</label>
    <label> / </label>
    <label>创建预购单</label>
    <label> / </label>
    <label class="active">选择需求单</label>
  </div>
  <div class="select-req-list-body">
    {{#inject "common/requisition_progress"}}
    {
       "progress": 1
    }
    {{/inject}}
    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">选择需求单</div>
      </div>
      <div class="trade-panel-body">
        <div class="page-list-search clearfix">
          <div class="search-label">
            <label>时间：</label>
              <select class="js-select-time select">
                <option value="">请选择</option>
                <option value="0" {{#equals since 0}}seleced{{/equals}}>近三个月需求单</option>
                <option value="1" {{#equals since 1}}seleced{{/equals}}>今年内需求单</option>
              </select>
            <label>关键字：<input class="search-content js-search-content" type="text" placeholder='需求单号'></label>
          </div>
          <div class="search-button">
            <a class="btn btn-info js-search-click js-search">搜索</a>
            <a class="btn btn-info js-search-reset">重置</a>
          </div>
        </div>
        <table class="table  center-tex select-req-list-table">
          <thead>
            <tr>
              <th width="26" class="batch-select">
                <input type="checkbox" id="select-batch" class="js-batch-select input-checkbox">
              </th>
              <th class="left-text" colspan="1" width="20%">
                <span class="req-title">需求申请单时间</span>
              </th>
              <th width="20%">需求申请单号</th>
              <th width="20%">需求人</th>
              <th width="20%">需求单位</th>
              <th width="20%">需求单金额(元)</th>
            </tr>
          </thead>
          <tbody>
            {{#each _DATA_.data}}
              <tr data-requisition="{{requisition.id}}" class="requisition-tr first-level-tr">
                <td width="26" class="check">
                  <span><input type="checkbox" id="{{requisition.id}}" class="js-select-requisition-item input-checkbox"></span>
                </td>
                <td class="left-text">
                  <span class="requisition-span"><label for="{{requisition.id}}">{{formatDate requisition.createdAt}}</label></span>
                </td>
                <td>
                  {{!-- <a href="{{_HREF_.base}}/buyer/requisitions/detail?reqId={{requisition.id}}" class="requisition-name">{{requisition.id}}</a> --}}
                  <span>{{requisition.id}}</span>
                </td>
                <td><a class="js-get-phone" data-user-id="{{requisition.buyerId}}" data-user-type="1"><span>{{buyerName}}</span></a></td>
                <td>{{buyerOrgName}}</td>
                <td> <!-- todo  20160304-->
                  <div><strong class="price">{{_CURRENCY_}}<span class="requisition-subtotal"></span></strong></div>
                  {{!-- <div class="show-up-or-down"><i class="icon-zcy icon-xiangxiazhedie xiangshangzhedie"></i></div> --}}
                </td>
              </tr>
              {{#each requisitionItems}}
                <tr class="item-tr second-level-tr" data-site="{{../requisition.id}}" data-id="{{sku.id}}">
                  <td></td>
                  <td class="left-text"  colspan="3">
                    <div class="select-req-list-item">
                      <div class="item-description">
                        <span>{{requisitionItem.itemName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="sku-attrs">{{#each sku.attrs}}{{attrVal}}&nbsp;&nbsp;{{/each}}</span>
                        {{#equals sku.status -1}}<span class="red-text">（已下架）</span>{{/equals}}
                      </div>
                    </div>
                  </td>
                  <td class="left-text" colspan="1">
                    <span class="hide">单价(元)：{{_CURRENCY_}}<span class="sku-price">{{formatPrice sku.price}}</span></span>
                    <span class="subtotal-price">数量：</span><span class="count-number">{{requisitionItem.quantity}}</span>
                  </td>
                  <td class="left-text" colspan="1"><span style="margin-left:40px;">小计(元)：</span><span class="price">{{_CURRENCY_}}<span class="item-subtotal"></span></span></td>
                </tr>
              {{else}}
                <tr><td colspan="6" class="text-center second-level-tr">无可展示信息</td></tr>
              {{/each}}
            {{else}}
              <tr><td colspan="6" class="text-center first-level-tr">无可展示信息</td></tr>
            {{/each}}
          </tbody>
        </table>
        <div class="req-list-footer">
          <div class="list-pagination pagination-danger"
                data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}"
                data-total="{{_DATA_.total}}"></div>
        </div>
      </div>
    </div>
    <div class="select-req-list-footer clearfix">
      <div class="select-req-list-foot-operate">
      {{#of "1" _ROLES_}}
        <button class="js-req-submit btn btn-primary btn-small" disabled>创建预购单</button>
      {{/of}}
      </div>
    </div>
  </div>
{{/component}}
