{{#component "customer-purchase-detail customer-service-common js-comp"}}
  <p class="hide">{{json _DATA_}}</p>
  {{#with _DATA_}}
    <div class="panel">
      <div class="panel-header">
        <label class="panel-title">预购单概览</label>
      </div>
      <div class="panel-body">
        <div class="detail-row">
          <table class="detail-table">
            <tbody>
            <tr>
              <td>
                <label class="text-muted">预购单号：</label>
                <label class="big" name="purchase-id">{{purchase.id}}</label>
              </td>
              <td>
                <label class="text-muted">采购经办人：</label>
                <label class="big">{{purchase.purchaserName}}</label>
              </td>
              <td>
                <label class="text-muted">采购单位：</label>
                <label class="big">{{purchase.purchaserOrganizationName}}</label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="text-muted">创建时间：</label>
                <label class="big">{{formatDate purchase.createdAt}}</label>
              </td>
              <td>
                <label class="text-muted">预购单状态：</label>
                {{#equals purchase.status -3}}<label class="text-muted">已撤销</label>{{/equals}}
                {{#equals purchase.status 0}}<label class="text-muted">草稿</label>{{/equals}}
                {{#equals purchase.status 1}}<label class="text-success">部门审核中</label>{{/equals}}
                {{#equals purchase.status 2}}<label class="text-success">财务审核中</label>{{/equals}}
                {{#equals purchase.status 3}}<label class="text-success">单位审批中</label>{{/equals}}
                {{#equals purchase.status 4}}<label class="text-danger">已驳回</label>{{/equals}}
                {{#equals purchase.status 5}}<label class="text-success">审核通过</label>{{/equals}}
                {{#equals purchase.status 10}}<label class="text-muted">已产生订单</label>{{/equals}}
              </td>
              <td>
                <label class="text-muted">预购单金额（元）：</label>
                <label class="big price">{{formatPrice purchase.totalFee}}</label>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="address-row">
          <table class="detail-table">
            <tbody>
            <tr>
              <td width="65px">地址信息：</td>
              <td>
                <label class="big receiver-address">
                  {{#each deliveries}}
                    {{#with delivery}}
                      {{receiverProvinceName}} {{receiverCityName}} {{receiverDistrictName}} {{receiverStreetName}} {{receiverAddress}} （{{receiverName}} 收） {{receiverMobile}}，邮编：{{receiverZip}}
                    {{/with}}
                    <br>
                  {{/each}}
                </label>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-header">
        <label class="panel-title">需求单信息</label>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
          <tr>
            <th>需求单号</th>
            <th>需求人</th>
            <th>金额（元）</th>
            <th>时间</th>
            <th class="text-right">状态</th>
          </tr>
          </thead>
          <tbody>
          {{#gt (size relatedRichRequisitions) 0}}
            {{#each relatedRichRequisitions}}
              <tr>
                <td>
                  <a href="/customer/requisition/detail?reqId={{requisition.id}}">{{requisition.id}}</a>
                </td>
                <td><label>{{buyerName}}</label></td>
                <td class="price">{{formatPrice requisition.price}}</td>
                <td><label>{{formatDate requisition.createdAt}}</label></td>
                <td class="text-right">
                  {{#equals requisition.status 0}}<label class="text-muted">草稿</label>{{/equals}}
                  {{#equals requisition.status 1}}<label class="text-success">审核中</label>{{/equals}}
                  {{#equals requisition.status 2}}<label class="text-success">审核通过</label>{{/equals}}
                  {{#equals requisition.status 10}}<label class="text-success">完成</label>{{/equals}}
                  {{#equals requisition.status -1}}<label class="text-danger">驳回</label>{{/equals}}
                  {{#equals requisition.status -2}}<label class="text-muted">用户取消</label>{{/equals}}
                  {{#equals requisition.status -4}}<label class="text-muted">用户撤销</label>{{/equals}}
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr><td colspan="5" class="text-center">没有关联需求单</td></tr>
          {{/gt}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel">
      <div class="panel-header">
        <label class="panel-title">商品列表</label>
      </div>
      <div class="panel-body">
        <table class="table" id="item-table">
          <thead>
          <tr>
            <th>商品</th>
            <th>商品编号</th>
            <th>供应商</th>
            <th>单价（元）</th>
            <th>数量</th>
            <th class="text-right">小计（元）</th>
          </tr>
          </thead>
          <tbody>
          {{#each purchaseItem}}
            <tr>
              <td>
                <label>{{itemName}}</label>
                <span class="js-item-services" data-services="{{json services}}"></span>
              </td>
              <td><label>{{itemId}}</label></td>
              <td><label>{{shopName}}</label></td>
              <td class="price">{{formatPrice skuPrice}}</td>
              <td><label>{{currentCount}}</label></td>
              <td class="price text-right">{{formatPrice totalPrice}}</td>
            </tr>
          {{/each}}
          </tbody>
          <tfoot>
          <tr>
            <th colspan="6" class="text-right">
              <div class="item-pagination pagination"></div>
              <input type="hidden" name="item-total" value="{{items.total}}">
            </th>
          </tr>
          </tfoot>
        </table>
        {{#with _DATA_.purchase}}
          <div style="overflow:hidden;">
            <div class="pull-left" style="padding: 10px">备注:</div>
            <div style="padding: 10px">{{#if orderComment}}{{orderComment}}{{else}}--{{/if}}</div>
          </div>
        {{/with}}
      </div>
    </div>
    <div class="panel">
        <div class="panel-header">
          <label class="panel-title">发票信息</label>
        </div>
        <div class="panel-body">
          <table class="table" id="invoice-table">
            <thead>
            <tr>
              <!--<th>发票寄送地址</th>-->
              <th>货票同行</th>
              <th>发票类型</th>
              <th>发票抬头信息</th>
              <th>开户行</th>
              <th>开户行账号</th>
              <th>纳税人识别号<i class="icon-zcy icon-warningfill js-invoice-popover"></i></th>
              <th class="text-right">商品详情</th>
            </tr>
            </thead>
            <tbody>
            {{#gt (size invoices) 0}}
              {{#each invoices}}
                {{#with invoice}}
                  <tr>
                    {{!--<td><label>{{#with receiverAddress}}{{province}} {{city}} {{region}} {{street}} {{detail}} {{receiver}} {{mobile}}{{/with}}</label></td>--}}
                    <td>
                      {{#equals invoiceBillingMode 1}}
                        否
                      {{else}}
                        是
                      {{/equals}}
                    </td>
                    <td><label>
                      {{#equals invoiceType 1}}增值税普通发票{{/equals}}
                      {{#equals invoiceType 2}}增值税增值发票{{/equals}}
                    </label></td>
                    <td><label>{{invoiceTitle}}</label></td>
                    <td>{{#if purchaserDepositeBank}}{{purchaserDepositeBank}}{{else}}－{{/if}}</td>
                    <td>{{#if purchaserBankAccount}}{{purchaserBankAccount}}{{else}}－{{/if}}</td>
                    <td>{{#if purchaserTaxId}}{{purchaserTaxId}}{{else}}－{{/if}}</td>
                    <td class="text-right">
                      <a href="javascript:;" name="item-list" data-invoiceid="{{id}}">商品详情(<span
                        name="item-quantity">{{../skuTypeCount}}</span>)</a>
                    </td>
                  </tr>
                {{/with}}
              {{/each}}
            {{else}}
              <tr><td colspan="7" class="text-center">没有关联发票</td></tr>
            {{/gt}}

            </tbody>
          </table>
        </div>
      </div>
    <div class="panel">
      <div class="panel-header">
        <label class="panel-title">预算信息</label>
      </div>
      <div class="panel-body">
        <label class="sub-title">关联采购计划</label>
        <div class="requisition-items-list">
          <table class="table">
            <thead>
            <tr>
              <th width="20%">商品名称</th>
              <th width="15%">采购目录</th>
              <th width="7%">小计数量</th>
              <th width="10%">小计金额（元）</th>
              <th width="10%">未关联数量</th>
              <th width="10%">未关联金额（元）</th>
              <th width="8%">状态</th>
              <th width="20%">关联计划书</th>
            </tr>
            </thead>
            <tbody>
              {{#each purchaseItem}}
                <tr data-item="{{json this}}">
                  <td>{{itemName}}</td>
                  <td class="js-item-catalog" data-catalog="{{json catalogNodes}}"></td>
                  <td>{{currentCount}}</td>
                  <td>{{formatPrice totalPrice}}</td>
                  <td>{{unbindPayCount}}</td>
                  <td class="js-purchase-unbind-money" data-price="{{skuPrice}}" data-count="{{unbindPayCount}}"></td>
                  <td class="js-bind-status" data-count="{{currentCount}}" data-remain="{{unbindPayCount}}"></td>
                  <td>
                    {{#each purchasePayMethods}}
                      <div class="purchase-plan-no">
                        {{confirmationName}}
                      </div>
                    {{/each}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <label class="sub-title">本次总使用情况</label>
        <table class="table">
          <tr>
            <td>
              <label class="">已关联采购计划总金额（元）：</label>
              <label class="price big">{{formatPrice confirmationFee}}</label>
            </td>
            <td>
              <label class="">计划外资金总额（元）：</label>
              <label class="price big">{{formatPrice otherFee}}</label>
            </td>
            <td>
              <label class="">预购单总额（元）：</label>
              <label class="price big">{{formatPrice purchase.totalFee}}</label>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="panel">
      <div class="panel-header">
        <label class="panel-title">预购单关联订单</label>
      </div>
      <div class="panel-body">
        <table class="table" id="order-table">
          <thead>
          <tr>
            <th>订单编号</th>
            <th>供应商</th>
            <th>订单金额（元）</th>
            <th>申请时间</th>
            <th class="text-right">状态</th>
          </tr>
          </thead>
          <tbody>
          {{#gt (size relatedOrderInfos) 0}}
            {{#each relatedOrderInfos}}
              {{#with order}}
                <tr>
                  <td>
                    <a
                      {{#equals _USER_.currentCategory 99}}
                      href="/customer/order/detail?orderId={{id}}"
                      {{else}}
                        {{#equals orderType 0}}
                      href="/customer/order/netsuper-detail?orderId={{id}}"
                        {{/equals}}
                        {{#equals orderType 1}}
                      href="/customer/order/netsuper-detail?orderId={{id}}"
                        {{/equals}}
                        {{#equals orderType 2}}
                      href="/customer/order/vaccine-detail?orderId={{id}}"
                        {{/equals}}
                        {{#equals orderType 3}}
                      href="/customer/order/blocktrade-detail?orderId={{id}}"
                        {{/equals}}
                      {{/equals}}
                    >{{id}}</a>
                  </td>
                  <td><label>{{supplierName}}</label></td>
                  <td><label class="price">{{formatPrice fee}}</label></td>
                  <td><label>{{formatDate createdAt}}</label></td>
                  <td class="text-right">
                    {{#equals status 0}}<label class="text-success">等待处理</label>{{/equals}}
                    {{#equals status 1}}<label class="text-success">已接收，待发货</label>{{/equals}}
                    {{#equals status 2}}<label class="text-success">部分发货</label>{{/equals}}
                    {{#equals status 3}}<label class="text-success">全部发货，待确认收货</label>{{/equals}}
                    {{#equals status 4}}<label class="text-success">已确认收货，待验收</label>{{/equals}}
                    {{#equals status 5}}<label class="text-success">已验收，待结算</label>{{/equals}}
                    {{#equals status 6}}<label class="text-success">启动结算</label>{{/equals}}
                    {{#equals status 7}}<label class="text-muted">已结算，交易完成</label>{{/equals}}
                  </td>
                </tr>
              {{/with}}
            {{/each}}
          {{else}}
            <tr>
              <td colspan="5" class="text-center">
                未关联订单
              </td>
            </tr>
          {{/gt}}
          </tbody>
          <tfoot>
          <tr>
            <th colspan="5" class="text-right">
              <div class="order-pagination pagination"></div>
              <input type="hidden" name="order-total" value="{{size relatedOrderInfos}}">
            </th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="panel">
      <div class="panel-header">
        <label class="panel-title">审核审批信息</label>
      </div>
      <div class="panel-body">
        <div id="test-log" hidden>
          <table>
            {{#each checkLogs}}
              <tr>
                <td>{{formatDate createdAt "yyyy-MM-dd HH:mm:ss"}}</td>
                <td>{{checkerRole}}</td>
                <td>{{checker}}</td>
                <td>{{checkType}}</td>
                <td>{{checkResult}}</td>
                <td>{{comment}}</td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
  {{/with}}
  <div class="modal customer-purchase-detail" id="item-modal" style=" display: none;">
    <div class="modal-header">
      <label class="modal-title"></label>
      <a href="javascript:;" class="close">&times;</a>
    </div>
    <div class="modal-body">
      <table class="table">
        <thead>
        <tr>
          <th>商品</th>
          <th>商品编号</th>
          <th>供应商</th>
          <th>单价（元）</th>
          <th>数量</th>
          <th class="text-right">小计（元）</th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-minor text-right close">关闭</button>
    </div>

  </div>
{{/component}}
