{{#component "customer-requisition-detail customer-service-common js-comp"}}
  <p class="hide">{{json this}}</p>
  {{#with _DATA_}}
    <div class="equal-height-container">
      <div class="panel col-6 pr">
        <div class="panel-header">
          <label class="panel-title">需求单概览</label>
        </div>
        <div class="panel-body equal-height">
          {{#with requisitionDetail}}
            <div class="mb">
              <label class="fixed-label text-muted">需求申请单号：</label>
              <label class="">{{requisition.id}}</label>
            </div>
            <div class="mb">
              <label class="fixed-label text-muted">需求人：</label>
              <label class="">{{userName}}</label>
            </div>
            <div class="mb">
              <label class="fixed-label text-muted">创建时间：</label>
              <label class="">{{formatDate requisition.createdAt}}</label>
            </div>
            <div class="mb">
              <label class="fixed-label text-muted">收货地址：</label>
              <label class="receiver-address">
                {{#with tradeInfo}}
                  {{receiverProvinceName}} {{receiverCityName}} {{receiverDistrictName}} {{receiverStreetName}} {{receiverAddress}}
                  <br>
                  {{receiverName}} {{receiverMobile}}
                {{/with}}
              </label>
            </div>
            <div class="mb">
              <label class="fixed-label text-muted">需求单金额（元）：</label>
              <label class="price">{{formatPrice requisition.price}}</label>
            </div>
            <div class="mb">
              <label class="fixed-label text-muted">需求单状态：</label>
              <label class="">
                {{#equals requisition.status 0}}<label class="text-muted">草稿</label>{{/equals}}
                {{#equals requisition.status 1}}<label class="text-success">审核中</label>{{/equals}}
                {{#equals requisition.status 2}}<label class="text-success">审核通过</label>{{/equals}}
                {{#equals requisition.status 10}}<label class="text-success">完成</label>{{/equals}}
                {{#equals requisition.status "-1"}}<label class="text-danger">驳回</label>{{/equals}}
                {{#equals requisition.status "-2"}}<label class="text-muted">用户取消</label>{{/equals}}
                {{#equals requisition.status "-4"}}<label class="text-muted">用户撤销</label>{{/equals}}
              </label>
            </div>
          {{/with}}
        </div>
      </div>
      <div class="panel col-6">
        <div class="panel-header">
          <label class="panel-title">预购单概览</label>
        </div>
        <div class="panel-body equal-height">
          {{#with purchaseOrder}}
            <div class="mb">
              <label class="fixed-label text-muted">预购单号：</label>
              <a
                {{#equals _USER_.currentCategory 99}}
                href="/customer/purchase/detail?purchaseId={{id}}"
                {{else}}
                  {{#equals orderType 0}}
                href="/customer/purchase/netsuper-detail?purchaseId={{id}}"
                  {{/equals}}
                  {{#equals orderType 1}}
                href="/customer/purchase/netsuper-detail?purchaseId={{id}}"
                  {{/equals}}
                  {{#equals orderType 2}}
                href="/customer/purchase/vaccine-detail?purchaseId={{id}}"
                  {{/equals}}
                  {{#equals orderType 3}}
                href="/customer/purchase/blocktrade-detail?purchaseId={{id}}"
                  {{/equals}}
                {{/equals}}
              >{{id}}</a>
            </div>
            <div class="mb">
              <label class="fixed-label text-muted">采购人：</label>
              <label class="">{{purchaserName}}</label>
            </div>
            <div class="mb">
              <label class="fixed-label text-muted">采购单位：</label>
              <label class="">{{purchaserOrganizationName}}</label>
            </div>
            <div class="mb">
              <label class="fixed-label text-muted">责任人：</label>
              <label class="">{{currentOperatorName}}</label>
            </div>
            <div class="mb">
              <label class="fixed-label text-muted">采购状态：</label>
              <label class="">
                {{#equals status -3}}<label class="text-muted">用户撤销</label>{{/equals}}
                {{#equals status 0}}<label class="text-muted">草稿</label>{{/equals}}
                {{#equals status 1}}<label class="text-success">部门审核中</label>{{/equals}}
                {{#equals status 2}}<label class="text-success">财务审核中</label>{{/equals}}
                {{#equals status 3}}<label class="text-success">单位审批中</label>{{/equals}}
                {{#equals status 4}}<label class="text-danger">已驳回</label>{{/equals}}
                {{#equals status 5}}<label class="text-success">审核通过</label>{{/equals}}
                {{#equals status 10}}<label class="text-muted">已产生订单</label>{{/equals}}
              </label>
            </div>
          {{/with}}
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-header">
        <label class="panel-title">商品列表</label>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
          <tr>
            <th>商品</th>
            <th>商品编号</th>
            <th>供应商</th>
            <th>单价（元）</th>
            <th>数量</th>
            <th class="text-right">小计（元）</th>
          </tr>
          </thead>
          <tbody>
          {{#each requisitionDetail.requisitionShopDetails}}
            {{#each requisitionItems}}
              <tr>
                <td>
                  <label>{{requisitionItem.itemName}}</label>
                  <span class="js-item-services" data-services="{{json services}}"></span>
                </td>
                <td><label>{{requisitionItem.itemId}}</label></td>
                <td><label>{{../shopName}}</label></td>
                <td class="price">{{formatPrice sku.price}}</td>
                <td><label>{{requisitionItem.quantity}}</label></td>
                <td class="price text-right big">{{formatPrice requisitionItem.totalPrice}}</td>
              </tr>
            {{/each}}
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/with}}
{{/component}}
