{{#component "js-comp stock-manage trade-manage"}}
  <div class="page-body-option clearfix">
    <div class="page-title">库存管理</div>
  </div>
  <div class="stock-manage-body" data-total="{{_DATA_.total}}">
    <div id="block" class="block">
      <form id="form4" class="form">
        <span class="span4"><label for="product-name">商品名称:&nbsp;&nbsp;</label><input id="product-name" placeHolder="请输入" type="text" name="itemNameCondition" value="{{itemNameCondition}}"></span>
        <span class="span3"><label for="product-id">商品ID:&nbsp;&nbsp;</label><input id="product-id" placeHolder="请输入" type="text" name="itemIdCondition" value="{{itemIdCondition}}"></span>
        <span class="span3"><label for="item-code">商品编码:&nbsp;</label><input id="item-code" placeHolder="请输入" type="text" name="itemCodeCondition" value="{{itemCodeCondition}}"></span>
        {{!-- <span class="span3"><label for="sku-out-code">SKU编码:&nbsp;</label><input id="sku-out-code" placeHolder="请输入" type="text" name="skuCode" value="{{skuCode}}"></span> --}}
        <button class="btn btn-info btn-primary btn-ghost pull-right js-search-reset">重置</button>
        <button type="submit" class="btn btn-primary btn-minor pull-right form-search-button">搜索</button>
      </form>
    </div>
    <table class="table table-striped stock-manage-table">
      <thead>
        <tr>
          <th width="10%">SKU编码</th>
          <th width="8%">商品编码</th>
          <th width="40%">SKU信息</th>
          <th width="12%" class="center-text">仓库</th>
          <th width="10%" class="center-text">库存数量</th>
          <th width="19%" class="opearting-th center-text">操作</th>
          <th width="3%"></th>
        </tr>
      </thead>
      <tbody>
        {{#if _DATA_}}
        {{#each _DATA_.data}}
        <tr class="first-level-tr js-first-level-tr" data-item-id="{{item.id}}">
          <td>商品ID:{{item.id}}</td>
          <td>{{item.itemCode}}</td>
          <td colspan="3"><a>{{item.name}}</a></td>
          <td></td>
          <td>
            <i class="icon-zcy icon-xiangxiazhedie font-12 stock-xiangxiazhedie-style js-expand-second"></i>
          </td>
        </tr>
        {{#each zcyStocks}}
        <tr class="second-level-tr js-second-level-tr js-tr-{{../item.id}}" data-sku-id="{{sku.id}}"
                                                       data-outer-sku-id="{{sku.outerSkuId}}"
                                                       data-unit="{{../unit}}"
                                                       data-item-id="{{../item.id}}">
          <td class="js-sku-code" data-outer="{{sku.skuCode}}">{{sku.skuCode}}</td>
          <td colspan="2">
            <div class="sku-information-list">
              <span>SKUID:{{sku.id}}</span>
              {{#each sku.attrs}}
              <span>{{attrKey}}:{{attrVal}}</span>
              {{/each}}
              <span class="all-sku-quantity">{{skuAvailableQuantity}}</span>
              <span>{{../unit}}</span>
            </div>
          </td>
          <td colspan="3" class="js-second-level-td">
            <div class="second-level-inner-table">
              <table>
                <tr class="add-stock-tr js-add-stock-tr hide">
                  <td width="35%" class="js-select-warehouse-td">
                    <span>
                      <select>
                      </select>
                    </span>
                  </td>
                  <td width="10%" class="center-text">
                    <input type="text" class="js-add-stock-quantity">
                  </td>
                  <td>
                    <button class="btn btn-small js-add-stock-submit">保存</button>
                    <button class="btn btn-small js-cancle-add-stock">取消</button>
                  </td>
                </tr>
                {{#each warehouseAndStockList}}
                  {{#gt @index 4}}
                  {{else}}
                    <tr class="{{#if @first}}first{{/if}}"
                        data-warehouse-code="{{zcyWarehouse.code}}"
                         data-sku-id="{{../sku.id}}"
                         data-unit="{{../../unit}}">
                      <td width="37%" class="center-text">{{zcyWarehouse.name}}</td>
                      <td width="13%" class="center-text js-save-quantity">{{zcyStock.availableQuantity}}{{../../unit}}</td>
                      <td class="operating-list">
                        <span class="in-out-stock-input js-in-out-stock-input hide">
                          <input type="text" class="js-change-quantity">
                          <button class="btn btn-small js-in-out-stock">保存</button>
                          <button class="btn btn-small js-cancel-stock">取消</button>
                        </span>
                        <a class="js-in-stock js-stock">入库</a>
                        <a class="js-out-stock js-stock">出库</a>
                        <a class="js-view-record" href="/seller/stock-record?warehouseCode={{zcyWarehouse.code}}&skuId={{../sku.id}}">查看记录</a>
                      </td>
                    </tr>
                  {{/gt}}
                {{/each}}
              </table>
            </div>
          </td>
          <td>
            <i class="icon-zcy icon-add add-stock js-add-stock font-12"></i>
            <br><a href="/seller/stock-list?skuId={{sku.id}}" class="font-12">更多</a>
          </td>
        </tr>
        {{/each}}
        {{/each}}
        {{else}}
          <tr><td colspan="6" class="center-text">无可展示信息</td></tr>
        {{/if}}
      </tbody>
    </table>
    <div class="list-pagination pagination-stock-manage"
        data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}"
        data-total="{{_DATA_.total}}"></div>
  </div>
{{/component}}
