{{#component "component-supplierAllList js-comp"}}
   <div class="hide">
     {{json this}}
   </div>
   <input type="text" class="hide hrefmain" value="{{_HREF_.main}}" />
  <div class="supplierAllList" style="padding:{{#if padding}}{{padding}}{{else}}0{{/if}};">
    <ul class="list-li">
      {{#each _DATA_.data}}
        <li class="{{#mod @index 2}}last{{/mod}}">
          <div class="list-img-box inlineBlock">
            <a class="img-a" href="/eevees/shop?shopId={{this.shopId}}&searchType=1">
              <img class="lazy" alt="loading" data-original="{{this.supplierInfo.logoPath}}" src="" style="display: inline-block;text-align: center;">
            </a>
          </div>
          <div class="list-word-box inlineBlock">
            <p class="word-title overflow-hidden" title="{{this.supplierInfo.name}}"><a href="/eevees/shop?shopId={{this.shopId}}&searchType=1">{{this.supplierInfo.name}}</a></p>
            <p class="mainContent">主营类目</p>
            <p class="mainContent overflow-hidden" title="{{#each this.categoryList}}{{name}}{{#equals (add @index 1) (size ../categoryList)}}{{else}}、{{/equals}}{{/each}}">
              {{#each this.categoryList}}{{name}}{{#equals (add @index 1) (size ../categoryList)}}{{else}}、{{/equals}}{{/each}}
            </p>
            <p class="mainContent js-item-services" data-services="{{json services}}"></p>
            <div class="hover-operations">
              <button class="btn btn-info js-enter-shop" data-shop-id="{{shopId}}">进入店铺</button>
              {{#of "1" _ROLES_}}
                <button class="btn btn-info js-add-favor" data-user-id="{{_USER_.id}}" data-shop-id="{{shopId}}">关注店铺</button>
              {{else}}
                {{#unless _USER_}}
                  <button class="btn btn-info js-add-favor" data-user-id="{{_USER_.id}}" data-shop-id="{{shopId}}">关注店铺</button>
                {{/unless}}
              {{/of}}
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
    <div class="list-pagination"  data-total="{{_DATA_.total}}" data-size="{{#if pageSize}}{{pageSize}}{{else}}10{{/if}}"
         style="text-align: right;background:#f7f7f7;">
      <div class="pagination" data-size="{{#if pageSize}}{{pageSize}}{{else}}10{{/if}}"
           data-total="100"></div>
    </div>

  </div>
{{/component}}
