{{#component "dropdown-menu float-menu"}}
<div id="todo-container" class="float-menu-body">
  <a class="dropdown-menu-title" href="javascript:;"><i></i><span>待办</span></a>
  {{#unless _DATA_.backlogs}}
  <a class="text-bg-hover" href="javascript:;" class="disabled">当前没有未处理的待办事项</a>
  {{/unless}}
  {{#each _DATA_.backlogs}}
  <a class="text-bg-hover" href="{{{callbackUrl}}}" title="{{title}}">
    <span class="text-link">{{title}}</span>
    {{#equals level "URGENT"}}
    <span class="icon-flag-expedited"></span>
    {{/equals}}
    <span class="icon-flag-urgent" data-todo-invalidate-date="{{formatDate invalidateAt "yyyy-MM-dd HH:mm:ss"}}" style="display: none;"></span>
    &nbsp;
    <span class="time-info" data-time-millis="{{formatDate startupAt "yyyy-MM-dd HH:mm:ss"}}">刚刚</span>
  </a>
  {{/each}}
  <a href="{{_ENV_HREF_.middle}}/dashboard/todo" {{#of _USER_.currentCategory "01,02,03,06,12"}}target="_blank"{{/of}} class="header-todo-more menu-footer">
    <span style="color: #999;">查看更多&gt;</span>
  </a>
</div>
{{/component}}
