{{#component "goods-tab js-comp"}}
  <div class="hide">{{json this}}</div>
  <div class="tab-navs" data-item="{{itemId}}">
    <ul class="clearfix jsNavs">
      <li class="active" data-role="details"><a href="#shopDetails"><span>商品详情</span></a></li>
      <li class="" data-role="params"><a href="#shopRule"><span>规格参数</span></a></li>
      {{#equals _DATA_.item.tags.vaccine 1}}
      {{else}}
        <li class=""><a href="#shopEval"><span>用户评价</span>{{#if _DESC_DATA_.totalNum}}({{_DESC_DATA_.totalNum}}){{/if}}</a></li>
        {{#equals _DATA_.item.tags.blocktrade 1}}
          {{else}}
          <li class=""><a href="#shopDeal">成交记录</a></li>
        {{/equals}}
      {{/equals}}
      <li class="jServicePromise"><a href="#shopPromise"><span>服务承诺</span></a></li>
    </ul>
    <div class="fixed-car js-fixed-car hide">
      <i class="icon-zcy icon-gouwuche2"></i>
      <span>加入购物车</span>
    </div>
  </div>
  <div class="tab-contents jsTabCintents">
    <!--商品详情-->
    <div class="tab-content">
      <div id="shopDetails" class="for-position"></div>
      <div class="spu-info-header clearfix">
        <span>核心参数</span>
        <a href="javascript:;" class="js-more-params">查看更多 ></a>
      </div>
      <ul class="spu-info clearfix">
        {{#if _DATA_.item.brandName}}
          <li>品牌：{{_DATA_.item.brandName}}</li>
        {{/if}}
        {{#if _DATA_.item.specification}}
          <li>型号：{{_DATA_.item.specification}}</li>
        {{/if}}
        {{#if _DATA_.item.itemCode}}
          <li>商品代码：{{_DATA_.item.itemCode}}</li>
        {{/if}}
        {{#each _DATA_.groupedOtherAttributes}}
          {{#equals group "普通信息"}}
            {{#each otherAttributes}}
              <li>{{attrKey}}：{{attrVal}}{{unit}}</li>
            {{/each}}
          {{/equals}}
        {{/each}}
      </ul>
        <div class="goods-img">
          {{{_DATA_.itemDetail.detail}}}
        </div>
    </div>
    <!--规格参数-->
    <div class="tab-content other-param hide">
      <div id="shopRule" class="for-position"></div>
      <h2>规格参数</h2>
      <div class="package-list js-other-attributes-box" data-attrs="{{json _DATA_}}">
        {{#each _DATA_.groupedOtherAttributes}}
          {{#equals group "SKU"}}
          {{else}}
            <table class="attribute-tab">
              {{#of group "SPU,USER_DEFINED"}}
              {{else}}
                <thead>
                <th colspan="2" class="attribute-title">
                  {{group}}
                </th>
                </thead>
              {{/of}}
              <tbody>
              {{#each otherAttributes}}
                <tr class="{{#if composite}}composite-tr{{/if}}">
                  {{#if composite}}
                    <td class="main-parameter composite-td">
                      {{composite}}
                    </td>
                  {{/if}}
                  <td class="main-parameter">
                    {{#of attrKey "birthday,weight,origin"}}
                      {{#equals attrKey "birthday"}}上市时间{{/equals}}
                      {{#equals attrKey "weight"}}重量{{/equals}}
                      {{#equals attrKey "origin"}}产地{{/equals}}
                    {{else}}
                      {{attrKey}}
                    {{/of}}
                  </td>
                  <td class="parameter-espercial {{#if multi}}multi-td{{/if}}">
                    {{attrVal}}{{unit}}
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          {{/equals}}
        {{/each}}
      </div>
    </div>
    <!--商品评价-->
    {{#equals _DATA_.item.tags.vaccine 1}}
      {{else}}
      <div class="tab-content evaluate-container">
        <div id="shopEval" class="for-position"></div>
        <div class="evaluate-title" data-total="{{_DESC_DATA_.totalNum}}">
          <h2>用户评价</h2>
          {{#if _DESC_DATA_.totalNum}}
            <div class="clearfix">
              <div class="goods-satisfy clearfix">
                <i>商品满意度</i> <span>{{_DESC_DATA_.averScore}}</span>
              </div>
            </div>
            <div class="jsEvaluateList">

            </div>
          {{else}}
            <p class="no-evaluate"><i class="icon-zcy icon-prompt"></i>该商品暂无评价信息。</p>
          {{/if}}
        </div>
      </div>
      <!--成交记录-->
      {{#equals _DATA_.item.tags.blocktrade 1}}
      {{else}}
        <div class="tab-content deal-content">
          <div id="shopDeal" class="for-position"></div>
          <div class="record-list" data-attrs="{{json _DATA_}}">
            <h2>成交记录</h2>
            <table class="js-record-box">
            </table>
          </div>
        </div>
      {{/equals}}
    {{/equals}}
    <!--服务承诺-->
    <div class="tab-content service-promise">
      <div id="shopPromise" class="for-position"></div>
      <h1>服务承诺</h1>
      <ul class="service-promise-list">
      </ul>
    </div>
  </div>
  <div class="price-description">
    <h1>价格说明：</h1>
    <p>销售价：供应商在政采云出售该商品的价格。</p>
    <p>电商平台价：供应商自营平台或主流电商平台同款商品销售价。</p>
    <p>政采指导价：以主流电商平台同款商品近期成交均价为基础，结合政采行业成本科学计算而成，作为政府采购参考价。</p>
    <p>成交均价：该商品在政采云平台成交平均价。</p>
  </div>
  <div class="toTop">
    <i class="icon-zcy icon-triangleup"></i>
    <span>TOP</span>
  </div>
{{/component}}