{{#component "tax-hall-item-list js-comp"}}
{{json}}
<div>
  <div class="current-location-dark clearfix">
    {{#each _DATA_.breadCrumbs}}
      <a class="font-12 js-bread-category-selector" href="javascript:;" data-id="{{id}}" data-top-id="{{topId}}">{{name}}</a>&nbsp;&nbsp;<i class="font-12 icon-zcy icon-nextstep"></i>&nbsp;
    {{/each}}
  </span>
  </div>
  <div class="nav-group category-nav">
    {{#if _DATA_.brands}}
      <dl>
        <dt title="品牌">品牌：</dt>
        <div class="brand-list">
          <div class="list-more">
            {{#each _DATA_.brands}}
              <dd class="brand-dd dd-cancel">
                <label for="{{key}}" class="hide">
                  <input type="checkbox" value="{{key}}" id="{{key}}" class="brand-select input-checkbox"> {{name}}
                </label>
                <a data-id="{{key}}" class="js-brand-selector" href="javascript:void(0);">{{name}}</a>
                <span>({{count}})</span>
              </dd>
            {{/each}}
          </div>
          {{!-- <div class="brand-buttons hide">
            <button class="btn js-brand-confirm btn-small btn-primary" type="button">搜索</button>&nbsp;
            <button class="btn btn-info js-brand-cancel btn-small" type="button">取消</button>
          </div> --}}
        </div>
        {{#gt (size _DATA_.brands) 1}}
          <dd class="more-options">
            <button class="btn btn-info btn-small js-elects">多选</button>
          </dd>
        {{/gt}}
        {{#gt (size _DATA_.brands) 7}}
          <dd class="more-dd">
            <a href="javascript:void(0);" class="js-more">更多</a>
            <i class="font-12 icon-zcy icon-xiangxiazhedie"></i>
          </dd>
        {{/gt}}
      </dl>
    {{/if}}  
  </div>
  <div class="filter">
    <div class="filter-banner">
      <label>排序：</label>
      <button class="btn btn-small btn-info js-item-sort">品牌<i class="icon-barrowdown12"></i></button>
      <button class="btn btn-small btn-info js-item-sort">协议价<i class="icon-barrowdown12"></i></button>
    </div>
    <form class="form filter-form">
      <fieldset>
        <span class="span3">
          <label for="">价格&nbsp;
            <input type="number" class="input-small p_f" name="p_f" value="{{p_f}}"><span id="forins">-</span><input type="number" class="input-small p_t" name="p_t" value="{{p_t}}" >
          </label>
          <label for="remember">
            <button type="submit" class="btn btn-small btn-primary" id="js-price-range">搜索</button>
          </label>
        </span>
      </fieldset>
    </form>
  </div>

  <div class="list clearfix view-{{mode}}">
    {{#if _DATA_.entities.data}}
      <ul class="view-mode-thumb">
        {{#each _DATA_.entities.data}}
          <li class="product">
            <a href="{{_ENV_HREF_.front}}/items/{{id}}" target="_blank">
              <div class="product-image">
                <img src="{{cdnPath mainImage "260"}}" alt="{{name}}" width="206" height="206">
              </div>
            </a>
            <p class="product-price">
              <span class="currency">{{formatPrice price}}</span>
              <span class="fav-rate">优惠率:{{favRate}}</span>
            </p>
            <p class="market-price">
              <span>市场价：<span>{{formatPrice marketPrice}}</span></span>
            </p>
            <p class="product-desc">
              <a href="{{_ENV_HREF_.front}}/items/{{id}}" target="_blank">{{{name}}}</a>
            </p>
            <p>
              <span class="sale-volume">已销售: {{#if saleQuantity}}{{saleQuantity}}{{else}}0{{/if}}</span>
            </p>
            {{!-- {{#equals showShop "0"}}
            {{else}}
              <br>
              <span class="product-owner">{{shopName}}</span><label class="insert-compare font-12" for="compare"><input type="checkbox" id="compare" class="compare-checkbox input-checkbox" data-itemid="{{id}}" value="{{id}}">对比</label>
            {{/equals}} --}}
          </li>
        {{/each}}
      </ul>
      <table class="table table-fixed view-mode-list">
        <thead>
        <tr>
          <td width="5%">对比</td>
          <td width="20%">商品名称</td>
          {{#equals type "hall"}}
          {{else}}
            <td width="16%">采购目录</td>
          {{/equals}}
          <td width="10%">商品类目</td>
          <td width="10%">品牌</td>
          <td width="15%">型号</td>
          {{#equals normal 3}}
          {{else}}
            {{#equals type "hall"}}
              <td width="8%">销售价</td>
            {{else}}
              <td width="8%">网超价</td>
              <td width="8%">优惠率</td>
            {{/equals}}
          {{/equals}}
          <td width="8%">成交量</td>
        </tr>
        </thead>
        <tbody>
        {{#each _DATA_.entities.data}}
          <tr>
            <td>
              <label class="font-12" for="compare">
                <input type="checkbox" id="compare" class="compare-checkbox input-checkbox" data-itemid="{{id}}" value="{{id}}">
              </label>
            </td>
            <td title="{{{name}}}"><a href="{{_ENV_HREF_.front}}/items/{{id}}{{#equals ../type "hall"}}?type=hall{{/equals}}" target="_blank">{{{name}}}</a></td>
            {{#equals ../type "hall"}}
            {{else}}
              <td title="{{catalogsName}}">{{catalogsName}}</td>
            {{/equals}}
            <td title="{{categoryName}}">{{categoryName}}</td>
            <td title="{{brandName}}">{{brandName}}</td>
            <td title="{{specification}}">{{specification}}</td>
            {{#equals normal 3}}
            {{else}}
              <td>{{_CURRENCY_}} <span>{{formatPrice price}}</td>
              {{#equals ../type "hall"}}
              {{else}}
                <td data-discount="{{formatPrice primeDiscount}}" class="discount-precent"></td>
              {{/equals}}
            {{/equals}}
            <td>
              {{#equals _USER_.currentCategory 12}}
                －
              {{else}}
                {{#if saleQuantity}}{{saleQuantity}}{{else}}0{{/if}}
              {{/equals}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      {{i18n "Item not found " bundle="all_mix"}}
    {{/if}}
  </div>
  <div class="list-pagination">
    <div class="pagination" data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}"
         data-total="{{_DATA_.total}}"></div>
  </div>
</div>
{{/component}}