{{#component "manufacturer-sites-header js-comp clearfix"}}
  <div id="env-config" data-front="{{_ENV_HREF_.front}}" data-middle="{{_ENV_HREF_.middle}}" data-user-id="{{_USER_.id}}"></div>

  <div class="supplier-info-block">
    {{#if shopId}}
      {{inject "supplierList/supplierMsg" true}}
    {{else}}
      <img  class="manufacture-name" src="/assets/images/other-images/manufacture-name.png">
    {{/if}}
  </div>

  <form class="form form-search" type="get" id="form-search"
        action="{{#if action}}{{action}}{{else}}{{_HREF_.main}}/eevees/search{{/if}}"
        data-hrefbase="{{_HREF_.main}}"
        style="width:{{width}}px;">
    {{#equals position "up"}}
      {{#if hotwords}}
        <div class="search-hot">
          <ul class="search-hot-ul">
            <li><span>{{i18n "Popular searches " bundle="all_mix"}}:</span></li>
            {{#each hotwords}}
              <li><a href="{{_HREF_.main}}/search?q={{urlEncode this "utf-8"}}" target="_blank">{{this}}</a></li>
            {{/each}}
          </ul>
        </div>
      {{else}}
        <div class="search-hot">
          <ul class="search-hot-ul js-hotword">
          </ul>
        </div>
      {{/if}}
    {{/equals}}
    <fieldset>
      <div class="input-group input-group-append input-search">
        <input type="hidden" class="isSupplier" name="isSupplier"
               value="{{#equals isSupplier 1}}1{{else}}0{{/equals}}"/>
        {{#unless itemId}}
          {{#if shopId}}<input type="hidden" name="shopId" value="{{shopId}}">{{/if}}
        {{/unless}}
        {{#if fcid}}
          <input type="hidden" name="fcid" value="{{fcid}}">
          {{#equals type "vaccine"}}
            <input type="hidden" name="normal" value="2">
            <input type="hidden" name="type" value="vaccine">
          {{else}}
            {{#equals normal 1}}
              <input type="hidden" name="normal" value="1">
            {{/equals}}
            <input type="hidden" name="type" value="hall">
          {{/equals}}
        {{/if}}
        <i class="icon-zcy icon-search"></i>
        <input type="text" name="q" class="search-input items-suggest active" value="{{q}}" autocomplete="off"
               placeholder="{{#equals isSupplier 1}}输入您要搜索的供应商{{else}}输入您要搜索的商品{{/equals}}"><span class="input-group-btn">
          <button class="btn btn-primary btn-medium" id="search-button" type="submit">搜制造</button>
          <button class="btn btn-primary btn-medium" id="search-button-all" type="button">搜全站</button>
        </span>
      </div>
    </fieldset>
    {{#ifCond position "!=" "up"}}
      {{#if hotwords}}
        <div class="search-hot">
          <ul class="search-hot-ul">
            <li><span class="title">{{i18n "Popular searches " bundle="all_mix"}}:</span></li>
            {{#each hotwords}}
              <li><a href="{{_HREF_.main}}/search?q={{urlEncode this "utf-8"}}" target="_blank">{{this}}</a></li>
            {{/each}}
          </ul>
        </div>
      {{else}}
        <div class="search-hot">
          <ul class="search-hot-ul js-hotword">
          </ul>
        </div>
      {{/if}}
    {{/ifCond}}
  </form>
{{/component}}
