{{#component "supplier-info js-comp"}}
  <div class="hide">{{json this}}</div>
  <div class="hide supplier" data-details="{{json _SELLER_DATA_}}">{{json _SELLER_DATA_}}</div>
        <!--品质制造 供应商-->
        <div class="special-supplier hide">
            <div class="menu-title" data-test="{{json ../_SELLER_DATA_.supplierTypeCode}}">
               <i class="icon-zcy icon-supplier-pinzhizhizao"></i>
               <div class="title">制造馆认证店铺</div>
            </div>
            <div class="seller-info-content">
                <ul class="info-ul">
                    <li class="supplier-name">
                        {{#if _SELLER_DATA_.abbreviation}}
                            {{_SELLER_DATA_.abbreviation}}
                        {{else}}
                            {{#if _SELLER_DATA_.name}}
                                {{_SELLER_DATA_.name}}
                            {{else}}
                                政采云商家
                            {{/if}}
                        {{/if}}
                    </li>
                    <li class="info-li phone-box" title="{{#if _SELLER_DATA_.contactPhone}}{{_SELLER_DATA_.contactPhone}}{{else}}暂无联系电话{{/if}}"></i><span class="title">联系电话：</span><span class="phone">{{#if _SELLER_DATA_.contactPhone}}{{_SELLER_DATA_.contactPhone}}{{else}}暂无联系电话{{/if}}</span></li>
                    <li class="info-li contact-service-box">
                        <span class="title">联系客服：</span>
                        {{#gt (add (size _SELLER_DATA_.qqMaps) (size _SELLER_DATA_.wangwangMaps)) 0}}
                            <div class="seller-info-content last clearfix" style="text-align: center;">
                                {{#gt (size _SELLER_DATA_.wangwangMaps) 0}}
                                    <div class="contact-box-warp wangwang-warp" data-type="ww">
                                        {{#each _SELLER_DATA_.wangwangMaps}}
                                            <div>
                                                <i class="icon-zcy icon-wangwang"></i>
                                                <a href="javascript:void(0);" class="js-contact" data-name="{{name}}" data-code="{{code}}">{{name}}</a>
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/gt}}
                                {{#gt (size _SELLER_DATA_.qqs) 0}}
                                    <div class="contact-box-warp qq-warp" data-type="qq">
                                        {{#each _SELLER_DATA_.qqMaps}}
                                            <div>
                                                <i class="icon-zcy icon-detailqq"></i>
                                                <a href="javascript:void(0);" class="js-contact" data-name="{{name}}" data-qqid="{{code}}" data-site="{{@root._HREF_.main}}">{{name}}</a>
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/gt}}
                            </div>
                        {{/gt}}
                    </li>
                    <li class="oper-box hide-ellipsis" style="text-align: center;">
                        <button class="btn btn-info js-enter-shop" data-shop-id="{{shopId}}" >进入店铺</button>
                        {{#of "1" _ROLES_}}
                            <button class="btn btn-info js-add-favor" data-user-id="{{_USER_.id}}" data-shop-id="{{shopId}}" >关注店铺</button>
                        {{else}}
                            {{#unless _USER_}}
                                <button class="btn btn-info js-add-favor" data-user-id="{{_USER_.id}}" data-shop-id="{{shopId}}" >关注店铺</button>
                            {{/unless}}
                        {{/of}}
                    </li>
                </ul>
            </div>
        </div>
        <!-- 普通供应商 -->
          <div class="common-supplier hide">
              <div class="seller-title">
                <span class="store-name">
                    {{#if _SELLER_DATA_.abbreviation}}
                        {{_SELLER_DATA_.abbreviation}}
                    {{else}}
                        {{#if _SELLER_DATA_.name}}
                            {{_SELLER_DATA_.name}}
                        {{else}}
                            政采云商家
                        {{/if}}
                    {{/if}}
                </span>
              </div>
              <div class="seller-info-content">
                  <ul class="info-ul">
                      <li class="info-li phone-box" title="{{#if _SELLER_DATA_.contactPhone}}{{_SELLER_DATA_.contactPhone}}{{else}}暂无联系电话{{/if}}"></i><span class="title">联系电话：</span><span class="phone">{{#if _SELLER_DATA_.contactPhone}}{{_SELLER_DATA_.contactPhone}}{{else}}暂无联系电话{{/if}}</span></li>
                      <li class="info-li contact-service-box">
                          <span class="title">联系客服：</span>
                          <div class="seller-info-content last clearfix">
                                {{#gt (add (size _SELLER_DATA_.qqMaps) (size _SELLER_DATA_.wangwangMaps)) 0}}
                                  <span>
                                      {{#gt (size _SELLER_DATA_.wangwangMaps) 0}}
                                          <div class="contact-box-warp wangwang-warp" data-type="ww">
                                              {{#each _SELLER_DATA_.wangwangMaps}}
                                                  <div>
                                                      <i class="icon-zcy icon-wangwang"></i>
                                                      <a href="javascript:void(0);" class="js-contact" data-name="{{name}}" data-code="{{code}}">{{name}}</a>
                                                  </div>
                                              {{/each}}
                                          </div>
                                      {{/gt}}
                                      {{#gt (size _SELLER_DATA_.qqs) 0}}
                                          <div class="contact-box-warp qq-warp" data-type="qq">
                                              {{#each _SELLER_DATA_.qqMaps}}
                                                  <div>
                                                      <i class="icon-zcy icon-detailqq"></i>
                                                      <a href="javascript:void(0);" class="js-contact" data-name="{{name}}" data-qqid="{{code}}" data-site="{{@root._HREF_.main}}">{{name}}</a>
                                                  </div>
                                              {{/each}}
                                          </div>
                                      {{/gt}}
                                  </span>
                                  {{else}}
                                  暂无
                                {{/gt}}
                          </div>
                      </li>
                      <li class="oper-box hide-ellipsis" style="text-align: center;">
                          <button class="btn btn-info js-enter-shop enter-shop" data-shop-id="{{shopId}}" >进入店铺</button>
                          {{#of "1" _ROLES_}}
                              <button class="btn btn-info js-add-favor add-favor" data-user-id="{{_USER_.id}}" data-shop-id="{{shopId}}" >关注店铺</button>
                          {{else}}
                              {{#unless _USER_}}
                                  <button class="btn btn-info js-add-favor add-favor" data-user-id="{{_USER_.id}}" data-shop-id="{{shopId}}" >关注店铺</button>
                              {{/unless}}
                          {{/of}}
                      </li>
                  </ul>
              </div>
          </div>

{{/component}}
