{{#component ""}}
{{!-- 
{
  "beginTime":"品牌",
  "endTime":"型号",
  "tradeMethod":"竞价方式：批量竞价-单品牌竞价，批量竞价-多品牌竞价", 
  "packageTime":"需求归集时间",
  "packageMethod":"杭州市打包",
  "packageAreaList":
  [
    {
      "purchaserCount":5,
      "purchaserArea":"浙江省"
    },
    {
      "purchaserCount":4,
      "purchaserArea":"江苏省"
    }
  ], 
  "supplierRule":"需求归集包里的商品品牌的协议供应商"
} 
--}}
<section>
  <h2>基本信息</h2>
  <table class="table table-fixed table-fixed-ie8">
    <tbody>
      <tr>
        <td>报价开始时间</td>
        <td>{{formatDate beginTime}}</td>
        <td>报价截止时间</td>
        <td>{{formatDate endTime}}</td>
      </tr>
      <tr>
        <td>竞价方式</td>
        <td>{{tradeMethod}}</td>
        <td>需求归集时间</td>
        <td>{{formatDate packageTime}}</td>
      </tr>
      {{inject "inquiryHall_protocol/templates/base_package_area"}}
      <tr>
        <td>参与报价的供应商要求</td>
        <td colspan="3">{{supplierRule}}</td>
      </tr>
    </tbody>
  </table>
</section>
{{/component}}