{{#component "manufacturer-supplier-floor js-comp"}}
  <p class="hide">{{json this}}</p>
  <input type="hidden" class="js-suppliers-id" value="{{ids}}">
  <input type="hidden" class="js-suppliers-image" value="{{json images}}">
  <div class="floor-item js-floor-item"
       data-name="{{floorName}}"
       data-icon="{{floorIcon}}"
       data-id="js-floor-{{floorName}}">
    <div class="floor-header">
      <div class="floor-info">
        <i class="icon-zcy {{floorIcon}}" style="color: {{iconColor}}"></i><span class="floor-title">{{floorName}}</span>
        <a class="link-more" href="/mfacture/suppliers">更多<i class="icon-zcy icon-roundrightfill"></i></a>
      </div>
      <div class="floor-extend"></div>
    </div>
    <div class="floor-body clearfix">
    </div>
  </div>
{{/component}}
