{{#component "js-comp buyer_back-change_purchaser-form"}}
{{!json}}
    <input type="hidden" class="js-return-order-type" value="{{returnOrderType}}">
    <div class="component">
        <div class="component-header">
            退换货基本信息
        </div>
        <div class="component-body">
            <table class="table border-none">
                <tbody>
                <tr>
                    <th>退换货单号</th>
                    <td>{{_DATA_.id}}</td>
                    <th>订单号</th>
                    <td><a class="order-info" href="javascript:;">{{_DATA_.orderId}}</a></td>
                    <th>创建时间</th>
                    <td>{{_DATA_.createdAt}}</td>
                </tr>
                <tr>
                    <th>采购单位</th>
                    <td>{{_DATA_.purchaserOrgName}}</td>
                    <th>创建人</th>
                    <td>{{_DATA_.createrName}}</td>
                    <th>联系电话</th>
                    <td>{{_DATA_.createrContactMobile}}</td>
                </tr>
                <tr>
                    <th>供应商</th>
                    <td>{{_DATA_.supplierOrgName}}</td>
                    <th>联系人</th>
                    <td>{{_DATA_.supplierContact}}</td>
                    <th>联系电话</th>
                    <td>{{_DATA_.supplierContactMobile}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="component form">
        <div class="component-body">

            {{!字段}}
            <div class="field return-goods" style="padding-right: 100px">

                <div class="hide">
                    <input type="text" required="required">
                    <input type="text" value="{{_DATA_.id}}">
                    <input type="text" value="{{_DATA_.orderId}}">
                    <input type="text" value="{{_DATA_.supplierContact}}">
                    <input type="text" value="{{_DATA_.supplierContactMobile}}">
                    <input type="text" value="{{_DATA_.createrContactMobile}}">
                    <input type="text" value="{{_ENV_HREF_.middle}}">
                </div>

                <div class="fieldset">
                    <label><span class="required">*</span>选择退换货商品</label><input class="btn btn-info selection-goods" type="button" value="选择商品">
                </div>

                {{!列表}}
                <div class="fieldset return-goods hide" style="padding-right: 100px">
                    <table class="table" style="min-width: 800px;">
                        <thead>
                        <tr>
                            <td>商品名称</td>
                            <td>单价（元）</td>
                            <td>总数量</td>
                            <td>采购计划</td>
                            <td>数量</td>
                            <td>退货数量</td>
                            <td>换货数量</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        {{!脚本}}
                        </tbody>
                    </table>
                </div>

            </div>

            {{!支持供应商上面取件}}
            {{#equals _DATA_.supportPickup true}}
                <div class="field return-type">
                    <label><span class="required">*</span>选择退货方式</label>
                    <label><input class="return-method input-radio" name="return-method" type="radio" value="2" checked="checked">供应商上门取件</label>
                    <label><input class="return-method input-radio" name="return-method" type="radio" value="1">物流发货</label>
                </div>
                <div class="field receipt-address">
                    <label><span class="required">*</span>取件地址</label>
                    <select required="required">
                        <option value="">请选择</option>
                        {{#each _ADDRESS_}}
                            <option value="{{id}}">{{province}} {{city}} {{region}} {{street}} {{details}} ({{receiverName}} 收) {{mobile}}</option>
                        {{/each}}
                    </select>
                    <input class="btn btn-info add-address" type="button" value="添加地址">
                </div>

            {{!仅物流}}
            {{else}}
                <div class="field return-type">
                    <label><span class="required">*</span>选择退货方式</label>
                    <label><input class="return-method input-radio" name="return-method" type="radio" value="2" disabled="disabled">供应商上门取件</label>
                    <label><input class="return-method input-radio" name="return-method" type="radio" value="1" disabled="disabled" checked="checked">物流发货</label>
                </div>
                <div class="field receipt-address">
                    <label><span class="required">*</span>退货地址</label>
                    <select required="required">
                        <option value="">请选择</option>
                        {{#each _ADDRESS_}}
                            <option value="{{id}}">{{province}} {{city}} {{region}} {{street}} {{details}} ({{receiverName}} 收) {{mobile}}</option>
                        {{/each}}
                    </select>
                    <input class="btn btn-info add-address" type="button" value="添加地址">
                </div>
            {{/equals}}

            <div class="field return-reason">
                <label><span class="required">*</span>退货原因</label>
                <select required="required">
                    <option value="">请选择</option>
                    <option>七天无理由</option>
                    <option>错发</option>
                    <option>质量问题</option>
                    <option>其它</option>
                </select>
            </div>
            <div class="field remark"><label>说明</label><textarea></textarea></div>
            <div class="field file"><label>附件上传</label><div id="uploadFile">{{inject 'common/uploadFile'}}</div></div>

            {{!行为}}
            <div class="action">
                <input class="btn btn-secondary cancel" type="button" value="取消">
                <input class="btn btn-primary submit" type="button" value="提交">
            </div>

        </div>
    </div>

{{/component}}