{{#component "on-off-shelf js-comp"}}
  <input type="hidden" class="js-item-tag" value="{{tag}}">
  <div class="component-header">
    <p class="hide">{{json this}}</p>
    <div name="status" class="tab" data-type="switchable">
      <ul class="tab-navs clearfix">
        <li value=""><a href="javascript:;">全部<span class="tab-label"></span></a></li>
        <li value="-2"><a href="javascript:;">冻结中<span class="tab-label"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="component-body">
    <div class="search-item">
      <div id="block" class="block filter-block">
          <fieldset>
            <span class="span inline-block">
              <label for="">&nbsp;&nbsp;商品ID&nbsp;&nbsp;
                <input type="text" class="item-filter-item search" name="itemId" value="" placeholder="商品ID">
              </label>
            </span>
            <span class="span date_picker inline-block">
              <label for="">&nbsp;&nbsp;上架时间&nbsp;&nbsp;
                <input type="text" class="search date-input" name="onShelfAtStart" placeholder="开始日期">&nbsp;&nbsp;-&nbsp;&nbsp;
                <input type="text" class="search date-input" name="onShelfAtEnd" placeholder="结束日期">
              </label>
            </span>
            <span class="span inline-block">
              <label for="">&nbsp;&nbsp;商品名称&nbsp;&nbsp;
                <input type="text" class="item-filter-item search" name="itemName" value="" placeholder="商品名称">
              </label>
            </span>
            <span class="span inline-block">
              <label for="">&nbsp;&nbsp;供应商&nbsp;&nbsp;
                <select name="shopId" class="noselectric search">
                  {{#if shopId}}
                    <option value="{{shopId}}">{{supplierName}}</option>
                  {{/if}}
                </select>
              </label>
            </span>
            <span class="span pull-right">
              <label for="filter">
                <button  id="searchBtn" class="btn btn-minor js-item-filter">搜索</button>
                &nbsp;
                <button  id="resetBtn" class="btn btn-ghost js-filter-clear">重置</button>
              </label>
            </span>
          </fieldset>
      </div>
    </div>
    <div class="item-list">
      <table class="table  item-manage-table">
        <thead>
          <tr>
            <th width="24"><input type="checkbox" class="js-batch-select input-checkbox" autocomplete="off"></th>
            <th class="left-text" width="300" >商品名称</th>
            <th>供应商</th>
            <th width="160">单价</th>
            <th>优惠率</th>
            <th width="100">上架时间</th>
            <th width="60">状态</th>
            <th width="110" class="td-operation">操作</th>
          </tr>
        </thead>
        <tbody>
          <input type="text" class="hide supplierNameStore search" name="supplierName"/>
          {{#each _DATA_.data}}
          <tr data-state="{{status}}" data-id="{{itemId}}">
            <td><input type="checkbox" class="js-item-select input-checkbox" autocomplete="off"></td>
            <td><a href="/items/{{itemId}}" target="_blank">{{itemName}}</a></td>
            <td>{{supplierName}}</td>
            <td class="text-warn">
              {{#equals lowPrice highPrice}}
                {{formatPrice lowPrice}}
              {{else}}
                {{formatPrice lowPrice}}-{{formatPrice highPrice}}
              {{/equals}}
            </td>
            <td class="text-warn">
              {{#if highFavoriteRate}}
                {{#equals lowFavoriteRateStr highFavoriteRateStr}}
                  {{lowFavoriteRateStr}}%
                {{else}}
                  {{lowFavoriteRateStr}}%-{{highFavoriteRateStr}}%
                {{/equals}}
              {{else}}
                --
              {{/if}}
            </td>
            <td>
              {{#if onShelfAtStr}}{{onShelfAtStr}}{{else}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-{{~/if}}
            </td>
            {{#equals status "1"}}
              <td>上架</td>{{/equals}}
            {{#equals status "-2"}}
              <td class="text-warn">冻结中</td>{{/equals}}
              {{#equals status "5"}}<td class="text-warn">解冻审核中</td>{{/equals}}

              <td class="td-operation">
                <a href="/seller/item-check-detail?itemId={{itemId}}" target="_blank">商品详情</a>
                {{#equals status "1"}}<a href="javascript:;" class="js-item-freeze">冻结</a>{{/equals}}
                {{#equals status "-2"}}<a href="javascript:;" class="js-item-unfreeze">解冻</a>{{/equals}}
                {{#equals status "5"}}<a href="javascript:;" class="js-item-unfreeze">通过</a>{{/equals}}
                {{#equals status "5"}}<a href="javascript:;" class="js-item-freeze">拒绝</a>{{/equals}}
          	</td>
          </tr>
          {{/each}}

        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <input type="checkbox" class="js-batch-select input-checkbox" autocomplete="off">
              <button class="btn btn-medium btn-info js-item-allfreeze" disabled>冻结</button>
              <button class="btn btn-medium btn-info js-item-allunfreeze" disabled>解冻</button>
            </td>
            <td colspan="6" class="td-operation"><div class="item-pagination" data-total="{{_DATA_.total}}" data-size="{{#if pageSize ~}}{{pageSize}}{{else}}50{{~/if}}"></div></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
{{/component}}
