{{#component "order-detail-print js-comp clearfix"}}
    <p style="display: none;">{{json this}}</p>
    <div class="order-detail-print-content">
      <style>
        .order-detail-print-content{
          width: 21cm;
          /*min-height: 29.7cm;*/
          padding: 1.5cm;
          margin: 1cm auto;
          border: 1px #D3D3D3 solid;
          background: #FAFAFA;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .orderTitle {
          text-align: center;
          font-weight: bold;
          font-size: 36px;
          color: #353535;

        }
        .baseInfo {
          margin-top: 40px;
          height: 30px;
          font-size: 12px;
          color: #24344e;
        }
        .order-code {
          display: inline-block;
          width: 35%;
        }
        .create-time {
          display: inline-block;
          width: 30%;
        }
        .check-time {
          display: inline-block;
          width: 30%;
        }

        .table-tile {
          font-size: 16px;
          color: #24344e;
        }

        div.table-tile {
          line-height: 20px;
          margin-bottom: 5px;
        }

        .table {
          margin-bottom: 20px;
        }
        .table td {
          border: solid 1px #d8d8d8;
          font-size: 14px;
        }
        .total-money {
          float: right;
        }
        .label {
          color: #666666;
        }
        thead td {
          background: #EEEEEE;
        }
        .content {
          color: #24344e;
        }

        .operator-btn {
          margin: 20px auto;
          text-align: center;
        }

        @page
        {
          size: A4;
          margin: 0;
        }
        @media print
        {
          .review-editor
          {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
          }
        }
      </style>
      {{#with _DATA_}}
        <div class="orderTitle">
          政采云疫苗订单
        </div>
        <div class="baseInfo">
          <span class="order-code">订单编号：{{order.id}}</span>
          <span class="create-time">创建时间：{{formatDate order.createdAt}}</span>
          <span class="check-time">验收时间：{{formatDate order.acceptedAt}}</span>
        </div>
        <table class="table purchaser-info">
          <thead>
          <tr>
            <td colspan="6" class="table-tile">采购单位信息</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td width="16%" class="label">采购单位名称</td>
            <td width="20%" class="content">{{order.purchaserOrganizationName}}</td>
            <td width="12%" class="label">联系人</td>
            <td width="20%" class="content">{{order.purchaserName}}</td>
            <td width="12%" class="label">联系电话</td>
            <td width="20%" class="content">{{order.purchaserMobile}}</td>
          </tr>
          <tr>
            <td>收货地址</td>
            <td colspan="5" class="content">
              {{#each deliverInfos}}
                {{#with delivery}}
                  {{province}}{{city}}{{region}}{{street}}{{detail}};&nbsp;
                {{/with}}
              {{/each}}
            </td>
          </tr>
          </tbody>
        </table>
        <table class="table supplier-info">
          <thead>
          <tr>
            <td colspan="6" class="table-tile">供应商信息</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td width="16%" class="label">供应商名称</td>
            <td width="20%" class="content">{{order.supplierOrganizationName}}</td>
            <td width="12%" class="label">联系人</td>
            <td width="20%" class="content">{{order.supplierUserName}}</td>
            <td width="12%" class="label">联系电话</td>
            <td width="20%" class="content">{{order.supplierUserMobile}}</td>
          </tr>
          </tbody>
        </table>
        <div class="table-tile">发票列表</div>
        <table class="table invoice-list">
          <thead>
          <tr>
            <td width="20%" class="label">发票抬头</td>
            <td width="20%" class="label">发票类型</td>
            <td width="20%" class="label">发票内容</td>
            <td width="20%" class="label">发票金额（元）</td>
            <td width="20%" class="label">发票编号</td>
          </tr>
          </thead>
          <tbody>
          {{#each invoiceWithCounts}}
            <tr>
              {{#with invoice}}
                <td class="content">{{invoiceTitle}}</td>
                <td class="content">
                  {{#equals invoiceType 0}}普通发票{{/equals}}
                  {{#equals invoiceType 1}}增值税普通发票{{/equals}}
                  {{#equals invoiceType 2}}增值税专用发票{{/equals}}
                </td>
                <td data-content="{{json ../invoiceContent}}" class="content">
                  {{#equals invoiceContentType '1'}}
                    <div class="js-invoice-content-default">
                        {{#each ../invoiceContent}}
                          <div>
                            <span>{{categoryName}}</span>&nbsp;&nbsp;
                            <span style="color: #FF7900;">{{formatPrice totalFee}}</span>
                          </div>
                        {{/each}}
                    </div>
                  {{/equals}}
                  {{#equals invoiceContentType '2'}}
                    <div class="js-invoice-content-detail">
                        {{#each ../invoiceContent}}
                          <div>
                            <span>{{itemName}}</span>&nbsp;
                            <span>{{specification}}</span>&nbsp;
                            <span>{{unit}}</span>&nbsp;
                            <span>{{totalCount}}</span>&nbsp;
                            <span>{{formatPrice unitPrice}}</span>&nbsp;
                            <span style="color: #FF7900;">{{formatPrice totalFee}}</span>&nbsp;
                          </div>
                        {{/each}}
                    </div>
                  {{/equals}}
                  {{#equals invoiceContentType '3'}}
                    <div class="js-invoice-content-custom">
                      <p style="word-wrap: break-word;">{{../invoiceContent.customContent}}</p>
                    </div>
                  {{/equals}}
                </td>
                <td class="content">{{formatPrice invoiceTotalPrice}}</td>
                <td class="content"></td>
              {{/with}}
            </tr>
          {{/each}}
          </tbody>
        </table>
        <div class="table-tile">商品列表</div>
        <table class="table item-list">
          <thead>
          <tr>
            <td width="10%" class="label">序号</td>
            <td width="20%" class="label">商品名称</td>
            <td width="20%" class="label">品牌</td>
            <td width="15%" class="label">型号</td>
            <td width="10%" class="label">数量</td>
            <td width="10%" class="label">单位</td>
            <td width="15%" class="label">单价（元）</td>
          </tr>
          </thead>
          <tbody>
          {{#each orderItemWithPrintExt.orderItemExts}}
            <tr>
              <td class="js-items-no content"></td>
              <td class="content">{{itemName}}</td>
              <td class="content">{{brandName}}</td>
              <td class="content">{{specification}}</td>
              <td class="content">{{quantity}}</td>
              <td class="content">{{unit}}</td>
              <td class="content">{{formatPrice price}}</td>
            </tr>
          {{/each}}
          <tr>
            <td colspan="7" class="content"><span class="total-money">金额合计:&nbsp;{{formatPrice orderItemWithPrintExt.totalPrice}}元</span></td>
          </tr>
          </tbody>
        </table>
      {{/with}}
    </div>

    <div class="operator-btn">
      <button class="btn btn-primary js-print-order">打 印</button>
    </div>

{{/component}}