{{#component "item-publish item-check-detail js-comp"}}

	<form method="POST" 
				class="form form-aligned item-publish-form" 
				id="js-item-form" 
				onsubmit="return checkPrice();" 
				style="padding-top:20px;"
	    {{#if itemId}}
	      data-id="{{itemId}}"
	    {{else}}
	      {{#if spuId}}
	        data-id="{{spuId}}"
	      {{/if}}
	    {{/if}}>

	    {{#if itemId}}
				{{#if itemAuditId}}
					{{#inject "seller/item_check_detail/with_item"}}
						{
							"itemAuditId": {{itemAuditId}}
						}
					{{/inject}}
				{{else}}
					{{#inject "seller/item_check_detail/with_item"}}
						{
							"itemAuditId": null
						}
					{{/inject}}
				{{/if}}
	    {{else}}
	      {{#if spuId}}
	        <input type="hidden" name="spuId" value="{{spuId}}">

	        {{inject "seller/item_publish/with_spu"}}
	      {{else}}
	        <input type="hidden" name="categoryId" value="{{categoryId}}">

	        {{inject "seller/item_publish/with_category"}}
	      {{/if}}
        <input type="hidden" name="isVaccine" value="{{isVaccine}}">
	    {{/if}}

	    </form>
{{/component}}