{{#partial "meta"}}
  <title>{{_PAGE_.title}}</title>
  <meta name="keywords" content="{{_PAGE_.keywords}}">
  <meta name="description" content="{{_PAGE_.description}}">
{{/partial}}
{{#partial "designable"}}
  {{designable scope=_DESIGNABLE_.scope key=_DESIGNABLE_.key path=_DESIGNABLE_.path}}
{{/partial}}
{{#partial "body"}}
  {{> header}}
  {{designPart "body"}}
  {{> footer}}
{{/partial}}
{{> layout}}
