{{#component "block-trade-order-form-detail trade-manage js-comp clearfix"}}
  <div class="float-hidden" hidden></div>
  <p style="display: none;">{{json _DATA_}}</p>
  <div class="t-breadcrumb">
    {{#equals _USER_.type 1}}
      <label>大宗采购管理</label>
      <label> / </label>
      <a href="/buyer/blocktrade-orders">订单列表</a>
    {{else}}
      <label>大宗订单管理</label>
      <label> / </label>
      <a href="/seller/blocktrade-orders">订单列表</a>
    {{/equals}}
    <label> / </label>
    <label class="active">订单详情</label>
  </div>
  <div class="order-form-detail-foot pull-right">
    <fieldset>
      {{#equals _USER_.type 1}}
        {{#equals _DATA_.order.status 4}}
          {{#equals _DATA_.order.purchaserOrganizationId _USER_.orgId}}
          <button class="btn btn-primary btn-small order-check" type="button" data-event="confirm:order-check"
                  data-toggle="confirm" data-title="确认验收吗？" data-content="是否确认验收？" data-id="{{_DATA_.order.id}}">
            {{#equals _DATA_.order.hasRecord false}}验收{{/equals}}
          {{/equals}}
        </button>
        {{/equals}}
      {{/equals}}

      {{#equals _USER_.type 2}}
        {{#with _DATA_.order}}
          {{#equals status 0}}
            <a href="javascript:void(0)" data-event="confirm:receive-order"
               data-toggle="confirm"
               data-title="确认接单吗？"
               data-content="接单后不可取消，请尽快安排发货！" data-id="{{id}}" class="btn btn-primary btn-small">接单</a>&nbsp;&nbsp;
            {{#equals _DATA_.order.orderType 2}}
              <!--疫苗订单不能拒单 -->
            {{else}}
              <a href="javascript:void(0)" class="js-reject-order btn btn-info btn-small" data-id="{{id}}">拒绝接单</a>
            {{/equals}}
          {{else}}
            {{#of status "0,1,2"}}
              {{#equals hasRecord false}}
                {{#equals isNeedReissue false}}
                  <a href="/buyer/order-shipment-create?orderId={{orderId}}&orderType={{_DATA_.order.orderType}}"
                     class="btn btn-primary btn-small js-create-shipment">发货</a>
                {{/equals}}
              {{/equals}}
            {{/of}}
          {{/equals}}
          {{#equals status 3}}
            {{#equals hasRecord false}}
              {{#equals isNeedReissue true}}
                {{#equals ../_DATA_.hasReceiveCommonAll true}}
                  <a href="javascript:void(0)" class="btn btn-primary btn-small js-create-reissue-shipment">补发货</a>
                {{/equals}}
              {{/equals}}
            {{/equals}}
          {{/equals}}
          {{#equals status -4}}
            <a href="javascript:void(0)" class="btn btn-primary btn-small" name="confirm-cancel-order"
               data-id="{{id}}">处理申请</a>
          {{/equals}}
        {{/with}}
      {{/equals}}
      {{#equals _USER_.type 1}}
        {{#equals _DATA_.order.hasReturn false}}
          {{#equals _DATA_.order.status 4}}
            {{#equals _DATA_.order.orderType 2}}
              <!-- 疫苗订单不允许退换货 -->
            {{else}}
              &nbsp;&nbsp;<a href="/buyer/back-change/purchaser-form?orderId={{orderId}}&returnOrderType={{_DATA_.order.orderType}}"
                             class="btn btn-secondary btn-small order-name">退换货</a>
            {{/equals}}
          {{/equals}}
          {{#equals _DATA_.order.status 5}}
            {{#equals _DATA_.order.orderType 2}}
              <!-- 疫苗订单不允许退换货 -->
            {{else}}
              &nbsp;&nbsp;<a href="/buyer/back-change/purchaser-form?orderId={{orderId}}&returnOrderType={{_DATA_.order.orderType}}"
                             class="btn btn-secondary btn-small order-name">退换货</a>
            {{/equals}}
          {{/equals}}
        {{/equals}}
      {{/equals}}
      {{#equals _DATA_.order.purchaserOrganizationId _USER_.orgId}}
        {{#equals _DATA_.order.orderType 2}}
          <!-- 疫苗订单不允许退换货 -->
        {{else}}
          &nbsp;&nbsp;<a
          href="{{_ENV_HREF_.middle}}/appeal/appeal-create?docId={{orderId}}&service=com.dtdream.vanyar.credit.web.utils.OrderAppealBusinessService&docUrl=/buyer/orders/detail?orderId={{orderId}}"
          class="btn btn-secondary btn-small order-name">申诉</a>
        {{/equals}}
      {{/equals}}
      {{#equals _DATA_.order.orderType 2}}
        <a href="/buyer/order-print?orderId={{orderId}}&todo=1" target="_blank"
           class="btn btn-secondary btn-small">打印订单</a>
      {{/equals}}

      <!--大宗商品-->
      {{#equals _DATA_.order.orderType 3}}
        {{#of _DATA_.order.status '11,13'}}
          {{#equals _USER_.type 2}}
            {{#assign "uploadQualification"}}uploadQualification{{/assign}}
            {{#assign "setPrice"}}setPrice{{/assign}}
            {{#assign "uploadOuterPrice"}}uploadOuterPrice{{/assign}}
          {{/equals}}
        {{/of}}
        {{#gt _DATA_.order.status 3}}
          {{#equals _DATA_.order.status 12}}
            {{#equals _USER_.type 1}}
              {{#equals _DATA_.order.purchaserId _USER_.id}}
                {{#assign "checkPrice"}}checkPrice{{/assign}}
              {{/equals}}
              {{#assign "uploadAcceptance"}}uploadAcceptance{{/assign}}
            {{/equals}}
          {{/equals}}
        {{/gt}}
      {{/equals}}
      {{#if setPrice}}
        <button class="btn btn-primary btn-small js-submit-price">发起定价</button>
      {{/if}}
      {{#if checkPrice}}
        <button class="btn btn-primary btn-small js-check-price" data-unplan-amount="{{_DATA_.unplanAmount}}">确认定价</button>
        <button class="btn btn-info btn-small js-refuse-price">驳回定价</button>
      {{/if}}
    </fieldset>
  </div>
  <div class="order-form-detail-body" data-order-id="{{_DATA_.order.id}}" data-order-type="{{_DATA_.order.orderType}}">
    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">订单概览</div>
      </div>
      <div class="trade-panel-body">
        {{#with _DATA_.order}}
          <div class="order-form-detail-about" style="width:75%; display:inline-block;">
            <span id="_orderStatus" style="display:none;">{{status}}</span>
            <table class="table table-striped">
              <tbody>
              <tr class="no-border">
                <td class="no-border right-text" width="11%"><label class="desc-text">订单号：</label></td>
                <td class="no-border" width="20%">{{id}}</td>

                <td class="no-border right-text" width="11%"><label class="desc-text">预购单号：</label></td>
                {{!-- 合同订单时，这个单号有问题 --}}
                {{#equals _DATA_.order.orderType 1}}
                  <td></td>
                {{else}}
                  <td class="no-border" width="20%">{{#equals _USER_.id purchaserId}}<a
                    href="/buyer/purchases/detail?purchaseId={{purchaserOrderId}}&businessId={{purchaserOrderId}}&tableCode=zcy_purchase_orders">{{purchaserOrderId}}</a>{{else}}{{purchaserOrderId}}{{/equals}}
                  </td>
                {{/equals}}
                <td class="no-border right-text" width="11%"><label class="desc-text">创建时间：</label></td>
                <td class="no-border left-text" width="20%">{{formatDate createdAt}}</td>
              </tr>
              <tr class="no-border">
                <td class="no-border right-text" width="11%"><label class="desc-text">采购单位：</label></td>
                <td class="no-border left-text" width="20%">{{purchaserOrganizationName}}</td>
                <td class="no-border right-text" width="11%"><label class="desc-text">提交人：</label></td>
                <td class="no-border left-text" width="20%">{{purchaserName}}</td>
                <td class="no-border right-text" width="11%"><label class="desc-text">联系电话：</label></td>
                <td class="no-border left-text" width="20%">{{purchaserMobile}}</td>
              </tr>
              <tr class="no-border">
                <td class="no-border right-text" width="11%"><label class="desc-text">供应商：</label></td>
                <td class="no-border left-text" width="20%">{{supplierOrganizationName}}</td>
                <td class="no-border right-text" width="11%"><label class="desc-text">联系人：</label></td>
                <td class="no-border left-text" width="20%">{{supplierUserName}}</td>
                <td class="no-border right-text" width="11%"><label class="desc-text">联系电话：</label></td>
                <td class="no-border left-text" width="20%">{{supplierUserMobile}}</td>
              </tr>
              <tr class="no-border">
                <td class="no-border right-text" width="11%"><label class="desc-text">验收单：</label></td>
                <td class="no-border left-text" width="20%">
                  {{#gt (size ../_DATA_.acceptanceFiles) 0}}
                    <a class="js-show-acceptance-file" data-files="{{json ../_DATA_.acceptanceFiles}}">验收单</a>
                  {{else}}
                    <span class="no-href">验收单</span>
                  {{/gt}}
                </td>
                <td class="no-border right-text" width="11%"><label class="desc-text">验收时间：</label></td>
                <td class="no-border left-text" width="20%">{{formatDate acceptedAt}}</td>
                <td class="no-border right-text" width="11%"><label class="desc-text">结算单号：</label></td>
                <td class="no-border left-text" width="20%">
                  {{#equals _USER_.id purchaserId}}
                    <a
                      href="/settlement/purchaser-manage/detail?finalStatementId={{finalStatementId}}">{{finalStatementNo}}</a>
                  {{else}}
                    <a
                      href="/settlement/supplier-manage/detail?finalStatementId={{finalStatementId}}">{{finalStatementNo}}</a>
                  {{/equals}}
                </td>
              </tr>
              <tr class="no-border" title="{{comment}}">
                <td class="no-border right-text" width="11%"><label class="desc-text">备注：</label></td>
                <td class="no-border" colspan="5" style="text-align: left" width="88%">
                  <div style="display:inline-block;width: 700px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{#if comment}}{{comment}}{{else}}--{{/if}}</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="order-form-detail-about detailStatus pull-right">
            <table class="table">
              <tbody>
              <tr class="no-border">
                <td class="no-border"></td>
              </tr>
              <tr class="no-border">
                <td class="no-border left-text" style="color:#bbb;">订单状态：</td>
              </tr>
              <tr class="no-border">
                <td style="font-size:16px;color:#F79000;" class="no-border left-text">
                  {{#equals status -5}}订单取消{{/equals}}
                  {{#equals status -4}}订单待取消{{/equals}}
                  {{#equals status -2}}供应商拒单{{/equals}}
                  {{#equals status 0}}待供应商接单{{/equals}}
                  {{#equals status 1}}待发货{{/equals}}
                  {{#equals status 2}}部分发货{{/equals}}
                  {{#equals status 3}}{{#equals isNeedReissue false}}全部发货{{/equals}}{{/equals}}
                  {{#equals status 3}}{{#equals isNeedReissue true}}全部发货(待补发货){{/equals}}{{/equals}}
                  {{#equals status 4}}待验收{{/equals}}
                  {{#equals status 5}}已验收,交易完成{{/equals}}
                  {{#equals status 6}}启动结算{{/equals}}
                  {{#equals status 7}}已完成{{/equals}}
                  {{#equals status 10}}退换货中{{/equals}}
                  {{#equals status -6}}全部退货{{/equals}}
                  {{#equals status 11}}待卖家发起定价{{/equals}}
                  {{#equals status 12}}待买家确认定价{{/equals}}
                  {{#equals status 13}}定价驳回{{/equals}}
                </td>
              </tr>
              <tr class="no-border">
                <td class="no-border"></td>
              </tr>
              </tbody>
            </table>
          </div>
        {{/with}}
      </div>
    </div>
    <div class="trade-panel" id="Anchor">
      <div class="trade-panel-top">
        <div class="trade-panel-title">
          <span>商品信息</span>
        </div>
      </div>
      <div class="trade-panel-body">
        <div class="goodsListContent">
          <div class="trade-panel">
            <div class="trade-panel-top">
              <div class="trade-panel-title">
                <table style="border: none;">
                  <thead>
                  <td class="tabletop" style="width:38%;">商品</td>
                  <td class="tabletop" style="width:10%;">单价(元)</td>
                  <td class="tabletop" style="width:10%;">数量</td>
                  {{#equals _DATA_.order.orderType '2'}}
                    <td class="tabletop" style="width:10%;">已收货数量</td>
                    <td class="tabletop" style="width:20%;">商品批号</td>
                  {{else}}
                    <td class="tabletop" style="width:30%;">已收货数量</td>
                  {{/equals}}
                  <td class="tabletop" style="width:10%;text-align:center;">状态</td>
                  </thead>
                </table>
              </div>
            </div>
          </div>
          <div style="margin-bottom:10px;">
            {{#each _DATA_.shipmentWithItems}}
              <table class="table table-striped" style="margin-bottom: 10px;">
                <thead>
                <tr>
                  <th colspan="{{#equals _DATA_.order.orderType '2'}}6{{else}}5{{/equals}}" class="left-text">
                    <span style="margin-right:20px;">发货单号：{{orderShipment.id}}</span>
                    {{#equals orderShipment.shipmentType 2}}
                      <span style="margin-right:10px;">送货上门 </span>
                      <span>送货时间:{{formatDate orderShipment.createdAt}}</span>
                    {{else}}
                      <span style="margin-right:10px;">{{orderShipment.expressName}}</span>
                      <span data-expresscode="{{orderShipment.expressCode}}"
                            data-shipmentno="{{orderShipment.shipmentNo}}">运单号：{{orderShipment.shipmentNo}}</span>
                      <span class="more">更多 <i class="icon-zcy icon-xiangxiazhedie toggle-tool"
                                               style="font-size:12px;"></i>
                  </span>
                      <span style="margin-left:20px;">地址：</span>
                      <span>{{orderShipment.province}}{{orderShipment.city}}{{orderShipment.region}}{{orderShipment.street}}{{orderShipment.detail}}
                        ({{orderShipment.receiver}} 收) {{#if orderShipment.mobile}}{{orderShipment.mobile}}{{else}}{{#if
                          orderShipment.areaCode}}{{orderShipment.areaCode}}-{{/if}}{{orderShipment.phone}}{{#if
                          orderShipment.phoneExt}}&nbsp;&nbsp;{{orderShipment.phoneExt}}{{/if}}{{/if}}</span>
                    {{/equals}}
                  </th>
                </tr>
                </thead>
                <tbody>
                {{#each shipmentItemExts}}
                  <tr data-shipment-id="{{../orderShipment.id}}">
                    <td width="38%" class="left-text"><span><a href="/items/{{itemId}}">{{itemName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;<span
                      class="sku-attrs">{{#each attributeMap}}{{!-- {{@key}}: --}}{{this}}
                      &nbsp;&nbsp;{{/each}}</span></span></td>
                    <td width="10%" style="color:#F79000;">{{formatPrice skuPrice}}</td>
                    <td width="10%">{{#equals quantity -1}}不限{{else}}{{quantity}}{{/equals}}</td>
                    <td width="{{#equals _DATA_.order.orderType '2'}}10%{{else}}30%{{/equals}}"
                        style="text-align: left;">
                      {{receiveQuantity}}
                      {{#if backQuantity}}退货：{{backQuantity}}{{/if}}
                      {{#if swapQuantity}}换货：{{swapQuantity}}{{/if}}
                    </td>
                    <!--疫苗订单显示商品批号信息 -->
                    {{#equals _DATA_.order.orderType '2'}}
                      <td width="20%">
                        {{#each vaccineItemExts}}
                          <div class="batchNumber">
                            <span>{{batchNum}}</span>
                            <span>(数量：{{quantity}})</span>
                            <span>&nbsp;&nbsp;有效期：{{effectiveDateStart}}~{{effectiveDateEnd}}</span><br>
                            <span class="js-ossFile" data-file="{{json ossFileIds.[0]}}"></span>
                            <span class="js-ossFile" data-file="{{json ossFileIds.[1]}}"></span>
                            <span class="js-ossFile" data-file="{{json ossFileIds.[2]}}"></span>
                          </div>
                        {{/each}}
                      </td>
                    {{/equals}}
                    {{#equals @index 0}}
                      <td width="10%" rowspan="{{../itemLength}}" style="border:1px solid #CCD0D6;text-align: center;">
                        {{#equals ../orderShipment.status 0}}
                          {{#equals ../../_USER_.type 1}}
                            <a href="javascript:void(0)" class="js-confirm-receiving">确认收货</a>
                          {{/equals}}
                        {{/equals}}
                        {{#equals ../orderShipment.status 1}}
                          <div>部分收货</div>
                        {{/equals}}
                        {{#equals ../orderShipment.status 2}}
                          <div>全部收货</div>
                        {{/equals}}
                      </td>
                    {{/equals}}
                  </tr>
                {{/each}}
                </tbody>
              </table>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{#ifCond _DATA_.order.status '>' 4}}
      <div class="trade-panel">
        <div class="trade-panel-top">
          <div class="trade-panel-title">定价管理</div>
        </div>
        <div class="trade-panel-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th width="35%">商品</th>
              <th width="20%">
                单价（元）
                {{#if setPrice}}<br><label>录入单价时请核对杭州粮油批发网站和以下商品的计量单位</label>{{/if}}
              </th>
              <th width="10%">数量</th>
              <th width="10%">下浮率</th>
              <th width="10%">折后价</th>
              <th width="15%">定价截图&nbsp;<i class="icon-zcy icon-notify-warning js-price-file"></i></th>
            </tr>
            </thead>
            <tbody class="price-set-form">
            {{#each _DATA_.orderItemsToSetPrice}}
              <tr data-sku-id="{{orderItem.skuId}}">
                <td class="left-text">
                <span><a href="/items/{{orderItem.itemId}}">{{orderItem.itemName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="sku-attrs">
                    {{#each orderItem.attributeMap}}
                      {{this}}&nbsp;&nbsp;
                    {{/each}}
                  </span>
                </span>
                </td>
                <td>
                  {{#if setPrice}}
                    <input type="text" class="js-price-input"
                           value="0"
                           data-order-id="{{_DATA_.order.id}}"
                           data-sku-id="{{orderItem.skuId}}"
                           maxlength="9"
                           checker-pattern="^(\d+|\d+.\d{1,2})$" icon="false">
                  {{else}}
                    <span class="price">{{formatPrice orderItem.skuOriginPrice}}</span>
                  {{/if}}
                </td>
                <td>{{orderItem.quantity}}</td>
                <td class="js-decreaseRate" data-extra="{{orderItem.extra}}"></td>
                <td class="js-discount-price">{{formatPrice orderItem.skuPrice}}</td>
                <td class="text-right">
                  {{#if uploadOuterPrice}}
                    <button class="btn btn-ghost btn-icon update-btn" type="button" onclick="$(this).next().click()" {{#if outerPriceFiles}}style="display: none;"{{/if}}>
                      <span class="icon-zcy icon-shangchuan mr"></span>&nbsp;上传附件
                    </button>
                    <input type="file" name="files" style="display:none" class="js-item-upload-file" data-sku-id="{{orderItem.skuId}}">
                    <input type="hidden" name="itemFile" {{#gt (size outerPriceFiles) 0}}value="1"{{/gt}} icon="false" checker-text="false" required>
                    {{#each outerPriceFiles}}
                    {{!--
                      <span class="fileItem">
                      <i class="icon-zcy icon-fujian mr"></i>
                      <a href="{{filePath}}" target="_blank" class="fileName">{{fileName}}</a>
                      <a class="" data-file-id="{{id}}">&times;</a>
                      </span>
                     --}}
                        <div class="image-show-block">
                          <img src="{{filePath}}">
                          <button class="deleteFile" data-file-id="{{id}}">&times;</button>
                        </div>
                    {{/each}}
                  {{else}}
                    {{#each outerPriceFiles}}
                        {{!--
                        <span class="fileItem">
                        <i class="icon-zcy icon-fujian mr"></i>
                        <a href="{{filePath}}" target="_blank" class="fileName">{{fileName}}</a>
                        </span>
                        --}}
                        <div class="image-show-block">
                          <img src="{{filePath}}">
                        </div>
                    {{/each}}
                  {{/if}}
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
          <div class="order-total-price">累积金额：<span class="js-total-price price">{{#if _DATA_.priceSetAmount}}{{formatPrice _DATA_.priceSetAmount}}{{else}}0.00{{/if}}</span></div>
        </div>
      </div>
    {{/ifCond}}

    {{!-- xinzeng --}}
    {{#ifCond _DATA_.order.orderType '!=' 1}}
      {{#if _DATA_.invoiceWithCounts}}
        <div class="order-invoices">
          <div class="trade-panel">
            <div class="trade-panel-top">
              <div class="trade-panel-title">发票信息</div>
            </div>
            <div class="trade-panel-body">
              <table class="table table-striped">
                <thead>
                <tr>
                  <!--<th width="40%">发票寄送地址</th>-->
                  <th width="10%">货票同行</th>
                  <th width="15%">发票类型</th>
                  <th width="20%">发票抬头信息</th>
                  <th width="15">开户行</th>
                  <th width="15">开户行账号</th>
                  <th width="15">纳税人识别号<i class="icon-zcy icon-warningfill js-invoice-popover"></i></th>
                  <th width="10%" class="td-operation">操作</th>
                </tr>
                </thead>
                <tbody>
                {{#each _DATA_.invoiceWithCounts}}
                  {{#with invoice}}
                    <tr class="item-tr" data-id="{{id}}" data-orderid="{{orderId}}" data-invoiceid="{{invoiceId}}">
                      {{!--
                      <td>
                        <label data-provinceid="{{provinceId}}">{{province}}</label><label
                        data-cityid="{{cityId}}">{{city}}</label><label
                        data-regionid="{{regionId}}">{{region}}</label><label
                        data-streetid="{{streetId}}">{{stree}}</label>{{detail}}&nbsp;&nbsp;&nbsp;&nbsp;{{receiver}}&nbsp;&nbsp;&nbsp;&nbsp;{{#if
                        mobile}}{{mobile}}{{else}}{{#if areaCode}}{{areaCode}}-{{/if}}{{phone}}{{#if phoneExt}}
                        &nbsp;&nbsp;{{phoneExt}}{{/if}}{{/if}}
                      </td>
                      --}}
                      <td>
                        {{#equals invoiceBillingMode 1}}
                          否
                        {{else}}
                          是
                        {{/equals}}
                      </td>
                      <td>
                        {{#equals invoiceType 0}}普通发票{{/equals}}
                        {{#equals invoiceType 1}}增值税普通发票{{/equals}}
                        {{#equals invoiceType 2}}增值税专用发票{{/equals}}
                      </td>
                      <td data-invoiceid="{{invoiceId}}">{{invoiceTitle}}</td>
                      <td>{{#if depositeBank}}{{depositeBank}}{{else}}－{{/if}}</td>
                      <td>{{#if bankAccount}}{{bankAccount}}{{else}}－{{/if}}</td>
                      <td>{{#if taxId}}{{taxId}}{{else}}－{{/if}}</td>
                      <td class="td-operation"><a class="js-show-inv-item-list">查看商品({{../invoiceTypeCount}})</a></td>
                    </tr>
                  {{/with}}
                {{else}}
                  <tr>
                    <td colspan="4" class="center-text">无可展示信息</td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {{/if}}
      {{#of _DATA_.order.status '5,12'}}
        <div class="order-payments">
          <div class="trade-panel">
            <div class="trade-panel-top">
              <div class="trade-panel-title">预算信息</div>
            </div>
            <div class="trade-panel-body">
              {{#inject "buyer/order_form_detail/order_plan_manage"
                        items=_DATA_.itemWithPayInfos
                        orderId=orderId
                        confirmationFee=_DATA_.planAmount
                        otherFee=_DATA_.unplanAmount
                        actuallyFee=_DATA_.order.fee}}
              {{/inject}}
            </div>
          </div>
        </div>
      {{/of}}
    {{/ifCond}}
    <div class="trade-panel">
      <div class="trade-panel-top">
        <div class="trade-panel-title">验收单与检测报告</div>
        {{#gt (size _DATA_.qualificationCertificateFiles) 0}}
          <input type="hidden" class="js-has-qualification" value="1">
        {{/gt}}
        {{#gt (size _DATA_.acceptanceFiles) 0}}
          <input type="hidden" class="js-has-acceptance" value="1">
        {{/gt}}
      </div>
      <div class="trade-panel-body">
        <div class="images-list acceptance-files">
          <label class="title">{{#if uploadAcceptance}}上传{{/if}}验收单</label>
          <ul>
            {{#each _DATA_.acceptanceFiles}}
              <li>
                <div class="image-show-block">
                  <img src="{{filePath}}">
                  {{#if uploadAcceptance}}
                    <button class="delete-btn" data-file-id="{{id}}">&times;</button>
                  {{/if}}
                </div>
              </li>
            {{/each}}
          </ul>
          {{#if uploadAcceptance}}
            <button class="upload-file" data-order-id="{{_DATA_.order.id}}"><i class="icon-zcy icon-add"></i></button>
          {{/if}}
        </div>
        <div class="images-list qualification-certificate-files">
          <label class="title">{{#if uploadQualification}}上传{{/if}}检测报告</label>
          <ul>
            {{#each _DATA_.qualificationCertificateFiles}}
              <li>
                <div class="image-show-block">
                  <img src="{{filePath}}">
                  {{#if uploadQualification}}
                    <button class="delete-btn" data-file-id="{{id}}">&times;</button>
                  {{/if}}
                </div>
              </li>
            {{/each}}
          </ul>
          {{#if uploadQualification}}
            <button class="upload-file" data-order-id="{{_DATA_.order.id}}"><i class="icon-zcy icon-add"></i></button>
          {{/if}}
        </div>
      </div>
    </div>
    {{#equals _DATA_.order.hasReturn  true }}
      <div class="order-payments">
        <div class="trade-panel">
          <div class="trade-panel-top">
            <div class="trade-panel-title">
              退货信息
            </div>
          </div>
          <div class="trade-panel-body">
            <table class="table table-striped" style="margin-top:10px;">
              <thead>
              <tr>
                <th width="20%"> 退换货单号</th>
                <th width="20%">原因</th>
                <th width="20%">退换货方式</th>
                <th width="20%">状态</th>
                <th width="20%" class="td-operation">操作</th>
              </tr>
              </thead>
              <tbody>
              {{#each _RETURN_}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{returnReason}}</td>

                  <td>
                    {{#equals returnType 1}}物流{{/equals}}
                    {{#equals returnType 2}}上门取件{{/equals}}
                  </td>
                  <td>
                    {{#equals status  1}}待供应商确认{{/equals}}
                    {{#equals status -1}}供应商拒绝{{/equals}}
                    {{#equals status -2}}采购人撤销{{/equals}}
                    {{#equals status  2}}待采购人退换货{{/equals}}
                    {{#equals status  3}}待供应收货{{/equals}}
                    {{#equals status  4}}换货{{/equals}}
                    {{#equals status  5}}供应商部分发货{{/equals}}
                    {{#equals status  6}}供应商全部发货{{/equals}}
                    {{#equals status  9}}待供应商上门取货{{/equals}}
                    {{#equals status 10}}退换货结束{{/equals}}
                  </td>
                  {{!-- 后期URL可能会区分 --}}
                  <td><a href='/buyer/back-change/purchaser-info?returnOrderId={{id}}' class="lookdetail">查看详情</a></td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {{else}}
      {{#equals _DATA_.order.status  10}}
        <div class="order-payments">
          <div class="trade-panel">
            <div class="trade-panel-top">
              <div class="trade-panel-title">
                退货信息
              </div>
            </div>
            <div class="trade-panel-body">
              <table class="table table-striped" style="margin-top:10px;">
                <thead>
                <tr>
                  <th width="20%"> 退换货单号</th>
                  <th width="20%">原因</th>
                  <th width="20%">退换货方式</th>
                  <th width="20%">状态</th>
                  <th width="20%" class="td-operation">操作</th>
                </tr>
                </thead>
                <tbody>
                {{#each _RETURN_}}
                  <tr>
                    <td>{{id}}</td>
                    <td>{{returnReason}}</td>

                    <td>
                      {{#equals returnType 1}}物流{{/equals}}
                      {{#equals returnType 2}}上门取件{{/equals}}
                    </td>
                    <td>
                      {{#equals status  1}}待供应商确认{{/equals}}
                      {{#equals status -1}}供应商拒绝{{/equals}}
                      {{#equals status -2}}采购人撤销{{/equals}}
                      {{#equals status  2}}待采购人退换货{{/equals}}
                      {{#equals status  3}}待供应收货{{/equals}}
                      {{#equals status  4}}换货{{/equals}}
                      {{#equals status  5}}供应商部分发货{{/equals}}
                      {{#equals status  6}}供应商全部发货{{/equals}}
                      {{#equals status  9}}待供应商上门取货{{/equals}}
                      {{#equals status 10}}退换货结束{{/equals}}
                    </td>
                    <td><a href='/buyer/back-change/purchaser-info?returnOrderId={{id}}' class="lookdetail">查看详情</a>
                    </td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {{/equals}}
    {{/equals}}

    {{!-- 浏览日志 --}}
    <div class="order-payments">
      <div class="trade-panel">
        <div class="trade-panel-top">
          <div class="trade-panel-title">流转日志
          </div>
        </div>
        <div class="trade-panel-body">
          {{#inject "common/flow_log"}}
            {
            "bizType": 10001,
            "targetId": "{{orderId}}"
            }
          {{/inject}}
        </div>
      </div>
    </div>
  </div>
{{/component}}
{{!-- 弹框部分 --}}
<div style="display: none;" class="trade-panel moreModal"></div>

<!--验收单上传弹窗-->
<div class="modal modal-image-selector hide" id="upload-order-file-modal-acceptance">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h2>验收单上传</h2>
  </div>
  <div class="modal-body">
    <span class="modal-body-heading">
      <span class="modal-body-heading-note">提示：请您打印验收单之后签字，再拍照上传。</span>
      <a class="btn btn-info pull-right js-print-order-file" target="_blank">打印验收单</a>
    </span>
    <div class="btn btn-upload btn-primary mt">
      <span class="modal-body-heading">
        <span>上传验收单</span>
        <input type="file" name="file" id="order-file-upload-acceptance" multiple="">
      </span>
    </div>
    <div class="modal-body-content">
      <ul class="modal-image-list">
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-small btn-primary" disabled="disabled" id="order-file-submit-acceptance">提交</button>
    <button class="btn btn-small btn-minor close" type="button">取消</button>
  </div>
</div>

<!--检测报告上传弹窗-->
<div class="modal modal-image-selector hide" id="upload-order-file-modal-qualification">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h2>检测报告上传</h2>
  </div>
  <div class="modal-body">
    <div class="btn btn-upload btn-primary mt">
      <span class="modal-body-heading">
        <span>上传检测报告</span>
        <input type="file" name="file" id="order-file-upload-qualification" multiple="">
      </span>
    </div>
    <div class="modal-body-content">
      <ul class="modal-image-list">
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-small btn-primary" disabled="disabled" id="order-file-submit-qualification">提交</button>
    <button class="btn btn-small btn-minor close" type="button">取消</button>
  </div>
</div>