{{#component "procurement-edit js-comp"}}
  <div class="hide">{{json}}</div>
  <div class="panel list-panel">

    <div class="panel-header">
      采购意向详情
      <div class="pull-right">
        <button type="button" class="btn btn-info back">返回</button>
        {{#equals _USER_.currentCategory "02"}}
          <button type="button" class="btn btn-info reback" data-name="{{_USER_.orgName}}">响应</button>
        {{/equals}}
      </div>
    </div>

    <div class="panel-body">

      <table class="table">
        <tbody>
        <tr>
          <th>采购需求</th>
          <td colspan="5" style="font-weight: bold">{{_DATA_.name}}</td>
        </tr>
        <tr>
          <th>编号</th>
          <td colspan="5">{{_DATA_.displayNo}}</td>
        </tr>
        <tr>
          <th style="width: 16.7%">采购单位</th>
          <td style="width: 16.7%">{{_DATA_.organName}}</td>
          <th style="width: 16.7%">联系人</th>
          <td style="width: 16.7%">{{_DATA_.contact}}</td>
          <th style="width: 16.7%">联系方式</th>
          <td style="width: 16.7%">{{_DATA_.cellphone}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table">
        <tbody>
        <tr>
          <th style="width: 16.7%">采购目录</th>
          <td style="width: 16.7%">{{_DATA_.gpcategoryName}}</td>
          <th style="width: 16.7%">商品品牌</th>
          <td style="width: 16.7%">{{_DATA_.brandName}}</td>
          <th style="width: 16.7%">商品型号</th>
          <td style="width: 16.7%">{{_DATA_.specificationName}}</td>
        </tr>
        <tr>
          <th>商品类目</th>
          <td colspan="5"><div style="max-height: 52px;overflow: hidden" title="{{_DATA_.categoryNames}}">{{_DATA_.categoryNames}}</div></td>
        </tr>
        <tr>
          <th>购买数量</th>
          <td>{{_DATA_.quantity}}</td>
          <th>预计下单时间</th>
          <td>{{formatDate _DATA_.orderedAt}}</td>
          <th>公告截止日期</th>
          <td>{{formatDate _DATA_.noticedAt "day"}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table">
        <tbody>
        <tr>
          <th style="width: 16.7%">参考商品链接</th>
          <td colspan="5"><a class="urllink" href="{{_DATA_.referenceUrl}}" target="_blank">{{_DATA_.referenceUrl}}</a></td>
        </tr>
        <tr>
          <th>参数</th>
          <td colspan="5">{{_DATA_.parameter}}</td>
        </tr>
        <tr>
          <th>附件</th>
          <td colspan="5" class="downloadFile">
            <div class="col-md-11" id="attachment" data-file="{{_DATA_.adjunctUrl}}"></div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

  <div class="panel">

    <div class="panel-header">
      供应商
    </div>

    <div class="panel-body" id="supplier-list">
      <table class="table">
        <thead>
        <tr>
          <th>商品名称</th>
          <th>商品单价（元）</th>
          <th>供应商名称</th>
          <th>联系人</th>
          <th>联系电话</th>
          <th>回复内容</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
        {{#equals _SUPPLIER_.length 0}}
          <tbody data-hasdata="false">
          <tr>
            <td colspan="8" style="text-align: center;">
              当前的列表中没有内容
            </td>
          </tr>
          </tbody>
        {{else}}
          <tbody data-hasdata="true">
          {{#each _SUPPLIER_}}
            <tr data-id="{{id}}">
              <td style="color: #0085B2;width: 20%"><a href="{{productUrl}}">{{itemName}}</a></td>
              <td style="color: #FD872E;">
                {{#ifCond unitPrice ">" 0}}
                  {{formatPrice unitPrice}}
                {{/ifCond}}
                 &nbsp;
                </td>
              <td>{{supplierName}}</td>
              <td>{{contact}}</td>
              <td>{{cellphone}}</td>
              <td style="width: 20%">{{content}}</td>
              <td>{{#equals status 1}}有货{{/equals}}{{#equals status 2}}无货{{/equals}}</td>
              <td>{{#if operaters}}<a href="javascript:;">删除</a>{{/if}}</td>
            </tr>
          {{/each}}
          </tbody>
        {{/equals}}
      </table>
    </div>

  </div>

{{/component}}