{{#component "js-comp buyer_back-change_supplier-form"}}
{{!json}}

<span style="display: none;" class="envhrfe">{{_ENV_HREF_.middle}}</span>
    <div class="component">
        <div class="component-header">
            退换货单基本信息
        </div>
        <div class="component-body">
            <table class="table border-none">
                <tbody>
                <tr>
                    <th>退换货单号</th>
                    <td>{{_DATA_.id}}</td>
                    <th>订单号</th>
                    <td><a class="order-info" href="javascript:;">{{_DATA_.orderId}}</a></td>
                    <th>创建时间</th>
                    <td>{{_DATA_.createdAt}}</td>
                </tr>
                <tr>
                    <th>采购单位</th>
                    <td>{{_DATA_.purchaserOrgName}}</td>
                    <th>创建人</th>
                    <td>{{_DATA_.createrName}}</td>
                    <th>联系电话</th>
                    <td>{{_DATA_.createrContactMobile}}</td>
                </tr>
                <tr>
                    <th>供应商</th>
                    <td>{{_DATA_.supplierOrgName}}</td>
                    <th>联系人</th>
                    <td>{{_DATA_.supplierContact}}</td>
                    <th>联系电话</th>
                    <td>{{_DATA_.supplierContactMobile}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="component">
        <div class="component-header">
            退换货信息
        </div>
        <div class="component-body">
            <table class="table border-none">
                <tbody>

                {{!物流发货}}
                {{#equals _DATA_.returnType 1}}
                    <tr>
                        <th>换货方式</th>
                        <td>物流发货</td>
                    </tr>
                    {{#if _DATA_.purchaserAddr}}
                        <tr>
                            <th>采购人收货地址</th>
                            <td>{{#with _DATA_.purchaserAddr}}{{province}} {{city}} {{region}} {{street}} {{details}} ({{receiverName}} 收) {{mobile}}{{/with}}</td>
                        </tr>
                    {{/if}}
                    {{#if _DATA_.supplierAddr}}
                        <tr>
                            <th>供应商收货地址</th>
                            <td>{{#with _DATA_.supplierAddr}}{{province}} {{city}} {{region}} {{street}} {{details}} ({{receiverName}} 收) {{mobile}}{{/with}}</td>
                        </tr>
                    {{/if}}
                {{/equals}}

                {{!上门取件}}
                {{#equals _DATA_.returnType 2}}
                    <tr>
                        <th>换货方式</th>
                        <td>上门取件</td>
                    </tr>
                    <tr>
                        <th>取件地址</th>
                        <td>{{#if _DATA_.purchaserAddr}}{{#with _DATA_.purchaserAddr}}{{province}} {{city}} {{region}} {{street}} {{details}} ({{receiverName}} 收) {{mobile}}{{/with}}{{/if}}</td>
                    </tr>
                {{/equals}}

                <tr>
                    <th>换货原因</th>
                    <td class="color #FF9147">{{_DATA_.returnReason}}</td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td>{{_DATA_.remark}}</td>
                </tr>
                <tr>
                    <th>附件上传</th>
                    <td>
                        <div id="uploadFile">
                            <div class="uploadFile">
                                {{inject "common/uploadFile/download" _FILE_DATA_=_DATA_.returnFiles}}
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                <tr>
                    <td>商品名称</td>
                    <td>单价（元）</td>
                    <td>总数量</td>
                    <td>采购计划</td>
                    <td>数量</td>
                    <td>退货数量</td>
                    <td>换货数量</td>
                </tr>
                </thead>
                <tbody>
                {{#each _DATA_.returnItems}}
                    <tr>
                        <td><span class="rowspan #20">{{itemName}}</span></td>
                        <td><span class="rowspan #66 color #FF9147">{{formatPrice skuPrice}}</span></td>
                        <td><span class="rowspan #66">{{totalQuantity}}</span></td>
                        <td>{{#each pplanRelations}}<span class="rowspan #28">{{confirmationNo}}</span>{{/each}}</td>
                        <td>{{#each pplanRelations}}<span class="rowspan #28">{{quantity}}</span>{{/each}}</td>
                        <td>{{#each pplanRelations}}<span class="rowspan #28">{{backQuantity}}</span>{{/each}}</td>
                        <td><span class="rowspan #66">{{swapQuantity}}</span></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    {{#equals _DATA_.returnType 1}}
        <div class="component">
            <div class="component-header">
                采购人物流信息
            </div>
            <div class="component-body">

                {{!流转日志}}
                <div class="zcy-timeline">
                    {{#if _DATA_.purchaserShipment}}
                        {{#each _DATA_.purchaserShipment.expressInfo}}
                            {{#if @last}}
                                {{#each expressSteps}}
                                    <div class='sr-row trans-info down last'>
                                        <div class='sr-line line-solid'></div>
                                        <div class='sr-dot {{#if @last}}dot-success{{/if}}'></div>
                                        <label class="ml mr">{{time}}</label>
                                        <label class="ml mr">{{desc}}</label>
                                    </div>
                                {{/each}}
                            {{else}}
                                {{#each expressSteps}}
                                    <div class='sr-row trans-info down'>
                                        <div class='sr-line line-solid'></div>
                                        <div class='sr-dot {{#if @last}}dot-success{{/if}}'></div>
                                        <label class="ml mr">{{time}}</label>
                                        <label class="ml mr">{{desc}}</label>
                                    </div>
                                {{/each}}
                            {{/if}}
                        {{else}}
                            暂无物流信息
                        {{/each}}
                    {{else}}
                        暂无物流信息
                    {{/if}}
                </div>

                {{!备注}}
                {{#if _DATA_.supplierAddr}}
                    <div class="remark">
                        <span>供应商收货地址</span>{{#with _DATA_.supplierAddr}}{{province}} {{city}} {{region}} {{street}} {{details}} ({{receiverName}} 收) {{mobile}}{{/with}}
                    </div>
                {{/if}}

            </div>
        </div>
    {{/equals}}

    <div class="component">
        <div class="component-header">
            流转日志
        </div>
        <div class="component-body">

            {{!流转日志}}
            <div class="zcy-timeline">
                {{#each _LOG_}}
                    <div class='sr-row trans-info down'>
                        {{#if @index}}<div class='sr-line line-solid'></div>{{/if}}
                        <div class='sr-dot {{#if @last}}dot-blue{{/if}}'></div>
                        <label class="ml mr" style="width: 120px;">{{createdAt}}</label>
                        <label class="ml mr" style="width: 120px;">{{checkerOrg}}</label>
                        <label class="ml mr" style="width: 120px;">{{checkerName}}</label>
                        <label class="ml mr" style="width: 120px;">
                            {{#equals status  1}}创建退换货单{{/equals}}
                            {{#equals status -1}}供应商不同意{{/equals}}
                            {{#equals status -2}}撤销{{/equals}}
                            {{#equals status  2}}同意{{/equals}}
                            {{#equals status  3}}采购人发货{{/equals}}
                            {{#equals status  4}}供应商收获{{/equals}}
                            {{#equals status  5}}供应商部分发货{{/equals}}
                            {{#equals status  6}}供应商全部发货{{/equals}}
                            {{#equals status  9}}待上门取货{{/equals}}
                            {{#equals status 10}}退换货结束{{/equals}}
                        </label>
                        <label class="ml mr" style="width: 120px;">{{checkerComment}}</label>
                    </div>
                {{else}}
                    暂无流转日志
                {{/each}}
            </div>

        </div>
    </div>

    <div class="component form returnBox">
        <div class="component-header">
            退货单确认
        </div>
        <div class="component-body">
          <div style="margin-top:20px;">
            <span  style="text-align:right;padding-right:20px; display:inline-block;width:120px;">确定结果：</span>
            <span  style="text-align:left;display:inline-block;height:14px;line-height:14px;">
              <input class="input-radio agree" type="radio" name="sureResult" checked /> 
              <span style="display:inline-block;vertical-align:top;">同意&nbsp;&nbsp; </span>
              <input class="input-radio disagreee" type="radio" name="sureResult"> 
              <span style="display:inline-block;vertical-align:top;">不同意</span>
            </span>
          </div>
          {{#equals _DATA_.returnType 2}}
          <div class="pickTime" style="margin-top:20px;">
            <span style="text-align:right;padding-right:20px; display:inline-block;width:120px;">{{!-- <label class="required">*</label> --}}预计取件时间：</span>
            <span  style="text-align:left;">
            <input type="text" class="date-input timeStartInput" name="timeStart" placeholder="开始时间" /> - <input type="text" class="date-input timeEndInput" name="timeEnd" placeholder="结束时间" />
            </span>
          </div>
          {{else}}
           <div class="addressSelect" style="margin-top:20px;">
            <span  style="text-align:right;padding-right:20px; display:inline-block;width:120px;">{{!-- <label class="required">*</label> --}}收货地址：</span>
            <span  style="text-align:left;">  
              <select name="receiptAddress"  id="receiptAddress">
                <option value="">请选择</option>
                {{#each _ADDRESS_}}
                <option value="{{id}}">{{province}}{{city}}{{region}}{{street}}{{details}}{{receiverName}}{{mobile}}</option>
                {{/each}}
              </select>
              <span class="btn btn-secondary tttt" style="" id="createModal" data-toggle="modal" data-target="#create">添加地址</span>
            </span>
          </div>
          {{/equals}}
          <div style="margin-top:20px;">
            <span  style="text-align:right;padding-right:20px; display:inline-block;width:120px;">备注：</span>
            <span  style="text-align:left;">
              <textarea name="remark" id="" cols="30" rows="10" style="width:260px;height:60px;"></textarea>
            </span>
          </div>
          <div style="margin-top:20px;">
            <span  style="text-align:right;padding-right:20px; display:inline-block;width:120px;"></span>
            <span  style="text-align:left;">
              <span class="btn btn-primary btn-medium" id="returnGoodsSubmit">提交</span>&nbsp;&nbsp;
              <span class="btn btn-secondary btn-medium" id="createCancel">取消</span>
            </span>
          </div>
           
        </div>
    </div>
    <!--添加地址弹框-->
    <div id="create" class="modal" style="display:none">
      <div>
        <div class="modal-header form-control"></div>
        <div class="modal-body form-control" style="min-width:753px;"></div>
        <div class="modal-footer form-control">
          <button class="btn  btn-primary btn-medium" id="createSave">保存</button>
          <button class="btn  btn-medium close" id="createCancel">取消</button>
        </div>
      </div>
    </div>
   
{{/component}}