<div><strong><span class="req-title">发票信息</span></strong></div>
<table class="table" id="invoiceTab">
  <thead>
  <tr>
    <td width="20%">类型</td>
    <td width="20%">发票抬头</td>
    <td width="20%">发票代码</td>
    <td width="15%">发票号码</td>
    <td width="15%">纳税人识别号<i class="icon-zcy icon-warningfill js-invoice-popover"></i></td>
    <td width="10%">发票附件</td>
  </tr>
  </thead>
  <tbody>
  {{#each result}}
    <tr data-id="{{invoiceId}}">
      <td class="text-left">
        {{#equals invoiceType 0}}普通发票{{/equals}}
        {{#equals invoiceType 1}}增值税普通发票{{/equals}}
        {{#equals invoiceType 2}}增值税专用发票{{/equals}}
      </td>
      <td>{{invoiceTitle}}</td>
      <td>{{invoiceCode}}</td>
      <td>{{invoiceNo}}</td>
      <td>{{#if taxId}}{{taxId}}{{else}}－{{/if}}</td>
      <td>
        <a href="{{attachFile.downloadUrl}}">
          <img src="{{attachFile.downloadUrl}}" width="20" height="20">
        </a>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="5">暂时没有发票信息</td>
    </tr>
  {{/each}}
  </tbody>
</table>