<div class="modal batch-on-result">
  <div class="modal-header">
    上架信息
  </div>
  <p class="hide">{{json this}}</p>
  <div class="modal-body">
    <div class="summary">上架成功商品数：<span class="text-success">{{successCount}}</span>，失败商品数：<span class="text-danger">{{failCount}}</span>
    {{#gt failCount 0}}，原因明细如下{{/gt}}
    </div>
  {{#gt failCount 0}}
    <div class="failed-record">
      {{#each failDetail}}
        <span>{{itemId}}</span>
        <span>{{itemName}}</span>
        <span>{{signDistrictName}}：{{error}}</span>
        <br>
      {{/each}}
    </div>
  {{/gt}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary js-confirm">确定</button>
  </div>

</div>