<ul>
{{#with _TREE_.node}}
  <li data-id="{{id}}" data-code="{{pid}}">
    <label for="">{{name}}</label>
  </li>
  {{/with}}
  {{#each _TREE_.children}}
    <li data-id="{{node.id}}" data-code="{{node.pid}}">
      <label for="">{{node.name}}</label>  
      <ul>
        {{#each children}}
        <li data-id="{{node.id}}" data-code="{{node.pid}}">
          <label for="">{{node.name}}</label>
          <ul>
            {{#each children}}
            <li data-id="{{node.id}}" data-code="{{node.pid}}">
              <label for="">{{node.name}}</label>
            </li>
            {{/each}}
          </ul>
        </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>