{{#if data}}
    {{#each data}}
        <tr>
            <td title="{{purchaser}}">{{purchaser}}</td>
            <td title="{{dealPrice}}">{{dealPrice}}</td>
            <td title="{{dealQuantity}}">{{dealQuantity}}</td>
            <td title="{{totalPrice}}">{{totalPrice}}</td>
            <td title="{{supName}}">{{supName}}</td>
            <td title="{{formatDate dealTime "YYYY/MM/DD"}}">{{formatDate dealTime "YYYY/MM/DD"}}</td>
        </tr>
    {{/each}}
{{else}}
    <tr>
       <td colspan="6" class="text-center">未查询到相关成交记录</td>
    </tr>
{{/if}}

