<thead>
            <tr>
              <th width="20%">供货商名称</th>
              <th width="20%">联系人</th>
              <th width="20%">联系电话</th>
              <th width="20%">公司地址</th>
              <th width="20%">供货范围</th>
            </tr>
          </thead>
          <tbody class="gysSearchData ">
            {{#each _DATA3_.data.dealer}}
            <tr class="appId" data-supcode="{{supRangeCode}}">
              <td>{{supplierName}}</td>
              <td>{{contactName}}</td>
              <td>{{contactPhone}}</td>
              <td>{{fullAddress}}</td>
              <td>{{supRange}}</td>
            </tr>
          {{/each}}
          </tbody>
          <tfoot>
            
              <tr>
                <td colspan="2">
                 </td>
                 <td colspan="3" class="text-right">
                 {{!--<div class="page-size-controller">
                                                      <label>共有<span id="pagination-total" data-total="{{_DATA3_.data.total}}">{{_DATA3_.data.total}}</span>条，每页显示：</label>
                                                      <select class="items-per-page-selector" id="items-per-page-selector">
                                                        <option value="10" selected="">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                      </select>
                                                    </div>--}}
                    <div class="pagination" data-size="20"
                        data-total="{{_DATA3_.data.total}}">
                    </div>
                  </td>
              </tr>
          </tfoot>