{{#component "customer-requisition customer-service-common js-comp"}}
  <p class="hide">{{json this}}</p>
  <div class="panel">
    <div class="search-panel">
      {{inject "customer_service/requisition/search_table/admin"}}
    </div>
    <div>
      <table class="drawer-table" id="data-table">
        <thead>
        <tr>
          <th>需求单号</th>
          <th>需求人</th>
          <th>机构</th>
          <th>时间</th>
          <th>状态</th>
          <th class="text-right">需求单金额（元）</th>
          <th width="30px"></th>
        </tr>
        </thead>
      <tbody>
        {{#unless _DATA_.data}}
        <tr class="level1">
          <td colspan="7" class="text-muted text-center">未查找到相关需求单</td>
        </tr>
        {{else}}
          {{#each _DATA_.data}}
          <tr class="level1">
            <td>
              <a href="/customer/requisition/detail?reqId={{requisition.id}}">{{requisition.id}}</a>
            </td>
            <td>
              {{buyerName}}
            </td>
            <td>
              {{buyerOrgName}}
            </td>
            <td>{{formatDate requisition.createdAt}}</td>
            <td>
              {{#equals requisition.status 1}}<label class="text-muted">审核中</label>{{/equals}}
              {{#equals requisition.status 0}}<label class="text-muted">草稿</label>{{/equals}}
              {{#equals requisition.status 2}}<label class="text-success">审核通过</label>{{/equals}}
              {{#equals requisition.status 10}}<label class="text-muted">已提交至预购单</label>{{/equals}}
              {{#equals requisition.status 11}}<label class="text-muted">已提交至订单</label>{{/equals}}
              {{#equals requisition.status -1}}<label class="text-success">已驳回</label>{{/equals}}
              {{#equals requisition.status -2}}<label class="text-success">已取消</label>{{/equals}}
              {{#equals requisition.status -4}}<label class="text-success">已撤销</label>{{/equals}}
            </td>
            <td class="text-right">
              <label class="price big">{{formatPrice requisition.price}}</label>
            </td>
            <td class="drawer-btn-container expand-btn">
              <i class="icon-zcy icon-xiangxiazhedie"></i>
            </td>
          </tr>
          <tr class="level2">
            <td colspan="7">
              <div class="drawer-panel">
                <table>
                  {{#each requisitionItems}}
                    <tr>
                      <td colspan="2" class="text-center">
                        <input type="hidden" name="" value="{{requisitionItem.itemId}}"/>
                        {{requisitionItem.itemName}}
                      </td>
                      <td colspan="3" class="text-center">
                        <label class="sku-attr text-muted">
                          {{#each sku.attrs}}
                            {{attrKey}}：{{attrVal}}
                          {{/each}}
                        </label>
                        <span class="js-item-services" data-services="{{json services}}"></span>
                      </td>
                      <td>{{requisitionItem.quantity}}</td>
                      <td class="text-right">
                        <label class="price">{{formatPrice requisitionItem.totalPrice}}</label>
                      </td>
                    </tr>
                  {{/each}}
                </table>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
          <tfoot>
          <tr>
            <th colspan="7" class="text-right">
              <div class="list-pagination pagination-danger"
                   data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}"
                   data-total="{{_DATA_.total}}"></div>
            </th>
          </tr>
          </tfoot>
        {{/unless}}
      </table>
    </div>
  </div>
{{/component}}
