{{#if data}}
  <div class="evaluate-contents">
    <div class="evaluate-tabs">
      <ul class="clearfix">
        <li data-filter="all" class="{{#equals data.filter "all"}}active{{/equals}}">
          全部评价
        </li>
        <li data-filter="hasImg" class="{{#equals data.filter "hasImg"}}active{{/equals}}">
          晒图
        </li>
      <li data-filter="append" class="{{#equals data.filter "append"}}active{{/equals}}">
          追评
        </li>
      </ul>
    </div>
    <div class="evaluate-content ">
      {{#if data.evaluateItems}}
        <ul>
          {{#each data.evaluateItems}}
            <li class="clearfix">
              <div class="evaluator-info">
                <span>{{evaluateItem.departName}}</span>
              </div>
              <div class="evaluate-detail">
                <div class="star-wrap">
                  <span class="back-star"></span>
                  <span class="front-star" style="width:{{evaluateItem.starNum}}%"></span>
                </div>
                <p>{{#if evaluateItem.content}}{{evaluateItem.content}}{{else}}该商品暂无评价信息。{{/if}}</p>
                <div class="evaluate-imgs">
                  {{#each evaluateItem.urlLst}}
                    <span style="background:url({{this}}) no-repeat center/contain"></span>
                  {{/each}}
                </div>
                <div class="goods-info">
                  <span>{{formatDate evaluateItem.createTime}}</span>
                </div>
                {{#if evaluateItems}}
                  {{#each evaluateItems}}
                    <div class="chase-ratings"><b>[追评]</b> {{this.content}}</div>
                    <div class="goods-info">
                      <span>{{formatDate this.createTime}}</span>
                    </div>
                  {{/each}}
                {{/if}}
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <div class="no-evaluate">
          <p><i class="icon-zcy icon-prompt"></i>该商品暂无{{data.hasNoEvalute}}</p>
        </div>
      {{/if}}
    </div>
    <div class="js-pagination common-pagination" data-total="{{data.totalNum}}"></div>
  </div>
{{/if}}
