{{#component "order-form-shipment-create trade-manage js-comp clearfix"}}
  <span class="hide">{{json}}</span>
  <div class="t-breadcrumb">
    <label>订单管理</label>
    <label> / </label>
    <a href="/buyer/orders">订单列表</a>
    <label> / </label>
    <label class="active">商品发货</label>
  </div>
  <div class="trade-panel">
    <div class="trade-panel-top">
      <div class="trade-panel-title">发货信息</div>
    </div>
    <div class="trade-panel-body">
      <div class="order-form-shipment-create-page" data-orderid="{{orderId}}" data-deliveryid="{{_DATA_.deliverId}}" data-ordertype="{{orderType}}">
        <div class="select-address-div">
          <div class="title"><p class="order-title">选择收货地址</p></div>
          <div class="block select-address-item" data-default-deliverid="{{_DATA_.deliverId}}">
            {{#each _DATA_.deliverys}}
              <input type="radio" name="chooseAddr" id="select-address{{id}}" class="js-select-address input-radio" data-deliverid="{{id}}" value="{{id}}" {{#equals id ../_DATA_.deliverId}}checked{{/equals}}/>
              <label for="select-address{{id}}">
                <span data-provinceid="{{provinceId}}">{{province}}</span>
                <span data-cityid="{{cityId}}">{{city}}</span>
                <span class="js-get-regionid" data-regionid="{{regionId}}" data-id="{{id}}">{{region}}</span>
                <span data-streetid="{{streetId}}">{{street}}</span>
                {{detail}}&nbsp;&nbsp;&nbsp;&nbsp;邮编：{{zip}}&nbsp;&nbsp;&nbsp;&nbsp;{{receiver}}&nbsp;&nbsp;&nbsp;&nbsp;{{mobile}}
              </label><br/>
            {{/each}}
          </div>
        </div>
        <div class="js-item-list clearfix">
          <div class="title"><p class="order-title">选择发货单商品</p></div>
          {{#of orderType '0,3'}}
            <div>
              <p>
                <span class="required">*</span>发货仓库：
                <select class="js-all-select-warehouse">
                  <option value="">请选择</option>
                </select>
                <span class="note js-select-note">请选择发货仓库</span>
              </p>
            </div>
          {{/of}}
          <table class="table delivery-item-table js-delivery-item-table disabled">
            <thead>
            <tr>
              {{#ifCond _DATA_.isReissue '!=' true}}
                <th class="left-text" width="24">
                  {{!-- {{#equals _DATA_.isReissue true}}{{else}}<input type="checkbox" id="select-batch" class="js-batch-select input-checkbox">{{/equals}} --}}
                </th>
              {{/ifCond}}
              <th class="left-text" width="256"><label for="select-batch">商品</label></th>
              <th width="130">商品编号</th>
              <th width="100">单价(元)</th>
              <th width="130">总数量</th>
              <th width="140">数量</th>
              {{#of orderType '0,3'}}
                <th width="180">锁定仓库</th>
                <th width="100" class="last">发货仓库</th>
              {{/of}}
              {{#equals orderType 1}}
                <th width="120" class="last">主/配件</th>
              {{/equals}}
              {{#equals orderType 2}}
                <th width="180">生产批号</th>
                <th width="100" class="last">操作</th>
              {{/equals}}
            </tr>
            </thead>
            <tbody>
            {{#if _DATA_.deliveryItemWarehouses}}
              {{#each _DATA_.deliveryItemWarehouses.data}}
              {{#equals ../orderType 1}}
                <tr class="item-tr js-item-tr-{{skuId}} js-item-tr item-shipment-tr" data-id="{{id}}"
                    data-order-delivery-id="{{orderDeliveryId}}" data-skuid="{{skuId}}" data-itemid={{itemId}}>
                  {{#ifCond ../_DATA_.isReissue '!=' true}}
                    <td width="24" class="check">
                      <input type="checkbox" class="js-select-item input-checkbox">
                    </td>
                  {{/ifCond}}
                  <td class="left-text item-name-td">
                    <div>{{itemName}}</div>
                    <span class="sku-attrs">{{#each attributeMap}}{{@key}}:{{this}}&nbsp;&nbsp;{{/each}}</span>
                  </td>
                  <td>{{itemId}}</td>
                  <td>
                    <span class="price">{{_CURRENCY_}}</span>
                    <span class="price item-price">{{formatPrice skuPrice}}</span>
                  </td>
                  <td>{{waitDeliveryQuantity}}</td>
                  <td>
                    {{#equals ../_DATA_.isReissue true}}
                      <label for="" class="waitdeliveryquantity">{{waitDeliveryQuantity}}</label>
                    {{else}}
                      <div class="input-amount js-quantity-{{skuId}}" data-min="0" data-max="{{waitDeliveryQuantity}}">
                        <a href="javascript:void(0);" class="minus {{#equals waitDeliveryQuantity 0}}disabled{{/equals}}" >-</a>
                        <input type="number" class="count-number" value="0" data-old="{{waitDeliveryQuantity}}" data-init="{{waitDeliveryQuantity}}">
                        <a href="javascript:void(0);" class="plus">+</a>
                      </div>
                    {{/equals}}
                  </td>
                  <td class="last">{{#equals isMaster true}}主商品{{else}}配件{{/equals}}</td>
                </tr>
              {{/equals}}
              {{#of ../orderType '0,3'}}
                {{#each lockSkuWarehouses}}
                  <tr class="item-tr js-item-tr-{{../skuId}} js-item-tr item-shipment-tr" data-id="{{../id}}"
                      data-order-delivery-id="{{../orderDeliveryId}}" data-skuid="{{../skuId}}" data-itemid={{../itemId}}>
                    {{#ifCond ../../_DATA_.isReissue '!=' true}}
                      <td width="24" class="check">
                        <input type="checkbox" class="js-select-item input-checkbox">
                      </td>
                    {{/ifCond}}
                    <td class="left-text item-name-td">
                      <div>{{../itemName}}</div>
                      <span class="sku-attrs">{{#each ../attributeMap}}{{@key}}:{{this}}&nbsp;&nbsp;{{/each}}</span>
                    </td>
                    <td>{{../itemId}}</td>
                    <td>
                      {{#equals ../../orderType 3}}
                        --
                      {{else}}
                        <span class="price">{{_CURRENCY_}}</span>
                        <span class="price item-price">{{formatPrice ../skuPrice}}</span>
                      {{/equals}}
                    </td>
                    <td>{{../waitDeliveryQuantity}}</td>
                    <td>
                      {{#equals ../../_DATA_.isReissue true}}
                        <label for="" class="waitdeliveryquantity">{{../waitDeliveryQuantity}}</label>
                      {{else}}
                        <div class="input-amount js-quantity-{{../skuId}}" data-min="0" data-max="{{../waitDeliveryQuantity}}">
                          <a href="javascript:void(0);" class="minus {{#equals ../waitDeliveryQuantity 0}}disabled{{/equals}}" >-</a>
                          <input type="number" class="count-number" value="0" data-old="{{../waitDeliveryQuantity}}" data-init="{{../waitDeliveryQuantity}}">
                          <a href="javascript:void(0);" class="plus">+</a>
                        </div>
                      {{/equals}}
                    </td>
                    <td class="js-lock-warehouse" data-code="{{lockWarehouseCode}}" data-name="{{lockWarehouseName}}">
                      <span style="margin-right: 4px;">{{lockWarehouseName}}</span>
                    </td>
                    <td class="js-select-warehouse last">
                      <select class="js-single-select-warehouse">
                        <option value="">请选择</option>
                        {{#each ../selectWarehouses}}
                          <option value="{{zcyWarehouse.code}}" data-name="{{zcyWarehouse.name}}">
                            {{zcyWarehouse.name}}
                          </option>
                        {{/each}}
                      </select>
                    </td>
                  </tr>
                {{/each}}
              {{/of}}
              {{#equals ../orderType 2}}
                {{#each lockSkuWarehouses}}
                  <tr class="item-tr js-item-tr-{{../skuId}} js-item-tr item-shipment-tr" data-id="{{../id}}"
                      data-order-delivery-id="{{../orderDeliveryId}}" data-skuid="{{../skuId}}" data-itemid={{../itemId}} data-total={{../waitDeliveryQuantity}}>
                    {{#ifCond ../../_DATA_.isReissue '!=' true}}
                      <td width="24" class="check">
                        <input type="checkbox" class="js-select-item input-checkbox">
                      </td>
                    {{/ifCond}}
                    <td class="left-text item-name-td">
                      <div>{{../itemName}}</div>
                      <span class="sku-attrs">{{#each ../attributeMap}}{{@key}}:{{this}}&nbsp;&nbsp;{{/each}}</span>
                    </td>
                    <td>{{../itemId}}</td>
                    <td>
                      <span class="price">{{_CURRENCY_}}</span>
                      <span class="price item-price">{{formatPrice ../skuPrice}}</span>
                    </td>
                    <td>{{../waitDeliveryQuantity}}</td>
                    <td>
                      {{#equals ../../_DATA_.isReissue true}}
                        <label for="" class="waitdeliveryquantity">{{../waitDeliveryQuantity}}</label>
                      {{else}}
                        <div class="js-quantity-{{../skuId}}" data-min="0" data-max="{{../waitDeliveryQuantity}}">
                          <input type="text" style="background: transparent; border: none; width: 100px; text-align: left;" class="count-number" value="0" data-old="{{../waitDeliveryQuantity}}" data-init="{{../waitDeliveryQuantity}}" readonly>
                        </div>
                      {{/equals}}
                    </td>
                    <td>
                      <input type="hidden" name="batchNumbers">
                      <div class="js-batch-number"></div>
                    </td>
                    <td class="last">
                      <div class="hidden">
                        <div class="js-lock-warehouse" data-code="{{lockWarehouseCode}}" data-name="{{lockWarehouseName}}"></div>
                        <input type="hidden" class="js-single-select-warehouse" data-code="{{../selectWarehouses.[0].zcyWarehouse.code}}" data-name="{{../selectWarehouses.[0].zcyWarehouse.name}}">
                      </div>
                      <a class="js-add-batch-number">添加批号</a>
                    </td>
                  </tr>
                {{/each}}
              {{/equals}}
            {{/each}}
            {{else}}
              <tr>
                <td colspan="
                  {{#equals _DATA_.isReissue true}}
                    {{#equals orderType 1}}6{{else}}7{{/equals}}
                  {{else}}
                    {{#equals orderType 1}}7{{else}}8{{/equals}}
                  {{/equals}}" class="text-center">
                  商品已发完，请选择其他收货地址发货
                </td>
              </tr>
            {{/if}}
            </tbody>
          </table>
          <div class="shipmentItems-pagination selected-pagination pagination-danger"></div>
        </div>

        {{!-- 网超合同信息 --}}
        {{#if _DATA_.needContract}}
           <div class="contract-info" data-contractInfo="{{json _DATA_.cmMainDto}}">
             <div class="title">
               <p class="order-title">网超合同</p>
             </div>
             <table class="table contract-info-table js-contract-info-table">
                      <thead>
                      <tr>
                          <th width="150">合同编号</th>
                          <th width="200">合同名称</th>
                          <th width="200">采购单位</th>
                          <th width="80">成交金额（元）</th>
                          <th width="80">状态</th>
                          <th width="80">操作</th>
                      </tr>
                      </thead>
                      <tbody>
                        {{#if _DATA_.cmMainDto}}
                            {{#with _DATA_.cmMainDto}}
                              <tr class="item-tr contract-info-tr">
                                  <td>{{contractCode}}</td>
                                <td>{{contractName}}</td>
                                  <td>{{purchaser}}</td>
                                  <td style="color:red">{{contactTotalPrice}}</td>
                                  {{#equals contractStateStr "待起草"}}
                                      <td>待起草</td>
                                      <td><a href="{{_ENV_HREF_.vienna}}/contract/manage/detail?id={{id}}" target="_blank">起草</a></td>
                                  {{/equals}}
                                  {{#equals contractStateStr "采购人待确认"}}
                                      <td>采购人待确认</td>
                                      <td><a href="{{_ENV_HREF_.vienna}}/contract/manage/view?id={{id}}" target="_blank">查看</a></td>
                                  {{/equals}}
                                  {{#equals contractStateStr "已完成"}}
                                      <td>已完成</td>
                                      <td>
                                          <a href="{{_ENV_HREF_.vienna}}/contract/manage/view?id={{id}}" target="_blank">查看</a>
                                      </td>
                                  {{/equals}}
                              </tr>
                              {{/with}}

                          {{else}}
                            <tr class="item-tr contract-info-tr">
                                <td colspan="6" style="text-align: center;">
                                    <i class="icon-zcy icon-cuowutishiicon" style="font-size:14px;"></i>
                                    <span>抱歉，此笔订单网超合同生成失效，请<a href="javascript:void(0);" class="js-reGenerateContract">重新生成</a></span>
                                </td>
                            </tr>
                        {{/if}}
                      </tbody>
                  </table>
           </div>
        {{/if}}

        {{#equals (size _DATA_.deliveryInvoices) 0}}
        {{else}}
          <div class="invoices-table">
            <div class="title">
              <span class="order-title">开票要求</span><span class="red-text">（此订单为货票同行订单，请将发票随货发送到买家）</span>
            </div>
            <table class="table">
              <thead>
              <tr>
                <th>类型</th>
                <th>抬头</th>
                <th>发票内容</th>
                <th>开户行</th>
                <th>开户行账号</th>
                <th>纳税人识别号<i class="icon-zcy icon-warningfill js-invoice-popover"></i></th>
              </tr>
              </thead>
              <tbody>
              {{#each _DATA_.deliveryInvoices}}
                {{#with invoice}}
                  <tr>
                    <td>
                      {{#equals invoiceType 0}}普通发票{{/equals}}
                      {{#equals invoiceType 1}}增值税普通发票{{/equals}}
                      {{#equals invoiceType 2}}增值专用发票{{/equals}}
                    </td>
                    <td>{{invoiceTitle}}</td>
                    <td><a class="js-invoice-content-detail" data-invoice-content="{{json ../this}}">详情</a></td>
                    <td>{{#if depositeBank}}{{depositeBank}}{{else}}－{{/if}}</td>
                    <td>{{#if bankAccount}}{{bankAccount}}{{else}}－{{/if}}</td>
                    <td>{{#if taxId}}{{taxId}}{{else}}－{{/if}}</td>
                  </tr>
                {{/with}}
              {{/each}}
              </tbody>
            </table>
          </div>
        {{/equals}}

        <div class="js-select-shipment">
          <div class="title">
            <span>
              <p class="order-title">选择物流信息</p>
            </span>
          </div>
          <div class="select-shipment">
            <p>
              {{#equals orderType "2"}}
                <!-- 疫苗订单不支持送货上门 -->
                <input class="input-radio shipmentType1" type="radio" value="1" name="shipmentType" checked/>物流发货 &nbsp;&nbsp;
                <span class="shipselect">物流公司：<select class="js-select-logistics"></select></span>
              {{else}}
                <input type="radio" class="input-radio shipmentType2" value="2" name="shipmentType" />送货上门 &nbsp;&nbsp;<br>
                <input class="input-radio shipmentType1" type="radio" value="1" name="shipmentType" checked />物流发货 &nbsp;&nbsp;
                <span class="shipselect">物流公司：<select class="js-select-logistics"></select></span>
              {{/equals}}
            </p>
            &nbsp;&nbsp;
            <p>
              {{#equals orderType "2"}}
              {{else}}
                <span class="required">*</span>
              {{/equals}}
              运单号： <input class="js-shipmentNo" type="text" icon="false" max-length="32" {{#equals orderType "2"}}{{else}}required{{/equals}}>
            </p>
          </div>
        </div>

        <div style="margin-top: 20px;"><button class="btn btn-primary btn-medium js-delivery-items-submit">确认发货</button></div>
      </div>
    </div>
  </div>
{{/component}}